<div class="web-folder-wrapper">
    <div class="folder-title enme-ui-gradient-header-color default-sidebar-menu">
        ${i18nMessage.detail_manage_folder_title}
    </div>
    <div class="folder-menu default-sidebar-menu-sub">
        <span data-dojo-attach-point="_new">
            ${i18nMessage.detail_manage_new}
        </span> |
        <span data-dojo-attach-point="_search">
            ${i18nMessage.detail_manage_search}
        </span> |
        <span data-dojo-attach-point="_delete">
           ${i18nMessage.detail_manage_delete}
         </span>
     </div>
    <div data-dojo-attach-point="_folders" class="web-folder-wrapper-item"></div>
</div>