<section class="web-response-single-response">

    <span class="web-response-single-response-group">
        <span class="web-response-single-response-group-input">
            <input
                dojoAttachPoint="_input"
                type="radio"
                name="${name}_response"
                value=""
                id="${id}_response"
                class="web-radio-button">
        </span>
        <label class="pds-input-label" for="${id}_response">
                <span class="web-response-label-span" dojoAttachPoint="_label"></span>
        </label>
        <span class="web-clear"></span>
        <div dojoAttachPoint="_attachment">
            <!--
                - a Link
                 -- img / embebed / frame
             -->
        </div>
    </span>
</section>