/* line 4, ../sass/resources.scss */
.web-position-down {
  background: url("../images/icons/enme_down.png") no-repeat scroll 0 0 transparent; }

/* line 7, ../sass/resources.scss */
.web-position-up {
  background: url("../images/icons/enme_up.png") no-repeat scroll 0 0 transparent; }

/* line 10, ../sass/resources.scss */
.web-position-equal {
  background: url("../images/icons/enme_equals.png") no-repeat scroll 0 0 transparent; }

/* line 13, ../sass/resources.scss */
.ellipsis {
  -moz-binding: url("assets/xml/ellipsis.xml#ellipsis"); }

/* line 17, ../sass/resources.scss */
.modal-box-im {
  background: url("../images/background-mobalbox.png") repeat-x scroll left bottom transparent; }

/* line 21, ../sass/resources.scss */
.web-item-wrapper .item .loading {
  /*background-image: url(../../images/ball-loader.gif);*/ }

/* line 25, ../sass/resources.scss */
div.options .saveButton {
  background-image: url(../../images/icons/add.png); }

/* line 29, ../sass/resources.scss */
div.publishWrapper div.itemPublish .account {
  background-image: url(../../images/icons/twitter-logo-small.png); }

/* line 33, ../sass/resources.scss */
div.web-folder-wrapper .web-folder-item .icon-folder {
  background-image: url("../images/icons/enme_folder.png"); }

/* line 39, ../sass/resources.scss */
.ui-image-wrapper, .ui-hits, .ui-comments, .ui-likes, .ui-dislike {
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  padding-top: 3px; }

/* line 47, ../sass/resources.scss */
.ui-hits {
  background-image: url("../images/icons/enme_hits.gif");
  background-position: left center;
  padding-left: 20px; }

/* line 54, ../sass/resources.scss */
.ui-comments {
  background-image: url("../images/icons/enme_comment_reply.png");
  padding-left: 24px; }

/* line 60, ../sass/resources.scss */
.ui-likes {
  background-image: url("../images/icons/1344286942_Like.png");
  background-position: left center;
  height: 12px;
  padding-left: 24px; }

/* line 68, ../sass/resources.scss */
.ui-dislike {
  background-image: url("../images/icons/1344286943_Dislike.png");
  background-position: left center;
  padding-left: 24px; }
