.mobil {    
    .category-menu {

        a {
            color : $white;
        }

        .nav-home-menu{

            padding: 10px;
            overflow: auto;
            position: relative;

            ul {
                margin: 0px;
                font-size: 14px;

                li {
                    float: left;
                    list-style: none;
                    margin-right: 30px;
                }
           
            }

            .active {
                display: block;
            }
           
           .hot-tags {
                display: none;
           } 
        }
    
    }   

    // items

    .items, .mobile-main {
        .item {
            overflow: auto;
            margin: 25px 0;
            .img {
                float: left;
                margin: 0 15px;
            }            
            .content {

                a {
                    color: $black_medium;
                }

                padding: 0;                
                @media screen and (orientation: landscape) {
                    width: 60%;
                }             
                @media screen and (max-width: 600px) {
                    width: 70%;
                }   
                @media screen and (max-width: 320px) {
                    width: 70%;
                }   
                
                margin: 0;
                float: left;
                
                .title {
                    h4 {
                        margin: 5px 0;
                    }
                    h4.enme {
                        margin-top: 0px;
                    }
                }
            }
            .bottom {
                clear: both;
                margin-left: 80px;
                font-size: 11px;

                a {
                    font-weight: bold;
                }
            }
        }
    }
}