<div class="web-poll-wrapper web-pattern enme-text">
    <div class="web-poll-question">
         <div class="web-poll-section spaceBlock">
            <div class="web-poll-section-title default-background-dark-color">
                ${i18nMessage.poll_create_question_title}
             </div>
             <div class="space">
                 <div id="question" data-dojo-attach-point="_question" class="question web-poll-question"></div>
                 <div data-dojo-attach-point="_folder" class="web-poll-question-folder"></div>
            </div>
        </div>

         <div class="web-poll-section spaceBlock">
            <div class="web-poll-section-title default-background-dark-color">
                   ${i18nMessage.poll_create_build_answers}
             </div>
             <div class="space">
                  <ul class="web-poll-answers"  data-dojo-attach-point="_source">
                 </ul>
                 <div class="section-botton-wrapper" data-dojo-attach-point="_addNew">
                    <a href="#">
                        ${i18nMessage.poll_create_add_new_answer}
                    </a>
                 </div>
              </div>
              <div class="section-botton-wrapper">
                  <div id="multiple" dojodType="encuestame.org.core.shared.options.CheckSingleOption"
                         value="multiples" class="sub-option"
                         label="${i18nMessage.poll_create_allow_multiple_selection}"></div>
                  <div id="allow-add" dojodType="encuestame.org.core.shared.options.CheckSingleOption"
                         value="add"  class="sub-option"
                         label="${i18nMessage.poll_create_allow_new_responses}"></div>
              </div>
         </div>
         <div class="web-poll-section spaceBlock">
            <div class="web-poll-section-title default-background-dark-color">
                ${i18nMessage.poll_create_poll_options}
             </div>
             <div class="space">
                 <div class="section-option-wrapper">
                      <div class="section-default">
                           <h2 class="default-dark-color">
                                ${i18nMessage.poll_create_limits}
                           </h2>
                           <div id="repeated" dojodType="encuestame.org.core.shared.options.RepeatedVotes" class="space"></div>
                           <div id="limit" dojodType="encuestame.org.core.shared.options.LimitVotes" class="space"></div>
                           <div id="close" dojodType="encuestame.org.core.shared.options.DateToClose" class="space"></div>
                      </div>
                      <div class="section-default">
                           <h2 class="default-dark-color">
                                 ${i18nMessage.poll_create_comments}
                           </h2>
                           <div id="comments" dojoTdype="encuestame.org.core.shared.options.CommentsOptions" class="space"></div>
                      </div>
                      <div class="section-default">
                            <h2 class="default-dark-color">
                                ${i18nMessage.poll_create_results}
                            </h2>
                           <div id="results" dodjoType="encuestame.org.core.shared.options.ResultsOptions" class="space"></div>
                      </div>
                  </div>
             </div>
         </div>

          <div class="botton-button-publish" style="text-align: right;">
               <button class="enme-ui-button button-red" data-dojo-attach-point="_cancel">
                    ${i18nMessage.commons_cancel}
               </button>
               <button data-dojo-attach-point="_publish"
                       dojoType="dijit.form.Button"
                       type="button"
                       name="submitButtonTwo"
                       value="Submit">
                       ${i18nMessage.poll_create_button_create}
               </button>
          </div>
    </div>
</div>