<div class="comment">
    <div class="comment-image">
        <a dojoType="encuestame.org.core.shared.utils.AccountPicture" username="${data.commented_username}"></a>
    </div>
    <div class="comment-data">
        <div class="comment-info-data">
            <span dojoAttachPoint="_commented_by"></span>
            says:</div>
        <div class="comment-date">
            Added on:
            <span class="comment-date" dojoAttachPoint="_comment_content_date"></span>
        </div>
        <div class="comment-body" dojoAttachPoint="_comment_content">
        </div>
    </div>
</div>