<section class="comment">
    <div class="comment-image">
        <a dojoType="encuestame.org.core.shared.utils.AccountPicture" username="${data.commented_username}"></a>
    </div>
    <div class="comment-data">
        <div class="comment-body" dojoAttachPoint="_comment_content">
        </div>
        <div class="comment-info-data">
            <span dojoAttachPoint="_commented_by"></span></div>
        <div class="comment-date">
            <span dojoAttachPoint="_comment_content_date"></span>
        </div>
    </div>
</section>