<div class="comment">
    <div class="comment-image">
        <a dojoType="encuestame.org.core.shared.utils.AccountPicture" username="admin"></a>
    </div>
    <div class="comment-data">
        <div class="comment-info-data">Rossen Stotch says:</div>
        <div class="comment-date">Added on <a href="#">Jhon april 10th, 2010</a></div>
        <div class="comment-body">
            Test comment Test comment Test comment Test comment Test comment Test comment Test comment Test comment
            Test comment Test comment Test comment Test comment Test comment Test comment Test comment Test comment
            Test comment Test comment Test comment Test comment Test comment Test comment Test comment Test comment
            Test comment Test comment Test comment Test comment Test comment Test comment Test comment Test comment
            Test comment Test comment Test comment Test comment Test comment Test comment.
        </div>
    </div>
</div>