<div class="failure-wrapper">
    <span class="failure-message">
          ${i18nMessage.commons_failure}
    </span>
    <span class="failure-description">
          ${i18nMessage.pubication_failure_status}
   </span>
   <div class="failure-options">
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_try" class="hidden">
             ${i18nMessage.button_try_again}
       </button>
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_ignore">
            ${i18nMessage.button_ignore}
       </button>
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_try_later" class="hidden">
            ${i18nMessage.button_try_later}
       </button>
   </div>
</div>