<div class="web-tweetpoll-list-detail-wrapper">
	<div style="width: 99%; height: 345px">
		<div data-dojo-attach-point="_tab"></div>
	</div>

    <div>
    	<!-- content tab -->
        <div data-dojo-attach-point="_detailItems" class="detail"></div>
        <!-- extra tab -->
        <div class="extra row" data-dojo-attach-point="_extra_wrapper">
            <div class="span4" style="overflow: hidden;">
            	<!-- extra tab -->
            	<div data-dojo-attach-point="_chart" id="${id}_chart" style="width:320px;height:230px;">

            	</div>
        	</div>
            <div class="span5 web-tweetpoll-answer-table">
	                <div data-dojo-attach-point="_extra">
	                    <div class="row answer-header">
		                    <div class="span3 header-table-answer">
		                       ${i18nMessage.tweetpoo_detail_answers_title_link}
		                    </div>
		                    <div class="header-table-answer span1">
		                        ${i18nMessage.tweetpoo_detail_answers_title_count}
		                    </div>
		                    <div class="header-table-answer span1">
		                        ${i18nMessage.tweetpoo_detail_answers_title_percent}
		                    </div>
	                    </div>
	            	</div>

            </div>
        </div>
            <!-- comments tab -->
            <div data-dojo-attach-point="_comments"></div>
            <div data-dojo-attach-point="_social_links"></div>
            <div data-dojo-attach-point="_delete">
            	<div class="alert alert-block">
					 <h4>
					  	Warning!! You want remove this item?
					  </h4>
					  <p>
					  		If you continue, you will lost all the content, stats, social links, comments for this item, these changes will not be able to recover.
					  </p>
				</div>
				 <button class="btn btn-danger btn-block" data-dojo-attach-event="onclick:_deleteTweetPoll">
					  		Delete this tweetpoll
				</button>
            </div>
        </div>
</div>