<div class="web-tweetpoll-wrapper spaceBlock">

  <div class="web-create-tweetpoll">


      <div id="tp-help-container" class="tp-help" data-dojo-attach-point="_help">

      </div>
      <div>

      <div id="previewWrapperFixed" class="tweetPollPreviewRelative"
        style="opacity: 0">
        <div data-dojo-attach-point="_previewFixed"></div>
      </div>

      <div class="web-tweetpoll-preview-top web-tweetpoll-section spaceBlock spaceBlockTop">
           <div data-dojo-attach-point="_preview"></div>
      </div>

      <!--
          First part of the form, add question
       -->

      <div class="web-tweetpoll-section spaceBlock spaceBlockTop"
        data-dojo-attach-point="_tweetQuestion" data-step="1">
        <div class="web-tweetpoll-section-title ">
          ${i18nMessage.question}</div>
        <div class="tweetThis space">
          <div id="question"
               data-dojo-type="dijit/form/TextBox"
               class="questionTextBox inputClass littleInputClass"
               maxSize="140"
               maxLength="140"
            selectOnClick="true"></div>
            <div data-dojo-type="dijit/Tooltip"
                 connectId="question"
                 jsId="tt1"
                 label = "${i18nMessage.commons_tab_to_save}" ></div>
        </div>
      </div>

      <div class="web-tweetpoll-section spaceBlock hidden"   data-step="2" style="opacity:0;">
        <div class="web-tweetpoll-section-title ">
          ${i18nMessage.answer}</div>
        <div class="space">
          <div id="answers" data-dojo-type="me/web/widget/tweetpoll/Answers"
            class="answers"></div>
        </div>
      </div>

      <div class="web-tweetpoll-section spaceBlock hidden" data-step="3">
        <div class="web-tweetpoll-section-title ">
          ${i18nMessage.hashtag}</div>
        <div class="space">
        <div id="hashtags" data-dojo-type="me/web/widget/tweetpoll/HashTags"
            class="hashtags"></div>
        </div>
      </div>

      <div class="tweetPollPublish web-tweetpoll-section spaceBlock hidden" data-step="4">
        <div class="web-tweetpoll-section-title ">
          ${i18nMessage.options}</div>
        <div class="space">
          <div style="overflow: auto;">
            <div class="item">
              <h5>${i18nMessage.squeduled}</h5>
              <div class="section">
                <input id="schedule" name="scheduletest"
                  data-dojo-type="dijit/form/CheckBox">
                     <label for="schedule"> ${i18nMessage.squeduled_tp} </label>
              </div>
              <div class="section defaultDisplayHide"
                data-dojo-attach-point="_scheduledTime">
                <input type="text" name="scheduledTime" id="scheduledTime"
                  value="T15:00:00" data-dojo-type="dijit/form/TimeTextBox" />
              </div>
              <div class="section defaultDisplayHide"
                data-dojo-attach-point="_scheduledDate">
                <input id="scheduledDate" type="text" name="shortYear"
                  data-dojo-type="dijit/form/DateTextBox" required="true" />
              </div>
            </div>
            <div class="item item-padding">
              <h5>${i18nMessage.chart_features}</h5>
              <div class="section">
                <input id="liveResults" name="liveResults"
                       data-dojo-type="dijit/form/CheckBox">
                       <label for="liveResults"> ${i18nMessage.allow_live_results} </label>
              </div>
            </div>
            <div class="item item-padding">
              <h5>${i18nMessage.anti_spam}</h5>
              <div class="section">
                <input id="captcha" name="captcha"
                   data-dojo-type="dijit/form/CheckBox">
                   <label for="captcha"> ${i18nMessage.captcha} </label>
              </div>
              <div class="section">
                <input id="limitVotes" name="limitVotes"
                  data-dojo-type="dijit/form/CheckBox">
                  <label for="limitVotes"> ${i18nMessage.limit_votes} </label>
              </div>
              <div class="section defaultDisplayHide"
                data-dojo-attach-point="_limitNumbers">
                <div data-dojo-type="dijit/form/NumberSpinner"
                  intermediateChanges="true" id="limitNumbers"
                  constraints="{min:0,max:4000}"
                  value="${tweetPoll.maxLimitVotes}"></div>
              </div>
              <div class="section">
                <input id="ip" name="ip" data-dojo-type="dijit/form/CheckBox">
                <label for="ip"> ${i18nMessage.repeated_votes} </label>
              </div>
              <div class="section defaultDisplayHide"
                data-dojo-attach-point="_repeatedNumbers">
                <div data-dojo-type="dijit/form/NumberSpinner"
                  intermediateChanges="true" id="repeatedNumbers"
                  constraints="{min:2,max:10}"
                  value="${tweetPoll.maxRepeatedVotes}"></div>
              </div>
            </div>
            <div class="item item-padding">
              <h5>${i18nMessage.tp_options_report}</h5>
              <div class="section">
                <input id="resume" name="resume"
                  data-dojo-type="dijit/form/CheckBox">
                <label for="resume">
                  ${i18nMessage.resume_live_results} </label>
              </div>
              <div class="section">
                <input id="dashboard" name="dashboard"
                  data-dojo-type="dijit/form/CheckBox"> <label
                  for="dashboard"> ${i18nMessage.follow_dashboard} </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="web-tweetpoll-section spaceBlock hidden" data-step="5">
        <div class="web-tweetpoll-section-title">
          ${i18nMessage.tp_select_publish}
        </div>
        <div class="space">
                <div id="social"
                 data-dojo-type="me/web/widget/social/SocialAccountPicker"
                 data-dojo-attach-point="_social_picker"
                 checkRequiredSocialAccounts="true"
                 enableEasyAddAccount="true">
            </div>
        </div>
      </div>

      <div class="tweetPollPublishButton hidden" style="text-align: right;" data-step="final">
          <button data-dojo-attach-point="_publish"
            data-dojo-type="dijit/form/Button" type="button"
            name="submitButtonTwo" value="Submit">
            ${i18nMessage.button_publish}
          </button>
          <button data-dojo-attach-point="_scheduled_tweetpoll"
            data-dojo-type="dijit/form/Button" type="button" class="hidden"
            name="submitScheduled" value="Submit">
            ${i18nMessage.button_scheduled}
          </button>
            - or -
          <span  data-dojo-attach-point="_cancelLink" class="cancel-link" data-dojo-attach-event="onclick:_cancelTweetPoll">
              Cancel
          </span>
      </div>

      <div class="tweetPollPublishButton cancel-button" style="text-align: right;" data-dojo-attach-point="_pre_cancel">
          <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onclick:_cancelTweetPoll"  data-dojo-attach-point="_cancelButton" >
             Cancel
          </button>
      </div>



  </div>
</div>
