<div class="hashTagWrapper">
    <div>
        <div id="hashTagSuggest_${id}" dojoAttachPoint="_suggest"></div>
    </div>
    <div class="wrapperHashTagItems">
        <div dojoAttachPoint="_items"></div>
    </div>
    <div dojoType="dijit.Dialog" id="option_${id}" title="Options" style="width: 400px;">
              <div class="web-generic-dialog-content">
                  <div class="button">
                        <span class="optionItem">
                            <button dojoType="dijit.form.Button" dojoAttachEvent="onClick:_removeItem">Remove</button>
                        </span>
                  </div>
              </div>
        </div>
</div>