<div class="web-tweetpoll-list-item dojoDndItem" dndtype="tweetpoll" tid="${data.id}">
   <div class="title-wrapper dojoDndHandle dojoDndItem" dndtype="tweetpoll"  dojoAttachPoint="_title">
        <div class="web-tweetpoll-favourite emptyFavourite dojoDndHandle" dojoAttachPoint="_favourite" dojoAttachEvent="onclick:_setFavourite"></div>
        <div class="web-tweetpoll-list-item-title">
                ${data.question.question_name}
        </div>
   </div>
  <div dojoAttachPoint="_panel" class="tweet-poll-item-panel">
  </div>
  <div class="hashTags defaultDisplayHide" dojoAttachPoint="_hashtags">
    <label><b>Tags:</b></label>
  </div>
</div>