<div class="web-tweetpoll-list-detail-wrapper">
    <span class="tab" dojoAttachPoint="_detail">Detail</span>
    <span class="tab" dojoAttachPoint="_stats">Stats</span>
    <span class="tab" dojoAttachPoint="_comments">Comments</span>
    <span class="tab" dojoAttachPoint="_votes">Votes</span>
    <span class="tab" dojoAttachPoint="_delete">Delete</span>
    <div class="web-tweetpoll-list-detail-detail">
        <div dojoAttachPoint="_detailItems">

        </div>
    </div>
    <div dojoAttachPoint="_chart" id="${id}_chart"></div>
</div>