<div class="web-tweetpoll-list-item" dojoAttachEvent="onclick:_onClickItem">
   <div class="title-wrapper">
        <div class="web-tweetpoll-favourite emptyFavourite" dojoAttachPoint="_favourite" dojoAttachEvent="onclick:_setFavourite"></div>
        <div class="web-tweetpoll-list-item-title">
                ${data.questionBean.questionName}
        </div>
   </div>
   <!--
   <div class="rightPanel">
        <div class="votesTitle">
            Votes
        </div>
        <div class="votesCount">
            0/${data.limitVotes}
        </div>
        <div class="rating">
            <div dojoType="dojox.form.Rating" numStars="5" value="2"></div>
        </div>
   </div>
   -->
  <div class="hashTags" style="padding: 2px; margin-left: 33px;">
        <span class="tag">Tag 1</span>
        <span class="tag">Tag 2</span>
        <span class="tag">Tag 3</span>
        <span class="tag">Tag 4</span>
  </div>
</div>