<div class="tweetPollWrapper spaceBlock">
     <div id="wrapper">   </div>
     <div id="previewWrapper" class="tweetPollPreviewRelative previewAbsolute">
         <div id="preview" dojoType="encuestame.org.core.commons.tweetPoll.TweetPollPreview"></div>
     </div>

    <div class="tweetPollQuestion spaceBlock spaceBlockTop" dojoAttachPoint="_tweetQuestion">
        <div class="tweetThis">
            <div class="title">Tweet this !</div>
            <div id="question" dojoType="dijit.form.TextBox"
                 class="questionTextBox inputClass"
                 selectOnClick="true"
                 displayedValue ="Insert your question here.."></div>
         </div>
    </div>
    <div class="tweetPollSecondQuestion spaceBlock">
        <div class="tweetPollOptions">
            <div class="right">
                <div id="answers" dojoType="encuestame.org.core.commons.tweetPoll.Answers" class="answers"></div>
            </div>
            <div class="left">
                 <div id="hashtags" dojoType="encuestame.org.core.commons.tweetPoll.HashTags" class="hashtags"></div>
            </div>
        </div>
    </div>

    <div class="tweetPollPublish spaceBlock">

    </div>

</div>