<div class="web-tweetpoll-list-detail-wrapper">
    <span class="tab" dojoAttachPoint="_detail">
        Detail     
     </span>
    <span class="tab" dojoAttachPoint="_stats">
        Stats
    </span>
    <span class="tab" dojoAttachPoint="_comments">
        Comments
    </span>
    <span class="tab" dojoAttachPoint="_social">
        Social Links
     </span>
    <span class="tab" dojoAttachPoint="_delete">
        Delete
    </span>
    <div class="web-tweetpoll-list-detail-detail">
        <div dojoAttachPoint="_detailItems" class="detail">

        </div>
        <div class="extra">
                <div style="width: auto;" class="web-tweetpoll-answer-table" cellspacing="0">
                    <span class="header-table-answer">
                        Color
                    </span>                
                    <span class="header-table-answer">
                        Link to Vote
                    </span>
                    <span class="header-table-answer">
                        Count
                    </span>
                    <span class="header-table-answer">
                        Percent
                    </span>
	                <div dojoAttachPoint="_extra"></div>
            </div>
        </div>
    </div>
    <div dojoAttachPoint="_chart" id="${id}_chart"></div>
</div>