<div class="web-tweetpoll-wrapper">
         <div id="tweetListContent" class="tweetListContent">
            <div class="web-tweetpoll-options">
                <div class="web-tweetpoll-sidebar-panel">
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAccount" type="ACCOUNT">
                        <span>By Account</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastDay" type="LASTDAY">
                        <span>Today</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastWeek" type="LASTWEEK">
                        <span>Last Week</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByFavourites" type="FAVOURITES">
                        <span>Favourites</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByScheduled" type="SCHEDULED">
                        <span>Scheduled</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll" type="ALL">
                        <span>See All</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll" type="ALL_PUBLISHED">
                        <span>All Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll" type="ALL_UNPUBLISHED">
                        <span>All Un-Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll" type="ALL_COMPLETED">
                        <span>All Completed</span>
                    </div>
                </div>
                <div dojoAttachPoint="_folder"></div>
            </div>
            <div class="web-list-tweet">
                <div dojoAttachPoint="_customMenu" class="web-twettpoll-list-menu enme-ui-gradient-header-color default-top-menu">
                   <!--
                        Filters Support.
                    -->
                   <div dojoAttachPoint="_filters" dojoType="encuestame.org.core.commons.support.ItemsFilterSupport"
                        typeItem="TWEETPOLL"></div>
                </div>
                <div dojoAttachPoint="_items"></div>
            </div>
         </div>
</div>
