<div class="gadgetRowItem ga-tp-votes ">
	<h4 data-dojo-attach-point="_title">

	</h4>
	<div class="graph-wrapper">
		<div data-dojo-attach-point="_chart" id="${id}_chart" style="height:280px; padding: 10px;">
		</div>
	</div>

	<div class="tools row">
		<div class="arrows span1">
			<span data-dojo-attach-point="_previous"
                  data-dojo-attach-event="onclick:_previousVotes"
                  class="invisible">
				<i class="icon-circle-arrow-left icon-2x"></i>
			 </span>
			<span data-dojo-attach-point="_next"
                  data-dojo-attach-event="onclick:_nextVotes">
				<i class="icon-circle-arrow-right icon-2x"></i>
			</span>
		</div>
		<div class="auto span4">

			<input
				name="auto"
				data-dojo-attach-point="_auto"
				data-dojo-type="dijit/form/CheckBox" value="agreed" checked  />
                <label>
					${i18nMessage.autocomplete}
				</label>
		</div>
		<div clas="share right-corner" data-dojo-attach-point="_embed_link"></div>
	</div>

</div>