
// compass references

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$orange : #E7A441;
$orange_light : #FFB952;
$orange_gradient_over : #BC870D;
$button_font_size : 12px;
