// compass references
@import "mixin";
// defined variable only for web


/////// Variables //////////

/// Home


/// Home - Hashstag


/// Home - Profile


/// Home - Tweetpoll

$_tp_link_color : #539FC8;

$_tp_filters_min-heigth : 400px;


/// Home - Poll

$_poll_detail_section_min_height : 300px;
$_poll_detail_section_max_height : 310px;
$_poll_create_question_width : 610px;


/// Home - Search


/// Home - Question


/// Home - Grey Float Menu
$float_size : 600px;
$float_h1_size : 24px;
$float_h1_weight : 200;
$float_internal_padding : 30px;
$float_background_pry_color : white;
$float_background_sec_color : #DDDDDD;
$float_background_border : darken($float_background_sec_color, 10%);
$float_background_border_darken : darken($float_background_sec_color, 15%);


/// Home - Sign In


/// Home  - Remember Password


/// Home  - Sign Up

// @import "web/admon";
// @import "web/default";
// @import "web/suggest";
// @import "web/menu";
// @import "web/public";
// @import "web/question";
// @import "web/section";
// @import "web/suggest";

// @import "web/table";
// @import "web/user";