// compass references
@import "mixin";

// defined variable only for web


/////// Variables //////////

/// Home


/// Home - Hashstag


/// Home - Profile


/// Home - Tweetpoll


/// Home - Poll


/// Home - Search


/// Home - Question


/// Home - Grey Float Menu
$float_size : 60%;
$float_h1_size : 24px;
$float_h1_weight : 200;
$float_internal_padding : 30px;
$float_background_pry_color : white;
$float_background_sec_color : #DDDDDD;
$float_background_border : darken($float_background_sec_color, 10%);
$float_background_border_darken : darken($float_background_sec_color, 15%);


/// Home - Sign In


/// Home  - Remember Password


/// Home  - Sign Up