@import "base_web";

@import "resources";
@import "required";
@import "input";
@import "dojo-fixes";
@import "layout";
@import "web/suggest";
@import "web/menu";
@import "web/public";
@import "shared-components/dialog";
@import "shared-components/suggest";
@import "web/default";
@import "bootstrap/bootstrap_fixed";
//@import "../../mobile/bootstrap/bootstrap-responsive";

@import "common";
@import "small-components/ui-bar";
@import "small-components/sub_menu";
@import "small-components/panel_header";
@import "small-components/offline-theme-slide";
@import "small-components/notification_ios";


.web-items-no-results {
	color: $gray_dark;
	font-weight: 100;
	width: 60%;
	font-size: 24px;
	margin: 0 auto;
	padding: 75px;
}