/** default transition **/

// #enme-content input.enme-input {
//     outline : none;
//     @include transition-property(all);
//     @include transition-duration(0.25s);
//     @include transition-timing-function(ease-in-out);
// }

// #enme-content input[type="text"], input[type="password"] {
//     /*font-size : 13px*/
// }

/** placeholder text **/

// input:-moz-placeholder {
//       color: #D0D0D0;
// }

// input::-webkit-input-placeholder {
//   color: #D0D0D0;
// }

#enme-content input,  #enme-content  textarea, .css-input input {
    @include box-shadow(rgba(0, 0, 0, .05) 0 1px 3px inset, rgba(255, 255, 255, .075) 0 1px 0);
}


#enme-content input, #enme-content  textarea,  #enme-content select, .css-input input {
    display: inline-block;
    @extend .txt-padding;
    margin: 0;
    outline: 0;
    background-color: $default_background_color;
    border: 1px solid #CCC;
   @extend .default-rd;
}

#enme-content input:focus, .css-input input:focus  {
    @include box-shadow($orange 0 0 5px);
}

.enme-text  .setting-detail .dijitTextBox, .css-input input {
     @extend .txt-padding;
}

.txt-padding {
    padding: 4px;
}

