@import "compass";
@import "compass/layout.scss";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/nowrap";
@import "compass/css3/hyphenation";
@import "compass/css3/transition";
@import "compass/support";
@import "compass/css3/box-sizing";

// Encuestame doesn't support IE6, IE7 and IE8
$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;
$legacy-support-for-ie8 : false;

//LAYOUT
$layout_width : 970px;
$df_font_size : 12px;

// Default Variables
$white : #FFFFFF;
$default_background_color : $white;
$black : #000000;
$black_hight : #222222;
$black_medium : #444444;
$black_semi_medium : #666666;
$black_light : #888888;
$gray_dark : #918F8F;
$gray_lite : #e5e5e5;
$gray_normal : #CDCDCD;
$yellow_light : #F9F9C2;
$green_light : #C9F5C8;
$red_light : #FEBEB2;

// Info Messages
$success_color : #55986D;
$success_border_color : darken(#55986D, 30%);

$error_color : #BA3B3B;
$error_border_color : darken(#BA3B3B, 30%);

$warn_color : #55986D;
$warn_border_color : darken(#55986D, 30%);

$orange : #E7A441;
$orange_middle : #E7A441;
$orange_light : #FFB952;
$orange_gradient_over : #BC870D;
$button_font_size : 12px;
$none : none;
$web_tag_color : #606060;
$web_tag_high_color : #828282;
$header_info_main_color : #333333;
$default_box_shadow_enme : #E0E0E0;
$header_info_main_color_dark : darken($header_info_main_color, 5%);

$default_background_color : $white;

@mixin background-default-wrapper() {
	  background-color: $default_background_color;
}

@mixin non_borders() {
	 @include border-radius(0px);
}

@mixin left() {
	 float : left;
}

// eg: @include enme-gradient-custom($white, $gray_lite);
@mixin enme-gradient-custom($color1, $color2) {
	 background-color: $color1;
	 @include background-image(linear-gradient(color-stops($color1  0%, $color2 100%)));
}

@mixin gray_text_shadow(){
	@include text-shadow($float_background_pry_color 1px 0 0);
}