@import "common_web";
@import "menu_logged";

@import "shared-components/gadget";
@import "shared-components/layout_dashboard";


.ui-dash-grid {
	padding: 10px;

	.span5 {
		width: 434px;
	}

	.AB, .BA {
		.span3 {
			width: 340px;
			margin-left: 10px;
		}
	}

	.B {
		.span12 {
			width: 900px;
		}
	}
}

.ui-dasboard-column {
    min-height: 400px;
    padding: 5px;
}