 // required
@import "common_web";
// modules
@import "web/components/front-aside";
@import "web/components/toaster";
@import "web/components/front";
@import "web/components/profile";
@import "web/components/hashtag";
@import "web/components/front-end-items";

@import "web/components/login";
@import "web/components/suggestion";
@import "web/components/signup";
@import "web/components/form-signup";
@import "web/components/recover-password";
@import "web/components/cloud";
@import "web/components/more";
@import "web/components/button";
@import "web/components/search";

@import "web/components/list_filters";
@import "web/components/option-menu";
@import "web/components/dropdown-menu";
@import "web/components/publish-support";
@import "shared-components/rated-comments";
@import "shared-components/detail-tp-hashtag";

@import "shared-components/generic-results";

@import "shared-components/detail-comments";
@import "shared-components/detail-tp-answers";
@import "shared-components/rated-hashtag";
@import "shared-components/publication-item";

@import "shared-components/rated_profile";

@import "shared-components/social-links";
