@import "_base.scss";

.web-position-down {
    background: url("../images/icons/enme_down.png") no-repeat scroll 0 0 transparent;
}
.web-position-up {
    background: url("../images/icons/enme_up.png") no-repeat scroll 0 0 transparent;
}
.web-position-equal {
    background: url("../images/icons/enme_equals.png") no-repeat scroll 0 0 transparent;
}
.ellipsis {
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.modal-box-im{
  background: url("../images/background-mobalbox.png") repeat-x scroll left bottom transparent;
}

.web-item-wrapper .item .loading{
    /*background-image: url(../../images/ball-loader.gif);*/
}

div.options .saveButton {
    background-image: url(../../images/icons/add.png);
}

div.publishWrapper div.itemPublish .account {
    background-image: url(../../images/icons/twitter-logo-small.png);
}

div.web-folder-wrapper .web-folder-item .icon-folder {
    background-image: url("../images/icons/enme_folder.png");
}

.enme-message-box {
  background-color: #F9EDBE;
  background-repeat: no-repeat;
  border: 1px solid #F0C36D;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 15px;
  left: 25%;
  margin: 0 auto;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 90000;
}

.enme-message-box .loading-wrapper {
  margin: 0 auto;
  width: 100px;
}

.enme-message-box .loading-ball {
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  width: 20px;
}

.enme-message-box .title-loading {
  float: left;
  font-weight: bold;
  line-height: 10px;
  margin-left: 5px;
  margin-top: 3px;
}

.ui-hits {
  background-image: url("../images/icons/enme_hits.gif");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  padding-left: 20px;
  padding-top: 3px;
}

.ui-comments {
  background-image: url("../images/icons/enme_comment_reply.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
    padding-left: 24px;
    padding-top: 3px;
}

.ui-likes {
  background-image: url("../images/icons/1344286942_Like.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 12px;
  padding-left: 24px;
  padding-top: 3px;
}

.ui-dislike {
  background-image: url("../images/icons/1344286943_Dislike.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  padding-left: 24px;
  padding-top: 3px;
}