//@import "_base.scss";


.web-position-down {
    background: url("../images/icons/enme_down.png") no-repeat scroll 0 0 transparent;
}
.web-position-up {
    background: url("../images/icons/enme_up.png") no-repeat scroll 0 0 transparent;
}
.web-position-equal {
    background: url("../images/icons/enme_equals.png") no-repeat scroll 0 0 transparent;
}
.ellipsis {
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.modal-box-im{
  background: url("../images/background-mobalbox.png") repeat-x scroll left bottom transparent;
}

.web-item-wrapper .item .loading{
    /*background-image: url(../../images/ball-loader.gif);*/
}

div.options .saveButton {
    background-image: url(../../images/icons/add.png);
}

div.publishWrapper div.itemPublish .account {
    background-image: url(../../images/icons/twitter-logo-small.png);
}

div.web-folder-wrapper .web-folder-item .icon-folder {
    background-image: url("../images/icons/enme_folder.png");
}

/// poll admon used --->

.ui-image-wrapper {
  background-repeat: no-repeat;
  display: inline-block;
  @extend .col-left;
  height: 15px;
  padding-top: 3px;
}

.ui-hits {
  background-image: url("../images/icons/enme_hits.gif");
   background-position: left center;
  padding-left: 20px;
  @extend .ui-image-wrapper;
}

.ui-comments {
  background-image: url("../images/icons/enme_comment_reply.png");
  padding-left: 24px;
  @extend .ui-image-wrapper;
}

.ui-likes {
  background-image: url("../images/icons/1344286942_Like.png");
  background-position: left center;
  @extend .ui-image-wrapper;
  height: 12px;
  padding-left: 24px;
}

.ui-dislike {
  @extend .ui-image-wrapper;
  background-image: url("../images/icons/1344286943_Dislike.png");
  background-position: left center;
  padding-left: 24px;
}