//@import "_base.scss";

.enme-web-context {
    background: url("../images/background.png") repeat center center fixed;
}

.web-position-down {
    background: url("../images/icons/enme_down.png") no-repeat scroll 0 0 transparent;
}
.web-position-up {
    background: url("../images/icons/enme_up.png") no-repeat scroll 0 0 transparent;
}
.web-position-equal {
    background: url("../images/icons/enme_equals.png") no-repeat scroll 0 0 transparent;
}
.ellipsis {
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}

.modal-box-im{
  background: url("../images/background-mobalbox.png") repeat-x scroll left bottom transparent;
}

.loading-icon {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
    width: 25px;
    display: inline-block;
    height: 15px;
    background-repeat: no-repeat;
}

div.options .saveButton {
    background-image: url(../../images/icons/add.png);
}

div.publishWrapper div.itemPublish .account {
    background-image: url(../../images/icons/twitter-logo-small.png);
}

div.web-folder-wrapper .web-folder-item .icon-folder {
    background-image: url("../images/icons/enme_folder.png");
}

/// poll admon used --->

.ui-image-wrapper {
  background-repeat: no-repeat;
  display: inline-block;
  @extend .col-left;
  height: 15px;
  padding-top: 3px;
}

.ui-hits {
  background-image: url("../images/icons/enme_hits.gif");
   background-position: left center;
  padding-left: 20px;
  @extend .ui-image-wrapper;
}

.ui-comments {
  background-image: url("../images/icons/enme_comment_reply.png");
  padding-left: 24px;
  @extend .ui-image-wrapper;
}

.ui-likes {
  background-image: url("../images/icons/1344286942_Like.png");
  background-position: left center;
  @extend .ui-image-wrapper;
  height: 12px;
  padding-left: 24px;
}

.ui-dislike {
  @extend .ui-image-wrapper;
  background-image: url("../images/icons/1344286943_Dislike.png");
  background-position: left center;
  padding-left: 24px;
}