<div class="userWidget enme-text">
    <div class="admon-table-options panel-header">
       <div class="tb-left">
            <h3>
               ${i18n.admon_members_title}
            </h3>
            <p>
               ${i18n.admon_members_subtitle}
            </p>
       </div>
       <div class="tb-right">
        <button id="new_user_button" class="btn-warning btn" data-dojo-attach-event="onclick:_newUser">
              ${i18n.admon_create_user}
        </button>
        <span data-dojo-type="dijit/Tooltip" data-dojo-props='connectId:"new_user_button"' style="display:none;">Open a dialog to add / invite new members</span>
      </div>
    </div>
    <div>
        <div>
            <div class="option">
            </div>
            <table cellpadding="5" cellspacing="4" class="defaultTable" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="enme-ui-gradient-header-color">

                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.admon_username}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color group">
                                ${i18n.admon_group}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                               ${i18n.admon_user_from}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.admon_status}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.admon_tweetpoll_count}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.admon_poll_count}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.admon_survey_count}
                            </th>
                            <th scope="col" width="100px" class="enme-ui-gradient-header-color">
                                ${i18n.admon_last_logged}
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                ${i18n.followers}
                            </th>
                        </tr>
                     </thead>
                      <tfoot>
                        <tr>
                            <td colspan="11" class="rounded-foot-left">
                                <div>
                                   <div class="total" data-dojo-attach-point="_total"></div>
                                </div>
                                <div class="controlsTable" style="cursor: pointer;">
                                    <a id="first-pag-members" data-dojo-attach-event="onclick:first" data-dojo-attach-point="_first">
                                      &laquo; ${i18n.table_first}
                                    </a>
                                    <a id="previous-pag-members" data-dojo-attach-event="onclick:previous" data-dojo-attach-point="_previous">
                                      &laquo;  ${i18n.table_previous}
                                    </a>
                                    <a id="next-pag-members" data-dojo-attach-event="onclick:next" data-dojo-attach-point="_next">
                                      ${i18n.table_next} &raquo;
                                    </a>
                                    <a id="last-pag-members" data-dojo-attach-event="onclick:last" data-dojo-attach-point="_last">
                                      ${i18n.table_last} &raquo;
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                <tbody data-dojo-attach-point="_body">
                </tbody>
            </table>
        </div>
    </div>

 <div id="newUser" data-dojo-type="dijit/Dialog" data-dojo-props="title:'${i18n.admon_users_new_title}'" style="display:none;">
        <div class="dijitDialogPaneContentArea">
             <div data-dojo-type="dijit/layout/AccordionContainer" style="min-height: 300px; width: 800px;">
              <div data-dojo-type="dijit/layout/ContentPane" title="${i18n.admon_users_new_option1_title}" selected="true">
                 <p>
                    ${i18n.admon_users_new_user_subtitle}
                </p>
                  <div data-dojo-type="dijit/form/Form" id="web-user-actions-form-wrapper" class="web-admon-user-create css-input">
                      <table>
                          <tr>
                            <td>
                                <input data-dojo-type="me/web/widget/validator/UsernameValidator"
                                       required="true"
                                       size="30"
                                       type="text"
                                       placeholder="${i18n.placeholder_username}"
                                       name="newUsername"
                                       id="newUsername">
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <input data-dojo-type="me/web/widget/validator/EmailValidator"
                                 size="30"
                                 required="true"
                                 placeholder="${i18n.placeholder_email}"
                                 regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                                 type="text" name="newEmailUser" id="newEmailUser">
                            </td>
                          </tr>
                        </table>
                        <div class="submit">
                            <button id="send-member-request" class="btn btn-success" type="button"  data-dojo-attach-point="_request_button" data-dojo-attach-event="onClick:_createDirectlyUser">
                                ${i18n.admon_users_new_button}
                            </button>
                        </div>
                    </div>
              </div>
              <div id="userInvitation" data-dojo-type="dijit/layout/ContentPane" title="${i18n.admon_users_new_invite_title}" class="css-input">
                  <p>
                      ${i18n.admon_users_invite_subtitle}
                  </p>
                   <div style="padding: 20px;">
                       <label for="desc">
                           ${i18n.placeholder_email}
                        </label>
                       <input data-dojo-type="me/web/widget/validator/EmailValidator"
                                 size="30"
                                 required="true"
                                 placeholder="${i18n.placeholder_email}"
                                 regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                                 type="text" name="emailInvitationText" id="emailInvitationText">
                       <button id="send-invitation-request" class="btn btn-success" data-dojo-attach-point="_invitation_button"
                       data-dojo-attach-event="onClick:_sendInvitation">
                            ${i18n.admon_users_invite_button}
                       </button>
                   </div>
              </div>
              <!--
                  TODO: Search user from LDAP.
                <div data-dojo-type="dijit/layout/ContentPane" title="Search User (LDAP..)">
                    <div style="padding: 20px;">
                        LDAP Search
                    </div>
                </div> -->
        </div>
        </div>

        <div class="dijitDialogPaneActionBar">
            <button id="close-request-button" class="btn btn-info" data-dojo-attach-point="_close" data-dojo-attach-event="onClick:_closeNewDialog">
                ${i18n.button_close}
           </button>
        </div>
    </div>

    <div data-dojo-type="dijit/Dialog" id="userEdit" title="User Edit"></div>
</div>