<div class="web-pup-item-detail-wrapper">
     <div class="web-pup-item-image" data-dojo-attach-point="_picture">
         <a data-dojo-type="me/web/widget/pictures/AccountPicture"
            picture_width="48"
            picture_height="48"
            username=${username}></a>
     </div>
     <div class="web-pup-item-content">
         <div class="web-pup-item-row web-pup-item-title ">
                 <a href="${url}" title="${title}">
                     <h4 class="enme">
                        ${title}
                    </h4>
                </a>
          </div>
          <div class="web-pup-item-row hashtags web-pub-hashtag">
             <div data-dojo-attach-point="_tags" class="tags"></div>
          </div>
          <div class="web-pup-item-row web-pup-item-bottom">
              <a href="${url}">
                   ${added} ${relativeTime}
              </a>
          </div>
      </div>
      <div class="web-pup-item-content-custom">
           <div data-dojo-attach-point="_custom"></div>
      </div>
</div>