<div class="web-tweetpoll-list-detail-wrapper">
    <div>
	    <span class="tab selected" dojoAttachPoint="_detail">
	        ${i18nMessage.tweetpoo_detail_tab_detail}     
	     </span>
	    <span class="tab" dojoAttachPoint="_stats">
	        ${i18nMessage.tweetpoo_detail_tab_stats}
	    </span>
	    <span class="tab" dojoAttachPoint="_comments">
	        ${i18nMessage.tweetpoo_detail_tab_comments}
	    </span>
	    <span class="tab" dojoAttachPoint="_social">
	        ${i18nMessage.tweetpoo_detail_tab_social}
	     </span>
	    <span class="tab" dojoAttachPoint="_delete">
	        ${i18nMessage.tweetpoo_detail_tab_delete}
	    </span>
    </div>
    <div class="web-tweetpoll-list-detail-detail">
        <div dojoAttachPoint="_detailItems" class="detail">

        </div>
        <div class="extra">
                <div style="width: auto;" class="web-tweetpoll-answer-table" cellspacing="0">   
                    <div>         
	                    <span class="header-table-answer">
	                       ${i18nMessage.tweetpoo_detail_answers_title_link}
	                    </span>
	                    <span class="header-table-answer">
	                        ${i18nMessage.tweetpoo_detail_answers_title_count}
	                    </span>
	                    <span class="header-table-answer">
	                        ${i18nMessage.tweetpoo_detail_answers_title_percent}
	                    </span>
                    </div>
	                <div class="content" dojoAttachPoint="_extra"></div>
            </div>
        </div>
    </div>
    <div dojoAttachPoint="_chart" id="${id}_chart"></div>
</div>