<div class="socialAccountPicker">
   <div class="menu">
       <span class="pick" dojoAttachPoint="_selected">
            ${i18nMessage.social_picker_only_selected}
        </span> |
    <span class="pick" dojoAttachPoint="_all">
            ${i18nMessage.social_picker_select_all}
    </span>
   </div>
   <div dojoAttachPoint="_listSocialAccounts" class="list">

   </div>
   <div class="resume">
        <span class="pick">
            ${i18nMessage.social_picker_accounts_selected}:
         <span dojoAttachPoint="_counter" style="font-weight: bold;" >
            0
          </span></span>
   </div>
</div>
