.btn-default {
    display: inline-block;
    padding:5px 10px 6px 10px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.4);
    -moz-border-radius: 15px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.enme-ui-gradient-header-color {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444),
        color-stop(100%, #222) );
    background: -webkit-linear-gradient(#444, #222);
    background: -moz-linear-gradient(#444, #222);
    background: -o-linear-gradient(#444, #222);
    background: linear-gradient(#444, #222);

}


.input-design {
    background: #f0f0f2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2YwZjBmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f0f0f2 2%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f0f0f2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f0f2 2%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f0f2 2%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f0f2 2%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f0f2 2%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px #FFFFFF;
    display: block;
    height: 27px;
    line-height: 27px;
    margin-top: 6px;
    position: relative;
    width: 100%;
}

.input-design fieldset {
    left: 10px;
    position: absolute;
    right: 10px;
}

.input-design fieldset input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #7E7E7E;
    font-size: 13px;
    font-weight: inherit;
    height: 19px;
    line-height: 19px;
    position: relative;
    width: 100%;
}

.btn-default:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor:pointer;
}

.default-rigth-aling{
    text-align: right;
}

.warning{
    background-color: #F3F085;
     max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.success-color {
    background-color: #B1ECB1;
    color : black;
}

.red-color {
    background-color: red;
    color : white;
}

.warning-color {
     background-color: #F9EDBE;
     color: #989549;
}

.success{
    background-color: #B1ECB1;
    max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* border-top: 1px solid #00FF59;
    border-bottom: 1px solid #00FF59;*/
}

.likeRate {
  color: #FFFFFF;
  text-align: center;
  width: 3em;
}

.likeRate .wrapper{
   padding: 1px 1px;
   margin: 1px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   border: 1px solid #B4B4B4;
   min-width : 25px;
}

.likeRate .positive{
    background-color: #50CD62;
}

.likeRate .negative{
    background-color: #CD6969;
}

button.emne-menu {
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  cursor: pointer;
  height: 2.0833em;
  overflow: visible;
  padding: 0 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

button.emne-menu span {
  line-height: normal;
}

button.emne-menu img {
  font-size: 0;
  vertical-align: middle;
}

button.emne-menu button {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 1px #FFFFFF inset;
  color: #555555;
  font-size: 11px;
  font-weight: bold;
  height: 2.95em;
  padding: 0 0.91em;
  text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}

.wrap{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

/** disable focus on webkit **/
input:focus {
    outline: none !important;
}
.dijitTextBoxFocused {
    outline: none !important;
}

.emne-box .onLive{
    font-size: 10px;
    margin-left: 10px;
    margin-top : 10px;
}

.drop-down-menu-select{

}

.drop-down-menu-select .drop-down-item{
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  cursor: pointer;
  height: 2.0833em;
  overflow: visible;
  padding: 0 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

/** menu **/

.enme-dropdown-menu-wrapper {
  width: 120px;
}

.enme-dropdown-menu-wrapper .menu-expand {
  box-shadow: 0 2px 3px -1px #454343 inset
}

.enme-dropdown-menu-wrapper .enme-dropdown-menu {
   border: 1px solid #D4D4D4;
   border-radius: 5px 5px 5px 5px;
   cursor: pointer;
   font-weight: bold;
   min-width: 95px;
   padding: 5px;
   color: white;
   text-align: center;
   position: relative;
}

.enme-dropdown-menu-wrapper ul {
  background-color: #767676;
  border: 1px solid #9A9A9A;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 1px 0 #373535;
  margin: 0 0 0 2px;
  position: absolute;
  top: 33px;
  width: 115px;
}

.enme-dropdown-menu-wrapper li.dropdown-item {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  list-style: none outside none;
  margin: 0;
  padding: 5px 7px;
  text-shadow: 0 1px #000000;
  width: auto;
}

.enme-dropdown-menu-wrapper li.dropdown-item:hover {
  background-color: white;
  color: black;
  text-shadow: 0 1px white;
}

.enme-unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.enme-ui-loading-search {
  background-repeat: no-repeat;
  border-radius: 0 0 4px 4px;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  text-align: center;
  width: 100%;
}

.enme-ui-loading-search .enme-ui-loading-search-base {
      padding: 10px;
      margin: 0 auto;
}