html,body {
    height: 100%;
    font-family: Verdana;
    font-size: 12px;
}



/* Smartphones (portrait and landscape)  */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body.mobile{
        margin: 0;
        padding: 0;
    }

    .mobile a {
        color : gray;
        text-decoration: none;
    }

    .mobile > footer {

    }

    .mobile > footer  .mobile-footer {
        text-align: left;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: #585958;
        color : white;
        padding: 6px;
        min-height: 30px;
        box-shadow: 5px 6px 5px 8px black;
     }

     .mobile-footer .footer-menu {
        padding: 10px;
     }

     .mobile-footer .footer-menu > span {
        padding: 10px;
     }

    .mobile-footer .footer-menu span a{
        font-size: 12px;
        text-align: center;
        margin-top: 3px;
        color: white;
    }

    .mobile-footer .mobile-footer-version {
        font-size: 9px;
        text-align: right;
        margin-top: 3px;
        padding: 10px;
    }

    .mobile-footer .mobile-footer-version  a{
        color : white;
    }

    .mobile-footer .mobile-footer-version  a > span{
        color : white;
    }

    /** header **/


    .mobile > header {

    }

   .mobile #mobile-header-wrapper{
        min-height: 27px;
        padding: 5px;
        box-shadow: 1px 2px 6px 0px #9c9393;
        text-align: center;
    }

   .mobile #mobile-header-wrapper div.logo {
        margin: 0 auto;
    }

    .mobile div.mobile-header-options{
        width: auto;
        text-align: right;
        padding: 0 5px;
        height: 30px;
    }

    .mobile .mobile-header-options span{
        display: inline-block;
    }

    .mobile .mobile-header-options span.link{
        padding-left: 5px;
        padding-right: 5px;
        margin: 4px 4px 3px 0;
    }

    .mobile .mobile-header-options span.link a{
        color: #275296;
        text-decoration: none;
        font-size: 110%;
        font-style: italic;
        font-weight: bold;
    }

    .mobile .mobile-header-options span.link a:hover{
        text-decoration: none;
    }

    .mobile .mobile-header-options span.search{
    }

    .mobile .mobile-main {
        min-height: 300px;
    }

    .mobile-main-vote {
        min-height: 350px;
    }

}

/* Smartphones (landscape)  */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait)  */
@media only screen and (max-width : 320px) {

}

/** tablet's resolution **/
/* @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; } your css rules for ipad portrait
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; }
} */

/* iPads (portrait and landscape)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* iPads (landscape)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait)  */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* Desktops and laptops  */
@media only screen and (min-width : 1224px) {

       body {
        height: 100%;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        background-color: #EAEAEA;
    }

    /** header **/
    header#header {
       background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444), color-stop(100%, #222) );
       background: -webkit-linear-gradient(#444, #222);
       background: -moz-linear-gradient(#444, #222);
       background: -o-linear-gradient(#444, #222);
       background: linear-gradient(#444, #222);
       height: 40px;
       position: relative;
       box-shadow : 2px 3px 4px #121212;
       z-index: 9000;
    }

    .header {
        background-color: #FFF;
        border: 0px solid #000;
        margin-bottom: 0px;
        width: 100%;
        height: 41px;
    }

    .header span.logo {
        background-image: url(../../images/logos/encuestame_header.gif);
        background-repeat: no-repeat;
        min-height: 20px;
        display: inline-block;
        width: 125px;
    }

    #header div.search {
        width: 100px;
    }

    .heading-title {
        width: 100%;
        margin-top: 40px;
        overflow: auto;
    }

    .heading-title H1 {
        color: #C53436;
        float: left;
        font-size: 24px;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
        padding: 0 8px;
    }

    div.web-header {
      font-size: 13px;
      font-weight: normal;
      height: 40px;
    }

    .web-header-options .suggest .dijitTextBox {
      border-radius: 4px 4px 4px 4px;
      padding: 2px;
    }

    .web-header-options .suggest .dijitTextBox .dijitInputContainer {
      border-radius: 14px 14px 14px 14px;
      padding: 1px;
    }

    .web-header-options .suggest .dijitTextBox .dijitInputInner {
      color: #A6A6A6;
      font-size: 13px !important;
    }

    .web-header-options .suggest .dijitTextBox .dijitPlaceHolder {
      color: #DDDDDC;
      font-size: 13px !important;
      line-height: 15px;
      padding-left: 8px;
    }

    div.web-header-options {
      float: right;
      padding: 3px;
    }

    div.web-header div.logo {
      background: none repeat scroll 0 0 transparent;
      width: 128px;
      float: left;
    }

    div.web-header .logo > a {
        display: block;
        height: 12px;
        padding: 5px 12px 15px;
        font-weight: bold;
        line-height: 1;
        color: #BBB;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .75);
    }

    div.web-header div.web-header-wrapper {
      width: 1024px;
    }

    div.web-header span {
        display: inline-block;
    }

    div.web-header span.link {
      margin: 4px 4px 3px 0;
      padding-left: 5px;
    }

    div.web-header span.link a {
      color: #FFFFFF;
      font-size: 100%;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(72, 72, 72, 0.9);
    }

    div.web-header span.link a:hover {
        text-decoration: none;
    }

    div.web-header span.search {

    }

    #mainWrapper {
      height: 100%;
      margin: 0 auto;
    }

    #content-container {
      height: 80%;
      min-height: 450px;
    }

    #content-container #enme-content {
        min-height: 100%;
    }

    #content-container #enme-content a:link {
        text-decoration: none;
    }

    #content-container #enme-content a:hover {
        text-decoration: underline;
    }

    footer {

    }

    #footer {
      color: #848282;
    }

    .text-color {
        color: #39609D;
    }

    #footer .powered {
        float: right;
    }

    #footer .footer {
        font-size: 0.9em;
        height: 20px;
        overflow: hidden;
        padding: 10px;
        text-align: right;
        white-space: nowrap;
    }
}

/* Large screens  */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4  */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  /* Retina-specific stuff here */
}