//@import "_base";

.enme-message-box {
  background-color: #F9EDBE;
  background-repeat: no-repeat;
  border: 1px solid #F0C36D;
  @include border-radius(0 0 4px 4px);
  @include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 4px);
  display: inline-block;
  height: 15px;
  left: 25%;
  margin: 0 auto;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 90000;
}

.enme-message-box .loading-wrapper {
  margin: 0 auto;
  width: 100px;
}

.enme-message-box .loading-ball {
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  display: inline-block;
  @extend .col-left;
  height: 15px;
  width: 20px;
}

.enme-message-box .title-loading {
  float: left;
  font-weight: bold;
  line-height: 10px;
  margin-left: 5px;
  margin-top: 3px;
}
