.vote-layout {
  width: 300px;
  text-align: center;
  margin: auto 0;
}

.single-body {

}

.center-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}

