[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/me"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/me
	url = git://github.com/encuestame/me.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/bootstrap"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/bootstrap
	url = git://github.com/juanpicado/Dojo-Bootstrap.git
[submodule "doc"]
	path = doc
	url = git://github.com/encuestame/doc.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/widget"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/widget
	url = git://github.com/juanpicado/widget-enme
[submodule "enme-js/resources-enme-war/src/main/resources/resource/tests"]
	path = enme-js/resources-enme-war/src/main/resources/resource/tests
	url = git://github.com/encuestame/enme-intern-test.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/hammer"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/hammer
	url = https://github.com/encuestame/hammer.js.dojo.git
[submodule "enme-css/src/css/resource/sass"]
	path = enme-css/src/css/resource/sass
	url = git://github.com/encuestame/css-theme.git

[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/dojox"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/dojox
	url = https://github.com/dojo/dojox.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/dojo"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/dojo
	url = https://github.com/dojo/dojo.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/dijit"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/dijit
	url = https://github.com/dojo/dijit.git
[submodule "enme-js/resources-enme-war/src/main/resources/resource/js/util"]
	path = enme-js/resources-enme-war/src/main/resources/resource/js/util
	url = https://github.com/dojo/util.git