*/target/*
.svn*
.idea
obj/
*.iml
bin/
*.suo
*.user
Log/
log/
*.db
*.log*
overlays
*./*.log*
*.releaseBackup
.sass-cache
release.properties
*.settings/*
enme-war/enme-tomcat-app/.settings
enme-war/enme-views/.settings
*.prefs
enme-js/chart/*.settings/*
enme-js/cometd/*.settings/*
enme-js/resources-enme-war/*.settings/*
enme-js/widgets-core/*.settings/*
enme-js/widgets-mobile/*.settings/*
enme-js/widgets-web/*.settings/*
enme-war/*.settings/*
enme-js/doh/*.settings/*
enme-js/deps/*.settings/*
enme-persistence/enme-model/.settings
enme-persistence/enme-dao/.settings
*/.classpath
*/.clover
*/.clover/*
*/buildNumber.properties
buildNumber.properties
*/.project
node_modules
.project
.classpath
*/.buildpath/*
*~
target/
enme-war/src/main/webapp/resource/static/
*/.settings
*DEADJOE*
enme-war/encuestame-webapp.log*
encuestame-config-custom.properties
enme-war/src/main/resources/encuestame-config-custom.properties
.metadata
encuestame-persistence/.DS_Store
.DS_Store
enme-war/src/main/webapp/resource/js/graphael
enme-war/src/main/webapp/resource/js/raphael
enme-war/src/main/webapp/resource/js/eve
enme-js/resources-enme-war/js/
enme-js/resources-enme-war/node
enme-js/resources-enme-war/node_modules
enme-js/resources-enme-war/src/main/resources/js/util
enme-js/resources-enme-war/src/main/resources/js/dojox
enme-js/resources-enme-war/src/main/resources/js/dojo
enme-js/resources-enme-war/src/main/resources/js/dijit
enme-js/resources-enme-war/src/main/webapp/resource/js/dijit/
enme-js/resources-enme-war/src/main/webapp/resource/js/dojo/
enme-js/resources-enme-war/src/main/webapp/resource/js/dojox/
enme-js/resources-enme-war/src/main/webapp/resource/js/static/
enme-js/resources-enme-war/src/main/webapp/resource/js/util/
enme-war/src/main/webapp/resource/js/dijit/
enme-war/src/main/webapp/resource/js/dojo/
enme-war/src/main/webapp/resource/js/dojox/
enme-war/src/main/webapp/resource/js/org/
enme-war/web-app/jetty-webapp/overlays/
enme-war/web-app/tomcat-webapp/overlays/
enme-war/web-app/weblogic-webapp/overlays/
scripts/clover.license