dojo/
*/target/*
.svn*
obj/
bin/
*.suo
*.user
Log/
log/
*.db
*.log*
*./*.log*
*.settings/*
*/.classpath
*/.clover
*/.clover/*
*/buildNumber.properties
buildNumber.properties
*/.project
.project
.classpath
*~
target/
encuestame-war/src/main/webapp/resource/static/
*/.settings
*DEADJOE*
encuestame-war/src/main/webapp/resource/js/dijit/
encuestame-war/src/main/webapp/resource/js/dojox/
encuestame-war/src/main/webapp/resource/js/dojo/
encuestame-war/src/main/webapp/resource/js/org/
encuestame-config-custom.properties
encuestame-war/src/main/resources/encuestame-config-custom.properties
.metadata