dojo/
*/target/*
.svn*
obj/
bin/
*.suo
*.user
Log/
log/
*.db
*.log
*./*.log
*.settings/*
*/.classpath
*/.project
.project
.classpath
*~
target/
*/.settings
*DEADJOE*
encuestame-war/src/main/webapp/resource/js/dijit/
encuestame-war/src/main/webapp/resource/js/dojox/
encuestame-war/src/main/webapp/resource/js/dojo/
encuestame-war/src/main/webapp/resource/js/org/