<span>
    <a data-dojo-attach-point="_embebed">
        ${i18nMessage.open_embebed}
    </a>
    <div data-dojo-attach-point="_embebed_options_dialog" data-dojo-type="dijit/Dialog"
          data-dojo-props="title:'Embedded Settings'" style="display:none;width:500px;" draggable="false">
        <div class="dijitDialogPaneContentArea">
            <div itemId="${data.id}" data-dojo-attach-point="_embebed_options"
                 itemType="${data.type}" data-dojo-type="me/web/widget/options/EmbebedOptions" preview="true">
            </div>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button class="btn btn-info" data-dojo-attach-event="onClick:_closeEmbebedDialog">
                Close
            </button>
        </div>
    </div>
</span>
