<section class="web-filters-wrapper">
     <div class="web-filters-search">
         <div class="web-filters-search-input">
             <input type="text" data-dojo-attach-point="_keyword"
                   data-dojo-type="dijit/form/TextBox" placeholder="${i18nMessage.detail_manage_filters_advanced_type_to_search}"
                   trim="true" class="inputClass"></input>
         </div>
         <div class="web-filters-search-multi">
            <label>
                ${i18nMessage.detail_manage_filters_advanced_title}
            </label>
            <select data-dojo-type="dijit/form/MultiSelect" size="5" data-dojo-attach-point="_social">
                <option value="FACEBOOK">Facebook</option>
                <option value="TWITTER">Twitter</option>
                <option value="LINKEDIN">Linked In</option>
                <option value="IDENTICA">Identi.ca</option>
            </select>
         </div>
         <div class="web-filters-search-check">
            <div>
                <input id="published_${id}" name="schedule_${id}" checked data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_published">
                <label for="schedule">
                    ${i18nMessage.detail_manage_published}
                </label>
            </div>
            <div>
                <input id="completed_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_complete">
                <label for="schedule">
                    ${i18nMessage.detail_manage_only_completed}
                </label>
            </div>
            <div class="hidden">
                <input id="unpublished_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox"  data-dojo-attach-point="_unpublished">
                <label for="schedule">
                    ${i18nMessage.detail_manage_unpublished}
                </label>
            </div>
            <div class="hidden">
                <input id="all_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_all">
                <label for="schedule">
                    ${i18nMessage.detail_manage_filters_advanced_all_results}
                </label>
            </div>
         </div>
          <div class="web-filters-search-check hidden">
            <div>
                <input id="scheduled_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_schedule">
                <label for="schedule">
                    ${i18nMessage.detail_manage_scheduled}
                </label>
            </div>
            <div>
                <input id="favorites_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_favorites">
                <label for="schedule">
                    ${i18nMessage.detail_manage_favorites}
                </label>
            </div>
            <div>
                <input id="by_account_${id}" name="schedule_${id}" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_by_account">
                <label for="schedule">
                    ${i18nMessage.detail_manage_by_account}
                </label>
            </div>
          </div>
<!--            <div class="web-filters-search-check">
                <label>
                    ${i18nMessage.detail_manage_filters_advanced_range_days}
                 </label>
                <div id="horizontalSlider" data-dojo-type="dijit/form/HorizontalRule"
                    value="6" minimum="1" maximum="365" discreteValues="40"
                    intermediateChanges="true"
                    showButtons="true" style="width:250px;" name="horizontalSlider">
                  <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration"
                    count=11 style="height:5px;"></div>
                  <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration"
                      style="height:1em;font-size:75%;color:gray;">
                    <li>1</li>
                    <li>90</li>
                    <li>180</li>
                    <li>270</li>
                    <li>365</li>
                  </ol>
                </div>
           </div> -->
<!--           <div class="web-filters-search-button">
              <button type="button" data-dojo-type="dijit/form/Button" value="Search" data-dojo-attach-point="_button">
                 ${i18nMessage.detail_manage_search}
              </button>
         </div> -->
     </div>
</section>
