.web-tweetpoll-answer-wrapper .span6:first-child {
   text-align: center;
}
/*
     tweetpoll detail answers
*/
 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
    @extend .web-generic-detail-answer-wrapper;
}

.web-tweetpoll-answer-answer > header {
  background-color: #8E8E8E;
  @extend .o-hidden;
}

.web-tweetpoll-answer-answer > header > div {
  box-shadow: 0 1px 0 0 #919191 inset;
  color: $black_medium;
  font-size: 1.2em;
  line-height: 20px;
  @extend .padding;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}


 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer {
  clear: both;
  font-size: 1.2em;
  @extend .o-auto;
  @extend .padding;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  width: auto;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  color: #4E4E4E;
  @extend .col-left;
  font-size: 1em;
  line-height: 20px;
  @extend .padding;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > div {
    @include border-radius(10px);
    display: inline-block;
    @extend .col-left;
    height: 20px;
    margin-right: 10px;
    @extend .opacity-lite;
    width: 20px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
    line-height: 20px;
    max-width: 80px;
    padding: 10px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
    margin-left: 5px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:link,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:visited,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a {
    color: $_tp_link_color;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  line-height: 20px;
  @extend .padding;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .web-tweetpoll-answers {
    @extend .padding;
}