@import "_base_web";

.comments {
    overflow: auto;
    @include background-default-wrapper;
}

.comments .comment-wrapper {
    margin: 3px;
}

.comments .comment-wrapper .comment {
  clear: both;
  overflow: auto;
  padding: 5px;
  position: relative;
}

.comments .comment-wrapper .comment .comment-image {
    float: left;
    width: 45px;
}

.comments .comment-wrapper .comments-no-content {
    clear: both;
    color: #A09F9D;
    font-size: 18px;
    padding: 25px;
    text-align: center;
    width: auto;
}

.comments .comment-form {
    margin-top: 10px;
    margin-bottom: 5px;
}

.comments .comment-wrapper .comment .comment-data {
  float: left;
  height: auto;
  line-height: normal;
  padding: 10px;
  width: auto;
  // border: 1px solid #EAEAEA;
}

.comments .comment-wrapper .comment .comment-data:hover{
	 box-shadow: 0 1px 2px #CCC;
	 background-color: #F8F8F8;
	 border: 1px solid #EFEFEF;
	 @extend .default-rd;
	 cursor: pointer;
}

.comments .comment-wrapper .comment .comment-data .comment-info-data {
  font-size: 0.9em;
  font-weight: bold;
  padding: 1px;
}

.comments .comment-wrapper .comment .comment-data .comment-info-data .date{
    margin-left: 10px;
}

.comments .comment-wrapper .comment .comment-data .comment-info-data .date a {
  color: black;
  text-decoration: none;
}

.comments .comment-wrapper .comment a {
  color: #070691;
  font-weight: 500;
}


/*
.comments .comment-wrapper .comment .comment-data .comment-date {
  padding: 1px;
  position: absolute;
  right: 2.5em;
  top: 1.2em;
} */

.comments .comment-wrapper .comment .comment-data .comment-date a {
  color: #A3A3A3;
  font-size: 10px;
}

.comments .comment-wrapper .comment .comment-data .comment-body
    {
    padding: 3px;
}

.comments .comment-wrapper .comment .comment-data .comment-body p {
  margin: 5px 0;
}