@import "_base_web";

/*
     tweetpoll detail answers
*/
 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
    @extend .web-generic-detail-answer-wrapper;
}

.web-tweetpoll-answer-answer > header {
  background-color: #8E8E8E;
  @extend .o-hidden;
}

.web-tweetpoll-answer-answer > header .answer-label {
  display: inline-block;
  @extend .col-left;
  padding-left: 30px;
  width: 260px;
}

.web-tweetpoll-answer-answer > header > div {
  background-color: #8E8E8E;
  box-shadow: 0 1px 0 0 #919191 inset;
  color: $black_medium;
  font-size: 1.2em;
  line-height: 20px;
  @extend .padding;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.web-tweetpoll-answer-answer > header .answer-votes {
  @extend .col-left;
  width: 89px;
}

.web-tweetpoll-answer-answer > header .answer-percent {
  @extend .col-right;
  padding-right: 15px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer {
  clear: both;
  font-size: 1.2em;
  @extend .o-auto;
  @extend .padding;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  width: auto;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  color: #4E4E4E;
  @extend .col-left;
  font-size: 1em;
  line-height: 20px;
  @extend .padding;
  width: 300px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > div {
    @include border-radius(10px);
    display: inline-block;
    @extend .col-left;
    height: 20px;
    margin-right: 10px;
    @extend .opacity-lite;
    width: 20px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
    @extend .col-left;
    line-height: 20px;
    max-width: 80px;
    padding: 10px;
    width: 80px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
    margin-left: 5px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:link,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:visited,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a {
    color: $_tp_link_color;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  @extend .col-right;
  line-height: 20px;
  max-width: 50px;
  @extend .padding;
  width: 50px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .web-tweetpoll-answers {
    @extend .padding;
}