/** poll vote **/

.web-poll-wrapper-vote {
   margin: 65px auto 0;
   @include border-radius(5px);
   @include box-shadow(rgba(0, 0, 0, 0.6) 0 0 2px);
   width: 50%;
}

.poll-vote-container label {
  color: #7E7E7E;
  font-size: 14px;
  font-weight: bold;
}

/** poll vote **/

.web-response-single-response {

   .span1 {
      width: 10px;
      padding: 5px;
   }

   .span5 {

      margin: 0;

        h4 {
          color: $black;
          margin-left: 10px;
          font-weight: 100;
        }
   }
}

