.web-rated-comments {

}

.web-rated-comments .web-rated-comments-items {
    padding: 10px;
}

.web-rated-comments .web-rated-comment-item {
    border-bottom: 1px solid #EFEFEF;
    min-width: 20px;
    clear: both;
    padding: 8px 8px 15px;
}

.web-rated-comments .web-rated-comment-item:last-child {
    border-bottom: none;
}

.web-rated-comments .web-rated-comment-item a {
  color: white;
  text-decoration : underline !important;
  font-weight: bold;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-picture {
    float: left;
    margin: 0px 10px 0px 2px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-detail {
  color: #FFFEFE;
  font-size: 12px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-detail .strong
    {
    font-weight: bold;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub {
    font-size: 11px;
    color: #444;
    padding: 6px 0 1px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub a {
    color: white;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub section>span
    {
    display: inline-block;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub .date
    {
    font-weight: bold;
}