@import "_base_web";

div.web-setup-wrapper {
    margin-top: 20px;
    border: 1px solid #EEEEEE;
    @extend .padding;
    font-size: 110%;
    @include box-shadow($black_light 1px 4px 3px 0px);
    background-color: $white;
}

div.web-setup-wrapper div.web-setup-header-into {
    background-color: #F1721F;
    border-bottom: 3px solid $black_light;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: bold;
    margin: 15px 5px 5px;
    padding: 20px;
    width: auto;
}

div.web-setup-wrapper div.web-setup-header-into div.web-setup-title {
    font-size: 18px;
    color: #FFF;
}

div.web-setup-wrapper div.web-setup-header-into div.web-header-description
    {
    color: $black;
    font-size: 13px;
}

.web-setup-wrapper a {
    color: #F1721F;
}

.web-setup-wrapper div.web-setup-content {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper div.setup-description h1 {
    font-weight: bold;
    color: #F1721F;
}

.web-setup-wrapper div.setup-description h1 span {

}

.web-setup-content .setup-form {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper .setup-form div.row {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 8px;
}

.web-setup-wrapper .setup-form div .label {
  color: #8B8B8B;
  @extend .col-left;
  font-size: 110%;
  font-weight: bold;
  line-height: 31px;
  min-width: 145px;
  text-align: left;
  width: 25%;
}

.web-setup-wrapper .setup-form div.row span {
    float: right;
    margin-right: 430px;
}

.web-setup-wrapper .setup-form div.row span.errors {
    padding: 2px;
    color: #E35757;
}

.web-setup-wrapper .setup-form div input[type="text"],.web-setup-wrapper .setup-form div input[type="password"] {
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    @extend .default-rd;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

.web-setup-wrapper .setup-form div.row .inputError {
    border: 1px solid #E35757;
    background-color: #F9E5E5;
}
