<html>
<body>
    <div style="padding:14px;margin-bottom:4px;background-color:#008eb9">
        <div style="font-size:16px;font-weidth:bold:padding:5px;">
            Encuestame Survey System
        </div>
    </div>
    <h2>Hi, ${user.username} </h2>
    <p>
    <div>Please confirm your encuestame account by clicking this link:</div>
    <a href="http://localhost:8080/encuestame/account/confirm/email/${user.username}/${inviteCode}">
        http://localhost:8080/encuestame/account/confirm/email/${user.username}/${inviteCode}
    </a><br/>
    <div>Once you have confirmed your account, you can access full access.</div><br/>

    <div>${app.url}</div><br/>

    <div>If you have received this message in error, please <a href="#">click here.</a></div><br/>

    <div style="font-size:10px;">
        footer message footer message footer message footer message footer message footer message footer message
        footer message footer message footer messagefooter message footer message footer message footer message
         footer message footer message footer message footer messagefooter message footer message
    </div>
    </p>
</body>
</html>