@import "_base_web";

body.public-body {
    margin: 0;
    padding: 0;
}

.enme-auto-center {
  margin: 0 auto;
  max-width: $layout_width;
}

div.web-setup-wrapper {
    margin-top: 20px;
    border: 1px solid #EEEEEE;
    padding: 10px;
    font-size: 110%;
    @include box-shadow($black_light 1px 4px 3px 0px);
    background-color: $white;
}

div.web-setup-wrapper div.web-setup-header-into {
    background-color: #F1721F;
    border-bottom: 3px solid $black_light;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: bold;
    margin: 15px 5px 5px;
    padding: 20px;
    width: auto;
}

div.web-setup-wrapper div.web-setup-header-into div.web-setup-title {
    font-size: 18px;
    color: #FFF;
}

div.web-setup-wrapper div.web-setup-header-into div.web-header-description
    {
    color: $black;
    font-size: 13px;
}

.web-setup-wrapper a {
    color: #F1721F;
}

.web-setup-wrapper div.web-setup-content {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper div.setup-description h1 {
    font-weight: bold;
    color: #F1721F;
}

.web-setup-wrapper div.setup-description h1 span {

}

.web-setup-content .setup-form {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper .setup-form div.row {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 8px;
}

.web-setup-wrapper .setup-form div .label {
  color: #8B8B8B;
  @extend .col-left;
  font-size: 110%;
  font-weight: bold;
  line-height: 31px;
  min-width: 145px;
  text-align: left;
  width: 25%;
}

.web-setup-wrapper .setup-form div.row span {
    float: right;
    margin-right: 430px;
}

.web-setup-wrapper .setup-form div.row span.errors {
    padding: 2px;
    color: #E35757;
}

.web-setup-wrapper .setup-form div input[type="text"],.web-setup-wrapper .setup-form div input[type="password"] {
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    @extend .default-rd;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

.web-setup-wrapper .setup-form div.row .inputError {
    border: 1px solid #E35757;
    background-color: #F9E5E5;
}


/** main public line **/

@media only screen and (max-width : 980px) {
    #web-main-public-line .web-item-wrapper {
        width: 100% !important;
    }

    #web-main-public-line .web-left-wrapper {
        width: 100% !important;
    }
}

#web-main-public-line {
    margin: 0 auto;
    position: relative;
    @extend .text-left;
    @extend .o-auto;
    background: $black_medium;
    @include background-image(linear-gradient($black_medium, $black_hight));

}

#web-main-public-line .categoryMenu {
    border-bottom: 1px solid #BBBBBB;
    background-color: #3A3A3A;
    background-image: -webkit-gradient(linear,0 0%,0 100%,from(#333),to(#3F3F3F));
    background-image: -webkit-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -moz-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -ms-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -o-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: linear-gradient(top,#333 0%,#3F3F3F 100%);
    @extend .o-hidden;
}

#web-main-public-line .categoryMenu span {
  display: inline-block;
  font-weight: normal !important;
  padding: 12px 15px;
}

#web-main-public-line .categoryMenu span:hover {
    background-color: white;
    color: #444;
    text-shadow: 0 !important;
    text-decoration: none !important;
}

#web-main-public-line .categoryMenu .nav-right {
    @extend .col-right;
}

#web-main-public-line .categoryMenu .nav-left {
    @extend .col-left;
}

#web-main-public-line .categoryMenu span > a {
    color: #AAA;
    font-size: 14px;
}

#web-main-public-line .categoryMenu span > a:hover {
    text-decoration: none !important;
    color: #444 !important;
    text-shadow: none !important;
}

#web-main-public-line .categoryMenu span > a:link, #web-main-public-line .categoryMenu span > a:visited {
  color: #787878;
  text-shadow: 0 -1px 0px #282828;
}

#web-main-public-line .categoryMenu a:hover {
    color: #AAA;
    text-decoration: none;
}

#web-main-public-line .web-item-wrapper {
    @extend .col-left;
    width: 660px;
}


/** poll detail **/
.web-poll-detail {
    margin: 30px;
}

/** survey status */
div.survey-status {
    @extend .col-left;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

div.survey-status .open {
    color: #3DC83C;
}

div.survey-status .close {
    color: #E75A5A;
}

div.countdown {
    color: #AEAAAA;
    @extend .col-left;
    font-size: 100%;
    font-weight: bold;
    margin: 0 0 0 10px;
    max-height: 16px;
    padding: 2px;
    text-align: center;
}

div.panel-bar {
    border: 1px solid gray;
}

div.panel-bar-item {

}

div.panel-bar-item .panel-bar-item-content {
    padding: 8px;
    background-color: #F1F1F1;
}

div.panel-bar-item div.panel-bar-item-title {
    background-color: #C9C9C9;
    color: $black;
    cursor: pointer;
    font-size: 160%;
    border: 1px solid #D7D7D7;
    font-weight: bold;
    padding: 8px;
}
/** poll **/
div.web-sub-menu {
    margin-top: 5px;
    margin-bottom: 5px;
}


div.web-list-tweet div.web-tweetpoll-list-item div.web-tweetpoll-favourite {
    margin: 3px 10px 3px 3px;
    @extend .col-left;
}

div.web-list-tweet div.web-tweetpoll-list-item div.title-wrapper {
    @extend .width-max;
    @extend .o-auto;
    padding: 5px;
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
        color-stop(100%, #e5e5e5) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */

    @include background-image(linear-gradient(color-stops($header_info_main_color  0%, $header_info_main_color_dark 100%)));
}

.web-list-tweet div.web-tweetpoll-list-item .web-tweetpoll-list-panel {
    @include box-shadow(gray 0 7px 5px -6px);
}

.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.web-tweetpoll-list-item-title {
    color: #8F8F8F;
    @extend .col-left;
    font-size: 14px;
    line-height: 25px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.listItemTweetSeleted {
    background-color: $white;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item  div.tweet-poll-item-panel {
    min-height: 30px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel {
    @extend .col-right;
    text-align: left;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel div.votesTitle
    {
    font-size: 120%;
    font-weight: bold;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel div.votesCount
    {
    font-size: 130%;
    color: #4A66B5;
    padding: 4px;
    font-weight: bold;
}


div.web-tweetpoll-wrapper div.tweetListContent div.tweetDetail {
    margin-left: 682px;
    background-color: #EAEAEA;
    min-height: 600px;
    padding: 8px;
    @include border-radius(0px 15px 15px 0px);
}



/** social accounts **/
div.socialAccountPicker {
    @extend .width-max;
    max-width: 600px;
    padding: 4px;
    max-height: 240px;
}

div.socialAccountPicker div.menu {
    padding: 5px;
    background: #D3D3D3;
    color: #2C2828;
    min-height: 15px;
    @include border-radius(5px 5px 0px 0px);
    font-size: 95%;
    text-align: right;
}

div.socialAccountPicker .pick {
    @extend .pointer;
}

div.socialAccountPicker .pick:hover {
    text-decoration: underline;
}

div.socialAccountPicker div.resume {
    padding: 5px;
    background: #D3D3D3;
    color: #2C2828;
    min-height: 15px;
    @include border-radius(0px 0px 5px 5px);
    font-size: 95%;
    @extend .right;
}

div.socialAccountPicker .list {
    background: none repeat scroll 0 0 #D5D5D5;
    max-height: 200px;
    min-height: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.socialAccountPicker div.account {
    margin: 1px;
    @extend .default-rd;
    background-color: #E6E6E6;
    color: #776E6E;
    font-size: 110%;
    border: 0.1em solid #D0CFCF;
    padding: 1px;
    min-width: 200px;
    cursor: pointer;
    @extend .o-auto;
}

div.socialAccountPicker div.selected {
    background-color: #2E2F25;
    color: white;
    font-weight: normal;
}

div.socialAccountPicker div.account:hover {
    background-color: #A3A7A7;
}

div.socialAccountPicker div.account div.image {
    @extend .col-left;
    margin-right: 5px;
    padding: 3px;
}

div.socialAccountPicker div.account div.detail {
    @extend .col-left;
    margin-top: 5px;
}

div.socialAccountPicker div.account div.icon {
    @extend .col-right;
    padding: 5px;
    margin-right: 10px;
}


/** Poll Page Detail **/
.web-poll-detail-wrapper {
    margin: 30px;
}


.stats-button {
    @extend .pointer;
    min-height: 80px;
    @extend .o-auto;
    padding: 10px 30px 10px 40px;
    @extend .home-main-colors;
}

.stats-button .web-graph-sts-btt-tlt {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

.stats-button .web-graph-sts-btt-val {
  font-size: 26px;
  font-weight: bold;
  padding-right: 5px;
  text-align: center;
}

.stats-button .web-graph-sts-btt-sub {
    font-size: 13px;
    padding-left: 40%;
}

.web-ht-button-wrapper .selected {
    background: white !important;
    color: $black_medium;
    @include box-shadow(#888 0 7px 5px -6px inset);

}

.stats-button:hover {
    background-color: #fff;
    color: $black_medium;
}
/** tweetpoll tags **/
.web-tags-tweetpolls {
    margin-top: 4px;
    width: 100%;
}

div.web-tweetpolls {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0F0E0E;
    padding: 5px 5px 5px 5px;
    margin: 4px;
}

/** profile update wrapper **/
div.accountUpdateWrapper {
    padding: 10px;
}

/** gadget **/
div.web-gadget {
    background-color: #F1F1F1;
    border: 1px solid #DEDEDE;
    margin: 10px 0px 10px 0px;
    min-height: 200px;
    min-width: 330px;
    width: 320px;
}

div.web-gadget .gad-title {
    padding: 2px;
    background-color: $black_light;
    cursor: move;
    color: #FFF;
    font-size: 120%;
}

div.web-gadget .gad-content {
    max-height: 200px;
    @extend .o-auto;
}

div.web-layout .empty-text {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 2px dashed #BBBBBB;
    color: #AAAAAA;
    font-size: 2em;
    min-height: 115px;
    padding: 2em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

div.web-layout ul.column {
    float: left;
    list-style-type: none;
    margin: 0 1% -1.5em;
    padding: 0;
    width: 330px;
    min-height: 286px;
    /* padding: 0 0 -1.2em 1%; */
}


div.web-dasboard-wrapper div.web-dash-menu {
    background-color: #A6A5A5;
    clear: both;
    margin-bottom: 5px;
    margin-top: 15px;
    @extend .o-auto;
    padding: 4px;
    width: 99%;
}

div.web-dash-list {
    @extend .col-left;
}

div.web-dash-actions {
    @extend .col-right;
    padding: 3px;
}

div.web-dash-actions .action {
    color: $white;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
}

div.web-directory {
    @extend .o-auto;
    padding: 5px;
}

div.web-directory-item {
    border-bottom: 1px dotted #D7D7D7;
    min-height: 38px;
    padding: 2px;
}

div.web-directory-item .web-directory-item-title {
    font-weight: bold;
}

div.web-directory-item .web-directory-item-description,div.web-directory-item .web-directory-item-description p
    {
    margin: 0px;
}

div.web-directory-item .web-directory-item-actions {
    @extend .right;
}

div.web-directory-item .web-directory-item-actions a {
    cursor: pointer;
}

div.web-dashboard-create {
    padding: 6px;
    width: 255px;
}

div.web-dashboard-create div.web-dashboard-create-row {
    padding: 2px;
}

div.web-dashboard-create div.web-dashboard-create-row label {
    display: inline-block;
    max-width: 62px;
    min-width: 60px;
}

div.web-dashboard-create div.web-dashboard-create-actions {
    padding: 4px;
    @extend .right;
}

/** settings **/




/** list of paterns **/
/*
 * - Single Response
 * - Options
 */

.pattern-options-label {
    padding: 2px;
}

.web-pattern .pattern-options-label input {

}

.web-pattern label.pattern-label {
    margin-left: 5px;
    font-size: 12px;
    font-stretch: ultra-expanded;
}


li.over {
    border: 2px dashed $black;
}

.me_opa {
    @include opacity(5)
}

.all_opa {
    @include opacity(1)
}

.single-response .single-response-handle {
    @extend .col-left;
    margin-right: 10px;
    margin-top: 7px;
}

.single-response .single-response-input {
    margin-left: 10px;
}

/** end list of paterns **/

/* folder selection */
div.folder-selection {
    padding: 0px;
}

div.folder-selection div.folder-selection-label {
    color: #848282;
    @extend .col-left;
    font-size: 120%;
    font-weight: normal;
    margin-right: 3px;
    margin-top: 2px;
}

div.folder-selection  div.folder-selection-combo {
    margin-left: 85px;
}

.section-botton-wrapper {
    margin-left: 50px;
    @extend .o-auto;
    padding: 5px;
}

.section-botton-wrapper a{
   text-decoration: none;
   font-weight: bold;
}

.section-botton-wrapper .sub-option {
    @extend .col-left;
    margin: 15px;
}

.section-option-wrapper {
    width: auto;
}

.section-option-wrapper .section-default {
    border-right: 1px solid #D6D6D6;
    @extend .col-left;
    margin: 16px;
    min-height: 130px;
    padding: 0;
    width: 250px;
}

.section-option-wrapper .section-default h2 {
    margin-bottom: 3px;
    font-size: 14px;
}

.section-option-wrapper .section-default .space {
    margin: 2px;
}

.section-option-wrapper .section-default .space-option {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.link-published-space {
    padding: 5px;
}

/** rated **/


/*** search page ***/
.search-items-wrapper {
    @extend .o-auto;
    padding: 5px;
    background-color: #FFF;
}

.search-items-wrapper h4{
    margin: 0;
}

.search-items-wrapper .no-results {
    color: #989898;
}

.search-items-wrapper > aside {
    margin-left: 65%;
}

.search-items-wrapper>aside .no-results {
    margin-left: 5px;
}

.search-items-wrapper header {
    border-bottom: 1px solid #F0EFF1;
    color: #D9D9D9;
    font-size: 14px;
    margin-right: 10px;
    padding-left: 5px;
}

.search-items-wrapper .search-items {
    @extend .col-left;
    min-height: 500px;
    width: 60%;
}

.search-items-wrapper .search-items .search-item {
    margin-left: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #EEE;
    margin-top: 10px;
}

.search-items-wrapper .search-items .search-item:last-child {
    border: 0;
}

.search-items-wrapper .search-items .search-item h3 {
    margin: 0;
}

.search-items-wrapper .search-items .search-item .post-title {
    font-size: 80%;
    color: rgb(187, 187, 187);
}

.search-items-wrapper .search-hashtag {
    @extend .o-auto;
}

.search-items-wrapper .search-hashtag>div {
    padding: 10px 0;
}

.search-items-wrapper .search-hashtag>div>section {
    float: left;
    padding: 6px 2px;
}

.search-items-wrapper .search-profiles {
    @extend .o-auto;
}
/*** search page end ***/




/** modalbox */

.modalBoxBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 2859px;
}

.modal-box{
    width: 420px;
    height: auto;
    z-index: 10000;
    word-wrap: break-word;
    @include box-shadow(rgba(0, 0, 0, 0.496094) 0px 0px 15px);
    @include border-radius(6px);
    background-color: white !important;
    position: absolute;
    display: block;
}

.modal-box-im{
    font-style: normal;
    padding-bottom: 55px;
}

.modal-box .wrapper{
    padding: 20px 20px 20px 20px;
     height: auto;
    min-height: 80px;
}

.modal-box .wrapper a{
    cursor: pointer;
    text-decoration: none;
}

.modal-box .msgbox-buttons {
    padding: 15px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#content-container #enme-content .web-generic-result div.votes {
  @extend .col-left;
  margin: 0 !important;
  padding: 8px;
  width: 100px !important;
}

.web-generic-result .percent {
  float: left;
  font-weight: bold;
  padding: 8px;
}
