/*** web-generic-result **/

.web-generic-result {
  font-size: 14px;
  overflow: auto;
  padding: 6px;
}

.web-generic-result .color {
  float: left;
  padding: 3px;
  text-align: center;
  width: 60px;
}

.web-generic-result .color span {
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  height: 20px;
  width: 30px;
}

.web-generic-result .label {
  float: left;
  padding: 8px;
  width: 225px;
}

.web-generic-result .votes{
    padding: 0;
}
