/** Menu **/
.menuWrapper {
  background-color: #222222;
  -moz-box-shadow: 0px 2px 2px #888;
  -webkit-box-shadow: 0px 2px 2px #888;
  box-shadow: 0px 0px 2px #888;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

@media only screen and (max-width : 980px) {

  .menuWrapper {
     border-radius: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;width: 100%;
     padding: 5px;
  }

  .menuWrapper div.rightSide {
      float: right;
      text-align: left;
      width: 25%;
  }

  .menuWrapper div.leftSide {
    float: left;
    height: 33px;
  }

  .menuWrapper .item a {
    float: left;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 14px;
  }

}

.menuWrapper > .clearfix {
    width: 100%;
    display: block;
}

.menuWrapper .item {
  display: inline-block;
  padding: 10px;
}

.menuWrapper .item:hover {
  background-color: white;
}

.menuWrapper .item:first-child {
    border-radius : 0 0 0 5px;
}

.menuWrapper .item:hover a{
      color: #888 !important;
}

.menuWrapper a:hover {

}

.menuWrapper .item a {
    float: left;
    text-decoration: none;
    color: white;
    font-weight: normal;
}

div ..menuWrapper .item a:hover,.menuWrapper .item .current {
    color: #444444;
    background-color: #E8E8E8;
    -moz-box-shadow: 0px 2px 2px #888;
    -webkit-box-shadow: 0px 2px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

#profile_menu {
    background-color: #AAAAAA;
    border: solid 1px #666666;
    width: 400px;
    padding: 10px;
    color: #FFFFFF;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    min-height: 160px;
    z-index: 500;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    right: 120px !important;
    top: 37px;
}

#profile_menu li {
    padding-bottom: 6px;
    text-align: right;
}

#detail_profile {
    padding-right: 10px;
    border-right: 1px #DEDEDE solid;
    height: 120px;
    width: 230px;
    float: left;
    line-height: 12px;
}

#options_profile {
    padding-left: 20px;
    height: 120px;
    width: 135px;
    float: left;
    line-height: 12px;
    text-align: right;
}

#profile_menu label {
    font-size: 11px;
    font-weight: normal;
}

#profile_menu input {
    font-size: 11px;
    color: #333333;
    margin-left: 10px;
}

#profile_menu button {
    line-height: 24px;
    float: right;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.menuWrapper div.leftSide {
  float: left;
  height: 33px;
}

/** menu right side */

.menuWrapper div.rightSide {
  float: right;
  text-align: left;
  width: 25%;
}

.menuWrapper div.rightSide div {
    float: left;
    position: relative;
}

.menuWrapper div.rightSide .web-notification {
  width: 15%;
}

.menuWrapper div.rightSide .web-profile {
  width: 80%;
  padding: 4px;
}

.menuWrapper div.rightSide .web-profile:hover{
  background-color: #444;
  color: #222;
}

.menuWrapper div.rightSide span:hover {
    background-color: white;
}