/** TweetPoll **/
#web-tweetpoll-wrapper {
  border: 1px solid #BCBCBC;
  border-radius: 3px 3px 3px 3px;  
  margin-top: 2em;
  background-color: #F0F0F0;
}

/** List TweetPoll **/
#web-tweetpoll-wrapper div.web-tweetpoll-menu {
  font-size: 100%;
  padding: 10px;
  text-align: right;
}

#web-tweetpoll-wrapper div.web-tweetpoll-menu  a {
    color: #FFF !important;
    cursor: pointer;
}
#web-tweetpoll-wrapper div.web-tweetpoll-menu  a:hover {
    text-decoration: none;
}

div.web-tweetpoll-wrapper {

}

div.web-tweetpoll-wrapper div.navigation {
    padding: 9px;
    margin-left: 185px;
    width: 477px;
    background-color: #EEEEEE;
    -webkit-border-radius: 0 15px 0px 0;
    -moz-border-radius: 0 15px 0px 0;
    border-radius: 0 15px 0px 0;
    margin-top: 10px;
    border-left: 2px solid #B3B3B3;
    min-height: 20px;
}

div.web-tweetpoll-wrapper div.tweetListContent {
  background-color: #F0F0F0;
  border-top: 1px solid #BEBCBC;
  margin-top: 0;
  overflow: hidden;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options
    {
    float: left;
    min-width: 185px;
    width: 185px;
    min-height: 400px;
    text-align: left;
    background-color: #F0F0F0;
    margin-right: 0px;
    -moz-box-shadow: -5px 0 5px -6px #000000 inset;
    -webkit-box-shadow: -5px 0 5px -6px #000000 inset;
    box-shadow: -5px 0 5px -6px #000000 inset;
}

div.tweetListContent div.web-tweetpoll-options div.web-tweetpoll-sidebar-panel
    {

}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem
    {
    clear: both;
    float: left;
    font-size: 12px;
    padding: 7px;
    width: 171px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItemSelected
    {
    background-color: #6F6F6F;
    color: #FFF;
    -moz-box-shadow: 0 1px 3px #888888 inset;
    -webkit-box-shadow: 0 1px 3px #888888 inset;
    box-shadow: 0 1px 3px #888888 inset;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem:hover
    {
    background-color: #6F6F6F;
    color: #FFF;
    cursor: pointer;
    -moz-box-shadow: 0 1px 3px #888888 inset;
    -webkit-box-shadow: 0 1px 3px #888888 inset;
    box-shadow: 0 1px 3px #888888 inset;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem span
    {
    padding-left: 10px;
    text-decoration: none;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem span:hover
    {
    color: #FFF !important;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options span:hover
    {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet {
    border-left: 1px solid #C2BEC2;
    margin-left: 185px;
    -moz-box-shadow: 10px -10px 8px 8px #000000;
    -webkit-box-shadow: 10px -10px 8px 8px #000000;
    box-shadow: 10px -10px 8px 8px #000000;
}

/** Filter Options **/

.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet .web-twettpoll-list-menu {
    padding: 5px;
    position: relative;
}

.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet .web-twettpoll-list-menu .web-list-filter-clean{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item {
    min-height: 35px;
    border-bottom: 1px solid #D2D2D2;
    background-color: white;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item .hashTags
    {
    color: #C4C4C4;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 2px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item .hashTags .tag
    {
    margin-right: 6px !important;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item:hover
    {
    cursor: pointer;
}