<div>
    <div id="answer-color-tp" class="answer-color">
        <div id="color-code-answer" class="color-code" style="background-color: ${color}"></div>
             <span class="answer-url">
                    <a href="${url}"
                        target="_blank"
                        data-dojo-attach-point="_url">
                        ${label}
                    </a>
             </span>
    </div>
    <div id="answer-votes-tp" class="answer-votes" data-dojo-attach-point="_votes"></div>
    <div id="answer-percent-tp" class="answer-percent" data-dojo-attach-point="_percent"></div>
</div>
