<div class="web-settings-account">
       <div>
            <h2>
                ${i18nMessage.settings_config_profile_title}
            </h2>
            <p>
                ${i18nMessage.settings_config_profile_description}
            </p>            
       </div>
       <div dojoType="dijit.form.Form" id="profileForm" class="formDefault" style="display=none;" dojoAttachPoint="_form">
           <div class="web-settings-account-row">
                <label for="email">
                    ${i18nMessage.settings_config_profile_email}
               </label>
               <div class="data">
                   <input type="text" name="email" id="email"
                            dojoType="dijit.form.ValidationTextBox"
                            required="true"
                            validateType="email"
                            regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                            invalidMessage="${i18nMessage.e_005}"
                            lowercase="true"
                            value="${email}"
                            maxLength="150" selectOnClick="true">
                       <p class="info-block">
                         ${i18nMessage.settings_config_profile_email_description}
                      </p>
               </div>
           </div>
           <div class="web-settings-account-row">
                <label for="username">
                      ${i18nMessage.settings_config_profile_username}
                </label>
               <div class="data">
                   <input type="text" name="username" id="username"
                            dojoType="dijit.form.ValidationTextBox"
                            required="true"
                            validateType="username"
                            maxLength="18"
                            value="${username}"
                            regExp="[\w]+" required="false" 
                            invalidMessage="Invalid username">
                    <p class="info-block">
                        ${i18nMessage.settings_config_profile_username_description} <a href="#">http://demo.encuestame.org/profile/username</a>
                    </p>
                </div>
            </div>
            <div class="web-settings-account-row">
                <label for="completeName">
                       ${i18nMessage.settings_config_profile_complete_name}
                </label>
                <div class="data">
                    <input type="text" name="completeName" id="completeName"
                            dojoType="dijit.form.ValidationTextBox"
                            required="false"
                            value="${complete_name}">
                 </div>
             </div>
             <div class="web-settings-account-row">
                <label for="completeName">
                      ${i18nMessage.settings_config_profile_language}
                </label>
                 <div class="data">
                     <select name="language" dojoType="dijit.form.Select" value="${language}">
                        <option value="ES_es">
                            Spanish
                        </option>
                        <option value="EN_en" selected="selected">
                            English
                        </option>
                      </select>
                 </div>
             </div>
             <div class="web-settings-account-row" style="">
                   <div class="settings-submit">
                        <button dojoType="dojox.form.BusyButton"
                                dojoAttachPoint="_submit" 
                                busyLabel="Sending data..." 
                                dojoAttachEvent="onClick:_updateProfile">
						    ${i18nMessage.commons_update}
						</button>
                   </div> 
              </div>
      </div>
</div>
