<div class="web-profile-menu">
     <div class="image" dojoAttachPoint="_image">
        <img alt="${username}" height="24" width="24"
             src="${contextDefaultPath}/picture/profile/${username}/thumbnail">
     </div>
    <div class="real-name" dojoAttachPoint="_name">${completeName}</div>
    <div class="profilePanel" dojoAttachPoint="_menu">
        <ul style="margin: 0px; padding: 0px;">
            <li>
                <a href="${contextDefaultPath}/settings/configuration">Configuration</a>
            </li>
            <li><a href="${contextDefaultPath}/settings/social">Social Accounts</a></li>
            <li><a href="${contextDefaultPath}/user/help">Help</a></li>
            <li>
              <a href="${contextDefaultPath}/user/logout">Log out</a>
            </li>
        </ul>
    </div>
</div>
