<div class="web-profile-menu" dojoAttachEvent="onclick:_open">
     <div class="image">
        <img alt="${username}" height="24" width="24"
             src="${contextPath}/picture/profile/${username}/thumbnail">
     </div>
    <div class="real-name">${completeName}</div>
    <div class="profilePanel" dojoAttachPoint="_profileBox">
        <ul style="margin: 0px; padding: 0px;">
            <li><a href="${contextPath}/settings/configuration">Configuration</a></li>
            <li><a href="${contextPath}/settings/social">Social Accounts</a></li>
            <li><a href="${contextPath}/user/help">Help</a></li>
            <li>
              <a href="${contextPath}/user/logout">Log out</a>
            </li>
        </ul>
    </div>
</div>
