<div class="pictureProfileNew">
     <h2>Select your Source Picture</h2>
     <div style="float: left; padding: 10px;">
           <div class="pictureWrapper" dojoAttachPoint="_pictureWrapper">

           </div>
     </div>
     <div style="margin-left: 120px;">
         <div>
             <form id="pictureSourceForm">
                 <input type="radio" name="pictureSource" id="gravatar_radio" dojoType="dijit.form.RadioButton" checked value="gravatar" />
                 <label for="radioOne">
                     Gravatar <a href="http://www.gravatar.com/" target="_blank">http://www.gravatar.com/</a>
                 </label>
                 <br />
                 <input type="radio" dojoType="dijit.form.RadioButton" name="pictureSource" id="uploaded_radio"
                 value="uploaded" />
                 <label for="radioTwo">
                     Uploaded Picture File
                 </label>
             </form>
         </div>
        <div>
        <form method="post" action="${contextPath}/file/upload/profile" enctype="multipart/form-data" id="imageForm">
            <div style="padding: 10px;">
                <div style="padding: 15px;" class="defaultDisplayHide"  dojoAttachPoint="_uploadedForm">
                    <div>
                        <input type="file" class="medium" id="file" name="file" style="width: 300px;">
                        <button  dojoAttachEvent="onclick:_uploadImage" type="button" >Go</button>
                        <p>Choose one file from your computer (10 MB máx.)</p>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>