<div class="web-settings-account">
       <div dojoType="dijit.form.Form" id="profileForm" class="formDefault" style="display=none;" dojoAttachPoint="_form">
           <div class="web-settings-account-row">
                <label for="email">
                    Email
               </label>
               <div class="data">
                   <input type="text" name="email" id="email"
                            dojoType="dijit.form.ValidationTextBox"
                            required="true"
                            validateType="email"
                            regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                            invalidMessage="Invalid email."
                            lowercase="true"
                            value=""
                            maxLength="150" selectOnClick="true">
                       <p class="info-block">
                         Your email, this email is always hidden and is only for notifications.
                      </p>
               </div>
           </div>
           <div class="web-settings-account-row">
                <label for="username">
                     Username
                </label>
               <div class="data">
                   <input type="text" name="username" id="username"
                            dojoType="dijit.form.ValidationTextBox"
                            required="true"
                            validateType="username"
                            maxLength="18"
                            value=""
                            regExp="[\w]+" required="false" invalidMessage="Invalid username">
                    <p class="info-block">
                        Your public site. <a href="#">http://demo.encuestame.org/profile/username</a>
                    </p>
                </div>
            </div>
            <div class="web-settings-account-row">
                <label for="completeName">
                       Complate Name
                </label>
                <div class="data">
                    <input type="text" name="completeName" id="completeName"
                            dojoType="dijit.form.ValidationTextBox"
                            required="false"
                            value="">
                 </div>
             </div>
             <div class="web-settings-account-row">
                <label for="completeName">
                      Select your language
                </label>
                 <div class="data">
                     <select name="language" dojoType="dijit.form.Select">
                        <option value="ES_es">
                            Spanish
                        </option>
                        <option value="EN_en" selected="selected">
                            English
                        </option>
                        </select>
                 </div>
             </div>
             <div class="web-settings-account-row" style="">
                    <button dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_updateProfile">Save</button>
              </div>
      </div>
</div>
