body.public-body {
    margin: 0;
    padding: 0;
}

.enme-auto-center {
  margin: 0 auto;
  max-width: 970px;
  position: relative;
}

div.web-setup-wrapper {
    margin-top: 20px;
    border: 1px solid #EEEEEE;
    padding: 10px;
    font-size: 110%;
    -moz-box-shadow: 1px 4px 3px 0px #888888;
    -webkit-box-shadow: 1px 4px 3px 0px #888888;
    box-shadow: 1px 4px 3px 0px #888888;
}

div.web-setup-wrapper div.web-setup-header-into {
    background-color: #F1721F;
    border-bottom: 3px solid #888888;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: bold;
    margin: 15px 5px 5px;
    padding: 20px;
    width: auto;
}

div.web-setup-wrapper div.web-setup-header-into div.web-setup-header {

}

div.web-setup-wrapper div.web-setup-header-into div.web-setup-title {
    font-size: 18px;
    color: #FFF;
}

div.web-setup-wrapper div.web-setup-header-into div.web-header-description
    {
    color: #000;
    font-size: 13px;
}

.web-setup-wrapper a {
    color: #F1721F;
}

.web-setup-wrapper div.web-setup-content {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper div.setup-description h1 {
    font-weight: bold;
    color: #F1721F;
}

.web-setup-wrapper div.setup-description h1 span {

}

.web-setup-content .setup-form {
    padding: 10px;
    width: auto;
}

.web-setup-wrapper .setup-form div.row {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 8px;
}

.web-setup-wrapper .setup-form div .label {
  color: #8B8B8B;
  float: left;
  font-size: 110%;
  font-weight: bold;
  line-height: 31px;
  min-width: 145px;
  text-align: left;
  width: 25%;
}

.web-setup-wrapper .setup-form div.row span {
    float: right;
    margin-right: 430px;
}

.web-setup-wrapper .setup-form div.row span.errors {
    padding: 2px;
    color: #E35757;
}

.web-setup-wrapper .setup-form div input[type="text"],.web-setup-wrapper .setup-form div input[type="password"]
    {
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

.web-setup-wrapper .setup-form div.row .inputError {
    border: 1px solid #E35757;
    background-color: #F9E5E5;
}

#web-main-public-line {
    margin: 0 auto;
    position: relative;
    text-align: left;
    overflow: auto;
}

#web-main-public-line .categoryMenu {
    background-color: #585858;
    overflow: auto;
    padding: 10px;
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444),
        color-stop(100%, #222) );
    background: -webkit-linear-gradient(#444, #222);
    background: -moz-linear-gradient(#444, #222);
    background: -o-linear-gradient(#444, #222);
    background: linear-gradient(#444, #222);   
  	text-shadow: 0.1em 0.1em #333333;
}

#web-main-public-line .categoryMenu a {
    color: #FFFFFF;
    font-size: 90%;
}

#web-main-public-line .categoryMenu a:link {
    color: #FFFFFF;
}

#web-main-public-line .categoryMenu a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#web-main-public-line .web-item-wrapper {
    float: left;
    width: 660px;
}


/** poll detail **/
.web-poll-detail {
    margin: 30px;
}

/** survey status */
div.survey-status {
    float: left;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

div.survey-status .open {
    color: #3DC83C;
}

div.survey-status .close {
    color: #E75A5A;
}

div.countdown {
    color: #AEAAAA;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin: 0 0 0 10px;
    max-height: 16px;
    padding: 2px;
    text-align: center;
}

div.panel-bar {
    border: 1px solid gray;
}

div.panel-bar-item {

}

div.panel-bar-item .panel-bar-item-content {
    padding: 8px;
    background-color: #F1F1F1;
}

div.panel-bar-item div.panel-bar-item-title {
    background-color: #C9C9C9;
    color: #000000;
    cursor: pointer;
    font-size: 160%;
    border: 1px solid #D7D7D7;
    font-weight: bold;
    padding: 8px;
}
/** poll **/
div.web-sub-menu {
    margin-top: 5px;
    margin-bottom: 5px;
}









div.web-list-tweet div.web-tweetpoll-list-item div.web-tweetpoll-favourite
    {
    margin: 3px 10px 3px 3px;
    float: left;
}

div.web-list-tweet div.web-tweetpoll-list-item div.title-wrapper {
    width: 100%;
    overflow: auto;
    padding: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
        color-stop(100%, #e5e5e5) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
        '#ffffff', endColorstr = '#e5e5e5', GradientType = 0 ); /* IE6-9 */
}

.web-list-tweet div.web-tweetpoll-list-item .web-tweetpoll-list-panel {
    -moz-box-shadow: inset 0 7px 5px -6px gray;
    -webkit-box-shadow: inset 0 7px 5px -6px gray;
    box-shadow: inset 0 7px 5px -6px gray;
}

.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.web-tweetpoll-list-item-title
    {
    color: #8F8F8F;
    float: left;
    font-size: 14px;
    line-height: 25px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.listItemTweetSeleted
    {
    background-color: #FFF;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item  div.tweet-poll-item-panel
    {
    min-height: 30px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel
    {
    float: right;
    text-align: left;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel div.votesTitle
    {
    font-size: 120%;
    font-weight: bold;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel div.votesCount
    {
    font-size: 130%;
    color: #4A66B5;
    padding: 4px;
    font-weight: bold;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item div.rightPanel div.rating
    {

}

div.web-tweetpoll-wrapper div.tweetListContent div.tweetDetail {
    margin-left: 682px;
    background-color: #EAEAEA;
    min-height: 600px;
    padding: 8px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
}



/** social accounts **/
div.socialAccountPicker {
    width: 100%;
    max-width: 600px;
    padding: 4px;
    max-height: 240px;
}

div.socialAccountPicker div.menu {
    padding: 5px;
    background: #D3D3D3;
    color: #2C2828;
    min-height: 15px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    font-size: 95%;
    text-align: right;
}

div.socialAccountPicker .pick {
    cursor: pointer;
}

div.socialAccountPicker .pick:hover {
    text-decoration: underline;
}

div.socialAccountPicker div.resume {
    padding: 5px;
    background: #D3D3D3;
    color: #2C2828;
    min-height: 15px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    font-size: 95%;
    text-align: right;
}

div.socialAccountPicker .list {
    background: none repeat scroll 0 0 #D5D5D5;
    max-height: 200px;
    min-height: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.socialAccountPicker div.account {
    margin: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #E6E6E6;
    color: #776E6E;
    font-size: 110%;
    border: 0.1em solid #D0CFCF;
    padding: 1px;
    min-width: 200px;
    cursor: pointer;
    overflow: auto;
}

div.socialAccountPicker div.selected {
    background-color: #2E2F25;
    color: white;
    font-weight: normal;
}

div.socialAccountPicker div.account:hover {
    background-color: #A3A7A7;
}

div.socialAccountPicker div.account div.image {
    float: left;
    margin-right: 5px;
    padding: 3px;
}

div.socialAccountPicker div.account div.detail {
    float: left;
    margin-top: 5px;
}

div.socialAccountPicker div.account div.icon {
    float: right;
    padding: 5px;
}

/** notifilication list **/
div.web-notification-list {

}

div.web-notification-list list {

}

div.web-notification-list div.web-notification-list-item {
    clear: both;
    padding: 9px;
    font-size: 100%;
    text-align: left;
    border-bottom: 1px solid #E9E9E9;
}

div.web-notification-list div.web-notification-list-item span {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 100%;
}

div.web-notification-list div.web-notification-list-item .icon {
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

div.web-notification-list div.web-notification-list-item .title {
    font-weight: bold;
    padding: 4px;
    min-width: 265px;
    max-width: 265px;
    display: inline-block;
}

div.web-notification-list div.web-notification-list-item .description {
    padding: 4px;
    min-width: 405px;
    display: inline-block;
    max-width: 405px;
}

div.web-notification-list div.web-notification-list-item .date {
    padding-left: 10px;
    color: gray;
    padding: 4px;
    display: inline-block;
}

/** Poll Page Detail **/
.web-poll-detail-wrapper {
    margin: 30px;
}



.stats-button {
    cursor: pointer;
    min-height: 80px;
    overflow: auto;
    padding: 10px 30px 10px 40px;
    background-color: #444;
}

.stats-button .web-graph-sts-btt-tlt {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

.stats-button .web-graph-sts-btt-val {
  font-size: 26px;
  font-weight: bold;
  padding-right: 5px;
  text-align: center;
}

.stats-button .web-graph-sts-btt-sub {
    font-size: 13px;
    padding-left: 40%;
}

.web-ht-button-wrapper .selected {
    background-color: #fff;
    color: #444444;
    -moz-box-shadow: inset 0 7px 5px -6px gray;
    -webkit-box-shadow: inset 0 7px 5px -6px gray;
    box-shadow: inset 0 7px 5px -6px gray;
}

.stats-button:hover {
    background-color: #fff;
    color: #444444;
}
/** tweetpoll tags **/
.web-tags-tweetpolls {
    margin-top: 4px;
    width: 100%;
}

div.web-tweetpolls {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0F0E0E;
    padding: 5px 5px 5px 5px;
    margin: 4px;
}

div.web-tweetpolls-time {

}

/*** Profile Menu **/

/** profile menu **/
div.profilePanel {
    display: none;
    position: absolute;
    min-height: 120px;
    min-width: 245px;
    background-color: #444444;
    right: 0px;
    top: 33px;
    zoom: 1;
    -moz-box-shadow: 1px 2px 3px #888888;
    -webkit-box-shadow: 1px 2px 3px #888888;
    box-shadow: 1px 2px 3px #888888;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    z-index: 99999;
}

div.profileOpenPanel {
    display: block;
}

div.profilePanel ul {
    max-height: 350px;
    overflow: hidden;
}

div.profilePanel li {
    background-image: none;
    clear: both;
    display: block;
    width: 215px;
    float: left;
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 6px 15px;
}

div.profilePanel li:hover {
    background-color: #5F5F5F;
}

div.profilePanel li a:link {
    color: #BABABA !important;
    font-weight: normal;   
}

div.profilePanel li a:hover {
    color: white !important;
    text-decoration: none;
}

div.profilePanel li a {
    padding: 10px;
    color: #BABABA !important;
    font-weight: normal;
}

/** profile update wrapper **/
div.accountUpdateWrapper {
    padding: 10px;
}









/** gadget **/
div.web-gadget {
    background-color: #F1F1F1;
    border: 1px solid #DEDEDE;
    margin: 10px 0px 10px 0px;
    min-height: 200px;
    min-width: 330px;
    width: 320px;
}

div.web-gadget .gad-title {
    padding: 2px;
    background-color: #888888;
    cursor: move;
    color: #FFF;
    font-size: 120%;
}

div.web-gadget .gad-content {
    max-height: 200px;
    overflow: auto;
}

div.web-layout {

}

div.web-layout .empty-text {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 2px dashed #BBBBBB;
    color: #AAAAAA;
    font-size: 2em;
    min-height: 115px;
    padding: 2em;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

div.web-layout .aaa {

}

div.web-layout ul.column {
    float: left;
    list-style-type: none;
    margin: 0 1% -1.5em;
    padding: 0;
    width: 330px;
    min-height: 286px;
    /* padding: 0 0 -1.2em 1%; */
}

div.aaa {

}

div.web-layout .aaa .aaa-a1 {

}

div.web-layout .aaa .aaa-a2 {

}

div.web-layout .aaa .aaa-a3 {

}

div.web-dasboard-wrapper {

}

div.web-dasboard-wrapper div.web-dash-menu {
    background-color: #A6A5A5;
    clear: both;
    margin-bottom: 5px;
    margin-top: 15px;
    overflow: auto;
    padding: 4px;
    width: 99%;
}

div.web-dash-list {
    float: left;
}

div.web-dash-actions {
    float: right;
    padding: 3px;
}

div.web-dash-actions .action {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
}

div.web-directory {
    overflow: auto;
    padding: 5px;
}

div.web-directory-item {
    border-bottom: 1px dotted #D7D7D7;
    min-height: 38px;
    padding: 2px;
}

div.web-directory-item .web-directory-item-title {
    font-weight: bold;
}

div.web-directory-item .web-directory-item-description,div.web-directory-item .web-directory-item-description p
    {
    margin: 0px;
}

div.web-directory-item .web-directory-item-actions {
    text-align: right;
}

div.web-directory-item .web-directory-item-actions a {
    cursor: pointer;
}

div.web-dashboard-create {
    padding: 6px;
    width: 255px;
}

div.web-dashboard-create div.web-dashboard-create-row {
    padding: 2px;
}

div.web-dashboard-create div.web-dashboard-create-row label {
    display: inline-block;
    max-width: 62px;
    min-width: 60px;
}

div.web-dashboard-create div.web-dashboard-create-actions {
    padding: 4px;
    text-align: right;
}

/** settings **/




/** list of paterns **/
/*
 * - Single Response
 * - Options
 */
.web-pattern {

}

.pattern-options-label {
    padding: 2px;
}

.web-pattern .pattern-options-label input {

}

.web-pattern label.pattern-label {
    margin-left: 5px;
    font-size: 12px;
    font-stretch: ultra-expanded;
}

.single-response {

}

.single-response .single-response-handle {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}

.single-response .single-response-input {
    margin-left: 10px;
}

/** end list of paterns **/

/* folder selection */
div.folder-selection {
    padding: 0px;
}

div.folder-selection div.folder-selection-label {
    color: #848282;
    float: left;
    font-size: 120%;
    font-weight: normal;
    margin-right: 3px;
    margin-top: 2px;
}

div.folder-selection  div.folder-selection-combo {
    margin-left: 85px;
}

.section-botton-wrapper {
    margin-left: 50px;
    overflow: auto;
    padding: 5px;
}

.section-botton-wrapper a{
   text-decoration: none;   
   font-weight: bold;
}

.section-botton-wrapper .sub-option {
    float: left;
    margin: 15px;
}

.section-option-wrapper {
    width: auto;
}

.section-option-wrapper .section-default {
    border-right: 1px solid #D6D6D6;
    float: left;
    margin: 16px;
    min-height: 130px;
    padding: 0;
    width: 250px;
}

.section-option-wrapper .section-default h2 {
    margin-bottom: 3px;
    font-size: 14px;
}

.section-option-wrapper .section-default .space {
    margin: 2px;
}

.section-option-wrapper .section-default .space-option {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.link-published-space {
    padding: 5px;
}



/** rated **/



/** web-stats **/
.web-stats {
    padding: 3px;
    margin: 0 10px;
}

.web-stats table {

}

.web-stats table tr {
    line-height: 20px;
}

.web-stats table td {
    padding: 2px;
}

.web-stats table tr td:first-child {
    font-weight: bold;
    padding-right: 20px;
}

/** .web-rated-position */
.web-rated-position {
    margin: 0;
    padding: 0;
}
.web-rated-position div.position-row {
  color: #CBCAC9;
  padding: 5px;
  width: auto;
}

.web-rated-position div.highlight {
  border-radius: 4px 4px 4px 4px;
  color: #333333 !important;
  margin: 0;
  text-shadow: 1px 1px 1px #CACCCF;
}

.web-rated-position div.highlight span.position {
    color: #787878;
}

.web-rated-position span {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.web-rated-position .position-row .position-label {
  float: left;
  margin-top: 1px;
  max-width: 125px;
  min-width: 125px;
  padding-left: 5px;
  text-align: left;
}

.web-rated-position .position-row .position-label a:link, 
.web-rated-position .position-row .position-label a,
.web-rated-position .position-row .position-label a:active,
.web-rated-position .position-row .position-label a:visited {
	color: #CBCAC9;
	text-decoration: none;
}

.web-rated-position span.position {
    color: #DEDEDE;
    font-size: 11px;
    width: 50px;
}
.web-rated-position span.graph {
    padding-left: 15px;
    text-align: center;
}
.web-rated-position .web-position-number {
    color: #999999;
    text-align: center;
}
.web-position-down {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-up {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-equal {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/** tweetpoll vote options **/
.web-tweetpoll-vote-options {
    margin: 0 auto;
    padding-top: 60px;
    width: 1000px;
}

.web-tweetpoll-vote-options h1 {
  color: #565656;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
}

.web-tweetpoll-vote-options h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.web-tweetpoll-vote-options h3 b{
    color: #565656;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
}

.web-tweetpoll-vote-options .web-permatlink {
  background-color: #ADE195;
  border: 1px solid #E3E3E3;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 6px rgba(72, 72, 72, 0.46);
  color: white;
  margin: 0 auto;
  min-height: 180px;
  padding: 20px;
  width: 50%;
}

.web-tweetpoll-vote-options .yellow{
    background-color: #EEE78B;
}

.web-tweetpoll-vote-options .red{
    background-color: #F58165;
}

.web-tweetpoll-vote-options .gradient-red h1 {
    color: #FFF;
    margin: 55px;
}

.web-tweetpoll-vote-options .web-permatlink .captcha {
    margin: 2px;
}

.web-tweetpoll-vote-options .web-permatlink .captcha .recaptcha {
    margin-bottom: 10px;
    margin-left: 10px;
}

.web-tweetpoll-vote-options .web-tweetpoll-info {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25%;
    text-align: right;
}

.web-tweetpoll-vote-options .web-tweetpoll-info a {
    color: #444444;
}

/*** search page ***/
.search-items-wrapper {
    overflow: auto;
    padding: 5px;
}

.search-items-wrapper .no-results {
    color: #989898;
}

.search-items-wrapper>aside {
    margin-left: 80%;
}

.search-items-wrapper>aside .no-results {
    margin-left: 5px;
}

.search-items-wrapper header {
    border-bottom: 1px solid #F0EFF1;
    color: #D9D9D9;
    font-size: 14px;
    margin-right: 10px;
    padding-left: 5px;
}

.search-items-wrapper .search-items {
    float: left;
    min-height: 500px;
    width: 80%;
}

.search-items-wrapper .search-items .search-item {
    margin-left: 5px;
}

.search-items-wrapper .search-hashtag {
    overflow: auto;
}

.search-items-wrapper .search-hashtag>div {
    padding: 10px 0;
}

.search-items-wrapper .search-hashtag>div>section {
    float: left;
    padding: 6px 2px;
}

.search-items-wrapper .search-profiles {
    overflow: auto;
}
/*** search page end ***/




/** modalbox */

.modalBoxBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 2859px;
}

.modal-box{
    width: 420px;
    height: auto;
    z-index: 10000;
    word-wrap: break-word;
    -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 15px;
    border-radius: 6px;
    background-color: white !important;
    position: absolute;
    display: block;
}

.modal-box-im{
    font-style: normal;
    padding-bottom: 55px;
}

.modal-box .wrapper{
    padding: 20px 20px 20px 20px;
     height: auto;
    min-height: 80px;
}

.modal-box .wrapper a{
    cursor: pointer;
    text-decoration: none;
}

.modal-box .msgbox-buttons {
    padding: 15px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

#content-container #enme-content .web-generic-result div.votes {
  float: left;
  margin: 0 !important;
  padding: 8px;
  width: 100px !important;
}

.web-generic-result .percent {
  float: left;
  font-weight: bold;
  padding: 8px;
}