/* line 3, ../../../sass/web/components/admon-list-rows.scss */
.web-list-tweet { width: 768px; }

/* line 7, ../../../sass/web/components/admon-list-rows.scss */
.web-list-rows .selected-row { background-color: #F8F8F8; border: 1px solid #EEEEEE; width: 101%; }

/* line 13, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row { border-bottom: 1px dotted #E3E3E3; cursor: pointer; min-height: 25px; overflow: auto; padding: 7px; background-color: white; }

/* line 22, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section { float: left; min-width: 30px; padding: 2px; margin-left: 5px; margin-right: 5px; }

/* line 30, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .nav-menu:hover { opacity: 1; }

/* line 34, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .nav-menu { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; opacity: 0; padding: 2px 0 0; }

/* line 43, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .nav-menu > a { color: #747474; font-weight: normal; }

/* line 48, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-input { padding: 0 0 8px 6px; }

/* line 52, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-title { width: 500px; max-width: 500px; }

/* line 57, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-title > div { clear: both; color: #222; position: relative; }

/* line 63, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-votes { width: 60px; }

/* line 68, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-votes .web-item-row-section-votes-number { font-size: 14px; font-weight: bold; text-align: center; }

/* line 75, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-votes .web-item-row-section-votes-title { color: #989898; text-align: center; }

/* line 80, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-date { color: #989898; font-size: 10px; margin-top: 5px; text-align: right; width: 80px; }

/* line 92, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-item-row-section-title h3 { margin: 0; font-size: 14px; font-weight: normal; }

/* line 98, ../../../sass/web/components/admon-list-rows.scss */
.web-item-row .web-list-more .titleNext { color: #275296; font-size: 110%; font-weight: bold; }
