/** poll */
.web-poll-wrapper {
  padding: 35px 0;
  width: auto;
}

.web-poll-wrapper .web-poll-question .web-question .dijitTextBox {
  font-size: 130%;
  padding: 3px;
  width: 610px;
}

/* input:focus, textarea:focus { */
/*   border-color: rgba(82, 168, 236, 0.8); */
/*   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); */
/*   outline: 0 none; */
/* } */
.web-poll-wrapper .web-poll-question .web-question {
  width: 100px;
}

.web-poll-wrapper .web-poll-question-folder {
  left: 0;
  margin-right: 35px;
  position: relative;
}

.web-poll-wrapper ul.web-poll-answers li {
  list-style: none;
  padding: 5px;
}

.web-poll-question .web-poll-section .space {
  padding: 20px 10px;
}

.web-poll-wrapper .web-poll-question .web-question .dijitInputField {
  padding: 0px;
}

.web-poll-wrapper .web-poll-question .web-question .dijitInputField > input, .web-poll-answers .dijitInputField > input {
  font-size: 12px;
  padding: 5px;
}

.web-poll-wrapper .dijitPlaceHolder {
  font-size: 12px;
  line-height: 20px;
}

.web-poll-question .web-poll-section .section-option-wrapper .section-default > div {
  padding: 5px;
}

.web-poll-question .web-poll-section .section-option-wrapper .dijitSpinner .dijitSpinnerButtonInner {
  width: 13px;
}

.web-poll-question .web-poll-section .section-option-wrapper .section-default .dijitTextBox, .web-poll-wrapper .web-poll-question .web-question .dijitTextBox {
  border-radius: 0px !important;
}

.dijitValidationContainer > input {
  width: 15px;
}

.repeated-votes .section, .date-to-close .section {
  padding: 5px 0;
  margin-top: 1px;
}

.botton-button-publish {
  margin-top: 5px;
}
