
/** web-stats **/
.web-stats {
    padding: 3px;
    margin: 0 10px;
}

/** .web-rated-position */
.web-rated-position {
    margin: 0;
    padding: 0;
}
.web-rated-position .position-row {
  color: #CBCAC9;
  padding: 5px;
  width: auto;
}

.web-rated-position .highlight {
  color: #333333 !important;
  margin: 0;
}

.web-rated-position .highlight .position {
    color: #787878;
}

.web-rated-position span {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.web-rated-position .position-row .position-label {
  float: left;
  margin-top: 1px;
  width: 100px;
  padding-left: 5px;
  text-align: left;
}

.web-rated-position .position-row .position-label a:link,
.web-rated-position .position-row .position-label a,
.web-rated-position .position-row .position-label a:active,
.web-rated-position .position-row .position-label a:visited {
    color: #CBCAC9;
    text-decoration: none;
}

.web-rated-position .position {
    color: #DEDEDE;
    width: 50px;
}
.web-rated-position .graph {
    text-align: center;
}
.web-rated-position .web-position-number {
    color: #999999;
    text-align: center;
}
.web-position-down {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-up {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-equal {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
