<div class="web-chart-wrapper-default">
    <div data-dojo-attach-point="_chart" class="web-chart" id="${id}_chart"></div>
    <div class="onLive defaultDisplayHide" data-dojo-attach-point="_live"></div>
    <section class="web-buttdon-wrapper">
        <button class="btn" data-dojo-attach-event="onclick:_getPieChart">
            <img src="${__contextPath}/resources/images/icons/enme_pie.png" width="20" height="20">
        </button>
        <button class="btn"  data-dojo-attach-event="onclick:_getLineChart">
            <img src="${__contextPath}/resources/images/icons/enme_bar.png">
        </button>
        <button class="btn"  data-dojo-attach-point="_embebed">
            <img src="${__contextPath}/resources/images/icons/enme-share.png">
        </button>
        <div data-dojo-attach-point="_embebed_options_dialog"
             data-dojo-type="dijit/Dialog"
             data-dojo-props="title:'Embedded Settings'"
             style="display:none;width:500px;"
             draggable="false">
            <div class="dijitDialogPaneContentArea">
                <div itemId="${pollId}" data-dojo-attach-point="_embebed_options"
                     itemType="pollresult" print_height="420" data-dojo-type="me/web/widget/options/EmbebedOptions" preview="true">
                </div>
            </div>
            <div class="dijitDialogPaneActionBar">
                <button class="btn btn-info" data-dojo-attach-event="onClick:_closeEmbebedDialog">
                    Close
                </button>
            </div>
        </div>
    </section>
</div>