/* line 141, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 145, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 152, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
[class*="ym-push-"],
[class*="ym-pull-"] {
  position: relative;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-1 {
  width: 60px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-2 {
  width: 120px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-3 {
  width: 180px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-4 {
  width: 240px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-5 {
  width: 300px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-6 {
  width: 360px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-7 {
  width: 420px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-8 {
  width: 480px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-9 {
  width: 540px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-10 {
  width: 600px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-11 {
  width: 660px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-12 {
  width: 720px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-13 {
  width: 780px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-14 {
  width: 840px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-15 {
  width: 900px;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-grid-16 {
  width: 960px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-1 {
  left: 60px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-2 {
  left: 120px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-3 {
  left: 180px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-4 {
  left: 240px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-5 {
  left: 300px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-6 {
  left: 360px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-7 {
  left: 420px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-8 {
  left: 480px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-9 {
  left: 540px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-10 {
  left: 600px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-11 {
  left: 660px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-12 {
  left: 720px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-13 {
  left: 780px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-14 {
  left: 840px;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-15 {
  left: 900px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-1 {
  left: -60px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-2 {
  left: -120px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-3 {
  left: -180px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-4 {
  left: -240px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-5 {
  left: -300px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-6 {
  left: -360px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-7 {
  left: -420px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-8 {
  left: -480px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-9 {
  left: -540px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-10 {
  left: -600px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-11 {
  left: -660px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-12 {
  left: -720px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-13 {
  left: -780px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-14 {
  left: -840px;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-15 {
  left: -900px;
}
