/* line 141, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 145, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-gbox {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 10px;
}

/* line 152, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
[class*="ym-push-"],
[class*="ym-pull-"] {
  position: relative;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-1 {
  width: 8.33333%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-2 {
  width: 16.66667%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-3 {
  width: 25%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-4 {
  width: 33.33333%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-5 {
  width: 41.66667%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-6 {
  width: 50%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-7 {
  width: 58.33333%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-8 {
  width: 66.66667%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-9 {
  width: 75%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-10 {
  width: 83.33333%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-11 {
  width: 91.66667%;
}

/* line 155, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-span-12 {
  width: 100%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-1 {
  left: 8.33333%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-2 {
  left: 16.66667%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-3 {
  left: 25%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-4 {
  left: 33.33333%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-5 {
  left: 41.66667%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-6 {
  left: 50%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-7 {
  left: 58.33333%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-8 {
  left: 66.66667%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-9 {
  left: 75%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-10 {
  left: 83.33333%;
}

/* line 159, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-push-11 {
  left: 91.66667%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-1 {
  left: -8.33333%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-2 {
  left: -16.66667%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-3 {
  left: -25%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-4 {
  left: -33.33333%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-5 {
  left: -41.66667%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-6 {
  left: -50%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-7 {
  left: -58.33333%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-8 {
  left: -66.66667%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-9 {
  left: -75%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-10 {
  left: -83.33333%;
}

/* line 163, ../../../../../../css/resource/sass/yaml/mixins/_yaml_mixins_core.scss */
.ym-pull-11 {
  left: -91.66667%;
}
