/** clod **/
.web-cloud {
  clear: both;
  margin: 45px 0 auto;
  max-width: 100%; }

.web-cloud > h1 {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 4px;
  margin-bottom: 5px;
  background-color: #3E6D8E;
  color: #FFF;
  padding: 5px; }

.web-cloud .cloudItems {
  overflow: auto;
  padding: 10px; }

.web-cloud .cloudItems > a.tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #808080;
  display: inline-block;
  margin: 5px 0;
  padding: 4px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); }

.web-cloud .cloudItem {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 2px; }
