/** drop down menu **/
div.drop-down-menu-select-title {
  background: none repeat scroll 0 0 #6c6d6f;
  border-radius: 13px 13px 13px 13px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 15px 2px;
  text-shadow: 0 1px 1px #002537;
  cursor: pointer; }

div.drop-down-menu-select-title:hover .sub-menu {
  display: inline-block;
  position: absolute; }

div.drop-down-menu-select-title .sub-menu {
  background: none repeat scroll 0 0 white;
  border: 1px solid #c4c4c4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: none;
  margin-left: -15px;
  margin-top: 0;
  text-shadow: none;
  -moz-border-radious: 3px 3px 3px 3px;
  -webkit-border-radious: 3px 3px 3px 3px;
  border-radious: 3px 3px 3px 3px; }

div.drop-down-menu-select-title .sub-menu li {
  display: block;
  height: 22px;
  list-style-type: none;
  padding: 5px 0px 0px 10px;
  width: 110px;
  font-size: 90%; }

div.drop-down-menu-select-title .sub-menu li img {
  margin-right: .5em; }

div.drop-down-menu-select-title .sub-menu li:hover {
  background-color: #8C8C8C; }

div.drop-down-menu-select-title .sub-menu li:hover a {
  color: white !important;
  text-decoration: none; }
