/* line 17, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/** HASHTAGS */
/* line 4, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper {
  margin: 0;
  overflow: auto; }

/* line 9, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtagName {
  float: left;
  color: #000;
  font-size: 150%; }

/* line 15, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtagName h2 {
  color: white;
  margin: 0 10px;
  width: 500px; }

/* line 21, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-rated-profile-item .web-rated-profile-item-detail a {
  color: #888; }

/* line 25, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-detail .emne-box {
  background-color: white !important; }

/* line 29, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtag-options {
  float: right;
  margin-right: 15px; }

/* line 34, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-detail-wrapper {
  width: 75%;
  float: left; }

/* line 39, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-wrapper-top {
  border: 0 none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-left: 75%;
  overflow: hidden; }

/* line 46, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-wrapper-mainline {
  float: left;
  width: 650px;
  max-width: 655px; }

/* line 52, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper {
  border-radius: 5px 0 0 5px;
  overflow: auto; }

/* line 57, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper .web-ht-graph {
  float: left;
  height: 308px;
  margin-left: 10px;
  max-height: 308px;
  overflow: hidden;
  width: 650px; }

/* line 66, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper .web-ht-button-wrapper {
  float: right;
  width: 243px; }

/* line 71, ../../../sass/web/components/hashtag.scss */
.web-ht-button-wrapper .web-ht-button-item {
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  min-height: 55px;
  color: #676767; }
