/* line 17, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 3, ../../../sass/web/components/poll-admon.scss */
#web-poll-wrapper {
  border: 1px solid #D7D7D7;
  min-height: 500px;
  overflow: hidden;
  margin-top: 20px;
  width: 990px;
  background-color: white; }

/**
 * expand zone of detail of list POLL
 **/
/* line 15, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-item-detail {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  min-height: 340px;
  padding: 10px;
  overflow: auto;
  background-color: white;
  -webkit-box-shadow: #e0e0e0 0px 0px 4px;
  -moz-box-shadow: #e0e0e0 0px 0px 4px;
  box-shadow: #e0e0e0 0px 0px 4px; }

/* line 26, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info {
  clear: both;
  overflow: auto;
  position: relative; }

/* line 32, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-char-detail {
  min-width: 280px;
  max-width: 280px;
  margin: 0 5px;
  min-height: 308px; }

/* line 40, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-char-detail .no_results {
  border: 1px solid #CFCBCB;
  font-size: 18px;
  line-height: 221px;
  margin-top: 15px;
  opacity: 0.2;
  border-radius: 3px; }

/* line 50, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options {
  margin-left: 340px;
  margin-top: 35px;
  padding: 6px; }

/* line 56, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer {
  padding: 6px;
  width: 355px;
  margin-top: 40px; }

/* line 64, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer > div {
  max-height: 265px;
  overflow: auto; }

/* line 70, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-no-results {
  border: 1px solid #EBEBEB;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #E6E5E3;
  font-size: 15px;
  line-height: 159px;
  min-height: 160px;
  padding: 7px;
  text-align: center; }

/* line 82, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row {
  border-bottom: 1px dotted #DED8D8;
  overflow: auto;
  padding: 4px; }

/* line 88, ../../../sass/web/components/poll-admon.scss */
.web-items-no-results {
  background-color: #f7f7f7;
  border: 1px solid #e7e6e6;
  border-radius: 10px 10px 10px 10px;
  color: #D6D6D6;
  font-size: 24px;
  margin: 18px;
  min-height: 40px;
  padding: 120px;
  height: 100%; }

/* line 101, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-color {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-top: 1px;
  padding: 1px;
  width: 20px; }

/* line 112, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-label {
  color: #9C9B99;
  font-weight: bold;
  line-height: 15px;
  width: 165px; }

/* line 120, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-percent {
  color: #70706F;
  font-weight: bold; }

/* line 126, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info h2 {
  border-bottom: 1px solid #AEACA3;
  margin: 0 0 10px 5px; }

/* line 131, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail {
  border-bottom: 1px dotted #E0E0E0;
  padding: 5px;
  overflow: hidden; }

/* line 138, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-poll-switch {
  background-color: #EDEDED;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 390px; }

/* line 147, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-poll-switch li {
  list-style: none outside none;
  margin: 0 5px;
  min-width: 50px;
  padding: 3px 6px; }

/* line 155, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-poll-switch li.selected {
  background-color: #6D6B6B;
  color: white !important;
  font-weight: bold; }

/* line 161, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-poll-switch li a {
  color: #545454;
  text-decoration: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px; }

/* line 167, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail .label {
  font-weight: bold;
  width: 180px; }

/* line 173, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail .data {
  width: 30px; }

/* line 178, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar {
  background-color: #E6E6E6;
  border: 1px solid #D6D6D6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 4px;
  min-height: 27px;
  padding: 4px; }

/* line 187, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info {
  padding: 7px;
  color: #1E1D1D;
  opacity: 0.5; }

/* line 194, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info > div {
  width: 30px !important; }

/* line 198, ../../../sass/web/components/poll-admon.scss */
.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info img {
  opacity: 0.8; }
