/* line 17, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 3, ../../../sass/web/components/settings.scss */
.settingsWrapper {
  background-color: white;
  margin-top: 20px;
  min-height: 396px; }

/* line 16, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup div.listSettings {
  min-height: 400px;
  min-width: 200px;
  background-color: #e5e5e5; }

/* line 32, ../../../sass/web/components/settings.scss */
.settings-shadow, .settingsWrapper div.settingsGroup div.listSettings, .settingsWrapper div.settingsGroup div.socialCommunitieItem, .settingsWrapper div.settingsGroup .selected {
  -webkit-box-shadow: #888888 0 1px 3px inset;
  -moz-box-shadow: #888888 0 1px 3px inset;
  box-shadow: #888888 0 1px 3px inset; }

/* line 36, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup .selected {
  background-color: white;
  color: #888888 !important; }

/* line 42, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup div.settingsListDetail {
  margin-left: 200px;
  padding: 15px; }

/* line 47, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup div.settingsListDetail h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px; }

/* line 54, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup div.settingsListDetail p {
  margin-top: 2px; }

/* line 58, ../../../sass/web/components/settings.scss */
.settingsWrapper div.settingsGroup div.settingsListDetail .toolBox {
  padding: 7px; }

/* line 67, ../../../sass/web/components/settings.scss */
div.web-settings-account-row {
  margin: 0 0 25px; }

/* line 75, ../../../sass/web/components/settings.scss */
div.web-settings-account-row .info-block {
  line-height: 18px;
  color: #cdcdcd;
  margin: 5px 0 0 !important; }

/* line 82, ../../../sass/web/components/settings.scss */
div.web-settings-account-row a {
  color: #e7a441; }

/* line 91, ../../../sass/web/components/settings.scss */
div.web-settings-account .data {
  margin-left: 150px; }
