/* line 17, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/**
    sign ip
 **/
/* line 5, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper {
  box-shadow: 0 3px 3px #D5D5D5;
  color: white;
  padding: 30px;
  z-index: 1;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: -o-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(#ffffff 0%, #dddddd 100%);
  border-left: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #b7b7b7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0; }

/** login **/
/* line 22, ../../../sass/web/components/signup.scss */
#web-form-wrapper h1 {
  font-size: 24px;
  font-weight: 200;
  color: #444;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-top: 0;
  text-shadow: 1px 0 0 white; }

/* line 32, ../../../sass/web/components/signup.scss */
#web-form-wrapper .error {
  color: #FFFFFF;
  font-weight: normal;
  margin: 5px;
  padding: 5px;
  width: auto;
  text-align: center; }

/* line 41, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper, #page-container {
  width: 60%; }

/* line 45, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.leftMessage {
  left: 20px;
  position: absolute;
  top: 10px;
  width: 250px; }

/* line 56, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.field {
  padding: 17px; }

/* line 60, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.field div.label {
  color: #000;
  float: left;
  font-size: 133%;
  padding-top: 6px;
  width: 90px; }

/* line 72, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper h3 {
  color: #444444;
  font-weight: 200;
  margin: 5px 3px;
  text-shadow: 1px 0 0 white; }

/* line 79, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .sign-in-form {
  margin: 0 auto;
  width: 69%; }

/* line 84, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.sidetip {
  position: absolute;
  top: 38px;
  width: 100%;
  word-wrap: break-word; }

/* line 92, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.sidetip p {
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 13px;
  margin: 2px; }

/* line 100, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .validator-wrapper .shadow-input-message {
  -moz-user-select: none;
  display: inline; }

/* line 105, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .validator-wrapper .shadow-input-message {
  color: #dddddd;
  line-height: 37px;
  padding-left: 1px;
  font-size: 150%; }

/* line 112, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .section {
  margin-bottom: 15px;
  padding: 5px;
  position: relative;
  width: 93%; }

/* line 119, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .web-section-option {
  height: 15px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  width: 80%; }

/* line 127, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .web-section-button {
  margin-bottom: 15px;
  margin-right: 90px;
  width: 100%; }

/* commented, broke the captcha style **/
/*#web-user-actions-form-wrapper  a {
  color: #444444;
  margin-left: 4px;
  text-shadow: 1px 0 0 $float_background_pry_color;
  top: 0;
}
*/
/* line 142, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .shadow-input-message {
  -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
  cursor: text;
  left: 150px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 0;
  z-index: 1; }

/* line 153, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper input, textarea, select {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0;
  outline: 0;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* #web-user-actions-form-wrapper .input-design input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
} */
/* #web-user-actions-form-wrapper  input:focus, textarea:focus {
    width: 340px;
} */
/* line 177, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.submit {
  margin: 0 auto;
  padding: 3px;
  width: 37em; }

/* line 183, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  color: #717171;
  font-size: 13px;
  margin: 25px auto 0;
  overflow: auto;
  padding: 5px 10px 10px;
  text-align: left;
  width: 376px; }

/* line 198, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
  display: inline;
  line-height: 26px; }

/* line 203, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
  list-style: disc outside none; }

/* line 207, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions li {
  background-color: #444444;
  border: 1px solid #929292;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: -moz-box;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  padding: 2px;
  float: left; }

/** sign up */
/* line 225, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .sign-un-form {
  margin: 0 auto;
  width: 60%; }

/** social sign in **/
/* line 232, ../../../sass/web/components/signup.scss */
.web-social-signin {
  margin: 25px 0; }

/* line 236, ../../../sass/web/components/signup.scss */
.web-social-signin h3 {
  margin: 10px 0 !important; }

/** confirm message **/
/* line 246, ../../../sass/web/components/signup.scss */
.web-user-confirm-message {
  padding: 20px;
  width: 100%; }

/* line 251, ../../../sass/web/components/signup.scss */
.web-user-confirm-message h2 {
  color: #222222;
  font-size: 18px; }

/* line 256, ../../../sass/web/components/signup.scss */
.web-user-confirm-message span {
  color: #222222;
  font-size: 18px; }

/* line 261, ../../../sass/web/components/signup.scss */
.web-user-confirm-message span a {
  color: #E7A441 !important; }

/* line 264, ../../../sass/web/components/signup.scss */
.web-user-confirm-message div {
  margin-top: 10px; }

/** web-message-forgor-link **/
/* line 271, ../../../sass/web/components/signup.scss */
.web-message-forgor-link {
  margin-top: 20px; }

/* line 275, ../../../sass/web/components/signup.scss */
.web-message-forgor-link a {
  color: #E7A441 !important; }

/** error message **/
/* line 281, ../../../sass/web/components/signup.scss */
.error-page .web-user-confirm-message {
  padding: 0; }

/* line 289, ../../../sass/web/components/signup.scss */
.web-user-confirm-message .extra {
  color: #888888;
  height: 300px;
  overflow: auto; }
