/* line 17, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/** TweetPoll **/
/* line 4, ../../../sass/web/components/tweetpoll-admon.scss */
#web-tweetpoll-wrapper {
  border: 1px solid #BCBCBC;
  border-radius: 3px 3px 3px 3px;
  margin-top: 2em;
  background-color: #F0F0F0; }

/** List TweetPoll **/
/* line 12, ../../../sass/web/components/tweetpoll-admon.scss */
#web-tweetpoll-wrapper div.web-tweetpoll-menu {
  font-size: 100%;
  padding: 10px;
  text-align: right;
  background-color: #F0F0F0; }

/* line 19, ../../../sass/web/components/tweetpoll-admon.scss */
#web-tweetpoll-wrapper div.web-tweetpoll-menu a {
  color: #FFF !important;
  cursor: pointer; }

/* line 24, ../../../sass/web/components/tweetpoll-admon.scss */
#web-tweetpoll-wrapper div.web-tweetpoll-menu a:hover {
  text-decoration: none; }

/* line 28, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.navigation {
  padding: 9px;
  margin-left: 185px;
  width: 477px;
  background-color: #e5e5e5;
  -webkit-border-radius: 0 15px 0px 0;
  -moz-border-radius: 0 15px 0px 0;
  -ms-border-radius: 0 15px 0px 0;
  -o-border-radius: 0 15px 0px 0;
  border-radius: 0 15px 0px 0;
  margin-top: 10px;
  border-left: 2px solid #B3B3B3;
  min-height: 20px; }

/* line 39, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent {
  background-color: #F0F0F0;
  border-top: 1px solid #BEBCBC;
  margin-top: 0;
  overflow: hidden; }

/* line 46, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options {
  float: left;
  min-width: 185px;
  width: 185px;
  min-height: 400px;
  text-align: left;
  background-color: #F0F0F0;
  margin-right: 0px;
  -moz-box-shadow: -5px 0 5px -6px black inset;
  -webkit-box-shadow: -5px 0 5px -6px black inset;
  box-shadow: -5px 0 5px -6px black inset;
  border-right: 1px solid #E0E0E0; }

/* line 65, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem {
  clear: both;
  float: left;
  font-size: 12px;
  padding: 7px;
  width: 171px; }

/* line 74, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItemSelected {
  background-color: #6F6F6F;
  color: #FFF;
  -moz-box-shadow: 0 1px 3px #888888 inset;
  -webkit-box-shadow: 0 1px 3px #888888 inset;
  box-shadow: 0 1px 3px #888888 inset; }

/* line 83, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem:hover {
  background-color: #6F6F6F;
  color: #FFF;
  cursor: pointer;
  -moz-box-shadow: 0 1px 3px #888888 inset;
  -webkit-box-shadow: 0 1px 3px #888888 inset;
  box-shadow: 0 1px 3px #888888 inset; }

/* line 92, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem span {
  padding-left: 10px;
  text-decoration: none; }

/* line 100, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options div.optionItem span:hover {
  color: #FFF !important; }

/* line 105, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-options span:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: none; }

/* line 111, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet {
  border-left: 1px solid #C2BEC2;
  margin-left: 185px;
  /*-moz-box-shadow: 10px -10px 8px 8px #000000;
  -webkit-box-shadow: 10px -10px 8px 8px #000000;
  box-shadow: 10px -10px 8px 8px #000000;*/ }

/** Filter Options **/
/* line 121, ../../../sass/web/components/tweetpoll-admon.scss */
.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet .web-twettpoll-list-menu {
  padding: 5px;
  position: relative;
  width: 101%; }

/* line 127, ../../../sass/web/components/tweetpoll-admon.scss */
.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet .web-twettpoll-list-menu .web-list-filter-clean {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer; }

/* line 134, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item {
  min-height: 35px;
  border-bottom: 1px solid #D2D2D2;
  background-color: white;
  width: 101%; }

/* line 142, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item .hashTags {
  color: #C4C4C4;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 2px; }

/* line 151, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item .hashTags .tag {
  margin-right: 6px !important; }

/* line 156, ../../../sass/web/components/tweetpoll-admon.scss */
div.web-tweetpoll-wrapper div.tweetListContent div.web-list-tweet div.web-tweetpoll-list-item:hover {
  cursor: pointer; }
