<div class="web-tweetpoll-wrapper">
         <div id="tweetListContent" class="tweetListContent">
            <div class="web-tweetpoll-options">
                <div class="web-tweetpoll-sidebar-panel">
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByAccount" type="ACCOUNT">
                        <span>
                            ${i18nMessage.detail_manage_by_account}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByLastDay" type="LASTDAY">
                        <span>
                            ${i18nMessage.detail_manage_today}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByLastWeek" type="LASTWEEK">
                        <span>
                            ${i18nMessage.detail_manage_last_week}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByFavourites" type="FAVOURITES">
                        <span>
                            ${i18nMessage.detail_manage_favorites}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByScheduled" type="SCHEDULED">
                        <span>
                            ${i18nMessage.detail_manage_scheduled}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByAll" type="ALL">
                        <span>
                            ${i18nMessage.detail_manage_all}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByAll" type="ALL_PUBLISHED">
                        <span>
                            ${i18nMessage.detail_manage_published}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByAll" type="ALL_UNPUBLISHED">
                        <span>
                            ${i18nMessage.detail_manage_unpublished}
                        </span>
                    </div>
                    <div class="optionItem" data-dojo-attach-event="onclick:_searchByAll" type="ALL_COMPLETED">
                        <span>
                            ${i18nMessage.detail_manage_only_completed}
                        </span>
                    </div>
                </div>
                <div data-dojo-attach-point="_folder"></div>
            </div>
            <div class="web-list-tweet">
                <div data-dojo-attach-point="_customMenu" class="web-twettpoll-list-menu enme-ui-gradient-header-color default-top-menu">
                   <!--
                        Filters Support.
                    -->
                   <div data-dojo-attach-point="_filters" data-dojo-type="me/web/widget/support/ItemsFilterSupport"
                        typeItem="TWEETPOLL"></div>
                </div>
                <div data-dojo-attach-point="_custom_loading"></div>
                <div data-dojo-attach-point="_items"></div>
            </div>
         </div>
</div>
