<div class="web-profile-menu">
     <div class="image" dojoAttachPoint="_image">
        <img data-dojo-type="me/web/widget/pictures/AccountPicture"
              data-dojo-attach-point="_account_picture"
              type="thumbnail"
              picture_width="24"
              picture_height="24"
              username="${username}"></img>
     </div>
    <div id="realname-profile" class="real-name wrap" dojoAttachPoint="_name">
        ${completeName}
    </div>
    <div id="image-profile" class="profilePanel" dojoAttachPoint="_menu">
        <ul style="margin: 0px; padding: 0px;" dojoAttachPoint="_nodes">
        </ul>
    </div>
</div>
