<div>
     <div class="validator-wrapper hasome" data-fieldname="email">
        <div class="sidetip" id="_message_${id}">
        </div>
        <div class="tooltip" dojoAttachPoint="_tooltip" id="_tooltip_${id}">
        <p>
            <h1>Email</h1>
            Your email will be used to send notifications, remember passwords and for other task, if you are using a public
            email account please check in all your mailbox SPAM folder.
        </p>
     </div>
        <input id="input_${id}" type="text"  autocomplete="off" name="email" class="" dojoAttachPoint="_input">
        <span  class="shadow-input-message" dojoAttachPoint="_shadow"  >Email</span>
    </div>
</div>