<div class="validator-wrapper">
    <div class="sidetip" id="_message_${id}">
    </div>
    <input id="input_${id}" type="text" autocomplete="off" name="user[name]"
           maxlength="20" aria-required="true"  dojoAttachPoint="_input" autocomplete="false">
        <span class="shadow-input-message" dojoAttachPoint="_shadow" >Full name</span>
     <div class="tooltip" dojoAttachPoint="_tooltip" id="_tooltip_${id}">
        <p>
            <h1>Full Name</h1>
            Full Name refers to a user’s complete name, usually consisting of the last name, first name, and middle initial.
        </p>
     </div>

</div>