<div>
    <div class="validator-wrapper">
        <div class="sidetip" id="_message_${id}">
        </div>
        <input id="input_${id}" type="text" autocomplete="off"  maxlength="15"
               class=""
               name="username"
               dojoAttachPoint="_input">
        <span class="shadow-input-message" dojoAttachPoint="_shadow" >Username</span>
    </div>
    <div class="tooltip" dojoAttachPoint="_tooltip" id="_tooltip_${id}">
        <p>
            <h1>Username</h1>
            Username should be <b>unique</b>. 4 Minimum characters and only Alphabetic characters are allowed.
        </p>
     </div>
     <div class="suggestions" style="display: none;" dojoAttachPoint="_block">
        Suggestions:
        <ul  dojoAttachPoint="_suggest">
       </ul>
    </div>
</div>