@media all {
  /* --- Lists | Listen  -------------------------------------------------------------------------------- */
  /* line 20, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/screen/typography-rtl.scss */
  ul,
  ol,
  dl {
    margin-left: 0;
    margin-right: 1em;
  }

  /* line 25, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/screen/typography-rtl.scss */
  li {
    margin-left: 0;
    margin-right: 0.8em;
  }

  /* line 30, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/screen/typography-rtl.scss */
  dd {
    margin-left: 0;
    margin-right: 0.8em;
  }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
  /* line 37, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/screen/typography-rtl.scss */
  blockquote {
    margin-left: 0;
    margin-right: 1.5em;
  }
}
