<div id="web-tweetpoll-wrapper" class="enme-main-section web-wrapper-detail">
    <div class="admon-table-options panel-header">
       <div class="tb-left">
            <h3>
                ${i18nMessage.dashboard_title}
            </h3>
            <p>
                ${i18nMessage.dashboard_description}
            </p>
       </div>
       <div class="tb-right">
            <button id="add_gadget_button" class="btn btn-warning" data-dojo-attach-point="_gadgets">
                ${i18nMessage.dashboard_add_gadget}
            </button>
             <span data-dojo-type="dijit/Tooltip" data-dojo-props='connectId:"add_gadget_button"' style="display:none;">
                 ${i18nMessage.dashboard_add_gadget_tooltip}
             </span>
            <button id="change_layout_button" class="btn btn-info" data-dojo-attach-point="_layout">
                ${i18nMessage.dashboard_change_layout}
            </button>
             <span data-dojo-type="dijit/Tooltip" data-dojo-props='connectId:"change_layout_button"' style="display:none;">
                 ${i18nMessage.dashboard_change_layout_tooltip}
             </span>
      </div>
    </div>
    <div class="web-dasboard-wrapper">
        <div class="web-dash-menu">
            <div class="web-dash-list panel-header">
                <span data-dojo-attach-point="_stateSelect"></span>
                <span class="action" id="new-dashboard-action">
                    <div id="new_dashboard" data-dojo-type="dijit/form/DropDownButton">
                        <span>
                            ${i18nMessage.dashboard_new_dasboard}
                        </span>
                        <div data-dojo-type="dijit/TooltipDialog">
                            <label>
                                ${i18nMessage.dashboard_panel_name}
                            </label>
                            <input data-dojo-type="dijit/form/TextBox" id="panel_name" name="panel_name" /><br />
                            <label>
                                ${i18nMessage.dashboard_panel_descri}
                            </label>
                            <input data-dojo-type="dijit/form/TextBox" id="panel_descr" name="panel_descr" /><br />
                            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_new">
                                ${i18nMessage.commons_create}
                            </button>
                        </div>
                    </div>
                    <span data-dojo-type="dijit/Tooltip" data-dojo-props='connectId:"new_dashboard"' style="display:none;">
                        ${i18nMessage.dashboard_new_dasbboard}
                    </span>
                </span>
            </div>
        </div>
        <div class="web-dash-columns" data-dojo-attach-point="_dasboard"></div>
    </div>
</div>