<div class="web-folder-wrapper">
    <!-- <div class="folder-title enme-ui-gradient-header-color default-sidebar-menu">
        ${i18nMessage.detail_manage_folder_title}
    </div> -->
    <div id="folders-sidebar-container" class="folder-menu default-sidebar-menu-sub">
        <span id="new-folder" data-dojo-attach-point="_new" class="new-option">
            ${i18nMessage.detail_manage_new}
        </span>
        <span class="hidden">|</span>
        <span data-dojo-attach-point="_search" class="hidden" class="search-option">
            ${i18nMessage.detail_manage_search}
        </span>
        <span class="hidden">|</span>
        <span data-dojo-attach-point="_delete" class="hidden" class="delete-option">
           ${i18nMessage.detail_manage_delete}
         </span>
     </div>
    <div data-dojo-attach-point="_folders" class="web-folder-wrapper-item"></div>
</div>
