<div class="suggest">
    <div class="wrapper-suggest">
        <div>
          <input type="text" data-dojo-attach-point="_suggest"
            data-dojo-type="dijit/form/TextBox"
           trim="true" class="inputClass"></input>
        </div>
        <div class="suggestBox" style="opacity :0;" data-dojo-attach-point="_suggestItems"></div>
    </div>
    <span class="left-button">
      <button id="suggestButton_${id}" class="left-button" type="button" style="display: none;"
              data-dojo-attach-point="_suggestButton">
              Add
      </button>
  </span>
</div>
