<div class="failure-wrapper">
    <span class="failure-message">
          ${i18nMessage.commons_failure}
    </span>
    <span class="failure-description">
          ${i18nMessage.pubication_failure_status}
   </span>
   <div class="failure-options">
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_try">
             ${i18nMessage.button_try_again}
       </button>
       <span data-dojo-attach-point="_att"></span>
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_ignore">
            ${i18nMessage.button_ignore}
       </button>
       <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="_try_later">
            ${i18nMessage.button_try_later}
       </button>
   </div>
   <div class="scheduled-options hidden" data-dojo-attach-point="_options_scheduled">
        <h5>
            Add when you want to publish your items
        </h5>
        <div>
            <input type="text" name="fromDate" data-dojo-type="dijit/form/DateTextBox" required="true" data-dojo-attach-point="_calendar"/>
            <input data-dojo-attach-point="_time" type="text" name="date1" required="true"
                   data-dojo-type="dijit/form/TimeTextBox"/>
        </div>
        <button data-dojo-attach-point="_confirm" data-dojo-type="dijit/form/Button">
            Confirm
        </button>
        <button data-dojo-attach-point="_cancel_scheduled" data-dojo-type="dijit/form/Button">
            Cancel
        </button>
   </div>
</div>