/** ITEM DETAIL **/
/* line 2, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail {
  background-color: #EEEEEE;
  font-weight: bold; }

/* line 7, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .emne-box .onLive {
  display: none; }

/* line 11, ../../../sass/mobile/component/home-detail.scss */
.mobile-question-detail {
  color: #FFF;
  padding: 15px; }

/* line 16, ../../../sass/mobile/component/home-detail.scss */
div.mobile-answers-questions {
  text-align: left;
  color: #275296; }

/** tweetpoll **/
/* line 23, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  width: 40%;
  padding: 10px 0; }

/* line 28, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer > header {
  padding: 0; }

/* line 33, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
  width: 100% !important; }

/* line 37, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-answer > header .answer-label {
  padding: 10px 0 !important;
  width: 40%;
  text-align: center; }

/* line 43, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-answer > header .answer-votes {
  padding: 10px 0 !important;
  width: 30%;
  text-align: center; }

/* line 49, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-answer > header .answer-percent {
  text-align: center;
  padding: 10px 0;
  width: 30%;
  margin: 0 !important; }

/* line 57, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
  margin-left: 0;
  float: none;
  position: absolute;
  max-width: 120px;
  word-break: break-all; }

/* line 66, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
  max-width: 40px;
  width: 40px; }

/* line 72, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
  padding: 10px 0;
  width: 30%;
  max-width: 30%;
  text-align: center;
  word-break: break-all; }

/* line 81, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  padding: 10px 0;
  float: left;
  text-align: center;
  max-width: 30%;
  width: 30%; }

/* line 90, ../../../sass/mobile/component/home-detail.scss */
.mobile-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
  min-height: 165px;
  float: none; }

/* line 99, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-social-links .item {
  position: relative;
  overflow: hidden; }

/* line 104, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-social-links .item .social-date {
  position: absolute;
  right: 0;
  width: 22%;
  color: #888;
  top: 17px;
  font-size: 10px; }

/* line 113, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-social-links .item .link {
  width: 70%;
  font-size: 10px;
  font-weight: normal;
  font-size: 12px;
  word-break: break-word;
  margin-left: 10px;
  line-height: 20px; }

/* line 123, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-social-links .item .img {
  position: absolute;
  left: 5px;
  top: 17px; }

/** hashtag tweetpoll **/
/* line 131, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-tweetpoll-hashtags .tag {
  margin: 0 10px; }

/** poll answers **/
/* line 137, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-generic-result {
  position: relative; }

/* line 141, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-generic-result .color {
  width: 10%; }

/* line 145, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-generic-result .label {
  width: 40%;
  padding: 0 8px; }

/* line 150, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-generic-result .votes {
  width: 20%;
  float: left; }

/* line 155, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-generic-result .percent {
  float: left;
  width: 20%; }

/* line 161, ../../../sass/mobile/component/home-detail.scss */
.mobile .web-poll-options-button {
  padding: 25px;
  text-align: right; }
