/** tweetpoll vote options **/
/* line 2, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options {
  margin: 0 auto;
  padding-top: 60px;
  width: 90%; }

/* line 8, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options h1 {
  font-size: 15px;
  margin: 10px; }

/* line 13, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options h2 {
  margin: 10px;
  padding-top: 20px; }

/* line 18, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options h3 {
  font-size: 12px; }

/* line 23, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options .web-permatlink {
  margin: 0 auto;
  width: initial;
  padding: 20px; }

/* line 29, ../../../sass/mobile/component/tp-vote.scss */
.mobile .web-tweetpoll-vote-options .web-tweetpoll-info {
  font-size: 12px; }
