<article class="addAnswers">
    <div class="answerAddForm">
        <div class="labelQuestion">
            <input id="answerAddText" type="text" dojoAttachPoint="_suggest"
               dojoType="dijit.form.TextBox"
               maxLength="50"
               trim="true" class="littleInputClass">
             </input>
             <button id="answerAddButton" type="button" dojoAttachPoint="_addButton">
                  ${i18nMessage.add_button} ${label}
             </button>  
             <span dojoAttachPoint="_loader" class="answer-loader">             
             </span>           
            <article class="listAnswerWrapper" dojoAttachPoint="_listAnswers">
                <!-- List of answers. -->
            </article>
        </div>
    </div>
</article>