<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="encuestame">
       <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/encuestame_core</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.default_catalog">encuestame_core</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="org.encuestame.core.persistence.domain.Project"/>
        <mapping class="org.encuestame.core.persistence.domain.GeoPoint"/>
        <mapping class="org.encuestame.core.persistence.domain.GeoPointFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.GeoPointType"/>
        <mapping class="org.encuestame.core.persistence.domain.Client"/>
        <mapping class="org.encuestame.core.persistence.domain.HashTag"/>
        <mapping class="org.encuestame.core.persistence.domain.security.Group"/>
        <mapping class="org.encuestame.core.persistence.domain.security.Permission"/>
        <mapping class="org.encuestame.core.persistence.domain.security.Account"/>
        <mapping class="org.encuestame.core.persistence.domain.security.UserAccount"/>
        <mapping class="org.encuestame.core.persistence.domain.security.SocialAccount"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.Poll"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.PollResult"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.QuestionColettion"/>
        <mapping class="org.encuestame.core.persistence.domain.Question"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.QuestionAnswer"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.QuestionPattern"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveyFormat"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveyGroup"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveyResult"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.Survey"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveySection"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.TweetPollSwitch"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.TweetPoll"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.TweetPollResult"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.TweetPollSavedPublishedStatus"/>
        <mapping class="org.encuestame.core.persistence.domain.Email"/>
        <mapping class="org.encuestame.core.persistence.domain.EmailList"/>
        <mapping class="org.encuestame.core.persistence.domain.EmailSubscribe"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveyPagination"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.SurveyFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.TweetPollFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.PollFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.QuestionDependencies"/>
        <mapping class="org.encuestame.core.persistence.domain.survey.QuestionDependenceSurvey"/>
        <mapping class="org.encuestame.core.persistence.domain.notifications.Notification"/>
        <mapping class="org.encuestame.core.persistence.domain.CatQuestionCategory"/>
    </session-factory>
</hibernate-configuration>
