
/** setup **/

div.mobile-setup-content{
    padding: 10px;
}

div.mobile-setup-header{
  background-color: #F1721F;
  border-bottom: 3px solid #888888;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  width: auto;
}

div.mobile-setup-header div.mobile-title{
    font-size: 18px;
    padding: 10px;
}

div.mobile-header-description{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}