<div class="socialAccountPicker">
   <div class="menu">
       <span class="pick" data-dojo-attach-point="_selected">
            ${i18nMessage.social_picker_only_selected}
        </span> |
    <span class="pick" data-dojo-attach-point="_all">
            ${i18nMessage.social_picker_select_all}
    </span>
   </div>
   <div data-dojo-attach-point="_listSocialAccounts" class="list">

   </div>
   <div class="resume">
        <span class="pick">
            ${i18nMessage.social_picker_accounts_selected}:
         <span data-dojo-attach-point="_counter" style="font-weight: bold;" >
            0
          </span></span>
   </div>
</div>
