<div class="socialAccountPicker">
   <div class="menu">
       <span id="social-pick-only-selected" class="pick" data-dojo-attach-point="_selected">
            ${i18nMessage.social_picker_only_selected}
        </span> |
    <span  id="social-pick-display-all" class="pick" data-dojo-attach-point="_all">
            ${i18nMessage.social_picker_select_all}
    </span>
   </div>
   <div id="social-accounts-picker-list" data-dojo-attach-point="_listSocialAccounts" class="list">

   </div>
   <div class="resume">
        <span id="social-pick-resume" class="pick">
            ${i18nMessage.social_picker_accounts_selected}:
         <span id="social-pick-counter-accounts" data-dojo-attach-point="_counter" style="font-weight: bold;" >
            0
          </span></span>
   </div>
</div>
