<div class="embedded">
	<p>
		Use this code to display this poll into website, blog. Your users could vote directly from your site.
	</p>
	<nav>
		<ul>
			<li data-dojo-attach-point="_iframe">
				Iframe
			</li>
			<li data-dojo-attach-point="_script_label" class="selected-script">
				Script
			</li>
            <li data-dojo-attach-point="_wordpress">
                Wordpress
            </li>
		</ul>
	</nav>

	<textarea cols="400" type="text" class="code" data-dojo-attach-point="_script"></textarea>

    <div class="preview">
        <iframe data-dojo-attach-point="_iframe_dom"></iframe>
    </div>

</div>
