<div id="web-poll-navigate" class="web-tweetpoll-wrapper">
    <div id="tweetListContent" class="tweetListContent">
        <div class="web-tweetpoll-options">
            <div class="web-tweetpoll-sidebar-panel">
                <div id="type-filter-byOwner-poll" class="optionItem" data-dojo-attach-event="onclick:_searchByAccount"
                    type="BYOWNER">
                    <span>
                       ${i18nMessage.detail_manage_by_account}
                    </span>
                </div>
                <div id="type-filter-byLastDay-poll" class="optionItem" data-dojo-attach-event="onclick:_searchByLastDay"
                    type="LASTDAY">
                    <span>
                        ${i18nMessage.detail_manage_today}
                    </span>
                </div>
                <div id="type-filter-byLastWeek-poll" class="optionItem" data-dojo-attach-event="onclick:_searchByLastWeek"
                    type="LASTWEEK">
                    <span> ${i18nMessage.detail_manage_last_week}</span>
                </div>
                <div id="type-filter-byFavourites-poll" class="optionItem"
                    data-dojo-attach-event="onclick:_searchByFavourites" type="FAVOURITES">
                    <span>
                        ${i18nMessage.detail_manage_favorites}
                    </span>
                </div>
                <div id="type-filter-all-poll" class="optionItem" data-dojo-attach-event="onclick:_searchByAll"
                    type="ALL">
                    <span>
                        ${i18nMessage.detail_manage_all}
                    </span>
                </div>
            </div>
            <div data-dojo-attach-point="_folder"></div>
        </div>
        <div class="web-list-tweet">
            <div data-dojo-attach-point="_customMenu" id="advanced-search-filters-menu" class="web-twettpoll-list-menu enme-ui-gradient-header-color default-top-menu">
               <!--
                    Filters Support.
                -->
              <div data-dojo-attach-point="_filters" data-dojo-type="me/web/widget/support/ItemsFilterSupport"
                    typeItem="POLL"></div>
               <div id="clean-advanced-search-container" class="web-list-filter-clean">
                    <span id="clean-advanced-search-link" data-dojo-attach-event="onclick:_cleanFilters">
                        Clean
                    </span>
               </div>
            </div>
            <div data-dojo-attach-point="_custom_loading"></div>
            <div data-dojo-attach-point="_items" class="tp-items-wrapper"></div>
            <div data-dojo-attach-point="_more" class="web-list-more"></div>
        </div>
       <!--  <article class="col">
            <div class="web-list-tweet">
                <div class="enme-ui-gradient-header-color default-top-menu" style="padding: 10px; color: rgb(255, 255, 255);
                     font-size: 16px;
                     background-color: #595959;
                     overflow: auto;">
                     ${i18nMessage.detail_manage_poll_title}
                    <div style="float: right;">
                        <div data-dojo-attach-point="_dropdownmenu"  data-dojo-type="me/web/widget/menu/DropDownMenuSelect"
                             defaultText="${i18nMessage.detail_manage_poll_dropdown_title}"></div>
                    </div>
                </div>
                <article data-dojo-attach-point="_items" class="web-list-rows">
                </article>
                <div data-dojo-attach-point="_more" class="web-list-more"></div>
                <div data-dojo-attach-point="_item" class="web-row-detail"></div>
            </div>
        </article> -->
    </div>
</div>