<div class="userWidget">
    <div class="admon-table-options">
       <div class="tb-left">
            <h2>
                Member administration
            </h2>
            <p>Add, remove and update permissions</p>
       </div>
       <div class="tb-right">
        <button class="button" data-dojo-attach-event="onclick:_newUser">
              New User
        </button>
      </div>
    </div>
    <div>
        <div>
            <div class="option">
            </div>
            <table cellpadding="5" cellspacing="4" class="defaultTable" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="enme-ui-gradient-header-color">

                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                Username
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color group">
                                Group
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                               Since
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                Status
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                TweetPoll
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                Poll
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                Survey
                            </th>
                            <th scope="col" width="100px" class="enme-ui-gradient-header-color">
                                Last Access
                            </th>
                            <th scope="col" class="enme-ui-gradient-header-color">
                                Followers
                            </th>
                        </tr>
                     </thead>
                      <tfoot>
                        <tr>
                            <td colspan="11" class="rounded-foot-left">
                                <div>
                                   <div class="total" data-dojo-attach-point="_total"></div>
                                </div>
                                <div class="controlsTable" style="cursor: pointer;">
                                    <a data-dojo-attach-event="onclick:first" data-dojo-attach-point="_first"> &laquo; First Page</a>
                                    <a data-dojo-attach-event="onclick:previous" data-dojo-attach-point="_previous">  &laquo;  Previous </a>
                                    <a data-dojo-attach-event="onclick:next" data-dojo-attach-point="_next">Next &raquo; </a>
                                    <a data-dojo-attach-event="onclick:last" data-dojo-attach-point="_last">Last Page &raquo; </a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                <tbody data-dojo-attach-point="_body">
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div jsId="basicStandby6" data-dojo-type="dojox.widget.Standby" target="newUser"/> -->
    <div data-dojo-type="dijit/Dialog" id="newUser">
            <div data-dojo-type="dijit/layout/AccordionContainer" style="min-height: 300px; width: 1024px;">
                <div data-dojo-type="dijit/layout/ContentPane" title="Add User Directly" selected="true">

                    <div data-dojo-type="dijit/form/Form" id="web-user-actions-form-wrapper" class="web-admon-user-create">
                        <table>
                            <tr>
                              <td>
                                  <input data-dojo-type="me/web/widget/validator/UsernameValidator"
                                         required="true"
                                         size="30"
                                         type="text"
                                         placeholder="Write a username"
                                         name="newUsername"
                                         id="newUsername">
                              </td>
                            </tr>
                            <tr>
                              <td>
                                  <input data-dojo-type="me/web/widget/validator/EmailValidator"
                                   size="30"
                                   required="true"
                                   placeholder="Write a valid email"
                                   regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                                   type="text" name="newEmailUser" id="newEmailUser">
                              </td>
                            </tr>
                          </table>
                          <div style="padding: 20px 0;">
                              <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:_createDirectlyUser">
                                  Send Member Request
                              </button>
                          </div>
                      </div>
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" title="Invitate User" >
                     <div style="padding: 20px;">
                         <label for="desc">
                             Write a email
                          </label>
                          <br/>
                         <input data-dojo-type="dijit/form/TextBox" class="questionTextBox" type="text" name="emailList" id="emailList">
                         <button data-dojo-type="dijit/form/Button"  data-dojo-attach-point="_invitation_button">
                              Send an Invitation
                         </button>
                     </div>
                </div>
              <!--
                  TODO: Search user from LDAP.
                <div data-dojo-type="dijit/layout/ContentPane" title="Search User (LDAP..)">
                    <div style="padding: 20px;">
                        LDAP Search
                    </div>
                </div> -->
        </div>
        <div class="options" style="text-align: right;" data-dojo-attach-point="_closeWrapper">
           <button data-dojo-type="dijit/form/Button"  data-dojo-attach-point="_close">
                Close
           </button>
        </div>
    </div>
    <div data-dojo-type="dijit/Dialog" id="userEdit" title="User Edit"  width="400px">
        <div data-dojo-type="dijit/layout/TabContainer" style="width: 1024px; height: 500px" tabposition="top">
            <div data-dojo-type="dijit/layout/ContentPane" title="User Detail" selected="true">
                <div data-dojo-type="dijit/form/Form" id="editUserForm" class="formDefault">
                    <table cellpadding="9" cellspacing="8">
                        <tr>
                          <td><label for="name">Username </label></td>
                          <td><input data-dojo-type="dijit/form/TextBox" type="text" name="name" id="name"></td>
                        </tr>
                        <tr>
                          <td><label for="loc">Email: </label></td>
                          <td><input data-dojo-type="dijit/form/TextBox" type="text" name="email" id="email"></td>
                        </tr>
                         <tr>
                          <td><label for="loc">Real Name: </label></td>
                          <td><input data-dojo-type="dijit/form/TextBox" type="text" name="realName" id="realName"></td>
                        </tr>
                        <tr>
                          <td colspan="2" align="left">
                            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onclick:_updateUser">Update</button></td>
                        </tr>
                      </table>
                 </div>
            </div>
            <div id="groups" data-dojo-type="dijit/layout/ContentPane" title="Groups">
                Groups

            </div>
            <div id="permissions" data-dojo-type="dijit/layout/ContentPane" title="Permisions">
                 <div id="widgetPermission" data-dojo-type="me/web/widget/admon/user/UserPermissions"></div>
            </div>
            <div id="social" data-dojo-type="dijit/layout/ContentPane" title="Social Accounts">
                Social
            </div>
            <div id="log" data-dojo-type="dijit/layout/ContentPane" title="Log">
                Social
            </div>
        </div>
    </div>
</div>