<article class="ui-user-edit enme-dialog-support">
	<header>
		<h2>
			${user.username} (${user.name})
		</h2>
	</header>
	<!-- replace by css this style prop -->
	<section style="padding: 30px;">
		<div class="ym-grid">
		  <div class="ym-g25 ym-gl">
		    <div class="ym-gbox">
		        <a data-dojo-type="me/web/widget/pictures/AccountPicture"
					type="profile"
					picture_width="120"
					picture_height="120"
                	username="${user.username}"></a>
		    </div>
		  </div>
		  <div class="ym-g75 ym-gr">
		    <div class="ym-gbox">
				  <div class="ym-grid">
				    <div class="ym-gbox">
				      <div class="ym-gbox ym-fbox-select" data-dojo-attach-point="_permissions">

				      </div>
				    </div>
				  </div>
		    </div>
		  </div>
		</div>
	</section>
	<footer>
		<button data-dojo-type="dijit/form/Button" type="button"  data-dojo-attach-point="_request_button" data-dojo-attach-event="onClick:_close">
				${i18n.button_close}
		</button>
	</footer>
</article>