<div class="web-notification-list-item">
    <span class="icon">
        <img alt="icon" dojoAttachPoint="_list">
    </span>
    <span class="title">
        ${item.type}
    </span>
    <span class="description">
        ${item.additionalDescription} dsa dsa dsa dsa dsaaaaaaaaa djkasljd kldsja lkjdsalkj dlsk
    </span>
    <span class="date">
          ${item.date} | ${item.hour}
    </span>
     <span class="options">
            <span class=""><a href="#">Delete</a></span>
     </span>
</div>