div.mobile{
}

.vote-page header.vote-logo .logo {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.mobile .tags a.tag {
    position: relative;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px transparent;
    padding: 1px 4px 2px 4px;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    color: #666;
    background-color: #F0F0F0;
    border-bottom: 1px solid #CCC;
}

.mobile a, .mobile a:link {
    color : #444444;
}

div.mobile-enme-content{
    width: 100%;
}

.mobile .emne-box {
    margin: 0;
}

.mobile .emne-box header{
    padding: 15px;
    color: white;
}

/** review below **/


div.mobile div.mobile-signin{
    padding: 1px;
}

div.mobile-signin div.formWrapper{
    margin: 10px;
}

div.mobile div.enme-content{
    padding: 15px;
}

div.mobile-signin div.formWrapper div.mobile-errorWrapper{
    margin: 5px;
}


div.mobile-signin div.formWrapper div.field{
    padding: 10px;
}

div.mobile-signin div.formWrapper div.forgotPassword{
    font-size: 10px;
    float: left;
    margin-left: 100px;
}

div.mobile-signin div.formWrapper div.forgotPassword a{
    color: #000;
    text-decoration: none;
}

div.mobile-signin div.forgotPassword a:hover{
    color: #000;
    text-decoration: underline;
}


div.mobile-signin div.formWrapper div.field div.label{
    float: left;
    color: #564F4F;
    padding-top: 6px;
    width: 90px;
    font-size: 130%;
}

div.mobile-signin div.formWrapper div.field div.output input[type="text"]{
    height: 20px;
    width: 220px;
    font-size: 120%;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

div.mobile-signin div.formWrapper div.field div.output label{
    margin-left: 90px;
}

div.mobile-signin div.formWrapper div.signIn{
    text-align: center;
}

div.mobile-signin div.formWrapper div.field div.output input[type="password"]{
    height: 20px;
    width: 220px;
    font-size: 120%;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

div.mobile-signin div.formWrapper div.field div.output span a{
    text-decoration: none;
    padding-left: 5px;
}

div.mobile-signin div.formWrapper div.buttonGroup{
    margin-left: 95px;
    margin-top: 25px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options{
    padding: 2px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options a:link{
    font-size: 12px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options .item{
    padding: 3px;
}

/*** FRONTEND ****/


/*** MENU ***/

div.mobile-categoryMenu{
    font-size: 130%;
    min-height: 60px;
    padding-bottom: 2px;
    color: #FFF;
}

div.menu-options{
    margin-top: 0.4em;
    max-width: 100%;
    background-color: #275296;
    text-align: center;
}
/*
div.home-mobile div.mobile-categoryMenu span.option{
    display: inline-block;
    padding: 5px 5px 5px 5px ;
    text-align: center;
    max-width: 62px;
    min-width: 75px;
}

div.home-mobile div.mobile-categoryMenu span.option a:link{
    color: #FFFFFF;
    font-size: 100%;
    font-weight: bold;
}

div.home-mobile div.mobile-categoryMenu span.option a:visited{
    color: #B5E6F1;
    font-size: 100%;
    font-weight: bold;
}
 */
div.mobile-MenuHotTags {
    font-size: 75%;
    text-align: center;
    padding-top: 0.5em;
    padding-top: 0.5em;
    color: #000000;
}

div.mobile-MenuHotTags span.optionTags{
    display: inline-block;
    padding:2px 2px 2px 2px ;
    text-align: center;
    width: 60px;
}

div.mobile-footer div.mobile-HashTags span.mobile-optionTag {

}

div.mobile-footer div.mobile-HashTags span.mobile-optionTag a:link {
    color: #022994;
}


div.mobile-tweetpolls{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0F0E0E;
    padding: 5px 5px 5px 5px;
     margin: 4px;
}



div.mobile-tags-tweetpolls{

}

div.mobile-hashtagName {

}

div.mobile-tweetpolls{

}

div.mobile-tweetpolls-time{

}
/*** SEARCH ***/

div.mobile-search{
    padding: 0px;
 }

div.mobile-search input{
   /* margin: 2em , 0.5em ,1em ,1em;*/
    margin-left: 2px;
    margin-right:1px;
    border: 1.5px solid #DFDFDF;
    width:98%;
    height:30px;
    font-size:15px;
}


/** menu **/

div.mobile-menu-wrapper {
    background-color: #858181;
    font-size: 110%;
    font-weight: bold;
    max-width: 100%;
    min-height: 40px;
    padding: 3px;
}

div.mobile-menu-wrapper a {
    color: #FFF;
}

div.mobile-menu-wrapper span{
    float: left;
    min-height: 20%;
    padding: 5px;
    max-width: 36px;
}

/** mobile notifications **/

div.mobile-notification-list{

}

div.mobile-notification-list div.section{
    padding-top: 3px;
    padding-bottom: 3px;
}

div.mobile-notification-list div.section h3{
    padding: 2px;
    background-color: #E3E3E3;
    color: #C2C2C2;
}

div.mobile-notification-list-item {
    clear: both;
    background-color: #EDEDED;
    min-height: 45px;
    border-bottom: 1px solid gray;
    padding: 5px;
    overflow: auto;
}

div.mobile-notification-list-item .title{
    font-size: 110%;
    color: #275296;
}

div.mobile-notification-list-item .mobile-description{
    font-size: 90%;
    float: left;
    padding: 3px;
}

div.mobile-notification-list-item .mobile-description .date{
    font-size: 60%;
    color: #000;
}

div.mobile-notification-list-item .options{
    float: right;
}


/** profile view **/

div.mobile-profile-wrapper{

}


div.mobile-profile-wrapper div.profile-name{
    padding: 15px;
    margin-bottom: 0px;
}

div.mobile-profile-wrapper div.picture {
    float: left;
}

div.mobile-profile-wrapper ul{
    padding: 0px !important;
    margin: 0px !important;
}

div.mobile-profile-wrapper .rss li img{
    float: left;
    margin-right: 5px;
}

div.mobile-profile-wrapper .rss li {
  border-bottom: 1px dotted #B8B7B7;
  display: block;
  padding-left: 5px;
  vertical-align: middle;
}

/** setup **/

div.mobile-setup-content{
    padding: 10px;
}

div.mobile-setup-header{
  background-color: #F1721F;
  border-bottom: 3px solid #888888;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  width: auto;
}

div.mobile-setup-header div.mobile-title{
    font-size: 18px;
    padding: 10px;
}

div.mobile-header-description{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}