<div class="${type}WrapperRow socialWrapperRow">
    <div dojoType="dijit.form.Form" class="socialNewForm">
        <table  dojoAttachEvent="onclick:_showHideSecrets">
            <tr>
                <td>
                    <div style="float: left;">
                        <img alt="${account.account}" src="${account.profile_thumbnail_picture}">
                    </div>
                    <div class="title">${account.account}</div>
                </td>
                <td>
                    <a href="#"  dojoAttachEvent="onclick:_showHideSecrets">Show Details</a><br/>
                </td>
            </tr>
        </table>
        <div class="tokensWrapper defaultDisplayHide" dojoAttachPoint="_secretView">
            <div class="tokenHideOptions">
                <div class="optionToken">
                      <button id="${id}_remove" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_remove">
                               Remove
                      </button>
                      <button id="${id}_statusAccount" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_changeStatusAccount">
                               Disable
                      </button>
                      <button id="${id}_default" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_changeStatusAccount">
                               Set as Default
                      </button>
                </div>
                <table>
                    <tr>
                        <td>
                            <label>Secret Token</label>
                        </td>
                         <td>
                          dsadas
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label> Token</label>
                        </td>
                         <td>
                            dasdsa
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label>Profile Url</label>
                        </td>
                        <td>
                            <a href="#" target="_blank">http://twitter.com/xxxxx</a>
                        </td>
                     </tr>
               </table>
            </div>
         </div>
    </div>
</div>
