<div class="${type}WrapperRow socialWrapperRow">
    <div dojoType="dijit.form.Form" class="socialNewForm">
        <div class="sub-title-account" dojoAttachEvent="onclick:_showHideSecrets">
               <div class="image">
                    <img alt="${account.account}" src="${account.profile_thumbnail_picture}" height="28" width="28">
               </div>
               <div class="title">${account.account}</div>
        </div>
        <div class="tokensWrapper defaultDisplayHide" dojoAttachPoint="_secretView">
            <div class="tokenHideOptions">
                <table>
                    <tr>
                        <td>
                            <label>Email</label>
                        </td>
                         <td>
                            ${account.email}
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label>Real Name</label>
                        </td>
                         <td>
                            ${account.real_name}
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label>Profile Url</label>
                        </td>
                        <td>
                            <a href="${account.url}" target="_blank">${account.url}</a>
                        </td>
                     </tr>published with this account
                     <tr>
                        <td>
                            <div><label>Tweetpoll published with this account:</label> ${account.tweetpoll_stats}</div>
                            <div><label>Survey published with this account:</label> ${account.survey_stats}</div>
                            <div><label>Poll published with this account:</label> ${account.poll_stats}</div>
                        </td>
                     </tr>
               </table>
               <div class="option-button">
                   <button id="${id}_remove" dojoType="dijit.form.Button" type="button" dojoAttachPoint="_removeButton">
                            Remove
                   </button>
<!--                    <button id="${id}_statusAccount" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_changeStatusAccount">
                            Disable
                   </button> -->
                   <button id="${id}_default" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_changeStatusAccount">
                            Set as Default
                   </button>
               </div>
            </div>
         </div>
    </div>
</div>
