/*
 * TweetPoll Hashtag
 */
.web-tweetpoll-hashtags {
  padding: 20px;
  background-color: white;
}

.web-tweetpoll-hashtags .tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #444 !important;
  font-size: 1.4em;
  text-shadow: 0px -1px 1px rgba(181, 181, 181, 0.5);
}

.web-tweetpoll-hashtags .tag:hover {
  background-color: white;
  color: #444;
  text-decoration: none !important;
}
