
/** web-stats **/
.web-stats {
    padding: 3px;
    margin: 0 10px;
}

.web-stats table {

}

.web-stats table tr {
    line-height: 20px;
}

.web-stats table td {
    padding: 2px;
}

.web-stats table tr td:first-child {
    font-weight: bold;
    padding-right: 20px;
}

/** .web-rated-position */
.web-rated-position {
    margin: 0;
    padding: 0;
}
.web-rated-position div.position-row {
  color: #CBCAC9;
  padding: 5px;
  width: auto;
}

.web-rated-position div.highlight {
  border-radius: 4px 4px 4px 4px;
  color: #333333 !important;
  margin: 0;
  text-shadow: 1px 1px 1px #CACCCF;
}

.web-rated-position div.highlight span.position {
    color: #787878;
}

.web-rated-position span {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.web-rated-position .position-row .position-label {
  float: left;
  margin-top: 1px;
  max-width: 125px;
  min-width: 125px;
  padding-left: 5px;
  text-align: left;
}

.web-rated-position .position-row .position-label a:link,
.web-rated-position .position-row .position-label a,
.web-rated-position .position-row .position-label a:active,
.web-rated-position .position-row .position-label a:visited {
    color: #CBCAC9;
    text-decoration: none;
}

.web-rated-position span.position {
    color: #DEDEDE;
    font-size: 11px;
    width: 50px;
}
.web-rated-position span.graph {
    padding-left: 15px;
    text-align: center;
}
.web-rated-position .web-position-number {
    color: #999999;
    text-align: center;
}
.web-position-down {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-up {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}
.web-position-equal {
    display: inline-block;
    height: 10px;
    min-width: 20px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}