.suggest {
  width: 60%;
}

.suggest .wrapper-suggest {
    max-width: 400px;
    position: relative;
}

.suggest .wrapper-suggest input {

}

.suggest .wrapper-suggest .suggestBox {
  border: 1px solid #E0D6D6;
  left: 0;
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 1px;
}

/** Suggest. **/

.suggest .wrapper-suggest .suggestBox {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  border-top-color: #D9D9D9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
  position: absolute;
}

.suggest .wrapper-suggest .suggestBox .suggesItem {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.suggest .wrapper-suggest .suggestBox .suggesItem > span {
  display: inline-block;
  font-size: 120%;
  font-weight: normal;
  padding: 2px;
}

.suggest .wrapper-suggest .suggestBox .suggesItem:hover, .suggest-selected {
    background-color: #939397;
    color: #FFF;
}

.suggest button {

}