div.mobile{
}

div.mobile div.mobile-signin{
    padding: 1px;
}

div.mobile-signin div.formWrapper{
    margin: 10px;
}

div.mobile div.enme-content{
    padding: 15px;
}

div.mobile-signin div.formWrapper div.mobile-errorWrapper{
    margin: 5px;
}


div.mobile-signin div.formWrapper div.field{
    padding: 10px;
}

div.mobile-signin div.formWrapper div.forgotPassword{
    font-size: 10px;
    float: left;
    margin-left: 100px;
}

div.mobile-signin div.formWrapper div.forgotPassword a{
    color: #000;
    text-decoration: none;
}

div.mobile-signin div.forgotPassword a:hover{
    color: #000;
    text-decoration: underline;
}


div.mobile-signin div.formWrapper div.field div.label{
    float: left;
    color: #564F4F;
    padding-top: 6px;
    width: 90px;
    font-size: 130%;
}

div.mobile-signin div.formWrapper div.field div.output input[type="text"]{
    height: 20px;
    width: 220px;
    font-size: 120%;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

div.mobile-signin div.formWrapper div.field div.output label{
    margin-left: 90px;
}

div.mobile-signin div.formWrapper div.signIn{
    text-align: center;
}

div.mobile-signin div.formWrapper div.field div.output input[type="password"]{
    height: 20px;
    width: 220px;
    font-size: 120%;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

div.mobile-signin div.formWrapper div.field div.output span a{
    text-decoration: none;
    padding-left: 5px;
}

div.mobile-signin div.formWrapper div.buttonGroup{
    margin-left: 95px;
    margin-top: 25px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options{
    padding: 2px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options a:link{
    font-size: 12px;
}

div.mobile-signin div.formWrapper div.mobile-signin-options .item{
    padding: 3px;
}
