@import "_base_web";

/** drop down menu **/
.drop-down-menu-select {

}

.drop-down-menu-select-title {
    background: none repeat scroll 0 0 #6C6D6F;
    border-radius: 13px 13px 13px 13px;
    color: $white;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 15px 2px;
    @include text-shadow(#002537 0 1px 1px);
    cursor: pointer;
}

.drop-down-menu-select-title:hover .sub-menu {
    display: inline-block;
    position: absolute;
}

.drop-down-menu-select-title .sub-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4C4C4;
    @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 4px);
    display: none;
    margin-left: -15px;
    margin-top: 0;
    text-shadow: none;
    @include border-radius(3px);
}

.drop-down-menu-select-title .sub-menu li {
	display: block;
	height: 22px;
	list-style-type: none;
	padding: 5px 0px 0px 10px;
	width: 110px;
    font-size: 90%;
}

.drop-down-menu-select-title .sub-menu li img {
    margin-right: .5em;
}

.drop-down-menu-select-title .sub-menu li:hover {
	background-color: #8C8C8C;
}

.drop-down-menu-select-title .sub-menu li:hover a{
    color: white !important;
    text-decoration: none;
}