.web-item-wrapper .items {

  .item {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dotted #EEEBEB;
    clear: both;
    overflow: auto;
    padding: 15px;
  }

}

.web-item-wrapper .item .img {
    float: right;
}

.web-item-wrapper .item .content {
    float: left;
    width: 535px;
}

.web-item-wrapper .item .clear {
    clear: both;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.web-item-wrapper .item .content .title h4 {
  @extend h4.enme;
}

// .web-item-wrapper .item .content .title a {
//     color: #000;
// }

.web-item-wrapper .item .content .title a:hover {
    color: #275296;
    text-decoration: none;
}

.web-item-wrapper .item .content h3 a {
    color: #5C8397;
}

.web-item-wrapper .item .content .bottom {
    float: left;
    width: 500px;
}

.web-item-wrapper .item .content .bottom .share {
    float: right;
}

.web-item-wrapper .item .content .bottom .options {
    background-color: #FCFCFC;
    clear: both;
    color: #3E6D8E;
    font-size: 10px;
    margin: 2px 2px 2px 0;
    white-space: nowrap;
}

.web-item-wrapper .item .content .bottom .submited {
  color: #C4C4C4;
  margin-bottom: 10px;
  margin-top: 5px;
}

.web-item-wrapper .item .content .bottom .submited a, .web-item-wrapper .item .content .bottom .submited a:visited,
.web-item-wrapper .item .content .bottom .submited a:link {
  color: #444444;
  text-decoration: none;
}

.web-item-wrapper .item .tags {}

.web-item-wrapper .item .tags a:hover {
    color: #FFF;
}