#web-main-public-line .container {
	width: 970px;
}

#web-main-public-line .web-left-wrapper {
  border-right: 1px solid #DCDCDC;
  box-shadow: 1px 0 6px 0 #393838 inset;
}

#web-main-public-line .web-left-wrapper .section {
  min-height: 150px;
  @extend .text-back-image;
  background-repeat: repeat;
  background-position: center;
}

#web-main-public-line .web-left-wrapper .section .tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  color: white;
  text-shadow: 0 1px 0 rgba(40, 39, 39, 0.5);
}

#web-main-public-line .web-left-wrapper .section .web-aside-section {
  min-height: 130px;
}

#web-main-public-line .web-left-wrapper .section .cloudItems {
    padding: 10px;
}

#web-main-public-line .web-left-wrapper .section .link {
    margin-bottom: 4px;
    margin-top: 6px;
    padding: 1px 8px 1px 1px;
    text-align: right;
    font-size: 0.9em;
}

#web-main-public-line .web-left-wrapper .section .link a {
    color: white;
}

#web-main-public-line .web-left-wrapper .section .sectionTitle {
  @extend .home-header-color;
  border-bottom: 1px solid #717171;
  box-shadow: 0 0 0 1px #555555 inset;
  color: #FFFFFF;
  padding: 10px 0 10px 10px;
  width: auto;
}

#web-main-public-line .categoryMenu {
    border-bottom: 1px solid #BBBBBB;
    @extend .home-header-color;
    @extend .home-main-colors;
    @extend .o-hidden;
}