/** HASHTAGS */
.web-hashtag-wrapper {

      h1,h2,h3,h4,h5 {
        color: $gray_normal;
        font-weight: lighter;
      }

      aside > article {
        padding: 10px;
      }


      img {
          @include border-radius(40px);
          height: 50px;
          width: 50px;
      }

      aside > article > h3{
        margin: 0;
      }

      .web-rated-profile-item .web-rated-profile-item-detail a {
          color: $black_light;
      }

       .web-ht-detail {
        @extend .o-auto;
      }

       .web-ht-detail .emne-box {
          background-color: white !important;
      }

      .web-hashtag-header .web-hashtag-options {
        float: right;
        margin-right: 15px;
      }

       .web-ht-detail-wrapper {
        width: 75%;
        float:left;
      }

       .web-ht-wrapper-top {
        border: 0 none !important;
        @include non_borders();
        overflow: hidden;
      }

       .web-ht-wrapper-mainline {
          float: left;
          width: 650px;
          max-width: 655px;
      }

}

.web-hashtag-header .web-hashtagName {
    @extend .col-left;
    color: $black;
    font-size: 150%;
}

.web-hashtag-header .web-hashtagName h2 {
  color: $white;
  margin: 0 10px;
  width: 500px;
}



.web-ht-graph-wrapper {
  border-radius: 5px 0 0 5px;
  overflow: auto;
}

.web-ht-graph-wrapper .web-ht-graph {
  float: left;
  height: 308px;
  margin-left: 10px;
  max-height: 308px;
  overflow: hidden;
  width: 650px;
}

.web-ht-graph-wrapper .web-ht-button-wrapper {
    float: right;
    width: 243px;
}

.web-ht-button-wrapper .web-ht-button-item {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    min-height: 70px;
    color: $gray_normal;
}