.web-filters-options nav {
  line-height: 20px;
  @extend .o-hidden;
}

.web-filters-options nav  a.selected, .web-filters-options nav  a:hover {
    background-color: $gray_lite;
    color: $black_hight;
    text-decoration: none;
}

.web-filters-options nav a, .web-filters-options nav a:link, .web-filters-options nav a:visited {
    @extend .default-rd;
    margin: 3px;
    padding: 3px;
    color: white;
}

/**
    web-filters-wrapper
**/
.web-filters-wrapper {
    margin:  10px 2px;
    min-height: 105px;
    padding: 13px 17px 10px;
    color: $black;
    @include box-shadow($black_semi_medium 1px 0px 4px 2px inset);
    @extend .default-rd;
    background-color: $gray_dark;
}

.web-filters-wrapper label{
    color: $white;
    margin-bottom: 3px;
}
.web-filters-wrapper .dijitRuleLabel{
    color: $white !important;
}

.web-filters-wrapper .dijitSliderH{
    margin-top: 5px;
}

.web-filters-wrapper .dijitRuleMark{
    @extend .text-white;
    border: 1px solid white;
}
.web-filters-search {
  @extend .o-auto;
}

.web-filters-search .web-filters-search-input {
  @extend .clear-b;
  padding-bottom: 10px;
}

.web-filters-search .web-filters-search-multi {
  @extend .col-left;
  padding: 5px;
  width: 200px;
}

.web-filters-search .web-filters-search-multi > select {
  margin-top: 4px;
  min-width: 200px;
}

.web-filters-search .web-filters-search-check {
  @extend .col-left;
  margin-left: 25px;
  margin-top: 22px;
  width: 180px;
}

.web-filters-search .web-filters-search-check > div {
  margin-top: 5px;
}

.web-filters-search .web-filters-search-button {
  @extend .clear-b;
  margin-top: 4px;
  padding: 1px;
  text-align: right;
}

.web-social-filter > div{
  @extend .right;
  margin-top: 2px;
}

.web-social-filter .web-social-filter-counter {
  @extend .text-white;
  @extend .col-left;
  @extend .bold;
}
.web-social-filter-items {
  height: 130px;
  @extend .o-auto;
}

.web-social-filter-items .web-social-filter-item {
  @extend .clear-b;
  @extend .pointer;
  @extend .o-auto;
  padding: 1px;
  width: 80%;
  margin-top: 5px;
  position: relative;
}

.web-social-filter-items .web-social-filter-item .web-social-icon-image {
    position: absolute;
    top: 5px;
    right: 25px;
}

.web-social-filter-items .selected {
  background-color: $gray_normal;
  @extend .default-rd;
  color: black !important;
  margin-top: 5px;
}

.web-social-filter-items .web-social-filter-item .web-social-filter-image {
  @extend .col-left;
  margin-right: 15px;
  padding: 2px 2px 0;
}

.web-social-filter-items .web-social-filter-item .web-social-filter-name {
  @extend .text-white;
  @extend .bold;
  line-height: 20px;
  margin-left: 31px;
}
