/** profile menu **/
.profilePanel {
    display: none;
    position: absolute;
    min-height: 120px;
    min-width: 202px;
    background:  #222;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444),
        color-stop(100%, #222) );
    background: -webkit-linear-gradient(#444, #222);
    background: -moz-linear-gradient(#444, #222);
    background: -o-linear-gradient(#444, #222);
    background: linear-gradient(#444, #222);
    //@include ctb-gradient-vertical(#444, #222);
    right: 0px;
    left: 0px;
    top: 43px;
    zoom: 1;
    @include box-shadow(#888888 1px 2px 3px);
    @include border-radius(0px 0px 5px 5px);
    z-index: 99999;
}

.profileOpenPanel {
    display: block;
}

.profilePanel ul {
    max-height: 350px;
    max-width: 100%;
    overflow: hidden;
}

.profilePanel li {
    background-image: none;
    clear: both;
    display: block;
    width: 85%;
    float: left;
    text-align: left;
    list-style: none;
    margin: 0px;
    padding: 6px 15px;
}

.profilePanel li:hover {
    background-color: #FFF;
}

.profilePanel li:hover a:link,
.profilePanel li:hover a:visited {
    color: #444 !important;
}

.profilePanel li a:link {
    color: #BABABA !important;
    font-weight: normal;
    text-decoration: none !important;
}

.profilePanel li a:hover {
    color: white !important;
    text-decoration: none;
}

.profilePanel li a {
    padding: 10px;
    color: #BABABA !important;
    font-weight: normal;
}

.web-profile-menu {
    color: $white;
    cursor: pointer;
    height: 25px;
    vertical-align: middle;
    padding: 11px 0px 7px 0px;
}

.web-profile-menu .image {
    float: left;
    margin-left: 5px;
}

.web-profile-menu .real-name {
    line-height: 22px;
    margin-left: 40px;
    min-width: 119px;
    padding-right: 4px;
    text-align: center;
    vertical-align: middle;
}