@import "_base_web";

.pagination, .web-list-more {
  @extend .pointer;
  margin: 2px;
  padding: 10px;
  @extend .center;
}

.pagination .titleNext, .web-list-more .titleNext {
  color: #7C7C7D;
  font-size: 122%;
  font-weight: normal;
}
