//option menu used on tweeetpo, create answer.

/** option-menu */
.option-menu {

   .icon {
      @include enme-gradient-custom($white, $gray_lite);
      border: 1px solid $gray_lite;
      @include border-radius(4px);
      padding: 1px;
      text-align: center;
      width: 20px;
      cursor: pointer;
    }

    .menu-items {
      @include enme-gradient-custom($white, $gray_lite);
      border: 1px solid $gray_lite;
      @include border-radius(3px);
      @include box-shadow(rgba(0, 0, 0, 0.2) 3px 3px 2px 0);
      margin-top: 2px;
      padding: 5px;
      position: absolute;
      width: 100px;
      color: $black;
      cursor: pointer;
    }

     .menu-items {
        &:hover{
           color: $gray_lite;
        }
    }

     .menu-items .menu-item-wrap {
        &:hover{
         color: white;
        }
    }

}
