@import "_base_web";

#web-poll-wrapper {
	border: 1px solid #D7D7D7;
	min-height: 500px;
	@extend .o-hidden;
	margin-top: 20px;
	width: $layout_width;
	background-color: $white;
}

/**
 * expand zone of detail of list POLL
 **/
.web-item-row .web-list-detail-more .web-poll-item-detail {
	border: 1px solid #EEEEEE;
	@include border-radius(5px);
	margin: 5px;
	min-height: 340px;
	padding: 10px;
	@extend .o-auto;
	background-color: white;
	@include box-shadow($default_box_shadow_enme 0px 0px 4px);
}

.web-item-row .web-list-detail-more .web-poll-info {
	clear: both;
	@extend .o-auto;
	position: relative;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-char-detail {
	@extend .col-left;
	min-width: 280px;
	max-width: 280px;
	margin: 0 5px;
	min-height: 308px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-char-detail .no_results {
  border: 1px solid #CFCBCB;
  font-size: 18px;
  line-height: 221px;
  margin-top: 15px;
  @include opacity(0.2);
  @extend .center;
  border-radius : 3px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options {
	margin-left: 340px;
	margin-top: 35px;
	padding: 6px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer {
	@extend .col-right;
	padding: 6px;
	width: 355px;
	margin-top: 40px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer > div {
	max-height: 265px;
	@extend .o-auto;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-no-results {
	border: 1px solid #EBEBEB;
	@include border-radius(6px);
	color: #E6E5E3;
	font-size: 15px;
	line-height: 159px;
	min-height: 160px;
	padding: 7px;
	@extend .center;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row
	{
	border-bottom: 1px dotted #DED8D8;
	@extend .o-auto;
	padding: 4px;
}

.web-items-no-results {
	background-color: rgb(247, 247, 247);
	border: 1px solid rgb(231, 230, 230);
	@include border-radius(10px);
	color: #D6D6D6;
	font-size: 24px;
	margin: 18px;
	min-height: 40px;
	padding: 120px;
	height: 100%;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-color
	{
	@include border-radius(11px);
	@extend .col-left;
	margin-bottom: 1px;
	margin-right: 10px;
	margin-top: 1px;
	padding: 1px;
	width: 20px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-label
	{
	color: #9C9B99;
	@extend .col-left;
	font-weight: bold;
	line-height: 15px;
	width: 165px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-percent {
	color: #70706F;
	font-weight: bold;
    @extend .col-left;
}

.web-item-row .web-list-detail-more .web-poll-info h2 {
	border-bottom: 1px solid #AEACA3;
	margin: 0 0 10px 5px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail {
	border-bottom: 1px dotted #E0E0E0;
	padding: 5px;
	overflow: hidden;
	@extend .text-left;
}

.web-item-row .web-poll-switch {
  background-color: #EDEDED;
  @include border-radius(5px);
  position: absolute;
  right: 0;
  top: 15px;
  width: 390px;
}

.web-item-row .web-poll-switch li {
  @extend .col-left;
  list-style: none outside none;
  margin: 0 5px;
  min-width: 50px;
  padding: 3px 6px;
}

.web-item-row .web-poll-switch li.selected {
  background-color: #6D6B6B;
  color: white !important;
  font-weight: bold;
}

.web-item-row .web-poll-switch li a {
  color: #545454;
  text-decoration: none;
  @include box-shadow(rgba(255, 255, 255, 0.5) 1px 1px 1px);
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail .label {
	@extend .col-left;
	font-weight: bold;
	width: 180px;
}

.web-item-row .web-list-detail-more .web-poll-info .web-poll-options .rownDetail .data {
  @extend .col-left;
  width: 30px;
}

.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar {
	background-color: #E6E6E6;
	border: 1px solid #D6D6D6;
	@include border-radius(3px);
	margin: 4px;
	min-height: 27px;
	padding: 4px;
}

.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info {
	@extend .col-left;
	padding: 7px;
	color: #1E1D1D;
	@extend .opacity-middle;
}

.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info > div{
    width: 30px !important;
}

.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-info img{
	@extend .opacity-lite;
}

.web-item-row .web-list-detail-more .web-poll-detail-bttm-bar .web-poll-detail-remove {
	@extend .text-right;
}