@import "_base_web";


.web-profile-wrapper {

      h3 {
        color: $gray_normal;
        font-weight: normal;
      }

      .profile-header {
          padding: 20px;
          overflow: hidden;
          position: relative;
          @include ctb-gradient-vertical(#ADADAD, #5C5A5A);
          //background-image: -webkit-linear-gradient(top,#ADADAD 0%,#5C5A5A 100%);

          h3 {
             color: $gray_lite;
            left: 150px;
            font-weight: 100;
            top: 40px;
            position: absolute;
          }

          .picture {
              float: left;

              img {
                @include border-radius(140px);
                height: 110px;
                width: 110px;
              }
          }
      }

      .enme-box {

        position: relative;

        .rss-right {
            position: absolute;
            right: 5px;
            top: 10px;
        }

      }

      .rss {
        margin: 0;
        padding: 0;
        @extend .text-back-image;
        box-shadow: 0px 0px 5px 4px #000 inset;
      }

      li {
          list-style: none;
          padding: 10px 20px;
          a {
              color : $white;
              text-decoration: none;
          }
      }

  }