.settingsWrapper {
	background-color: $white;
	margin-top: 20px;
	min-height: 396px;
	@extend .o-auto;
}

.settingsWrapper .settingsGroup {
	@extend .non-margin;
	@extend .o-hidden;
    @extend .width-max;
}

.settingsWrapper .settingsGroup div.listSettings {
	@extend .col-left;
	min-height: 400px;
	min-width: 200px;
	@extend .settings-shadow;
	background-color: $gray_lite;
	@extend .bold;
	@extend .text-white;

}

.settingsWrapper .settingsGroup .socialCommunitieItem {
	@extend .padding;
	@extend .pointer;
	@extend .settings-shadow;
}

.settings-shadow {
	@include box-shadow($black_light 0 1px 3px inset);
};

.settingsGroup .selected {
	background-color: $white;
	color: $black_light !important;
	@extend .settings-shadow;
}

.settingsWrapper .settingsGroup .settingsListDetail {
	margin-left: 200px;
	padding: 15px;
}

.settingsWrapper .settingsGroup .settingsListDetail h2 {
    @extend .non-margin;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.settingsWrapper .settingsGroup .settingsListDetail p {
    margin-top: 2px;
}

.settingsWrapper .settingsGroup .settingsListDetail .toolBox {
	 @extend .o-auto;
	 padding: 7px;
}

.settingsWrapper .settingsGroup .settingsListDetail .account-list-container .socialWrapperRow:first-child {
	@extend .top-m;
}

div.web-settings-account-row {
     margin: 0 0 25px;
}

div.web-settings-account label {
   @extend .df-label;
}

div.web-settings-account-row .info-block {
    @extend .block-d;
    line-height: 18px;
    color: $gray_normal;
    margin: 5px 0 0 !important;
}

div.web-settings-account-row a {
  color: $orange_middle;
  @extend .bold;
}

div.web-settings-account-row .settings-submit {
  @extend .right;
}

div.web-settings-account .data {
    margin-left: 150px;
}