/**
  sign up
 **/
#web-user-actions-form-wrapper {
    @extend .default-rd;
    @include box-shadow(rgba(0, 0, 0, .1) 0 1px 0);
    @extend .centered-block;
    padding: 30px;
    @extend .z-level-1;
    @include background-image(linear-gradient(color-stops($float_background_pry_color 0%, $float_background_sec_color 100%)));
    border-left: solid 1px $float_background_border;
    border-right: solid 1px $float_background_border;
    border-bottom: solid 1px $float_background_border_darken;
}

/** login **/

#web-form-wrapper h1 {
  font-size: $float_h1_size;
  font-weight: $float_h1_weight;
  color: #444;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-top: 0;
  text-shadow: 1px 0 0 $float_background_pry_color;
}

#web-form-wrapper .error {
    color: #FFFFFF;
    font-weight: normal;
    margin: 5px;
    padding: 5px;
    width: auto;
    @extend .center;
}

#web-user-actions-form-wrapper, #page-container {
   width: $float_size;
}

#web-user-actions-form-wrapper div.leftMessage {
    left: 20px;
    position: absolute;
    top: 10px;
    width: 250px;
}

.web-form-wrapper form {
    @extend .centered-block;
}

#web-user-actions-form-wrapper div.field {
    padding: 17px;
}

#web-user-actions-form-wrapper div.field div.label {
    color: #000;
    float: left;
    font-size: 133%;
    padding-top: 6px;
    width: 90px;
}

#web-user-actions-form-wrapper h5 {
  color: $black_medium ;
  font-weight: 200;
  margin: 5px 3px;
  @include gray_text_shadow;

}

#web-user-actions-form-wrapper .sign-in-form{
    @extend .centered-block;
    width: 69%;
}

#web-user-actions-form-wrapper div.sidetip {
  position: absolute;
  top: 38px;
  @extend .width-max;
  word-wrap: break-word;
}


#web-user-actions-form-wrapper div.sidetip p {
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 6px;
}

#web-user-actions-form-wrapper  .textbox .validator-wrapper .shadow-input-message {
    @include user-select($none);
    display: inline;
}

#web-user-actions-form-wrapper  .textbox .validator-wrapper .shadow-input-message {
    color: $float_background_sec_color;
    line-height: 37px;
    padding-left: 1px;
    font-size: 150%;
}

#web-user-actions-form-wrapper .textbox .section {
    margin-bottom: 15px;
    padding: 5px;
    position: relative;
    width: 93%;
}

#web-user-actions-form-wrapper .textbox .web-section-option {
    height: 15px;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    width: 80%;
}

#web-user-actions-form-wrapper .textbox .web-section-button {
    margin-bottom: 15px;
    margin-right: 90px;
    @extend .width-max;
    @extend .text-right;
}

#web-user-actions-form-wrapper  .shadow-input-message {
    -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
    cursor: text;
    left: 150px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 0;
    $float_background_pry_color-space: nowrap;
    @extend .z-level-1;
}

#web-user-actions-form-wrapper input, textarea, select {
    @extend .width-max;
    padding: 10px;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.submit {
    @extend .centered-block;
    padding: 3px;
    width: 37em;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D2D2D2;
  @extend .default-rd;
  color: #717171;
  font-size: 13px;
  margin: 25px auto 0;
  overflow: auto;
  padding: 5px 10px 10px;
  @extend .text-left;
  width: 376px;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
    display: inline;
    line-height: 26px;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
    list-style: disc outside none;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions li {
  background-color: $black_medium;
  border: 1px solid #929292;
  @extend .default-rd;
  color: #FFFFFF;
  cursor: pointer;
  display: -moz-box;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  padding: 2px;
  @extend .white-space;
  @extend .col-left;
}

/** sign up */

#web-user-actions-form-wrapper .sign-un-form {
    @extend .centered-block;
    width: 60%;
}

/** social sign in **/

.web-social-signin {
  margin: 25px 0;
}

.web-social-signin h3 {
  margin: 10px 0 !important;
}

/** confirm message **/

.web-user-confirm-message {
  padding: 20px;
  @extend .width-max;
}

.web-user-confirm-message h2{
    color: $black_hight;
    font-size: 18px;
}

.web-user-confirm-message span{
    color: $black_hight;
    font-size: 18px;
}

.web-user-confirm-message span a {
  color: #E7A441 !important;
}

.web-user-confirm-message div {
  margin-top: 10px;
}

/** web-message-forgor-link **/

.web-message-forgor-link {
  margin-top: 20px;
}

.web-message-forgor-link a {
  color: #E7A441 !important;
}

/** error message **/

.error-page  .web-user-confirm-message{
  padding: 0;
}

.web-user-confirm-message .error{

}

.web-user-confirm-message .extra {
  color: #888888;
  height: 300px;
  overflow: auto;
}