@import "_base_web";

/** Row Account */
.socialWrapperRow {
	@include border-radius(2px);
	@include box-shadow($black_light 1px 1px 3px inset);
	@extend .pointer;
	@extend .o-auto;
	background-color: $white;
	@extend .bot-m;
}

.socialWrapperRow .sub-title-account {
	@extend .o-auto;
	position: relative;
}

.socialWrapperRow .sub-title-account .image {
	@extend .col-left;
}

.socialWrapperRow div.title {
	font-size: 14px;
	@extend .bold;
	margin-left: 30px;
	padding: 5px;
}

.socialWrapperRow .favorite {
	position: absolute;
	right: 5px;
	top: 5px;
}

.socialWrapperRow form {
	@extend .padding;
}

.socialWrapperRow div.socialNewForm {
	clear: both;
	position: fixed;
}

.socialWrapperRow .tokensWrapper {
	 padding: 5px;
	 border-top: 1px dotted;
	 @extend .o-auto;
}

.socialWrapperRow .tokensWrapper div.tokenHideOptions {
	 min-height: 45px;
}

.socialWrapperRow .tokensWrapper div.tokenHideOptions table td {
 	 padding: 5px;
}

.socialWrapperRow .tokensWrapper div.tokenHideOptions table td label {
	  color: $black_semi_medium;
	  @include text-shadow($white 1px 2px 1px);
}

.socialWrapperRow  div.option-button {
	@extend .right;
	@extend .col-right;
}

.socialWrapperRow .tokensWrapper .dijitTextBox {
	min-width: 250px;
}

.socialWrapperRow .tokensWrapper label {
	@extend .bold;
	font-size: $df_font_size - 1;
}