@import "_base_web";

/** float messages window **/

.enme-web-context .dijitToasterContent {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 !important;
}

.enme-web-context .dijitToasterContent .message_toaster {
  padding: 15px 10px 15px 10px;
  margin-bottom: 5px;
}

.enme-web-context .dijitToasterContent .message_toaster > div {
  font-size: 12px;
}

.enme-web-context .dijitToasterContent .message_toaster > div > p {
  margin: 3px 0;
}

.enme-web-context  .dijitToasterContainer {
    display: block;
    font: 0.75em Tahoma,Helvetica,Verdana,Arial;
    margin: 0;
    width: 300px;
}

.enme-web-context  .dijitToasterFatal  .message_toaster {
     background: none repeat scroll 0 0 #FFBABA;
      color: #D8000C;
      border: 1px solid #FFBABA;
}

.enme-web-context  .dijitToasterError  .message_toaster {
     background: none repeat scroll 0 0 #FFBABA;
      color: #D8000C;
      border: 1px solid #FFBABA;
}

.enme-web-context  .dijitToasterMessage .message_toaster {
      background: none repeat scroll 0 0 #DFF2BF;
      color: #4F8A10;
      border: 1px solid #4F8A10;
}

.enme-web-context  .dijitToasterWarning .message_toaster {
      background: none repeat scroll 0 0 #FEEFB3;
      color: #9F6000;

}