@import "_base_web";

.web-tweetpoll-detail, .web-poll-results {
    @extend .non-margin;
    @extend .main-shadow-box;
}

.web-tweetpoll-detail div.question {
    @extend .non-margin;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail {
    @extend .text-white;
    @extend .col-left;
    min-height: 48px;
    min-width: 45px;
    padding: 3px;
    @extend .center;
    width: 75px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-high {
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-small-title {
    color: #BABABA;
    font-size: 10px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .hits-detail-small {
    font-size: 13px;
    line-height: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper {
  background-color: $white;
  min-height: 300px;
  @extend .o-hidden;
}

.web-tweetpoll-detail .chart-tweetpoll-wrapper {
    min-height: 300px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-chart {
    @extend .col-left;
    min-height: 180px;
    width: 395px;
}


/**
 * TweetPoll Detail.
 */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper{
    margin: 0 10px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper > div:first-child {
    padding-top: 20px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper .tab {
    @include border-radius(5px 5px 0 0);
    background-color: #EFEFEF;
    border-left: 1px solid #CFCACA;
    border-right: 1px solid #CFCACA;
    border-top: 1px solid #CFCACA;
    color: #303030;
    min-width: 50px;
    padding: 4px 7px;
    text-align: center;
    box-shadow : 0px -1px 2px 0px #B5B4B4 inset;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper .tab:hover {
    background-color: #545454;
    color: #FFF;
    box-shadow : 0px -1px 2px 0px white inset;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-title {
    font-size: 130%;
    font-weight: bold;
    max-height: 30px;
    min-height: 18px;
    max-height: 235px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-detail {
    min-height: 185px;
    padding: 0 0 0 10px;
    @include border-radius(0px 5px 5px 5px);
    border: 1px solid #DCDCDC;
    background-color: $white;
    overflow: auto;
    margin-top : 4px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-detail .detail
    {
    @extend .col-left;
    width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.subMenu
    {
    color: rgb(39, 82, 150);
    font-weight: bold;
    font-style: italic;
    padding: 0pt 0px 10px 0pt;
    font-size: 119%;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail
    {
    border-bottom: 1px dotted #EEEEEE;
    clear: both;
    line-height: 20px;
    min-height: 20px;
    padding: 4px 1px;
    width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail:last-child
    {
    border-bottom: 0;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail div.label {
  @extend .col-left;
  font-weight: bold;
  width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail div.data
    {
    margin-left: 200px;
    padding: 2px;
    width: 150px;
}

.web-tweetpoll-list-detail-detail .extra {
    float: right;
    box-shadow: 1px -1px 4px 1px #969696;
    float: right;
    min-height: 210px;
}

/** tweetpoll table */

.web-tweetpoll-answer-table {
    border: 1px none;
}

.web-tweetpoll-answer-table > div > span:first-child {
  width: 150px;
}

.web-tweetpoll-answer-table > div > span {
  background-color: #474747;
  @extend .text-white;
  @extend .col-left;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 5px 5px 3px;
  text-align: center;
  width: 98px;
}

.web-tweetpoll-answer-table > div.content {
  padding: 0 0 5px;
  @extend .col-right;
}

.web-tweetpoll-list-item .web-tweetpoll-answer-table > div > div {
  background: none repeat scroll 0 0 #F7F7F7;
  border-bottom: 1px dotted #E7E6E6;
  overflow: hidden;
  padding: 10px 0;
  @extend .width-max;
}

.web-tweetpoll-list-item .web-tweetpoll-answer-table > div > div > div {
  float: left;
  line-height: 20px;
}

.web-tweetpoll-answer-table > div > div .answer-color {
  margin-left: 10px;
  width: 155px;
}

.web-tweetpoll-answer-table > div > div .answer-color > div {
  border-radius: 5px 5px 5px 5px;
  float: left;
  height: 20px;
  width: 20px;
}

.web-tweetpoll-answer-table > div > div .answer-color > span {
  float: left;
  margin-left: 10px;
}

.web-tweetpoll-answer-table > div > div .answer-color > span a {
  text-decoration: none;
}

.web-tweetpoll-answer-table > div > div .answer-votes {
  text-align: center;
  width: 100px;
}

.web-tweetpoll-answer-table > div > div .answer-percent {
  text-align: center;
  width: 110px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer h2 {
    margin: 0;
}

.web-tweetpoll-detail .section-block {
    background-color: blue;
}

.web-tweetpoll-detail .web-tweetpoll-social-links {
    padding: 0px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links {
    padding: 0px;
}

.web-tweetpoll-detail .titleTweetPollSection {
    background-color: #3E6D8E;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: bold;
    padding: 5px;
}

.web-tweetpoll-detail .extraMargin {
    margin-bottom: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .title {
    font-size: 120%;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item {
    overflow: auto;
    padding: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links h2 {
    font-weight: normal;
    margin-top: 1em;
    font-size: 100%;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .img {
    float: left;
    min-width: 27px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .link {
    float: left;
}

.web-tweetpoll-detail  .web-tweetpoll-comments {
    /*margin-bottom: 15px;*/
}

/* tweetpoll info detail */
.web-tweetpoll-detail .web-tweetPoll-info-detail {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 -1px 1px white inset;
    overflow: auto;
    width: 100%;
}

div.web-tweetpoll-detail .web-tweetPoll-info-detail .question-info {
    @extend .col-left;
    padding-top: 15px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .left-info {
    @extend .col-left;
    width: 150px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info {
    @extend .col-left;
    max-height: 65px;
    overflow: hidden;
    width: 700px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .picture {
    @extend .col-left;
    max-height: 54px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data {
    @extend .col-left;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data label {
    font-weight: bold;
    margin-left: 3px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail div.info div.data ul {
    margin: 0px !important;
    padding: 0px !important;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data li
    {
    display: block;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.data {
    @extend .col-right;
    width: 240px;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.tweetPollChart
    {
    border: 1px dotted #000;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.onLive {
    background-color: #ED9C9C;
    border: 1px solid #FFFFFF;
    @include border-radius(3px);
    color: #FFFFFF;
    margin: 12px;
    padding: 2px 2px 2px 15px;
    width: 260px;
}