@import "_base_web";

button.emne-menu {
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  border: 1px solid #CCCCCC;
   @extend .default-rd;
  color: #000000;
  cursor: pointer;
  height: 2.0833em;
  overflow: visible;
  padding: 0 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

button.emne-menu span {
  line-height: normal;
}

button.emne-menu img {
  font-size: 0;
  vertical-align: middle;
}

button.emne-menu button {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 1px #FFFFFF inset;
  color: #555555;
  font-size: 11px;
  font-weight: bold;
  height: 2.95em;
  padding: 0 0.91em;
  text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}


button.button:hover {
        background-color: $orange;
        //background-repeat: repeat-x;
        @include background-image(linear-gradient($orange, $orange_gradient_over));
}

button.button {
        /** $orange_light, $orange_gradient_over **/
        // border-color: #096EB3;
        background-color: $orange_gradient_over;
        //background-repeat: repeat-x;
        @include background-image(linear-gradient($orange_light, $orange_gradient_over));
        @include text-shadow(rgba(255, 255, 255, .5) 0 -1px 1px);
        @extend .default-rd;
        @include box-shadow(#888 0px 0px 1px);
        color: #FFFFFF;
        cursor: pointer;
        font-weight: bold;
        outline: 0 none;
        padding: 8px 6px;
        width: auto;
        position: relative;
        display: inline-block;
        overflow: visible;
        padding: 5px 10px;
        font-size: $button_font_size;
        font-weight: bold;
        line-height: 18px;
        border: 1px solid #CCC;
        cursor: pointer;
}


.enme-web-context button.vote {
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top, #FAFAFA 0px, #DCDCDC 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    box-shadow: 0 0 1px #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;
}

.enme-web-context button:hover {
    text-decoration: none;
}

.enme-ui-button {
  -moz-user-select: none;
  background: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%) repeat scroll 0 0 transparent !important;
  border: 1px solid #ADADAD !important;
  @extend .default-rd;
  box-shadow: 1px 2px 1px 0 #D5D5D5;
  color: #000000;
  cursor: pointer;
  font-size: $button_font_size;
  font-weight: bold;
  -moz-user-select: none;
  height: 27px;
  outline: 0 none;
  padding: 0 0.2em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
  word-wrap: normal;
}

.button-red {
    background: -moz-linear-gradient(center top , #F1ADAD 0px, #9F6161 100%) repeat scroll 0 0 transparent !important;
    color: white;
}

/** override dijit buttons **/

/** default button */

.dijitButton .dijitButtonNode{
    font-size: $button_font_size !important;
    border: 1px solid #ADADAD !important;
    padding: 5px 13px !important;
    font-weight: bold;
    color: white !important;
    background-image: none !important;
    background-color: $orange_gradient_over !important;;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from($orange_light),to(#BF5A02)) !important;;
    background-image: -moz-linear-gradient($orange_light,$orange_gradient_over) !important;;
    background-image: -ms-linear-gradient($orange_light,$orange_gradient_over) !important;;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$orange_light),color-stop(100%,$orange_gradient_over)) !important;;
    background-image: -webkit-linear-gradient($orange_light,$orange_gradient_over) !important;;
    background-image: -o-linear-gradient($orange_light,$orange_gradient_over) !important;;
    background-image: linear-gradient($orange_light,$orange_gradient_over) !important;;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange_light',endColorstr='$orange_gradient_over',GradientType=0) !important;;
    @extend .default-rd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* .dijitButton .dijitButtonNode:hover {
    background: -moz-linear-gradient(center top , #F1ADAD 0px, #9F6161 100%) repeat scroll 0 0 transparent !important;
} */

/* .dijitButton .dijitButtonNode {
  background-image: none !important;
  border: 1px solid #6D8000 !important;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  font-size: 110% !important;
  font-weight: normal;
  padding: 5px 13px !important;
} */

/** hover color need to be fixed, it's blue **/

.enme-web-context .dijitButtonHover .dijitButtonNode{
  color: #FFFFFF !important;
   background-color: $orange !important;
   background-repeat: repeat-x !important;
   background-image: -khtml-gradient(linear,left top,left bottom,from($orange_light),to(#BF5A02)) !important;
   background-image: -moz-linear-gradient($orange,$orange_gradient_over) !important;
   background-image: -ms-linear-gradient($orange,$orange_gradient_over) !important;
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$orange),color-stop(100%,$orange_gradient_over)) !important;
   background-image: -webkit-linear-gradient($orange,$orange_gradient_over)!important ;
   background-image: -o-linear-gradient($orange,$orange_gradient_over)!important ;
   background-image: linear-gradient($orange,$orange_gradient_over)!important ;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange',endColorstr='$orange_gradient_over',GradientType=0) !important ;
}

.enme-web-context .dijitTextBoxHover, .enme-web-context .dijitTextBoxHover .dijitButtonNode {
    -moz-transition-duration: 0.25s;
    border-color: #A1D988;
}

.enme-web-context .dijitTextBoxHover, .enme-web-context .dijitTextBoxHover .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.enme-web-context .dijitTextBoxHover {
  background-color: #e9f4fe;
  background-image: none !important;
  background-repeat: repeat-x;
}

.enme-web-context .dijitSelect {

}

.enme-web-context .dijitSelect .dijitButtonText {
    min-width: 110px;
    padding: 5px !important;
    text-align: left;
}

.enme-web-context  .dijitMenuActive .dijitMenuItemHover, .enme-web-context .dijitMenuActive .dijitMenuItemSelected {
    background-color: none !important;
}