.pagination, .web-list-more {
  cursor: pointer;
  margin: 2px;
  padding: 10px;
  text-align: center;
}

.pagination .titleNext, .web-list-more .titleNext {
  color: #7C7C7D;
  font-size: 122%;
  font-weight: normal;
}
