/*
     tweetpoll detail answers
*/
/* line 10, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-answer > header {
  background-color: #8E8E8E; }

/* line 15, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-answer > header .answer-label {
  display: inline-block;
  padding-left: 30px;
  width: 260px; }

/* line 22, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-answer > header > div {
  background-color: #8E8E8E;
  box-shadow: 0 1px 0 0 #919191 inset;
  color: #444444;
  font-size: 1.2em;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9); }

/* line 32, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-answer > header .answer-votes {
  width: 89px; }

/* line 37, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-answer > header .answer-percent {
  padding-right: 15px; }

/* line 42, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer {
  clear: both;
  font-size: 1.2em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  width: auto; }

/* line 51, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  color: #4E4E4E;
  font-size: 1em;
  line-height: 20px;
  width: 300px; }

/* line 60, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > div {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px; }

/* line 70, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
  line-height: 20px;
  max-width: 80px;
  padding: 10px;
  width: 80px; }

/* line 78, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
  margin-left: 5px; }

/* line 82, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:link, .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:visited, .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a {
  color: #539fc8; }

/* line 86, ../../../sass/sections/shared-components/detail-tp-answers.scss */
.web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  line-height: 20px;
  max-width: 50px;
  width: 50px; }
