/*
 * TweetPoll Hashtag
 */
/* line 7, ../../../sass/sections/shared-components/detail-tp-hashtag.scss */
.web-tweetpoll-hashtags {
  padding: 20px;
  background-color: white; }

/* line 12, ../../../sass/sections/shared-components/detail-tp-hashtag.scss */
.web-tweetpoll-hashtags .tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #444 !important;
  font-size: 1.4em;
  text-shadow: 0px -1px 1px rgba(181, 181, 181, 0.5); }

/* line 21, ../../../sass/sections/shared-components/detail-tp-hashtag.scss */
.web-tweetpoll-hashtags .tag:hover {
  background-color: white;
  color: #444;
  text-decoration: none !important; }
