/* line 1, ../../../sass/sections/shared-components/generic-results.scss */
.web-detail-answer-wrapper > header {
  background-color: #8E8E8E;
  overflow: hidden; }

/* line 6, ../../../sass/sections/shared-components/generic-results.scss */
.web-detail-answer-wrapper > header .answer-label {
  display: inline-block;
  float: left;
  padding-left: 30px;
  width: 260px; }

/* line 17, ../../../sass/sections/shared-components/generic-results.scss */
.web-detail-answer-wrapper > header > div {
  background-color: #8E8E8E;
  box-shadow: 0 1px 0 0 #919191 inset;
  color: #444444;
  font-size: 1.2em;
  line-height: 20px;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9); }

/* line 27, ../../../sass/sections/shared-components/generic-results.scss */
.web-detail-answer-wrapper > header .answer-votes {
  float: left;
  width: 89px; }

/* line 32, ../../../sass/sections/shared-components/generic-results.scss */
.web-detail-answer-wrapper > header .answer-percent {
  float: right;
  padding-right: 15px; }

/*** web-generic-result **/
/* line 39, ../../../sass/sections/shared-components/generic-results.scss */
.web-generic-result {
  font-size: 14px;
  overflow: auto;
  padding: 6px; }

/* line 45, ../../../sass/sections/shared-components/generic-results.scss */
.web-generic-result .color {
  float: left;
  padding: 3px;
  text-align: center;
  width: 60px; }

/* line 52, ../../../sass/sections/shared-components/generic-results.scss */
.web-generic-result .color span {
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  height: 20px;
  width: 30px; }

/* line 59, ../../../sass/sections/shared-components/generic-results.scss */
.web-generic-result .label {
  float: left;
  padding: 8px;
  width: 225px; }

/* line 65, ../../../sass/sections/shared-components/generic-results.scss */
.web-generic-result .votes {
  padding: 0; }
