/** poll vote **/
/* line 3, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote {
  margin: 65px auto 0;
  width: 600px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); }

/* line 14, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote header {
  background: none repeat scroll 0 0 #F3F3F3;
  font-size: 16px;
  padding: 15px;
  text-shadow: 0 1px 0 #FFFFFF; }

/* line 21, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .emne-box {
  background-color: white;
  border: 0 none;
  margin: 0; }

/* line 27, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .votex-box {
  background: none !important; }

/* line 35, ../../../sass/sections/shared-components/poll-vote.scss */
.poll-vote-container section {
  padding: 8px; }

/* line 39, ../../../sass/sections/shared-components/poll-vote.scss */
.poll-vote-container section label {
  color: #7E7E7E;
  font-size: 14px;
  font-weight: bold; }

/* line 45, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote footer {
  background-color: #676767;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  color: white;
  font-size: 10px;
  padding: 15px 40px 15px 15px;
  text-align: right; }

/* line 60, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote article .web-vote {
  margin: 0 auto;
  width: 90%; }

/* line 65, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote article .web-vote input[type="radio"] {
  background-color: #C5C5C5;
  cursor: pointer;
  margin-right: 8px;
  padding: 3px; }

/* line 72, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .final {
  background-color: #ADE195;
  box-shadow: 1px 0 4px 0 #BEBCBC;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 30px; }

/* line 81, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .repeated {
  background-color: #EEE78B; }

/* line 85, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .bad {
  background-color: red; }

/* line 89, ../../../sass/sections/shared-components/poll-vote.scss */
.web-poll-wrapper-vote .final .link {
  color: black;
  font-size: 15px;
  margin-top: 19px;
  text-align: right; }

/** poll vote **/
