/* line 3, ../../../sass/sections/shared-components/setup.scss */
div.web-setup-wrapper {
  margin-top: 20px;
  border: 1px solid #EEEEEE;
  font-size: 110%;
  -webkit-box-shadow: #888888 1px 4px 3px 0px;
  -moz-box-shadow: #888888 1px 4px 3px 0px;
  box-shadow: #888888 1px 4px 3px 0px;
  background-color: white; }

/* line 12, ../../../sass/sections/shared-components/setup.scss */
div.web-setup-wrapper div.web-setup-header-into {
  background-color: #F1721F;
  border-bottom: 3px solid #888888;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: bold;
  margin: 15px 5px 5px;
  padding: 20px;
  width: auto; }

/* line 23, ../../../sass/sections/shared-components/setup.scss */
div.web-setup-wrapper div.web-setup-header-into div.web-setup-title {
  font-size: 18px;
  color: #FFF; }

/* line 29, ../../../sass/sections/shared-components/setup.scss */
div.web-setup-wrapper div.web-setup-header-into div.web-header-description {
  color: black;
  font-size: 13px; }

/* line 34, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper a {
  color: #F1721F; }

/* line 38, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper div.web-setup-content {
  padding: 10px;
  width: auto; }

/* line 43, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper div.setup-description h1 {
  font-weight: bold;
  color: #F1721F; }

/* line 52, ../../../sass/sections/shared-components/setup.scss */
.web-setup-content .setup-form {
  padding: 10px;
  width: auto; }

/* line 57, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div.row {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 8px; }

/* line 63, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div .label {
  color: #8B8B8B;
  font-size: 110%;
  font-weight: bold;
  line-height: 31px;
  min-width: 145px;
  text-align: left;
  width: 25%; }

/* line 74, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div.row span {
  float: right;
  margin-right: 430px; }

/* line 79, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div.row span.errors {
  padding: 2px;
  color: #E35757; }

/* line 84, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div input[type="text"], .web-setup-wrapper .setup-form div input[type="password"] {
  height: 20px;
  width: 275px;
  font-size: 16px;
  font-weight: normal;
  padding: 4px 2px;
  border: 1px solid #AAAAAA; }

/* line 94, ../../../sass/sections/shared-components/setup.scss */
.web-setup-wrapper .setup-form div.row .inputError {
  border: 1px solid #E35757;
  background-color: #F9E5E5; }
