<section class="web-filters-options ">
    <nav class="enme-unselectable">
        <a href="#" data-dojo-attach-point="_search">
            ${i18nMessage.detail_manage_filters_advanced}
        </a>
        |
         <!--
        <a href="#" data-dojo-attach-point="_order">
            ${i18nMessage.detail_manage_filters_order}
        </a>
         |
         -->
        <a href="#" data-dojo-attach-point="_social">
            ${i18nMessage.detail_manage_filters_social_network}
        </a>
       <!--
         |
        <a href="#" data-dojo-attach-point="_votes">
            ${i18nMessage.detail_manage_filters_votes_options}
        </a>
        -->
    </nav>
    <article class="enme-text-large enme-unselectable">
        <section data-dojo-attach-point="_search_o" class="" style="display:none;">
            <div data-dojo-type="me/web/widget/support/SearchMenu"
                 typeItem="${typeItem}"
                 data-dojo-attach-point="_searchWidget"></div>
        </section>
         <section data-dojo-attach-point="_order_o" class="" style="display:none;">
            <div data-dojo-type="me/web/widget/support/OrderMenu"
                 typeItem="${typeItem}"
                 data-dojo-attach-point="_orderWidget"></div>
        </section>
        <section data-dojo-attach-point="_social_o" class="" style="display:none;">
            <div data-dojo-type="me/web/widget/support/SocialFilterMenu"
                 typeItem="${typeItem}"
                 data-dojo-attach-point="_socialWidget"></div>
        </section>
        <section data-dojo-attach-point="_votes_o" class="" style="display:none;">
            <div data-dojo-type="me/web/widget/support/VotesFilterMenu"
                 typeItem="${typeItem}"
                 data-dojo-attach-point="_votesWidget"></div>
        </section>
    </article>
</section>