/** default transition **/
/** placeholder text **/
#enme-content input, textarea {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset, rgba(255, 255, 255, 0.075) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset, rgba(255, 255, 255, 0.075) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset, rgba(255, 255, 255, 0.075) 0 1px 0;
}

#enme-content input, textarea, select {
  display: inline-block;
  margin: 0;
  outline: 0;
  background-color: white;
  border: 1px solid #CCC;
}

#enme-content input:focus {
  -webkit-box-shadow: #e7a441 0 0 5px;
  -moz-box-shadow: #e7a441 0 0 5px;
  box-shadow: #e7a441 0 0 5px;
}

.txt-padding, #enme-content input, textarea, select, .enme-text .setting-detail .dijitTextBox {
  padding: 4px;
}
