/*
Sass::SyntaxError: ".mobil .web-tweetpoll-answer-answer > header > div" failed to @extend ".mobile-home-subtitle".
The selector ".mobile-home-subtitle" was not found.
Use "@extend .mobile-home-subtitle !optional" if the extend should be able to fail.


Backtrace:
/Users/jpicado/Documents/workspace-enme/encuestame/encuestame.git/enme-css/src/css/resource/sass/mobile/component/_poll_tp_htg_detail.scss:61
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/util/subset_map.rb:106:in `each'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/util/subset_map.rb:106:in `each_value'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/engine.rb:268:in `render'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:329:in `block in watch'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/jpicado/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".mobil .web-tweetpoll-answer-answer > header > div\" failed to @extend \".mobile-home-subtitle\".\A The selector \".mobile-home-subtitle\" was not found.\A Use \"@extend .mobile-home-subtitle !optional\" if the extend should be able to fail.\A "; }
