<div class="item">
     <div class="img">
             <div class="stats">
                 <div class="vote">
                     <div>
                         <span class="count"><strong>${votes}</strong></span>
                         <div class="viewcount">
                              <spring:message code="home.item.votes" />
                         </div>
                     </div>
                 </div>
                  <div class="views">
                    ${views} <spring:message code="home.item.views" />
                 </div>
             </div>
     </div>
     <div class="content">
         <div class="title">
              <a href="${contextPath}/tweetpoll/${id}/test">${questionName}</a>
         </div>
         <div class="bottom">
            <div class="options">
                 <div class="image">
                         <a href="${contextPath}/profile/${owner}">
                             <img width="32" height="32" alt=""
                             src="${contextPath}/picture/profile/${owner}/thumbnail"/>
                         </a>
                 </div>
                 <div class="share">
                         <span class="title">Share on:</span>
                         <img src="${contextPath}/resources/images/social/twitter/enme_icon_twitter.png" alt="Twitter" />
                         <img src="${contextPath}/resources/images/social/facebook/enme_icon_facebook.png" alt="Facebook" />
                     </div>
                 <div class="submited">
                     <spring:message code="submited.by" />
                         <strong>
                             <a href="${contextPath}/profile/${owner}">${owner}</a>
                         </strong>
                              <spring:message code="added" />
                         <strong>
                             ${relativeTime} | <br>
                             <a href="${contextPath}/tweetpoll/${id}/test#comments">
                                25  <spring:message code="home.item.comments" />
                             </a>
                         </strong>
                 </div>
            </div>
            <div class="tags">
            </div>
         </div>
     </div>
</div>