<div class="widget generic-stats">
    <div class="counter">
        <div class="enme-rating">
            <div class="vote">
                    <div class="count" data-dojo-attach-point="_voteCounter"></div>
                    hit(s)
            </div>
            <div class="count-sub" data-dojo-attach-point="_vote">0 average</div>
            <div class="count-sub">
                <span data-dojo-attach-point="_badge">
                    0
                </span>
            </div>
        </div>
    </div>
    <div class="title">
        <h3>
            #${hashtagName}
        </h3>
    </div>
</div>