.admon-table-options  {
    overflow: auto;
    padding: 15px;
}


.admon-table-options h2{
    margin: 0;
}

.admon-table-options p{
    margin: 0;
    font-style: italic;
}

/* Templates Admon */

div.admonWrapper{
    margin: auto 110px;
}

div.admonWrapper a{
    color: #444444;
}

div.admonWrapper div.panelAdmon{
    padding-top:8px;
    float: left;
}

div.admonWrpper div.bodyAdmon{
    margin-left: 250px;
    min-width:700px;
    padding: 0 0px 8px 0;
}

.formDefault{
    padding: 25px;
}

.formDefault label{
    font-size: 115%;
}

// .formDefault .dijitTextBox{
//     font-size: 120%;
// }

/** Users **/

.web-new-user p {
    padding-left: 20px;
    margin: 0;
}

div.userWidget div.menuOptions{
    padding: 10px 0;

}

div.userWidget div.menuOptions a{
    padding: 2px;
    color: #444444;
    cursor: pointer;
}

div.userWidget div.controlsTable{
    text-align: center;
}

div.userWidget .total{
    float: left;
}

div.userWidget div.controlsTable a{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

/*** groupWidget **/

.groupWidget {
    width: 150px;
    margin: 0;
    position: relative;
}

.groupWidget div.menu {
    padding: 3px;
    text-align: center;
    cursor: pointer;
    min-height: 20px;
}

.groupWidget div.item {
    font-style: italic;
    cursor: pointer;
    color: #444444;
    padding: 0px 5px;
    cursor: pointer;
    border-bottom: 1px dotted rgb(197, 197, 197);
}

.groupWidget-menu-ab {
    background-color: #EEE;
    border: 1px solid #9A9A9A;
    position: absolute;
    width: 150px;
    z-index: 700;
}

.groupWidget div.showMenu{
    cursor: pointer;
    border: 1px solid #A29B9B;
    /* old browsers  http://www.colorzilla.com/gradient-editor/ */
    background: #F6F7E8; /* old browsers */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.groupWidget div.openMenu {
    text-align: center;
    width: 150px;
    padding: 3px 0;
    border: 1px solid #A29B9B;
}

.groupWidget div.selected{
    background-color: #928E8E;
}

groupWidget div.selected{
    font-weight: bold;
}

.groupWidget div.item:hover{
    font-style: italic;
    background-color: #D9D9D9;
}

/**web-admon-user-create **/

.web-admon-user-create {
    padding: 10px 20px;
    margin: 0;
    background: none;
    box-shadow: none;
    border: none;
}

.web-admon-user-create table {

}

.web-admon-user-create td {
}

.web-admon-user-create tr {
    z-index: 1;
}

.web-admon-user-create td > div {
    position: relative;
    width: 520px;
}

.web-admon-user-create .validator-wrapper {
    z-index: 1;
}

.web-admon-user-create .suggestions {
    width: 400px;
}

.web-admon-user-create  input {
    padding: 5px;
}

.web-admon-user-create .validator-wrapper .sidetip {
    top: 3px;
    left: 320px;
    position: absolute;
}

.web-admon-user-create .validator-wrapper .input-design {
    width: 60%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.web-admon-user-create .validator-wrapper .input-design fieldset {
    z-index: 1;
}

.web-admon-user-create .validator-wrapper .input-design input {
    width: 300px;
    font-size: 12px;
}

.web-admon-user-create .suggestions {
    width: 100%;
}

.web-admon-user-create .suggestions > span {
    font-size: 10px;
}

.web-admon-user-create .suggestions ul > li {
    margin: 5px 0 0px 0;
    list-style: none;
    margin-right: 5px;
    float: left;
    background-color: #666;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid rgb(206, 202, 206);
    cursor: pointer;
    color: white;
}

.web-admon-user-create .submit {
    padding: 10px 0px 0px 0px;
}

/** User Edit Form **/

.ui-user-edit {
    min-width: 600px;
}