/* line 3, ../sass/dojo-fixes.scss */
#enme-content input, textarea, select .dijitInputField {
  /*width: 16px;*/
}

/* line 7, ../sass/dojo-fixes.scss */
#enme-content .dijitInputField input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 16, ../sass/dojo-fixes.scss */
#enme-content .dijitSelectFocused,
#enme-content .dijitSelectFocused .dijitButtonContents,
#enme-content .dijitTextBoxFocused,
#enme-content .dijitTextBoxFocused .dijitButtonNode {
  border-color: #ffb23c;
  transition-duration: 0.1s;
}

/** avoid shadows and other effects inside widgets text box **/
/* line 22, ../sass/dojo-fixes.scss */
#enme-content .dijitInputField > input {
  box-shadow: none !important;
}

/* line 26, ../sass/dojo-fixes.scss */
#enme-content .dijitButtonText {
  font-weight: normal;
}

/** display the background black with diji dialogs **/
/* line 32, ../sass/dojo-fixes.scss */
.enme-web-context .dijitDialogUnderlay {
  background: none repeat scroll 0 0 #444444 !important;
}

/* line 36, ../sass/dojo-fixes.scss */
.enme-web-context .dijitBackgroundIframe {
  background-color: #000000 !important;
}

/** DND style **/
/* line 42, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItem {
  border-color: transparent;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}

/* line 52, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItemOver {
  background-image: none !important;
}

/* line 58, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItemAnchor,
.enme-web-context .dojoDndItemSelected {
  background-color: none !important;
  background-image: none !important;
}
