/* line 17, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  HTML5 ✰ Boilerplate  */
/* line 8, ../sass/html5/reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, ../sass/html5/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 20, ../sass/html5/reset.scss */
nav ul {
  list-style: none;
}

/* line 21, ../sass/html5/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 23, ../sass/html5/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 24, ../sass/html5/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 25, ../sass/html5/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 26, ../sass/html5/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 27, ../sass/html5/reset.scss */
del {
  text-decoration: line-through;
}

/* line 28, ../sass/html5/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 29, ../sass/html5/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, ../sass/html5/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 31, ../sass/html5/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 34, ../sass/html5/reset.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 35, ../sass/html5/reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 36, ../sass/html5/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 38, ../sass/html5/reset.scss */
body, select, input, textarea {
  color: #444;
}

/* line 39, ../sass/html5/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*html { overflow-y: scroll; }*/
/* line 42, ../sass/html5/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 43, ../sass/html5/reset.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 44, ../sass/html5/reset.scss */
a:hover {
  color: #036;
}

/* line 46, ../sass/html5/reset.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 47, ../sass/html5/reset.scss */
ol {
  list-style-type: decimal;
}

/* line 49, ../sass/html5/reset.scss */
nav ul, nav li {
  margin: 0;
}

/* line 50, ../sass/html5/reset.scss */
small {
  font-size: 85%;
}

/* line 51, ../sass/html5/reset.scss */
strong, th {
  font-weight: bold;
}

/* line 52, ../sass/html5/reset.scss */
td, td img {
  vertical-align: top;
}

/* line 53, ../sass/html5/reset.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 54, ../sass/html5/reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 55, ../sass/html5/reset.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 56, ../sass/html5/reset.scss */
textarea {
  overflow: auto;
}

/* line 57, ../sass/html5/reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 58, ../sass/html5/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 59, ../sass/html5/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 60, ../sass/html5/reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 61, ../sass/html5/reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 62, ../sass/html5/reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 63, ../sass/html5/reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 65, ../sass/html5/reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 67, ../sass/html5/reset.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/*::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } */
/* line 71, ../sass/html5/reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 73, ../sass/html5/reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 74, ../sass/html5/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 76, ../sass/html5/reset.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 77, ../sass/html5/reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 78, ../sass/html5/reset.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 79, ../sass/html5/reset.scss */
.invisible {
  visibility: hidden;
}

/* line 80, ../sass/html5/reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 81, ../sass/html5/reset.scss */
.clearfix:after {
  clear: both;
}

/* line 82, ../sass/html5/reset.scss */
.clearfix {
  zoom: 1;
}

/* Primary Styles
   Author: 
*/
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  /* line 117, ../sass/html5/reset.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 118, ../sass/html5/reset.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 119, ../sass/html5/reset.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 120, ../sass/html5/reset.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 121, ../sass/html5/reset.scss */
  .ir a:after {
    content: "";
  }

  /* line 122, ../sass/html5/reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 123, ../sass/html5/reset.scss */
  thead {
    display: table-header-group;
  }

  /* line 124, ../sass/html5/reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 126, ../sass/html5/reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 127, ../sass/html5/reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 17, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** default transition **/
/* line 5, ../sass/input.scss */
#enme-content input.enme-input {
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

/* line 12, ../sass/input.scss */
#enme-content input[type="text"], input[type="password"] {
  /*font-size : 13px*/
}

/** placeholder text **/
/* line 18, ../sass/input.scss */
input:-moz-placeholder {
  color: #D0D0D0;
}

/* line 22, ../sass/input.scss */
input::-webkit-input-placeholder {
  color: #D0D0D0;
}

/* line 26, ../sass/input.scss */
#enme-content input, textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  /*     -webkit-transition: .9s linear background;
      -moz-transition: .9s linear background;
      transition: .9s linear background; */
}

/* line 34, ../sass/input.scss */
#enme-content input, textarea, select {
  display: inline-block;
  /*  width: 210px;*/
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 47, ../sass/input.scss */
#enme-content input:focus {
  box-shadow: 0 0 5px #e7a441;
  -webkit-box-shadow: 0 0 5px #e7a441;
  -moz-box-shadow: 0 0 5px #e7a441;
}

/* line 17, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/dojo-fixes.scss */
#enme-content input, textarea, select .dijitInputField {
  /*width: 16px;*/
}

/* line 7, ../sass/dojo-fixes.scss */
#enme-content .dijitInputField input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 16, ../sass/dojo-fixes.scss */
#enme-content .dijitSelectFocused,
#enme-content .dijitSelectFocused .dijitButtonContents,
#enme-content .dijitTextBoxFocused,
#enme-content .dijitTextBoxFocused .dijitButtonNode {
  border-color: #ffb23c;
  transition-duration: 0.1s;
}

/** avoid shadows and other effects inside widgets text box **/
/* line 22, ../sass/dojo-fixes.scss */
#enme-content .dijitInputField > input {
  box-shadow: none !important;
}

/* line 26, ../sass/dojo-fixes.scss */
#enme-content .dijitButtonText {
  font-weight: normal;
}

/** display the background black with diji dialogs **/
/* line 32, ../sass/dojo-fixes.scss */
.enme-web-context .dijitDialogUnderlay {
  background: none repeat scroll 0 0 #444444 !important;
}

/* line 36, ../sass/dojo-fixes.scss */
.enme-web-context .dijitBackgroundIframe {
  background-color: #000000 !important;
}

/** DND style **/
/* line 42, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItem {
  border-color: transparent;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}

/* line 52, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItemOver {
  background-image: none !important;
}

/* line 58, ../sass/dojo-fixes.scss */
.enme-web-context .dojoDndItemAnchor,
.enme-web-context .dojoDndItemSelected {
  background-color: none !important;
  background-image: none !important;
}

/* line 11, ../sass/required.scss */
a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
