/* line 17, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/resources.scss */
.web-position-down {
  background: url("../images/icons/enme_down.png") no-repeat scroll 0 0 transparent;
}

/* line 6, ../sass/resources.scss */
.web-position-up {
  background: url("../images/icons/enme_up.png") no-repeat scroll 0 0 transparent;
}

/* line 9, ../sass/resources.scss */
.web-position-equal {
  background: url("../images/icons/enme_equals.png") no-repeat scroll 0 0 transparent;
}

/* line 12, ../sass/resources.scss */
.ellipsis {
  -moz-binding: url("assets/xml/ellipsis.xml#ellipsis");
}

/* line 16, ../sass/resources.scss */
.modal-box-im {
  background: url("../images/background-mobalbox.png") repeat-x scroll left bottom transparent;
}

/* line 20, ../sass/resources.scss */
.web-item-wrapper .item .loading {
  /*background-image: url(../../images/ball-loader.gif);*/
}

/* line 24, ../sass/resources.scss */
div.options .saveButton {
  background-image: url(../../images/icons/add.png);
}

/* line 28, ../sass/resources.scss */
div.publishWrapper div.itemPublish .account {
  background-image: url(../../images/icons/twitter-logo-small.png);
}

/* line 32, ../sass/resources.scss */
div.web-folder-wrapper .web-folder-item .icon-folder {
  background-image: url("../images/icons/enme_folder.png");
}

/* line 36, ../sass/resources.scss */
.enme-message-box {
  background-color: #F9EDBE;
  background-repeat: no-repeat;
  border: 1px solid #F0C36D;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 15px;
  left: 25%;
  margin: 0 auto;
  padding: 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 90000;
}

/* line 54, ../sass/resources.scss */
.enme-message-box .loading-wrapper {
  margin: 0 auto;
  width: 100px;
}

/* line 59, ../sass/resources.scss */
.enme-message-box .loading-ball {
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  width: 20px;
}

/* line 68, ../sass/resources.scss */
.enme-message-box .title-loading {
  float: left;
  font-weight: bold;
  line-height: 10px;
  margin-left: 5px;
  margin-top: 3px;
}

/* line 76, ../sass/resources.scss */
.ui-hits {
  background-image: url("../images/icons/enme_hits.gif");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  padding-left: 20px;
  padding-top: 3px;
}

/* line 87, ../sass/resources.scss */
.ui-comments {
  background-image: url("../images/icons/enme_comment_reply.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  padding-left: 24px;
  padding-top: 3px;
}

/* line 97, ../sass/resources.scss */
.ui-likes {
  background-image: url("../images/icons/1344286942_Like.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 12px;
  padding-left: 24px;
  padding-top: 3px;
}

/* line 108, ../sass/resources.scss */
.ui-dislike {
  background-image: url("../images/icons/1344286943_Dislike.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 15px;
  padding-left: 24px;
  padding-top: 3px;
}
