<div class="web-dasboard-wrapper">
    <div class="web-dash-menu">
        <div class="web-dash-list">
            <span id="stateSelect_${id}"></span>
            <span class="action" dojoAttachPoint="_new"></span>
        </div>
        <div class="web-dash-actions">
            <span class="action" dojoAttachPoint="_gadgets">Gadgets</span>
            <span class="action" dojoAttachPoint="_layout">Layout</span>
        </div>
    </div>
    <div class="web-dash-columns" dojoAttachPoint="_dasboard"></div>
</div>