<div class="web-layout-select">
    <h2 class="web-layout-select-title">Edit Layout</h2>
    <div class="web-layout-select-body">
        <p>
            <strong>Choose dashboard layout</strong>
        </p>
        <ul>
            <li><a dojoAttachPoint="layouta" href="#"><strong>A</strong>
            </a></li>
            <li><a dojoAttachPoint="layoutaa" href="#"><strong>AA</strong>
            </a></li>
            <li><a dojoAttachPoint="layoutba" href="#"><strong>BA</strong>
            </a></li>
            <li><a dojoAttachPoint="layoutab" href="#"><strong>AB</strong>
            </a></li>
            <li><a dojoAttachPoint="layoutaaa" href="#"><strong>AAA</strong>
            </a></li>
        </ul>
    </div>
</div>