/* line 1, ../../sass/web/question.scss */
.question .dijitTextBox {
  padding: 3px;
  font-size: 130%; }

/* line 6, ../../sass/web/question.scss */
.question .dijitTextArea {
  padding: 3px;
  font-size: 130%; }

/* line 11, ../../sass/web/question.scss */
.question .questionTextBox {
  width: 90%; }

/* line 15, ../../sass/web/question.scss */
.question .questionTextBox input {
  padding: 4px;
  font-size: 130%; }
