<section>
    <nav>
        <a href="#" dojoAttachPoint="_search">Search</a> |
        <a href="#" dojoAttachPoint="_filter">Filter Options</a> |
        <a href="#" dojoAttachPoint="_order">Order Options</a> |
        <a href="#" dojoAttachPoint="_social">Social Network Options</a> |
        <a href="#" dojoAttachPoint="_votes">Votes Options</a>
    </nav>
    <article>
        <section dojoAttachPoint="_search_o" class="" style="display:none;">
            1111
        </section>
        <section dojoAttachPoint="_filter_o" class="" style="display:none;">
            22222
        </section>
         <section dojoAttachPoint="_order_o" class="" style="display:none;">
            333333
        </section>
        <section dojoAttachPoint="_social_o" class="" style="display:none;">
            444444
        </section>
        <section dojoAttachPoint="_votes_o" class="" style="display:none;">
            555555
        </section>
    </article>
</section>