<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1000KB" />
        <param name="maxBackupIndex" value="0" />
        <param name="File" value="restv1.log" />
        <param name="threshold" value="info" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <!-- Encuestame -->

    <logger name="org.encuestame.mvc">
        <level value="info" />
    </logger>

    <!-- Spring -->
    <logger name="org.springframework">
        <level value="info" />
    </logger>


    <logger name="org.springframework.web">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web.socket">
        <level value="info" />
    </logger>

    <logger name="org.springframework.security">
        <level value="info" />
    </logger>

    <logger name="org.springframework.integration">
        <level value="info" />
    </logger>

    <!-- APACHE -->

    <logger name="org.apache.http">
        <level value="info" />
    </logger>

    <logger name="httpclient.wire">
        <level value="info" />
    </logger>


    <!-- Root Logger -->
    <root>
        <priority value="info" />
        <!--<appender-ref ref="console" />-->
        <appender-ref ref="file" />
    </root>

</log4j:configuration>