<div class="web-publish-support">
    <div class="wrapper">
        <div class="title ${messageClass}">
            <h2>${message}</h2>
        </div>
        <div class="sub-section">
            <div class="sidebar">
                <ul class="menu unselectable" data-dojo-attach-point="_ul" >
                </ul>
            </div>
            <div class="detail" data-dojo-attach-point="_detail">
            </div>
        </div>
        <div class="footer-section unselectable">
             <button data-dojo-attach-point="_close"   data-dojo-type="dijit/form/Button"
                     type="button"
                     name="submitButtonTwo"
                     value="Submit">
                     Finish
             </button>
        </div>
    </div>
</div>