/* line 1, ../../sass/web/admon.scss */
.admon-table-options {
  overflow: auto;
  padding: 15px; }

/* line 7, ../../sass/web/admon.scss */
.admon-table-options h2 {
  margin: 0; }

/* line 11, ../../sass/web/admon.scss */
.admon-table-options p {
  margin: 0;
  font-style: italic; }

/* line 16, ../../sass/web/admon.scss */
.admon-table-options .tb-left {
  float: left; }

/* line 19, ../../sass/web/admon.scss */
.admon-table-options .tb-right {
  float: right; }

/* Templates Admon */
/* line 25, ../../sass/web/admon.scss */
div.admonWrapper {
  margin: auto 110px; }

/* line 29, ../../sass/web/admon.scss */
div.admonWrapper a {
  color: #444444; }

/* line 33, ../../sass/web/admon.scss */
div.admonWrapper div.panelAdmon {
  padding-top: 8px;
  float: left; }

/* line 38, ../../sass/web/admon.scss */
div.admonWrpper div.bodyAdmon {
  margin-left: 250px;
  min-width: 700px;
  padding: 0 0px 8px 0; }

/* line 44, ../../sass/web/admon.scss */
.formDefault {
  padding: 25px; }

/* line 48, ../../sass/web/admon.scss */
.formDefault label {
  font-size: 115%; }

/** Users **/
/* line 58, ../../sass/web/admon.scss */
.web-new-user p {
  padding-left: 20px;
  margin: 0; }

/* line 63, ../../sass/web/admon.scss */
div.userWidget div.menuOptions {
  padding: 10px 0; }

/* line 68, ../../sass/web/admon.scss */
div.userWidget div.menuOptions a {
  padding: 2px;
  color: #444444;
  cursor: pointer; }

/* line 74, ../../sass/web/admon.scss */
div.userWidget div.controlsTable {
  text-align: center; }

/* line 78, ../../sass/web/admon.scss */
div.userWidget .total {
  float: left; }

/* line 82, ../../sass/web/admon.scss */
div.userWidget div.controlsTable a {
  padding-left: 5px;
  padding-right: 5px;
  color: white; }

/*** groupWidget **/
/* line 90, ../../sass/web/admon.scss */
.groupWidget {
  width: 150px;
  margin: 0;
  position: relative; }

/* line 96, ../../sass/web/admon.scss */
.groupWidget div.menu {
  padding: 3px;
  text-align: center;
  cursor: pointer;
  min-height: 20px; }

/* line 103, ../../sass/web/admon.scss */
.groupWidget div.item {
  font-style: italic;
  cursor: pointer;
  color: #444444;
  padding: 0px 5px;
  cursor: pointer;
  border-bottom: 1px dotted #c5c5c5; }

/* line 112, ../../sass/web/admon.scss */
.groupWidget-menu-ab {
  background-color: #EEE;
  border: 1px solid #9A9A9A;
  position: absolute;
  width: 150px;
  z-index: 700; }

/* line 120, ../../sass/web/admon.scss */
.groupWidget div.showMenu {
  cursor: pointer;
  border: 1px solid #A29B9B;
  /* old browsers  http://www.colorzilla.com/gradient-editor/ */
  background: #F6F7E8;
  /* old browsers */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */ }

/* line 135, ../../sass/web/admon.scss */
.groupWidget div.openMenu {
  text-align: center;
  width: 150px;
  padding: 3px 0;
  border: 1px solid #A29B9B; }

/* line 142, ../../sass/web/admon.scss */
.groupWidget div.selected {
  background-color: #928E8E; }

/* line 146, ../../sass/web/admon.scss */
groupWidget div.selected {
  font-weight: bold; }

/* line 150, ../../sass/web/admon.scss */
.groupWidget div.item:hover {
  font-style: italic;
  background-color: #D9D9D9; }

/**web-admon-user-create **/
/* line 157, ../../sass/web/admon.scss */
#web-user-actions-form-wrapper.web-admon-user-create {
  padding: 10px 20px;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none; }

/* line 165, ../../sass/web/admon.scss */
#web-user-actions-form-wrapper.web-admon-user-create div.sidetip {
  top: 10px;
  left: 205px; }

/* line 174, ../../sass/web/admon.scss */
.web-admon-user-create td {
  padding: 10px 0;
  position: relative; }

/* line 179, ../../sass/web/admon.scss */
.web-admon-user-create .suggestions {
  width: 400px; }

/* line 183, ../../sass/web/admon.scss */
#web-user-actions-form-wrapper.web-admon-user-create input {
  padding: 5px; }

/* line 187, ../../sass/web/admon.scss */
.web-admon-user-create .suggestions ul > li {
  margin: 5px 0 0px 0;
  list-style: none;
  margin-right: 5px;
  float: left;
  background-color: #444;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cecace;
  cursor: pointer;
  color: white; }
