.admon-table-options  {
    overflow: auto;
    padding: 15px;
}


.admon-table-options h2{
    margin: 0;
}

.admon-table-options p{
    margin: 0;
    font-style: italic;
}

.admon-table-options .tb-left{
    float: left;
}
.admon-table-options .tb-right{
    float: right;
}

/* Templates Admon */

div.admonWrapper{
    margin: auto 110px;
}

div.admonWrapper a{
    color: #444444;
}

div.admonWrapper div.panelAdmon{
    padding-top:8px;
    float: left;
}

div.admonWrpper div.bodyAdmon{
    margin-left: 250px;
    min-width:700px;
    padding: 0 0px 8px 0;
}

.formDefault{
    padding: 25px;
}

.formDefault label{
    font-size: 115%;
}

.formDefault .dijitTextBox{
    font-size: 120%;
}

/** Users **/

div.userWidget{
    padding-top: 5px;
}

div.userWidget div.menuOptions{
    padding: 10px 0;

}

div.userWidget div.menuOptions a{
    padding: 2px;
    color: #444444;
    cursor: pointer;
}

div.userWidget div.controlsTable{
    text-align: center;
}

div.userWidget .total{
    float: left;
}

div.userWidget div.controlsTable a{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

div.userWidget div.groupWidget div.menu{
    max-width: 160px;
    min-width: 157px;
    min-height:15px;
    cursor: pointer;
    padding: 3px;
}

div.userWidget div.groupWidget div.item{
    padding: 4px;
    font-style: italic;
    cursor: pointer;
    color: #444444;
}

div.userWidget div.groupWidget div.showMenu{
    border: 1px solid #A29B9B;
    /* old browsers  http://www.colorzilla.com/gradient-editor/ */
    background: #F6F7E8; /* old browsers */
    background: -moz-linear-gradient(top, #F6F7E8 5%, #AFAFAF 97%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#F6F7E8), color-stop(97%,#AFAFAF)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F7E8', endColorstr='#AFAFAF',GradientType=0 ); /* ie */
}

div.userWidget div.groupWidget div.openMenu{
     border: 1px solid #A29B9B;
     background-color: #444444;
     color: #FFF !important;
}

div.userWidget div.groupWidget div.selected{
    background-color: #928E8E;
}

div.userWidget div.groupWidget div.selected{
    font-weight: bold;
}

div.userWidget div.groupWidget div.item:hover{
    font-style: italic;
    background-color: #D9D9D9;
}