@import url("suggest.css");

a{
   text-decoration: none;
}

a:hover{
   text-decoration: none;
}

img {
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.spaceOptionColumn{
    padding-left: 5px;
    padding-right: 5px;
}

#content-container #enme-content div.errorWrapper {
  font-size: 120%;
  font-weight: bold;
  margin: 110px 135px auto;
}

#content-container #enme-content div.errorWrapper div.extra {
  background-color: #EFEFEF;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 22px;
  padding: 10px;
}

#content-container #enme-content div.errorWrapper div.extra .title{
    font-size: 120%;
    font-weight: bold;
}

#content-container #enme-content div.errorWrapper div.extra a{
    padding: 5px;
}

#defaultWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#bodyDefault{
    margin-left : 260px;
    min-width : 700px;
    padding: 0 15px 8px 0;
}

#panelDefault{
    padding-top:8px;
    float: left;
}


#panelWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
}

.center {
 text-align: center;
}

.right {
 text-align: right;
}

.left {
 text-align: left;
}

.message{
    font-size: 14px;
}

.textShadow {
  text-shadow: 0 1px #FFFFFF;
}

/** common classes **/

.error{
    background-image: linear-gradient(bottom, rgb(188,26,5) 41%, rgb(226,52,31) 71%, rgb(219,87,75) 97%);
    background-image: -o-linear-gradient(bottom, rgb(188,26,5) 41%, rgb(226,52,31) 71%, rgb(219,87,75) 97%);
    background-image: -moz-linear-gradient(bottom, rgb(188,26,5) 41%, rgb(226,52,31) 71%, rgb(219,87,75) 97%);
    background-image: -webkit-linear-gradient(bottom, rgb(188,26,5) 41%, rgb(226,52,31) 71%, rgb(219,87,75) 97%);
    background-image: -ms-linear-gradient(bottom, rgb(188,26,5) 41%, rgb(226,52,31) 71%, rgb(219,87,75) 97%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.41, rgb(188,26,5)),
        color-stop(0.71, rgb(226,52,31)),
        color-stop(0.97, rgb(219,87,75))
    );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.error a {
  color: #FFFFFF !important;
  font-weight: normal;
  text-shadow: none !important;
  text-decoration: underline !important;
}

.mainError {
  background-color: #F4A1A1;
  color: #FEFEFE;
  font-size: 125%;
  margin-top: 15px;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 48, 0.7);
  -moz-box-shadow:    3px 3px 7px rgba(50, 50, 48, 0.7);
   box-shadow:         3px 3px 7px rgba(50, 50, 48, 0.7);
}


.success-message{
    color: #55986D;
    padding: 2px;
}

.error-message{
    color: #BA3B3B;
    padding: 2px;
}

.success .rich-messages-label{
    padding-left: 13px;
    font-size: 12px;
}

.roundTable{
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-collapse: separate;
}

.defaultButton{
   margin-left : 8px;
   border: 1px solid #C1C1C1;
   min-width: 100px;
   padding: 4px;
   cursor: pointer;
 }

 .defaultInputClass{
    padding: 5px;
    border: 1px solid #BCBCBC;
    color: #808080;
    font-size: 12px;
    border-bottom-right-radius : 5px 5px;
    border-bottom-left-radius : 5px 5px;
    border-top-left-radius : 5px 5px;
    border-top-right-radius : 5px 5px;
}

.defaultUabel{
    min-width: 100px;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

/* disabled, review if this images are used **/
/* .warningImage{
    background-image: url(../../images/social/icons/1243963629_001_11.png);
}

.helpImage{
    background-image: url(../../images/social/icons/enme_question.gif);
}

.likeImage{
    background-image: url(../../images/icons/enme_like.png);
}

.unLikeImage{
    background-image: url(../images/icons/emne_unlike.png);
}

.twitterImage{
    background-image: url("../../images/social/twitter/enme_icon_twitter.png");
}

.pollImage{
    background-image: url(../../images/icons/emne_poll.png);
} */


div.defaultSectionTitle {
  color: #FFFFFF;
  font-size: 120%;
  margin-bottom: 5px;
  padding: 10px;
}

.gradient-gray {
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.gradient-yellow{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #D0D67C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#D0D67C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#D0D67C',GradientType=0 ); /* IE6-9 */
}

.gradient-green{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #D0D67C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#D0D67C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#D0D67C',GradientType=0 ); /* IE6-9 */
}

.gradient-red{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #923F3F 0%, #E67862 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#923F3F), color-stop(100%,#E67862)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #923F3F 0%,#E67862 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #923F3F 0%,#E67862 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #923F3F 0%,#E67862 100%); /* IE10+ */
    background: linear-gradient(top, #923F3F 0%,#E67862 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#923F3F', endColorstr='#E67862',GradientType=0 ); /* IE6-9 */
}

.gradient-black{
  background: #110b0b; /* Old browsers */
    background: -moz-linear-gradient(top, #110b0b 0%, #767676 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#110b0b), color-stop(98%,#767676)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #110b0b 0%,#767676 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #110b0b 0%,#767676 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #110b0b 0%,#767676 98%); /* IE10+ */
    background: linear-gradient(top, #110b0b 0%,#767676 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#110b0b', endColorstr='#767676',GradientType=0 ); /* IE6-9 */
}

/** content container **/

#content-container #enme-content .publicMarginWrapper{
    width: 100%;
    margin-top: 29px;
}

#content-container #enme-content .defaultMarginWrapper{
    margin-top: 29px;
    margin: 0 auto;
}

#content-container #enme-content .defaultMarginWrapper > h1{
    margin-left: 6px;
}

#content-container #enme-content div.votes{
    margin: 0 auto;
    width: 50%;
    margin-top: 3em;
    padding: 25px;
}

.default-background-color{
    background-color: #F8F8F8;
}

.defaultDisplayBlock{
    display: block;
}

.defaultDisplayHide{
    display: none;
}

.hidden{
    display: none;
}

.default-background-dark-color {
    background-color: #555555 !important; /** #A6B4BF 8EA5B7 **/  /** #737373 D7D7D7 #8EA5B7  */
}

.default-dark-color {
    color: #A6B4BF !important; /** #A6B4BF 8EA5B7 **/  /** #737373 D7D7D7 #8EA5B7  */
}

.default-background-dark-color-sub {
    background-color: #595959; /**A6A5A5 **/
}

.default-top-menu{
    font-size: 100%;
    padding: 5px;
    color: #FFF;
    width: auto;
}

.default-sidebar-menu {
  color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  padding: 5px;
}

.default-sidebar-menu-sub {
  background-color: #595959;
  color: #FFFFFF;
  font-size: 100%;
  min-height: 21px;
  padding: 9px 0 0 7px;
}

/** Suggest. **/

div.suggestBox{
    position: absolute;
    border: 1px solid #000;
    background-color: #FFF;
}

div.suggestBox .suggesItem{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

div.suggestBox .suggesItem:hover{
    background-color: #939397;
    color: #FFF;
}

div.yesNoWrapper{
    padding: 1px;
    cursor: pointer;
}

div.yesNoWrapper div.label {
   color: #BC870D;
}

.emptyFavourite{
      background-image: url(data:image/gif;base64,R0lGODlhEAAQAMYAAP////j4+Pv7+/f39/n5+fr6+vb29vLy8vT09PPz8/7+/vz8/N3d3c3Nze/v762trevr6/39/efn5+zs7O3t7bi4uNDQ0PHx8dXV1ejo6MnJyeXl5dzc3KioqN7e3sfHx9LS0r6+vrq6utnZ2fDw8MzMzOrq6sXFxbm5ueTk5OPj4+Li4tHR0bCwsMHBwbW1tdvb28vLy+7u7sPDw/X19crKytjY2Le3t6SkpKurq7S0tOHh4ebm5tbW1qenp56enunp6aysrK6urtra2sLCws/Pz8DAwL29vby8vN/f37Ozs9PT09fX1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////yH5BAEAAH8ALAAAAAAQABAAAAeagH+Cg38lAYSIhDUADImJFB4Ah46EkQAADZR/NBABlwAbGYgvBZ8ACgqmAA4af0IDC5cREQsRqQALBx9/Bjc8AQUCwsIEARcPK4JGLzTABc8FAw4NKoQEHAMB2toDFRuJDAEDBuQDAyKOFAgJCQfsCBYQiAoyBw4qMTAHBxggiDArLLQoUcBGhxkYHiDK0CHIhEEYdOAIoaliIAA7);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

.selectedFavourite{
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oMCQUHOdEG60YAAAIrSURBVDjLnZPPS5RhEMc/8/5Sdzd3dVvL2kyj1KRDHcSkQ0FEv+51DA9Cf0CX7JoGQUdPeegQJBJUIHULvES3sPJH6lopaWq4irn77r77vtNhRY3VogaGZ56B+cw8X+aBXUxfxY/oy+pBHYwn+YMZJYUDiWJQMHppaLqKW3j8TwC5toT2J04ikUuEapTyqlZ9Ut38V4AO1G5ls4Ve6hphzRNq60ME5p3dAKJ9+0I4JFA/DJIEOU042sWx5jI8HxxTSY0La+kOAiYQWUYkS0aW5OZCRvTpoVFc5wCJeIRIpYmv4FRAoKCAYSjqge8JlsDycp6llSxO7iN77csWvqSpSR6nLKZ4wcYTAKQIEASxQWzIAaGkTX3M4ftEgXSQN8gbF5n/+o6lb0LOVFwD8hvubZw5AzICrgnrq8LM52dgX5DrMznZFLG34Q2Vh9upjBW7/6YUEKiy8kNwZ4fI7DlPPOPLjWksfXgU6ZyCNFeYmR6mra2OwC+V2/WEybkP3P1yTmSrgSWdU8VoVR08HAoGeAqq2yYQUBt8u2578eYeaFcTZPwoVTVR3ADcAMorlP0xsMuVnIJagBXV+y3hEoD0fIK8JAjHK/BNiJTB+PAqr4fekhr5iSWAreQEFrwzO69ydbiViAWzk/B++AFuoUV6ptpZz51ibOQRc9PCwThY5tmdAWK+IJXqJ5tvlO7RW6g5DyDdYym5N9ZBeq2JxcXnGFZf6de9feK/778AUbfZ0CaDxH4AAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

div.updateProfile{

}

div.updateProfile .pictureWrapper{
    min-height: 128px;
    min-width: 95px;
}

div.updateProfile .pictureProfileNew{
    padding: 10px;
    text-align: center;
    width: 400px;
}

/* div.updateProfile .pictureProfileNew .class{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
} */

div.updateProfile .profileItem{
    padding: 5px;
}

div.updateProfile .profileItem label{
    font-size: 12px;
    font-weight: bold;
}

.defaultMarginWrapper .dijitTabContainerTop-container{
    border: 0 none !important;
}

div.header {
    font-size: 1.6em;
    padding: 4px;
    margin: 1px;
    color: #FFF;
}

div.subHeader {
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    color: #FFF;
}

div.web-default-menu {
  background: none repeat scroll 0 0 #EFEFEF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 2px #CCCCCC inset;
  height: 44px;
}

div.web-default-menu ul {
  margin: 0;
  padding: 0;
}

div.web-default-menu li {
  background: none repeat scroll 0 0 transparent;
  float: left;
  height: 44px;
  list-style: none outside none;
}

div.web-default-menu  li.first {
  padding: 0px 2px 0px 5px;
}

/**
  This class to increase size on dijitTextBox
  poll - single response widget.
*/
.input-d .dijitTextBox {
    padding: 3px;
    font-size: 130%;
    width: 850px;
}

.togglePointer{
    cursor: pointer;
}

.enme-text .dijitTextBox{
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  box-shadow : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.enme-text .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}

.enme-text-large .dijitTextBox {
  border-radius: 7px 7px 7px 7px;
  padding: 2px;
  /*width: 250px;*/
}

.enme-text-large .dijitTextBox .dijitInputContainer {
  border-radius: 14px 14px 14px 14px;
  padding: 1px;
}

.enme-text-large .dijitTextBox .dijitInputInner {
  color: #A6A6A6;
  font-size: 13px !important;
}

.enme-text-large .dijitTextBox .dijitPlaceHolder {
  color: #DDDDDC;
  font-size: 13px !important;
  line-height: 15px;
  padding-left: 8px;
}

.enme-web-context .dijitDialog {
  border: 1px solid #676767 !important;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 1px rgba(9, 9, 9, 0.25) !important;
}

.enme-web-context .dijitDialog  ul, .enme-web-context .dijitDialog ol {
  margin: 0px;
}

.enme-web-context .dijitDialogTitleBar{
  display: none !important;
}

.enme-web-context .dijitDialog .dijitDialogPaneContent {
  background: none repeat scroll 0 0 #F9F9F9 !important;
  border-top: 1px solid #FEFEFE !important;
  padding: 0 !important;
  position: relative !important;
}

/** emne-box **/

.emne-box { }

.emne-box a:link, .emne-box a:visited{
    color: #444;
    text-decoration: none;
}

.emne-box-gray {
  background-image: linear-gradient(bottom, rgb(255,255,255) 4%, rgb(242,242,242) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 4%, rgb(242,242,242) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 4%, rgb(242,242,242) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 4%, rgb(242,242,242) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 4%, rgb(242,242,242) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, rgb(255,255,255)),
        color-stop(1, rgb(242,242,242))
    );
}



.emne-box > header {
  background-color: #E5E5E5;
  border-bottom: 1px solid #CFCFCF;
  font-size: 14px;
  font-weight: bold;
  min-height: 18px;
  padding-left: 8px;
  padding-top: 8px;
  text-shadow: 1px 1px 1px #B3B3B4;
}

.emne-box h1 {
  color: #6D6D6D;
  font-size: 2em;
  font-weight: 500;
  margin: 12px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.emne-box > header .rss {
  float: right;
  position: relative;
  right: 10px;
  top: 2px;
}

.emne-box h3.no-results {
  color: #CCCCCC;
  font-size: 1.2em;
  margin : 0;
  padding: 20px;
}

/** default detail **/
.web-wrapper-detail {
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #DADADA;
  margin: 0 0 30px;
}

.web-wrapper-detail header h1 {
  font-weight: bold;
  margin: 10px 5px;
}

/** agrupa el grafico y preguntas **/
.web-wrapper-detail .web-wrapper-detail-wrapper {
    background-color: white;
    min-height: 300px;
    max-height : 315px;
    overflow: hidden;
}
/** agrupa el grafico **/
.web-wrapper-detail .web-wrapper-detail-wrapper .web-detail-chart{
    float: left;
    min-height: 180px;
    width: 395px;
}

/** agrupa preguntas **/
.web-wrapper-detail .web-wrapper-detail-wrapper .web-detail-answer-wrapper {
  background-color: #F7F7F7;
  box-shadow: 3px 1px 3px 0 #CBCBCB inset;
  float: right;
  min-height: 315px;
  width: 510px;
}

.web-wrapper-detail .web-button-wrapper{
    min-height: 30px;
    background-color: #8E8E8E;
}

.web-wrapper-detail .web-button-wrapper > div{
    float: left;
    margin: 5px 7px;
    cursor: pointer;
}

.web-wrapper-detail .web-button-wrapper > div > img{

}

.web-wrapper-detail .web-chart {
    float: left;
    min-height: 320px;
    width: 400px;
}

.web-wrapper-detail .web-detail {
  margin-left: 390px;
  min-height: 210px;
  padding: 10px;
}

.web-wrapper-detail .emne-box {
  background: none repeat scroll 0 0 transparent;
}

.web-wrapper-detail .emne-box > header {
     background-color: #3A3A3A;
    background-image: -webkit-gradient(linear,0 0%,0 100%,from(#333),to(#3F3F3F));
    background-image: -webkit-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -moz-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -ms-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -o-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: linear-gradient(top,#333 0%,#3F3F3F 100%);
  border-bottom: 1px solid #B7B7B7;

  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 13px;
  text-shadow: 0px -1px 0px #888;
}

/** dialog **/

.web-generic-dialog-content {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px 10px;
}

.web-generic-dialog-content .button{
    text-align: right;
    padding-right: 10px;
}

#web-background-overlay {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    border: 0;
    background-color: black!important;
}

.web-detail-header {
    background-color: #3A3A3A;
    background-image: -webkit-gradient(linear,0 0%,0 100%,from(#333),to(#3F3F3F));
    background-image: -webkit-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -moz-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -ms-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: -o-linear-gradient(top,#333 0%,#3F3F3F 100%);
    background-image: linear-gradient(top,#333 0%,#3F3F3F 100%);
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 2px 1px #CDCDCD;
    overflow: auto;
    padding: 10px 0;
}

.web-detail-header .title {
    float: left;
    color: #000;
    font-size: 150%;
}

.web-detail-header .title h2 {
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin: 0 10px;
}

#nav-sign-in a {
    display: block;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #1E1E1E) );
    background: -webkit-linear-gradient(top, #343434, #1E1E1E);
    background: -moz-linear-gradient(top, #343434, #1E1E1E);
    background: -o-linear-gradient(top, #343434, #1E1E1E);
    background: linear-gradient(top, #343434, #1E1E1E);
    -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.4) 0 0 0 1px, rgba(0, 0, 0, 0.6) 0 1px 3px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.4) 0 0 0 1px, rgba(0, 0, 0, 0.6) 0 1px 3px;
    -o-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.4) 0 0 0 1px, rgba(0, 0, 0, 0.6) 0 1px 3px;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 1px, rgba(0, 0, 0, 0.4) 0 0 0 1px, rgba(0, 0, 0, 0.6) 0 1px 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 15px;
    text-shadow: 0 -1px 0 black;
  }

.web-message-center {

}

.web-message-center h1{

}

.web-message-center h4{

}









