/* line 3, ../../sass/web/suggest.scss */
.rich-sb-common-container {
  z-index: 202;
  width: 385px;
  height: 170px;
  position: absolute;
  visibility: visible; }

/* line 15, ../../sass/web/suggest.scss */
.rich-sb-ext-decor-1 {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2; }

/* line 22, ../../sass/web/suggest.scss */
.rich-sb-ext-decor-2 {
  background-color: #D2D2D2;
  border-color: #D2D2D2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/* line 30, ../../sass/web/suggest.scss */
.rich-sb-shadow {
  border: 1px solid;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px #000000;
  -moz-box-shadow: 1px 1px 1px #000000; }

/* line 41, ../../sass/web/suggest.scss */
.rich-sb-ext-decor-3 {
  height: 100%;
  width: 100%; }

/* line 46, ../../sass/web/suggest.scss */
.rich-sb-overflow {
  overflow: auto; }

/* line 50, ../../sass/web/suggest.scss */
.rich-sb-int-decor-table {
  width: 100%; }

/* line 54, ../../sass/web/suggest.scss */
.rich-sb-int {
  cursor: pointer; }
