#mainUserWrapper{
    margin-top: 70px;
    margin-left: 37%;
    font: 0.75em 'Lucida Grande',sans-serif;
}

#mainUserWrapper div.form .data{
   font-size: 16px;
   font-weight: normal;
}

#mainUserWrapper div.form .data label {
    padding-right: 5px;
    color: gray;
}

#mainUserWrapper div.form .data INPUT {
    height: 30px;
    width: 243px;
    font-size: 18px;
    font-weight: normal;
}

#mainUserWrapper div.form .recaptcha{
    margin: 10px;
    padding-left: 9px;
}

#mainUserWrapper div.form .submit-buttons{
    margin: 5px;
}

#mainUserWrapper div.form .submit-buttons INPUT{
    font-size: 16px;
    font-weight: bold;
}