/* CSS3 BUTTON */
.btn {
    display: inline-block;
    background: url(btn.bg.png) repeat-x 0px 0px;
    padding: 5px 10px 6px 10px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
}

.btn:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* COLOR VARIATIONS */
.blue {
    background-color: #CCCCCC;
    color: #141414;
}

.grey {
    background-color: #EEEEEE;
    color: #141414;
}

.grey:hover {
    background-color: #689ACC;
    color: #ffffff;
}


.blue:hover {
    background-color: #00c0ff;
    color: #ffffff;
}

.green {
    background-color: #CCCCCC;
    color: #141414;
}

.green:hover {
    background-color: #8aff00;
    color: #ffffff;
}

.red {
    background-color: #CCCCCC;
    color: #141414;
}

.red:hover {
    background-color: #ff004e;
    color: #ffffff;
}