@import url("button.css");
@import url("suggest.css");
@import url("table.css");


a{
   text-decoration: none;
   color: #3E6D8E;
}

a:hover{
   text-decoration: underline;
   color: #3E6D8E;
}

img {
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.spaceOptionColumn{
    padding-left: 5px;
    padding-right: 5px;
}

#content-container #enme-content div.errorWrapper {
  font-size: 120%;
  font-weight: bold;
  margin: 110px 135px auto;
}

#content-container #enme-content div.errorWrapper div.extra {
  background-color: #EFEFEF;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 22px;
  padding: 10px;
}

#content-container #enme-content div.errorWrapper div.extra .title{
    font-size: 120%;
    font-weight: bold;
}

#content-container #enme-content div.errorWrapper div.extra a{
    padding: 5px;
}

#defaultWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#bodyDefault{
    margin-left : 260px;
    min-width : 700px;
    padding: 0 15px 8px 0;
}

#panelDefault{
    padding-top:8px;
    float: left;
}


#panelWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
}

.center {
 text-align: center;
}

.message{
    font-size: 14px;
}

.textShadow {
  text-shadow: 0 1px #FFFFFF;
}

/** common classes **/

.error{
    background-color: #E39393;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.mainError {
  background-color: #F4A1A1;
  color: #FEFEFE;
  font-size: 125%;
  margin-top: 15px;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 48, 0.7);
  -moz-box-shadow:    3px 3px 7px rgba(50, 50, 48, 0.7);
   box-shadow:         3px 3px 7px rgba(50, 50, 48, 0.7);
}

.defaultForm button.button {
  background-color: #258E24;
  border: 1px solid #CCCCCC;
  -webkit-border-radius:  4px 4px 4px 4px;
  -moz-border-radius:  4px 4px 4px 4px;
  border-radius:  4px 4px 4px 4px;
  -moz-box-shadow: 0px 0px 1px #888;
  -webkit-box-shadow: 0px 0px 1px #888;
  box-shadow: 0px 0px 1px #888;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  outline: 0 none;
  padding: 8px 6px;
  width: 170px;
}

.success-message{
    color: #358852;
    padding: 2px;
}

.error-message{
    color: #C88080;
    padding: 2px;
}

.success .rich-messages-label{
    padding-left: 13px;
    font-size: 12px;
}

.roundTable{
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-collapse: separate;
}

.defaultButton{
   margin-left : 8px;
   border: 1px solid #C1C1C1;
   min-width: 100px;
   padding: 4px;
   cursor: pointer;
 }

 .defaultInputClass{
    padding: 5px;
    border: 1px solid #BCBCBC;
    color: #808080;
    font-size: 12px;
    border-bottom-right-radius : 5px 5px;
    border-bottom-left-radius : 5px 5px;
    border-top-left-radius : 5px 5px;
    border-top-right-radius : 5px 5px;
}

.defaultUabel{
    min-width: 100px;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

.warningImage{
    background-image: url(../../images/social/icons/1243963629_001_11.png);
}

.helpImage{
    background-image: url(../../images/social/icons/enme_question.gif);
}

.likeImage{
    background-image: url(../../images/icons/enme_like.png);
}

.unLikeImage{
    background-image: url(../images/icons/emne_unlike.png);
}

.twitterImage{
    background-image: url("../../images/social/twitter/enme_icon_twitter.png");
}

.pollImage{
    background-image: url(../../images/icons/emne_poll.png);
}


div.defaultSectionTitle {
  color: #FFFFFF;
  font-size: 120%;
  margin-bottom: 5px;
  padding: 10px;
}

.gradient-gray{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.gradient-yellow{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #D0D67C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#D0D67C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#D0D67C',GradientType=0 ); /* IE6-9 */
}

.gradient-green{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #D0D67C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#D0D67C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#D0D67C 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#D0D67C',GradientType=0 ); /* IE6-9 */
}

.gradient-red{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #923F3F 0%, #E67862 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#923F3F), color-stop(100%,#E67862)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #923F3F 0%,#E67862 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #923F3F 0%,#E67862 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #923F3F 0%,#E67862 100%); /* IE10+ */
    background: linear-gradient(top, #923F3F 0%,#E67862 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#923F3F', endColorstr='#E67862',GradientType=0 ); /* IE6-9 */
}

.gradient-black{
  background: #110b0b; /* Old browsers */
    background: -moz-linear-gradient(top, #110b0b 0%, #767676 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#110b0b), color-stop(98%,#767676)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #110b0b 0%,#767676 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #110b0b 0%,#767676 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #110b0b 0%,#767676 98%); /* IE10+ */
    background: linear-gradient(top, #110b0b 0%,#767676 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#110b0b', endColorstr='#767676',GradientType=0 ); /* IE6-9 */
}

/** content container **/

#content-container #enme-content .publicMarginWrapper{
    width: 100%;
    margin-top: 29px;
}

#content-container #enme-content .defaultMarginWrapper{
    margin-top: 29px;
    margin: 0 auto;
}

#content-container #enme-content .defaultMarginWrapper > h1{
    margin-left: 6px;
}

#content-container #enme-content div.votes{
    margin: 0 auto;
    width: 50%;
    margin-top: 3em;
    padding: 25px;
}

.default-background-color{
    background-color: #F8F8F8;
}

.defaultDisplayBlock{
    display: block;
}

.defaultDisplayHide{
    display: none;
}

.default-background-dark-color {
    background-color: #A6B4BF !important; /** #A6B4BF 8EA5B7 **/  /** #737373 D7D7D7 #8EA5B7  */
}

.default-dark-color {
    color: #A6B4BF !important; /** #A6B4BF 8EA5B7 **/  /** #737373 D7D7D7 #8EA5B7  */
}

.default-background-dark-color-sub {
    background-color: #595959; /**A6A5A5 **/
}

.default-top-menu{
    font-size: 100%;
    padding: 5px;
    color: #FFF;
    width: auto;
}

.default-sidebar-menu {
  color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  padding: 5px;
}

.default-sidebar-menu-sub{
  background-color: #595959; /**A6A5A5 **/
  color: #FFFFFF;
  font-size: 100%;
  min-height: 21px;
  padding: 4px 1px 1px 6px;
}
/** Suggest. **/

div.suggestBox{
    position: absolute;
    border: 1px solid #000;
    background-color: #FFF;
}

div.suggestBox .suggesItem{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

div.suggestBox .suggesItem:hover{
    background-color: #939397;
    color: #FFF;
}

div.yesNoWrapper{
    padding: 1px;
    cursor: pointer;
}

div.yesNoWrapper div.label{
    color: #275296;
}

.emptyFavourite{
      background-image: url(../../images/icons/enme_empty_star.gif);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

.selectedFavourite{
      background-image: url(../../images/icons/enme_full_star.png);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

div.updateProfile{

}

div.updateProfile .pictureWrapper{
    min-height: 128px;
    min-width: 95px;
}

div.updateProfile .pictureProfileNew{
    padding: 10px;
    text-align: center;
    width: 400px;
}

/* div.updateProfile .pictureProfileNew .class{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
} */

div.updateProfile .profileItem{
    padding: 5px;
}

div.updateProfile .profileItem label{
    font-size: 12px;
    font-weight: bold;
}


/** default button */

.dijitButton .dijitButtonNode{
    font-size: 110% !important;
    border: 1px solid #6D6767 !important;
    padding: 3px 7px 2px !important;
    background-image: none !important;
    font-weight: bold;
    color: #FFF;
    background-color: #595959 !important; /* 595959 433C3C **/
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.defaultMarginWrapper .dijitTabContainerTop-container{
    border: 0 none !important;
}

div.header {
    font-size: 1.6em;
    padding: 4px;
    margin: 1px;
    color: #FFF;
}

div.subHeader {
    font-size: 1em;
    padding: 4px;
    margin: 1px;
    color: #FFF;
}

div.web-default-menu {
  background: none repeat scroll 0 0 #EFEFEF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 2px #CCCCCC inset;
  height: 44px;
}

div.web-default-menu ul {
  margin: 0;
  padding: 0;
}

div.web-default-menu li {
  background: none repeat scroll 0 0 transparent;
  float: left;
  height: 44px;
  list-style: none outside none;
}

div.web-default-menu  li.first {
  padding: 0px 2px 0px 5px;
}

/**
  This class to increase size on dijitTextBox
  poll - single response widget.
*/
.input-d .dijitTextBox {
    padding: 3px;
    font-size: 130%;
    width: 850px;
}

.togglePointer{
    cursor: pointer;
}

.enme-text .dijitTextBox{
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  box-shadow : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.enme-text .dijitTextBox .dijitInputField {
  font-size: 13px;
  padding: 1px 2px;
}

.enme-web-context .dijitDialog {
  border: 1px solid #676767 !important;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 10px 6px rgba(9, 9, 9, 0.25) !important;
}

.enme-web-context .dijitDialog  ul, .enme-web-context .dijitDialog ol {
  margin: 0px;
}

.enme-web-context .dijitDialogTitleBar{
  display: none !important;
}

.enme-web-context .dijitDialog .dijitDialogPaneContent {
  background: none repeat scroll 0 0 #F9F9F9 !important;
  border-top: 1px solid #FEFEFE !important;
  padding: 0 !important;
  position: relative !important;
}

/** emne-box **/

.emne-box{
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #E5E5E5;
    margin: 15px 3px 3px;
    clear: both;
}

.emne-box header{
    font-size: 14px;
    font-weight: bold;
    background-color: #E5E5E5;
    min-height: 18px;
    border-bottom: 1px solid #E5E5E5;
    clear: both;
    padding-left: 8px;
    padding-top: 8px;
}

/** default detail **/
.web-wrapper-detail {
  margin: 30px;
}

.web-wrapper-detail header h1 {
  font-weight: bold;
  margin: 10px 5px;
}

.web-wrapper-detail .web-wrapper-detail-wrapper {
  border-bottom: 1px dotted #BEBEC8;
  overflow: auto;
}

.web-wrapper-detail .web-button-wrapper{
    min-height: 30px;
}

.web-wrapper-detail .web-button-wrapper > div{
    float: left;
    margin: 5px 7px;
    cursor: pointer;
}

.web-wrapper-detail .web-button-wrapper > div > img{

}