html,body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/** header **/

header#header {
    left: 0;
    min-width: 1040px;
    /*position: fixed;*/
    right: 0;
    top: 0;
    z-index: 4;
}

.header {
    background-color: #FFF;
    border: 0px solid #000;
    margin-bottom: 0px;
    width: 100%;
    height: 41px;
}

.header span.logo {
    background-image: url(../../images/logos/encuestame_header.gif);
    background-repeat: no-repeat;
    min-height: 20px;
    display: inline-block;
    width: 125px;
}

#header div.search {
    width: 100px;
}


.heading-title{
    width: 100%;
    margin-top: 40px;
    overflow: auto;
}

.heading-title H1 {
  color: #C53436;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0 8px;
}

div.web-header {
    width: auto;
    padding: 0 5px;
    min-height: 40px;
    background-color: #E8E8E8;
}

div.web-header-options {
    float: right;
}

div.web-header div.logo {
    width: 128px;
    float: left;
}

div.web-header div.logoEncuestame {
    background-image: url(../../images/logos/encuestame_logoalone.png);
    background-repeat: no-repeat;
    background-color: #EBE9E9;
}

div.web-header div.web-header-wrapper {
    padding: 5px;
    background-color: #EBE9E9;
}

div.web-header span {
    display: inline-block;
}

div.web-header span.link {
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px 4px 3px 0;
}

div.web-header span.link a {
    color: #275296;
    text-decoration: none;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}

div.web-header span.link a:hover {
    text-decoration: none;
}

div.web-header span.search {

}


#mainWrapper {
    min-width: 1040px;
    overflow: auto;
    min-height: 650px;
}

#content-container {
    min-height: 450px;
}

#content-container #enme-content {
    margin: 0 auto;
}

footer {

}

#footer {
    color: #666666;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.text-color{
    color : #39609D;
}

#footer .powered {
    float: right;
}

#footer .footer {
  font-size: 0.9em;
  height: 20px;
  overflow: hidden;
  padding: 10px;
  text-align: right;
  white-space: nowrap;
}