@import url("menu.css");

/* Templates Admon */

#admonWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#admonWrapper div.panelAdmon{
    padding-top:8px;
    float: left;
}

#admonWrapper div.bodyAdmon{
    margin-left: 250px;
    min-width:700px;
    padding: 0 0px 8px 0;
}

/** Users **/

#admonWrapper div.bodyAdmon .rich-table-header{
    background-image: url(../images/topnav_stretch.gif) repeat-x !important;
}
.rich-table{

}

.rich-table-thead{
   margin: 10px;
   background-image: url(../images/topnav_stretch.gif) repeat-x !important;
}

#admonWrapper div.bodyAdmo .userAdmonHeader{
    background-color: #blue !important;
}

.rowClass{
    background-color: #blue !important;
}

/**
 Project
*/

#projectBox{
    padding: 5px;
    min-width: 40%;
}

#projectRow{
    width: 100%;
    padding:3px;
    border-bottom: 1px solid #eee;
    min-height: 15px;
}

.title{
    font-weight: bold;
    padding: 2px;
    font-size: 14px;
}


#projectRowWrapper{
    width: 100%;
    padding: 5px;
}

/** Users **/


.admonUserHeader{
    display: inline-block;
    background-image: url(../images/icons/enme_admon_user.png);
    background-repeat: no-repeat;
    width: 100px;
    padding-left : 61px;
    margin-left: 6px;
}

.admonAddUser{
    display: inline-block;
    background-image: url(../images/icons/enme-add-user.png);
    background-repeat: no-repeat;
    width: 100px;
    padding-left : 61px;
    margin-left: 6px;
}

