@import url("menu.css");
@import url("table.css");
@import url("project.css");

/* Templates Admon */

div.admonWrapper{
    margin: 0px 20px 0px 20px;
}

div.admonWrapper div.panelAdmon{
    padding-top:8px;
    float: left;
}

div.admonWrpper div.bodyAdmon{
    margin-left: 250px;
    min-width:700px;
    padding: 0 0px 8px 0;
}

.formDefault{
    padding: 25px;
}

.formDefault label{
    font-size: 115%;
}

.formDefault .dijitTextBox{
    font-size: 120%;
}

/** Users **/

div.admonWrapper div.bodyAdmon .rich-table-header{
    background-image: url(../images/topnav_stretch.gif) repeat-x !important;
}
.rich-table{

}

.rich-table-thead{
   margin: 10px;
   background-image: url(../images/topnav_stretch.gif) repeat-x !important;
}

#admonWrapper div.bodyAdmo .userAdmonHeader{
    background-color: #blue !important;
}

.rowClass{
    background-color: #blue !important;
}

/** Users **/


.admonUserHeader{
    display: inline-block;
    background-image: url(../images/icons/enme_admon_user.png);
    background-repeat: no-repeat;
    width: 100px;
    padding-left : 61px;
    margin-left: 6px;
}

.admonAddUser{
    display: inline-block;
    background-image: url(../images/icons/enme-add-user.png);
    background-repeat: no-repeat;
    width: 100px;
    padding-left : 61px;
    margin-left: 6px;
}

div.menuOptions{
    min-height: 25px;
    padding: 0 20px 0 10px;
}

div.menuOptions .left{
    float: left;
}

div.menuOptions .right{
    float: right;
}

