.btn-default {
    display: inline-block;
    padding:5px 10px 6px 10px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.4);
    -moz-border-radius: 15px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.input-design {
    background: -moz-linear-gradient(center top, #F0F0F2, #FFFFFF) repeat
        scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px #FFFFFF;
    display: block;
    height: 27px;
    line-height: 27px;
    margin-top: 6px;
    position: relative;
    width: 100%;
}

.input-design fieldset {
    left: 10px;
    position: absolute;
    right: 10px;
}

.input-design fieldset input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #7E7E7E;
    font-size: 13px;
    font-weight: inherit;
    height: 19px;
    line-height: 19px;
    position: relative;
    width: 100%;
}

.btn-default:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor:pointer;
}

.default-rigth-aling{
    text-align: right;
}

.warning{
    background-color: #F3F085;
     max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.success{
    background-color: #B1ECB1;
    max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* border-top: 1px solid #00FF59;
    border-bottom: 1px solid #00FF59;*/
}

.likeRate {
  color: #FFFFFF;
  text-align: center;
  width: 25px;
}

.likeRate .wrapper{
   padding: 2px;
   margin: 1px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.likeRate .positive{
    background-color: #50CD62;
}

.likeRate .negative{
    background-color: #CD6969;
}

button.emne-menu {
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  cursor: pointer;
  height: 2.0833em;
  overflow: visible;
  padding: 0 0.5em;
  vertical-align: middle;
  white-space: nowrap;
}

button.emne-menu span {
  line-height: normal;
}

button.emne-menu img {
  font-size: 0;
  vertical-align: middle;
}

button.emne-menu button {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 1px #FFFFFF inset;
  color: #555555;
  font-size: 11px;
  font-weight: bold;
  height: 2.95em;
  padding: 0 0.91em;
  text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}

button {
  cursor: pointer;
  background-color: #89CF6A;
  border: 1px solid #6D8000;
  border-radius: 14px 14px 14px 14px;
  color: white;
  font-size: 14px;
  padding: 5px 13px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
}

button:hover{
    background-color: #A1D988;
}

.wrap{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

/** disable focus on webkit **/
input:focus {
    outline: none !important;
}
.dijitTextBoxFocused {
    outline: none !important;
}

.emne-box .onLive{
    font-size: 10px;
    margin-left: 10px;
}