.btn-default {
    display: inline-block;
    padding:5px 10px 6px 10px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.4);
    -moz-border-radius: 15px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.input-design {
    background: -moz-linear-gradient(center top, #F0F0F2, #FFFFFF) repeat
        scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px #FFFFFF;
    display: block;
    height: 27px;
    line-height: 27px;
    margin-top: 6px;
    position: relative;
    width: 100%;
}

.input-design fieldset {
    left: 10px;
    position: absolute;
    right: 10px;
}

.input-design fieldset input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #7E7E7E;
    font-size: 13px;
    font-weight: inherit;
    height: 19px;
    line-height: 19px;
    position: relative;
    width: 100%;
}

.btn-default:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor:pointer;
}

.default-rigth-aling{
    text-align: right;
}

.warning{
    background-color: #F3F085;
     max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.success{
    background-color: #B1ECB1;
    max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* border-top: 1px solid #00FF59;
    border-bottom: 1px solid #00FF59;*/
}

.likeRate {
  color: #FFFFFF;
  text-align: center;
  width: 25px;
}

.likeRate .wrapper{
   padding: 2px;
   margin: 1px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}

.likeRate .positive{
    background-color: #50CD62;
}

.likeRate .negative{
    background-color: #CD6969;
}