@import url("button.css");
@import url("profile.css");
@import url("social.css");
@import url("suggest.css");
@import url("table.css");
@import url("livePanel.css");

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

a{
   text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

img {
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.spaceOptionColumn{
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    background-color: #FFF;
    border: 0px solid #000;
    margin-bottom: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    height: 41px;
}

#header span.logo{
      background-image: url(../images/logos/encuestame_header.gif);
      background-repeat: no-repeat;
      min-height : 20px;
      display: inline-block;
      width: 125px;
}

#header div.search{
    width: 100px;
}

#mainWrapper {
    min-height: 92%;
    position: relative;
}

#content-container {
    padding-top: 39px;
    min-height: 100%;
}

#content-container #enme-content {
    margin: 0 auto;
    width: 92%;
}

#defaultWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#bodyDefault{
    margin-left : 260px;
    min-width : 700px;
    padding: 0 15px 8px 0;
}

#panelDefault{
    padding-top:8px;
    float: left;
}


#panelWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
}

#footer {
  background-color: #F7F7F7;
  color: #666666;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

#footer .footer{
  font-size: 0.9em;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
}

.message{
    font-size: 14px;
}

.error{
    background-color: #C88080;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.warning{
    background-color: #F3F085;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.success{
    background-color: #B1ECB1;
    max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* border-top: 1px solid #00FF59;
    border-bottom: 1px solid #00FF59;*/
}

.success .rich-messages-label{
    padding-left: 13px;
    font-size: 12px;
}

.roundTable{
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-collapse: separate;
}

.defaultButton{
   margin-left : 8px;
   border: 1px solid #BCBCBC;
   min-width: 100px;
   padding: 4px;
   cursor: pointer;
 }

 .defaultInputClass{
    padding: 5px;
    border: 1px solid #BCBCBC;
    color: #808080;
    font-size: 12px;
    border-bottom-right-radius : 5px 5px;
    border-bottom-left-radius : 5px 5px;
    border-top-left-radius : 5px 5px;
    border-top-right-radius : 5px 5px;
}

.defaultUabel{
    min-width: 100px;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

#content-container #enme-content div.publicMarginWrapper{
    width: 100%;
    margin-top: 29px;
}

#content-container #enme-content div.defaultMarginWrapper{
    width: 85%;
    margin-top: 29px;
    margin: 0 auto;
}

#content-container #enme-content div.votes{
    margin: 0 auto;
    width: 50%;
    margin-top: 3em;
    padding: 25px;
}

.defaultDisplayBlock{
    display: block;
}

.defaultDisplayHide{
    display: none;
}

/** Suggest. **/

div.suggestBox{
    position: absolute;
    border: 1px solid #000;
    background-color: #FFF;
}

div.suggestBox .suggesItem{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}

div.suggestBox .suggesItem:hover{
    background-color: #939397;
    color: #FFF;
}

div.yesNoWrapper{
    padding: 1px;
    cursor: pointer;
}

div.yesNoWrapper div.label{
    color: #275296;
}

.emptyFavourite{
      background-image: url(../images/icons/enme_empty_star.gif);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

.selectedFavourite{
      background-image: url(../images/icons/enme_full_star.png);
      background-repeat: no-repeat;
      min-height : 16px;
      display: inline-block;
      width: 16px;
}

div.updateProfile{

}

div.updateProfile .pictureWrapper{
    min-height: 128px;
    min-width: 95px;
}

div.updateProfile .pictureProfileNew{
    padding: 10px;
    text-align: center;
    width: 400px;'
}

div.updateProfile .pictureProfileNew .class{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

div.updateProfile .profileItem{
    padding: 5px;
}

div.updateProfile .profileItem label{
    font-size: 12px;
    font-weight: bold;
}


/** default button */

div.defaultMarginWrapper .dijitButton .dijitButtonNode{
    font-size: 110% !important;
    border: 3px solid #6D6767 !important;
    padding: 3px 4px 4px !important;
    background-image: none !important;
    font-weight: bold;
    color: #FFF;
    background-color: #433C3C !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/** tweetPollVote **/

div.tweetPollVote{


}

div.tweetPollVote div.question{
    font-size: 180%;
    font-weight: bold;
    padding: 5px;
    color: #C4C4C4;
}
div.tweetPollVote div.answer{
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
    background-color: #DCE0FF;
    color: #515151;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** tweetPollDetail. **/

div.tweetPollDetail{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

div.tweetPollDetail div.question{
    padding: 15px;
    background-color: #E5EEE9;
    font-size: 160%;
    font-weight: bold;
    color: #BAACAC;
}

div.tweetPollDetail div.answerVote{
    padding: 5px;
}