@import url("profile.css");
@import url("social.css");
@import url("suggest.css");
@import url("table.css");

body {
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

img {
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.spaceOptionColumn{
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    background-color: #FFF;
    border: 0px solid #000;
    margin-bottom: 0px;
    padding: 8px;
}

#header span.logo{
      background-image: url(../images/logos/encuestame_header.gif);
      background-repeat: no-repeat;
      min-height : 20px;
      display: inline-block;
      width: 125px;
}

#mainWrapper {
    margin-right: 10px;
    margin-top: 5px;
    width: 98%;
    min-height: 400px;
}

#defaultWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#bodyDefault{
    margin-left : 260px;
    min-width : 700px;
    padding: 0 15px 8px 0;
}

#panelDefault{
    padding-top:8px;
    float: left;
}


#panelWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
}

.message{
    font-size: 14px;
}

.error{
    background-color: #C88080;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.warning{
    background-color: #F3F085;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.success{
    background-color: #B1ECB1;
    max-width: 50%;
    padding: 4px;
    color: #358852;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* border-top: 1px solid #00FF59;
    border-bottom: 1px solid #00FF59;*/
}

.success .rich-messages-label{
    padding-left: 13px;
    font-size: 12px;
}

.roundTable{
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   border-collapse: separate;
}

.defaultButton{
   margin-left : 8px;
   border: 1px solid #BCBCBC;
   min-width: 100px;
   padding: 4px;
 }
