@import url("profile.css");

body {
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

img {
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.spaceOptionColumn{
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    background-color: #FFF;
    border: 0px solid #000;
    margin-bottom: 0px;
    padding: 8px;
}

#header span.logo{
      background-image: url(../images/logos/encuestame_header.gif);
      background-repeat: no-repeat;
      min-height : 20px;
      display: inline-block;
      width: 125px;
}

#mainWrapper {
    margin-right: 10px;
    margin-top: 5px;
    width: 98%;
    min-height: 400px;
}

#defaultWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#bodyDefault{
    margin-left : 260px;
    min-width : 700px;
    padding: 0 15px 8px 0;
}

#panelDefault{
    padding-top:8px;
    float: left;
}


#panelWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 245px;
}


