div.notificationWrapper{
    padding: 13px 15px 10px 10px;
    min-height: 15px;
}

div.notificationWrapper:hover{
    background-color: #5A5959;
}

div.livePanel{
    display: none;
    position: absolute;
    min-height: 200px;
    width: 400px;
    border: 1px solid #000;
    background-color: #FFF;
    right: 111px;
    top: 75px;
}

div.livePanel .final{
    padding: 4px;
    text-align: right;
    font-weight: bold;
    background-color: #E8E8E8;
}

div.openLivePanel{
     display: block;
}

.notificationItem{
    padding: 5px;
    min-height: 30px;
}

.notificationItem:hover{
    background-color: #E8E8E8;
    font-weight: bold;
    cursor: pointer;
}

div.livePanel .notificationItem .left{
    float: left;
    min-height: 30px;
    margin-left: 10px;
    width: 50px;
    background-position: left;
    background-repeat: no-repeat;
}

div.livePanel .notificationItem .right{

}

div.livePanel .notificationItem .right .title{
    font-size: 110%;
}

div.livePanel .notificationItem .right .description{
    font-size: 80%;
    color: grey;
    font-weight: normal;
}

div.livePanel .notificationItem .warningImage{
    background-image: url(../images/icons/1243963629_001_11.png);
}

div.livePanel .notificationItem  .helpImage{
    background-image: url(../images/icons/enme_question.gif);
}

div.livePanel .notificationItem .netWorkErrorImage{
    background-image: url(../images/icons/enme_network-error.png);
}

div.livePanel .notificationItem .likeImage{
    background-image: url(../images/icons/enme_like.png);
}

div.livePanel .notificationItem .unLikeImage{
    background-image: url(../images/icons/emne_unlike.png);
}

div.livePanel .notificationItem  .twitterImage{
    background-image: url(../images/icons/enme_twitter.png);
}

div.livePanel .notificationItem .pollImage{
    background-image: url(../images/icons/emne_poll.png);
}

div.counter{
    color: #FFF;
    cursor: pointer;
}

div.counter:hover{
}