.login{
    background-color: #F0F2F5;
    font: 0.75em 'Lucida Grande',sans-serif;
}

#loginWrapper{
    margin: 5em 20em;
    position: relative;
    text-align: left;
    z-index: 1;
}

#loginWrapper .form{
}

#loginWrapper div.signIn{
    margin: auto 8em ;
    padding: 3px;
    text-align: right;
    width: 190px;
}

#loginWrapper div.field{
    padding: 10px;
}

#loginWrapper div.forgotPassword{
    font-size: 10px;
    float: left;
    margin-left: 100px;
}

#loginWrapper div.forgotPassword a{
    color: #000;
    text-decoration: none;
}

#loginWrapper div.forgotPassword a:hover{
    color: #000;
    text-decoration: underline;
}


#loginWrapper div.field div.label{
    float: left;
    color: #564F4F;
    padding-top: 6px;
    width: 90px;
    font-size: 130%;
}

#loginWrapper div.field div.output input[type="text"]{
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

#loginWrapper div.field div.output label{
    margin-left: 90px;
}

#loginWrapper div.field div.output input[type="password"]{
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

#loginWrapper div.field div.output span a{
    font-size: 10px;
    text-decoration: none;
    padding-left: 5px;
}

#loginWrapper div.buttonGroup{
    margin-left: 95px;
    margin-top: 25px;
}

#loginWrapper div.formWrapper{

}

div.formWrapper div.options{
    padding: 5px 5px 5px 100px;
    font-size: 10px;
    width: 300px;
}

div.formWrapper div.options a{
    text-decoration: none;
}

div.formWrapper div.options a:hover{
    color: #275296;
}

div.formWrapper div.options div.createAccount{

}

div.formWrapper div.options div.forgotPassword{

}

div.formWrapper a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

div.formWrapper a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

div.formWrapper a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

div.formWrapper a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#loginWrapper .error{
    color: #DC2929;
}

.shiny_box {
    background: #0066FF;
    color: #FFF;
    width: 210px;
    overflow: hidden;
}
.shiny_box p {
    margin:10px;
}

.shiny_box .tl {
    background-position: -340px 0px;
}
.shiny_box .tr {
    background-position: -350px 0px;
}
.shiny_box .bl {
    background-position: -340px 10px;
}
.shiny_box .br {
    background-position: -350px 10px;
}

.shiny_box_body {
    clear: both;
    padding: 0 10px;
    overflow: hidden;
}
* html .shiny_box_body {
    height: 1%;
}
