body.public-body{
    margin: 0;
    padding: 0;
}

.enme-auto-center {
  margin: 0 auto;
  position: relative;
  max-width: 1100px;
}

#header{
    background-color: #E8E8E8;
}

div.web-header{
    width: auto;
    padding: 0 5px;
    min-height: 40px;
}

div.web-header-options{
    float: right;
}

 div.web-header div.logo{
     width: 128px;
     float: left;
}

div.web-header div.logoEncuestame{
     background-image: url(../images/logos/encuestame_logoalone.png);
     background-repeat: no-repeat;
}

div.web-header div.web-header-wrapper{
    padding: 5px;
}

div.web-header span{
    display: inline-block;
}

div.web-header span.link{
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px 4px 3px 0;
}

div.web-header span.link a{
    color: #275296;
    text-decoration: none;
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
}

div.web-header span.link a:hover{
    text-decoration: none;
}

div.web-header span.search{

}

#web-main-public-line{
    margin: 1em auto;
    position: relative;
    text-align: left;
}

#web-main-public-line div.categoryMenu {
    font-size: 120%;
    margin: 0 1em auto;
    min-height: 30px;
}

#web-main-public-line div.categoryMenu span{
    display: inline-block;
    width: 100px;
    padding: 4px;
    background-color: #3E6D8E;
    text-align: center;
}

#web-main-public-line div.categoryMenu span a{
     color: #FFF;
     font-weight: bold;
     font-size: 90%;
}
#web-main-public-line div.categoryMenu span a:hover{

}


#web-main-public-line div.web-item-wrapper{
    float: left;
    border: 0px solid rgb(255, 255, 255);
    width: 78%;
}

#web-main-public-line div.web-left-wrapper {
  float: right;
  border-left: 1px solid #EEEEEE;
  margin-bottom: 60px;
  width: 220px;
}

#web-main-public-line div.web-left-wrapper div.section{
    margin: 4px;
    border: 1px solid #EAE6E6;
    min-width: 100%;
    min-height: 150px;
}

#web-main-public-line div.web-left-wrapper div.section div.link{
    padding: 1px;
    padding-right: 8px;
    text-align: right;
    font-weight: bold;
}

#web-main-public-line div.web-left-wrapper div.section div.sectionTitle{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 4px;
    margin-bottom: 5px;
    background-color: #3E6D8E;
    color: #FFF;
    padding: 5px;
}

div.web-item-wrapper .item {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px dotted #C8C8C8;
  clear: both;
  overflow: auto;
  padding: 4px;
}

div.web-item-wrapper .item .img{
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

div.web-item-wrapper .item .content{
    float: right;
    width: 87%;
    max-width: 750px;
}
div.web-item-wrapper .item .clear{
    clear: both;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.web-item-wrapper .item .stats{
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 0 0 7px;
    padding: 3px;
    width: 65px;
    text-align: center;
}

div.web-item-wrapper .item .stats .vote{
}

div.web-item-wrapper .item .stats .count{
    font-size: 240%;
    color: #275296;
}

div.web-item-wrapper .item .stats .viewcount{
    color: #6A6A6A;
    font-size: 10px;
}

div.web-item-wrapper .item .stats .views{
   color: #B3B3B3;
   font-size: 10px;
}

div.web-item-wrapper .item .content{
    float: left;
    padding: 4px;
}

div.web-item-wrapper .item .content div.title {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

div.web-item-wrapper .item .content div.title a{
    color : #275296;
}

div.web-item-wrapper .item .content div.title a:hover{
    color : #275296;
    text-decoration: none;
}


div.web-item-wrapper .item .content h3 a{
    color: #5C8397;
}

div.web-item-wrapper .item .content .bottom{
    position: relative;
}

div.web-item-wrapper .item .content .bottom .share{
    float: right;
}

div.web-item-wrapper .item .content .bottom .share .title{
    font-size: 10px;
    color: #CACACA;
}

div.web-item-wrapper .item .content .bottom .options {
  background-color: #FCFCFC;
  clear: both;
  color: #3E6D8E;
  float: left;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  overflow: auto;
  padding: 3px 4px;
  white-space: nowrap;
  width: 100%;
}

div.web-item-wrapper .item .content .bottom .image{
    float: left;
    margin-right: 6px;
}

div.web-item-wrapper .item .tags{
    padding-top: 5px;
    padding-bottom: 2px;
}
div.web-item-wrapper .item .tags a:hover{
    color: #FFF;
}

/* class tag global */

.tag{
    background-color: #3E6D8E;
    color: #F7FBFF;
    font-size: 90%;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    white-space: nowrap;
    border: 1px solid #929292;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag:hover{
     color: #F7FBFF;
     text-decoration: none;
}

div.pagination {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
}

div.pagination:hover{
   border: 1px dotted #275296;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
}


div.pagination .titleNext {
  color: #275296;
  font-size: 122%;
  font-weight: bold;
}

/** clod **/

div.cloud {
  clear: both;
  margin-bottom: 4px;
  max-width: 100%;
}

div.cloud div.cloudTitle{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 4px;
    margin-bottom: 5px;
    background-color: #3E6D8E;
    color: #FFF;
    padding: 5px;
}

div.cloud div.cloudItems{
    padding: 5px;
    overflow: auto;
}

div.cloud .cloudItem {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
}


/** sign up **/

#web-signup-wrapper {
  margin: 5em auto;
  width: 100%;
  z-index: 1;
}

#web-signup-wrapper, #page-container {

}

#web-signup-wrapper div.leftMessage {
  left: 20px;
  position: absolute;
  top: 10px;
  width: 250px;
}

div.web-form-wrapper .signup-form {
  left: 50%;
  margin: 20px 0 0 -200px;
  position: relative;
  width: 400px;
}

#web-signup-wrapper div.field{
    padding: 17px;
}

#web-signup-wrapper div.field div.label {
  color: #000;
  float: left;
  font-size: 133%;
  padding-top: 6px;
  width: 90px;
}

#web-signup-wrapper div.web-form-wrapper {

}

#web-signup-wrapper .textbox div.sidetip {
  margin-top: 0px;
}

#web-signup-wrapper div.sidetip {
  left: 406px;
  position: absolute;
  width: 250px;
}

#web-signup-wrapper .section div.tooltip {
  border: 1px solid #000000;
  -webkit-border-radius: 3px 3px 3px 3px ;
  -moz-border-radius: 3px 3px 3px 3px ;
  border-radius: 3px 3px 3px 3px ;
  -moz-box-shadow: 0 1px 2px #888888;
  -webkit-box-shadow: 0 1px 2px #888888;
  box-shadow:0 1px 2px #888888;
  left: -269px;
  padding: 10px;
  position: absolute;
  top: -2px;
  width: 237px;
  opacity : 0;
  display: none;
  color : #FFF;
  background-color: #39568C;
  z-index: 10px;
}

#web-signup-wrapper div.sidetip p {
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

#web-signup-wrapper  .textbox .validator-wrapper .shadow-input-message {
  -moz-user-select: none;
  display: inline;
}

#web-signup-wrapper  .textbox .validator-wrapper .shadow-input-message {
  color: #DDDDDD;
  line-height: 43px;
  padding-left: 1px;
  font-size: 150%;
}

#web-signup-wrapper .textbox div.section {
  margin-bottom: 15px;
}

#web-signup-wrapper form .validator-wrapper {
  overflow: visible;
  position: relative;
}

#web-signup-wrapper .textbox input, .textbox .shadow-input-message {
  font: 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#web-signup-wrapper  .shadow-input-message {
  -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
  cursor: text;
  left: 8px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 0;
  white-space: nowrap;
  z-index: 1;
}

#web-signup-wrapper div.web-form-wrapper div.submit{
  margin: 0 auto;
  padding: 3px;
  width: 37em;
}

#web-signup-wrapper div.web-form-wrapper div.suggestions {
  background: none repeat scroll 0 0 #F4F4F4;
  border-radius: 4px 4px 4px 4px;
  color: gray;
  font-size: 13px;
  margin-top: 1px;
  overflow: auto;
  padding: 5px 10px 10px;
  width: 376px;
}

#web-signup-wrapper div.web-form-wrapper div.suggestions ul {
  display: inline;
  line-height: 26px;
}

#web-signup-wrapper div.web-form-wrapper div.suggestions ul {
  list-style: disc outside none;
}

#web-signup-wrapper div.web-form-wrapper div.suggestions li {
  border: 1px solid #929292;
  border-radius: 3px 3px 3px 3px;
  color: #259912;
  cursor: pointer;
  display: -moz-box;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  padding: 2px;
  white-space: nowrap;
}

/*** login **/

#web-login-wrapper {
  margin: 5em auto;
  width: 45em;
  z-index: 1;
}

#web-login-wrapper div.loginTitle{
    padding-left: 10px;
}

#web-login-wrapper div.signIn {
  margin: 0 auto;
  padding: 3px;
  width: 11em;
}

#web-login-wrapper div.field{
    padding: 10px;
}

#web-login-wrapper div.forgotPassword{
    font-size: 10px;
    float: left;
    margin-left: 100px;
}

#web-login-wrapper div.forgotPassword a{
    color: #000;
    text-decoration: none;
}

#web-login-wrapper div.forgotPassword a:hover{
    color: #000;
    text-decoration: underline;
}


#web-login-wrapper div.field div.label {
  color: #000;
  float: left;
  font-size: 133%;
  padding-top: 6px;
  width: 90px;
}

#web-login-wrapper  input[type="text"]{
    height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

#web-login-wrapper div.field div.output label{
    margin-left: 90px;
}

#web-login-wrapper  input[type="password"]{
        height: 20px;
    width: 275px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    padding: 4px 2px;
    border: 1px solid #AAAAAA;
}

#web-login-wrapper div.field div.output span a{
    font-size: 10px;
    text-decoration: none;
    padding-left: 5px;
}

#web-login-wrapper div.buttonGroup{
    margin-left: 95px;
    margin-top: 25px;
}

#web-login-wrapper div.web-form-wrapper {
  float: left;
  min-width: 440px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  background-color: #F9F9F9;
  border: 1px solid #8BA0BC;
}

#web-login-wrapper div.singup{
    text-align: center;
    padding: 10px;
    font-size: 120%;
}

#web-login-wrapper div.web-social-signin {
  border-top: 1px dotted gray;
  max-width: 400px;
  min-width: 350px;
  padding: 10px;
  margin: 10px;
}

#web-login-wrapper div.web-social-signin .title {
  color: #000000;
  font-size: 100%;
  font-weight: bold;
  padding-bottom: 10px;
}

#web-login-wrapper div.web-social-signin .section{
    padding: 4px;
}


div.web-form-wrapper a.button {
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

div.web-form-wrapper a.button span {
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

div.web-form-wrapper a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

div.web-form-wrapper a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/** tweetpoll detail **/

div.web-tweetpoll-detail {
    margin-top: 15px;
}

div.web-tweetpoll-detail div.question{
    margin: 0px;
}

div.web-tweetpoll-detail div.web-tweetpoll-info {
    min-height: 50px;
    background-color: #EDEDED;
    padding: 6px;
}

div.web-tweetpoll-detail div.web-tweetpoll-answer-wrapper {
    padding: 5px;
    overflow: auto;
}

div.web-tweetpoll-detail div.web-tweetpoll-answer-wrapper div.web-tweetpoll-answer-chart {
  border-right: 1px dotted #C2C1C1;
  float: left;
  min-height: 180px;
  width: 400px;
}

div.web-tweetpoll-detail div.web-tweetpoll-answer-wrapper div.web-tweetpoll-answer-answer {
    float: left;
    min-height: 100px;
    width: 650px;
    padding: 10px;
}

div.web-tweetpoll-detail div.web-tweetpoll-answer-wrapper div.web-tweetpoll-answer-answer div.web-tweetpoll-answers{
    padding: 10px;
}

div.web-tweetpoll-detail div.web-tweetpoll-answer-answer .web-tweetpoll-answer-table{
   border: 1px none;
   width: 590px;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .header-table-answer {
  border: 0 none;
  color: #000000;
  font-size: 110%;
  font-weight: bold;
  padding-bottom: 5px;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table th {
  border-bottom: 1px solid #3E6D8E;
  color: #3E6D8E;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  text-transform: lowercase;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table td {
  border-bottom: 1px dotted #3E6D8E;
  padding: 8px 15px;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table  .answer-poll {
  font-weight: normal;
  text-align: left;
  width: 100px;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .color-code {
  float: left;
  height: 11px;
  margin: 2px 10px 0 0;
  width: 11px;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .data-aling-right {
  border-right: 0 none;
  text-align: right;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .answer-data-strong,  div.web-tweetpoll-detail .web-tweetpoll-answer-table .answer-data-strong-r {
  color: #000000;
  font-weight: bold;
   text-align: center;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .answer-right {
  border-right: 1px solid #CCCCCC;
}

div.web-tweetpoll-detail .web-tweetpoll-answer-table .data-bold {
  color: #333333;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links {
    padding: 10px;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.links{
    padding: 5px;
}

div.web-tweetpoll-detail .titleTweetPollSection{
    font-size: 120%;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}

div.web-tweetpoll-detail .extraMargin {
    margin-bottom: 15px;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.title{
    font-size: 120%;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.links div.item{
    overflow: auto;
    padding: 5px;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.links h2{
    font-weight: normal;
    margin-top: 1em;
    font-size: 100%;

}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.links div.item .img{
    float: left;
    min-width: 27px;
}

div.web-tweetpoll-detail div.web-tweetpoll-social-links div.links div.item .link{
    float: left;
}

div.web-tweetpoll-detail div.web-tweetpoll-hashtags{
    padding: 10px;
    margin-bottom: 15px;
}

div.web-tweetpoll-detail  div.web-tweetpoll-comments{
    padding: 10px;
    margin-bottom: 15px;
}


/* tweetpoll info detail */

div.web-tweetpoll-detail div.web-tweetPoll-info-detail {
  overflow: auto;
}


div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info {
  float: left;
  padding: 6px;
  width: 700px;
  overflow: auto;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.picture{
    float: left;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data{
    float: left;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data label{
    font-weight: bold;
    margin-left: 3px;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data ul{
    margin: 0px !important;
    padding: 0px !important;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data li{
    display: block;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.data {
  float: right;
  margin-left: 10px;
  width: 200px;
  margin-right: 20px;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.tweetPollChart{
    border: 1px dotted #000;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.onLive {
  background-color: #ED9C9C;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 2px;
  width: 370px;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 15px;
}

/** survey status */

div.survey-status {
  font-size: 140%;
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}

div.survey-status .open{
    color: #3DC83C;
}

div.survey-status .close {
    color: #E75A5A;
}

div.countdown {
  background-color: #444444;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: bold;
  margin: 0;
  max-height: 16px;
  text-align: center;
  width: 100z%;
}


div.comments{
    overflow: auto;
}

div.comments div.comment-wrapper{
    margin: 3px;
}

div.comments div.comment-wrapper div.comment{
    padding: 5px;
    clear: both;
}

div.comments div.comment-wrapper div.comment div.comment-image{
    float: left;
    width: 45px;
}

div.comments div.comment-wrapper div.comment div.comment-data{
    float: left;
    width: 980px;
}

div.comments div.comment-wrapper div.comment div.comment-data div.comment-info-data{
    padding: 1px;
    font-weight: bold;
}

div.comments div.comment-wrapper div.comment div.comment-data div.comment-date{
    padding: 1px;
}

div.comments div.comment-wrapper div.comment div.comment-data div.comment-body{
        padding: 3px;
}