@import url("login.css");

body.public-body{
    margin: 0;
    padding: 0;
}

.enme-auto-center {
  margin: 0 auto;
  position: relative;
  max-width: 1100px;
}

#header{
    background-color: #E8E8E8;
}

div.web-header{
    width: auto;
    padding: 0 5px;
    min-height: 40px;
}

div.web-header-options{
    float: right;
}

 div.web-header div.logo{
     width: 128px;
     float: left;
}

div.web-header div.logoEncuestame{
     background-image: url(../images/logos/encuestame_logoalone.png);
     background-repeat: no-repeat;
}

div.web-header div.web-header-wrapper{
    padding: 5px;
}

div.web-header span{
    display: inline-block;
}

div.web-header span.link{
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px 4px 3px 0;
}

div.web-header span.link a{
    color: #275296;
    text-decoration: none;
    font-size: 110%;
    font-style: italic;
    font-weight: bold;
}

div.web-header span.link a:hover{
    text-decoration: none;
}

div.web-header span.search{

}

#web-main-public-line{
    margin: 1em auto;
    position: relative;
    text-align: left;
}

#web-main-public-line div.categoryMenu {
    font-size: 120%;
    margin: 0 1em auto;
    min-height: 30px;
}

#web-main-public-line div.categoryMenu span{
    display: inline-block;
    width: 100px;
    padding: 4px;
    background-color: #3E6D8E;
    text-align: center;
}

#web-main-public-line div.categoryMenu span a{
     color: #FFF;
     font-weight: bold;
     font-size: 90%;
}
#web-main-public-line div.categoryMenu span a:hover{

}


#web-main-public-line div.web-item-wrapper{
    float: left;
    border: 0px solid rgb(255, 255, 255);
    width: 78%;
}

#web-main-public-line div.web-left-wrapper {
  float: right;
  border-left: 1px solid #EEEEEE;
  margin-bottom: 60px;
  overflow: hidden;
  width: 220px;
}

div.web-item-wrapper .item {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px dotted #C8C8C8;
  clear: both;
  overflow: auto;
  padding: 4px;
}

div.web-item-wrapper .item .img{
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

div.web-item-wrapper .item .content{
    float: right;
    width: 87%;
    max-width: 750px;
}
div.web-item-wrapper .item .clear{
    clear: both;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.web-item-wrapper .item .stats{
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0 0 0 7px;
    padding: 3px;
    width: 65px;
    text-align: center;
}

div.web-item-wrapper .item .stats .vote{
}

div.web-item-wrapper .item .stats .count{
    font-size: 240%;
    color: #275296;
}

div.web-item-wrapper .item .stats .viewcount{
    color: #6A6A6A;
    font-size: 10px;
}

div.web-item-wrapper .item .stats .views{
   color: #B3B3B3;
   font-size: 10px;
}

div.web-item-wrapper .item .content{
    float: left;
    padding: 4px;
}

div.web-item-wrapper .item .content div.title {
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

div.web-item-wrapper .item .content div.title a{
    color : #275296;
}

div.web-item-wrapper .item .content div.title a:hover{
    color : #275296;
    text-decoration: none;
}


div.web-item-wrapper .item .content h3 a{
    color: #5C8397;
}

div.web-item-wrapper .item .content .bottom{
    position: relative;
}

div.web-item-wrapper .item .content .bottom .share{
    float: right;
}

div.web-item-wrapper .item .content .bottom .share .title{
    font-size: 10px;
    color: #CACACA;
}

div.web-item-wrapper .item .content .bottom .options {
  background-color: #FCFCFC;
  clear: both;
  color: #3E6D8E;
  float: left;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  overflow: auto;
  padding: 3px 4px;
  white-space: nowrap;
  width: 100%;
}

div.web-item-wrapper .item .content .bottom .image{
    float: left;
    margin-right: 6px;
}

div.web-item-wrapper .item .tags{
    padding-top: 5px;
    padding-bottom: 2px;
}

div.web-item-wrapper .item .tags .tag{
    background-color: #3E6D8E;
    color: #F7FBFF;
    font-size: 90%;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    white-space: nowrap;
    border: 1px solid #929292;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}