div.socialAccounts{
    margin-top: 20px;
}


div.socialAccounts div.socialWrapper{
    margin: 0px;
}

div.socialAccounts div.socialWrapper div.listSocialCommunities{
    min-width: 200px;
}

div.socialAccounts div.socialWrapper div.socialCommunitieItem{
    padding: 10px;
    font-size: 130%;
    font-weight: bold;
    background-color: blue;
    color: #FFF;
    max-width: 200px;
    cursor: pointer;
}

div.socialAccounts div.socialWrapper div.socialCommunitieItem:hover{
    background-color: white;
    color: grey;
}

div.socialAccounts div.socialWrapper  div.socialAccountListDetail{
    float: right;
    width: 1050px;
}


/** Row Account */

div.socialWrapperRow{
     padding: 7px;
     font-size: 110%;
     margin: 2px;
    -moz-box-shadow: 0px 2px 2px #888;
    -webkit-box-shadow: 0px 2px 2px #888;
     box-shadow: 10px 10px 5px #888;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
     border-radius: 0px 0px 5px 5px;
     cursor: pointer;
     margin: 10px 0px 10px 0px;
}

div.socialWrapperRow div.socialNewForm{
    clear: both;
    position: fixed;
}

div.socialWrapperRow div.tokensWrapper{
    padding: 5px;
}

div.socialWrapperRow div.tokensWrapper div.tokenHideOptions{
    min-height: 45px;
}

div.socialWrapperRow  div.optionToken{
    text-align: right;
    float: right;
}

div.socialWrapperRow div.tokensWrapper .dijitTextBox{
    font-size: 100%;
    min-width: 250px;
}

div.socialWrapperRow div.tokensWrapper label{
    font-weight: bold;
    font-size: 90%;
}

div.socialWrapperRow div.title{
    font-size: 150%;
    font-weight: bold;
    margin: 2px;
    float: left;
    padding: 4px;
}

/** Twitter Account **/

div.twitterListAccount{

}

div.twitterWrapperRow{
    background-color: #9AE4E8;
}

div.twitterWrapperRow div.tokensWrapper label{
    color: #2C4762;
}

div.twitterListAccount div.newTwitterAccount{
    padding: 10px;
}
