@import url("question.css");
@import url("section.css");
@import url("tweetpoll.css");

/* Templates Survey  */

#surveyWrapper{
    clear: left;
    padding: 1px 0 8px;
}

#surveyWrapper div.panelSurvey{
    padding-top:8px;
    float: left;
    min-height: 400px;
    margin-top: 6px;
}

#surveyWrapper div.bodySurvey{
    margin-left: 250px;
    margin-top: 15px;
    min-width:700px;
    padding: 0 0px 8px 0;
}

#surveyWrapper div.bodySurvey .bodyTweet{
     background-image: url(../images/icons/enme_Twitter.png);
     background-repeat: no-repeat;
     padding-left: 68px;
     background-color: #6E6E6E;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}


#panelSurveyWrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 235px;
}


