<div>
    <div class="validator-wrapper">
        <div class="sidetip" id="_message_${id}">
        </div>
        <div class="input-design">
             <fieldset>
                <input id="input_${id}" placeholder="${placeholder}"
                       type="text"
                       autocomplete="off"
                       maxlength="15"
                       class=""
                       name="username"
                       data-dojo-attach-point="_input">
             </fieldset>
        </div>
    </div>
    <div class="suggestions" style="display: none;" data-dojo-attach-point="_block">
        <span>
          Select one of this suggestions or write another username
        </span>
        <ul  data-dojo-attach-point="_suggest">
       </ul>
    </div>
</div>