<div id= "logo" style="margin:0 0 11px 0">
    <span>
        <a href="http://www.encuestame.org/" target="_blank">
             <img src="${mailLogo}"
                 border="0"
                 alt="Encuestame">
         </a>
    </span>
</div>