<div class="header" style=" background-color: #E8E8E8; min-height: 27px;  border-bottom: 1px solid #BDBDBD;">
        <div style="font-size:16px; font-weidth:bold; padding:5px;"> Encuestame </div>
</div>