<html>
<body>
    <div id="container" style="padding:44px 20px 30px 20px;background-color:#f9dba6;font-size:13px;color:#666666;line-height:150%;font-family:lucida grande,helvetica,arial">
        <div id="containerBody" style="background-color:#ffffff;width:560;border:0;margin-left: auto ;margin-right: auto ; padding:22px 18px 10px 18px">
             #parse("/org/encuestame/business/mail/templates/header.vm")

        <div style="font-size:15px;font-weight:normal;line-height:22px;margin:0 0 11px 0; text-align:left">
             Hi,
             <span style="color:#0101DF;font-size:12px;"> ${user.username} </span>.
        </div>
        <div>
			<span> To subscribe to this email List, follow this link</span>

			<div id= "containerLink" style="margin:10px 16px 3px 0px; padding: 10px; background-color:#F8ECE0; border: 1px solid #FE9A2E;">
                 <a href="${domain}/account/confirm/email/${inviteCode}">
                    ${invitation.urlInvitation}
                 </a>
            </div>
		</div>
        <div style="margin:6px 0 11px 0">
              To unsubscribe from this group, send email to  <span style="color:#0101DF;font-size:12px;">  ${invitation.listName} </span>.
        </div>
	</div>
    <div style="text-align:center;background-color:#f2f2f2;width:560;border:0; padding:3px 18px 10px 18px;margin-left: auto ;margin-right: auto ;">
    	<span>Thank you, <strong>Encuestame teamteam</strong></span>
	</div>
 	#parse("/org/encuestame/business/mail/templates/footer.vm")
 </div>
</body>
</html>