<html>
<body>
<div class="container" style="border: 1px solid #BDBDBD;">
    #parse("/org/encuestame/business/mail/templates/header.vm")
    <div id= containerBody style="margin-bottom:25px">
        <div style= "margin:10px;font-size:12px;">Hi
           <span style="color:#0101DF;font-size:medium;"> ${user.username} </span>, Welcome to Encuestame!!
    </div>
    <div style= "margin:10px;font-size:12px;"> Your password to login is:
         <span style="color:#0101DF;font-size:medium;"> ${user.password} </span>
        </div>

</div>
  #parse("/org/encuestame/business/mail/templates/footer.vm")
</div>
</body>
</html>