<div class="web-poll-wrapper web-pattern">
    <div class="web-poll-question">
         <div class="web-tweetpoll-section spaceBlock">
            <div class="web-tweetpoll-section-title default-background-dark-color">Poll Question</div>
             <div class="space">
                 <div id="question" dojoAttachPoint="_question" class="question web-poll-question"></div>
                 <div dojoAttachPoint="_folder"></div>
            </div>
        </div>

         <div class="web-tweetpoll-section spaceBlock">
            <div class="web-tweetpoll-section-title default-background-dark-color">Build your answers</div>
             <div class="space">
                 <ul class="web-poll-answers"  dojoAttachPoint="_source">
                    <li class="dojoDndItem">
                        <div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse" dndEnabled="true"></div>
                    </li>
                    <li class="dojoDndItem">
                        <div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse" dndEnabled="true"></div>
                    </li>
                    <li class="dojoDndItem">
                        <div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse" dndEnabled="true"></div>
                    </li>
                    <li class="dojoDndItem">
                        <div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse" dndEnabled="true"></div>
                    </li>
                 </ul>
              </div>
              <div class="section-botton-wrapper">
                  <div id="multiple" dojoType="encuestame.org.core.shared.options.CheckSingleOption"
                         value="multiples" class="sub-option"
                         label="Allow multiple selection"></div>
                  <div id="allow-add" dojoType="encuestame.org.core.shared.options.CheckSingleOption"
                         value="add"  class="sub-option"
                         label="Allow add new responses"></div>
              </div>
         </div>
         <div class="web-tweetpoll-section spaceBlock">
            <div class="web-tweetpoll-section-title default-background-dark-color">Poll Options</div>
             <div class="space">
                 <div class="section-option-wrapper">
                      <div class="section-default">
                           <h2 class="default-dark-color">Poll Limits</h2>
                           <div id="repeated" dojoType="encuestame.org.core.shared.options.RepeatedVotes" class="space"></div>
                           <div id="limit" dojoType="encuestame.org.core.shared.options.LimitVotes" class="space"></div>
                           <div id="close" dojoType="encuestame.org.core.shared.options.DateToClose" class="space"></div>
                      </div>
                      <div class="section-default">
                           <h2 class="default-dark-color">Comments</h2>
                           <div id="comments" dojoType="encuestame.org.core.shared.options.CommentsOptions" class="space"></div>
                      </div>
                      <div class="section-default">
                            <h2 class="default-dark-color">Results</h2>
                           <div dojoType="encuestame.org.core.shared.options.ResultsOptions" class="space"></div>
                      </div>
                  </div>
             </div>
         </div>

          <div class="botton-button-publish" style="text-align: right;">
               <button dojoAttachPoint="_publish"
                       dojoType="dijit.form.Button"
                       type="button"
                       name="submitButtonTwo"
                       value="Submit">
                       Create Poll
               </button>
          </div>
    </div>
</div>