<div class="web-poll-wrapper">
    <h2>New Poll</h2>
    <div class="web-poll-question">
         <div id="question" dojoAttachPoint="_question"></div>

         <div dojoAttachPoint="_folder"></div>

         <ul>
            <li><div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse"></div></li>
            <li><div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse"></div></li>
            <li><div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse"></div></li>
            <li><div dojoType="encuestame.org.core.commons.questions.patterns.SingleResponse"></div></li>
         </ul>
        <div>
         <input id="show" name=""show"" dojoType="dijit.form.CheckBox">
                        <label for=""show"">
                               Show Votes
                        </label>
         </div>

         <div class="section" dojoAttachPoint="_scheduledTime">
               <input type="text" name="scheduledTime" id="scheduledTime" value="T15:00:00" dojoType="dijit.form.TimeTextBox" />
         </div>

          <div class="section" dojoAttachPoint="_scheduledDate">
               <input id="scheduledDate" type="text" name="shortYear" dojoType="dijit.form.DateTextBox"
                     required="true" />
          </div>

          <div>
                <button dojoAttachPoint="_publish"  dojoType="dijit.form.Button" type="button" name="submitButtonTwo"
                       value="Submit">
                       Create Poll
               </button>
          </div>
    </div>
</div>