<div class="web-poll-item-detail">
    <div class="web-poll-info">
        <div class="web-poll-switch">
            <ul>
                <li class="selected">
                     Answers   
               </li>
               <li> 
                     ${label}
               </li>            
            </ul>
        </div>
        <div class="web-poll-char-detail">
            <div id="${id}_chart"></div>
        </div>

        <!-- Answers detail -->
        <div class="web-poll-options-answer">
            <div dojoAttachPoint="_detailAnswers" class="web-poll-answer-container"></div>
        </div>
        <!-- Options detail -->
        <div class="web-poll-options hidden"> 
            <div dojoAttachPoint="_detailItems"></div>
        </div>
        
    </div>
    
    <div class="web-poll-detail-bttm-bar">
        <div class="web-poll-detail-info" dojoAttachPoint="_detail_info">

        </div>
        <div class="web-poll-detail-remove">
                <button dojoAttachPoint="_remove"
                       dojoType="dijit.form.Button"
                       type="button"
                       name="submitButtonTwo"
                       value="Submit">
                       Remove
               </button>
        </div>
    </div>
</div>