<div id="web-poll-navigate">
    <div id="tweetListContent" class="tweetListContent">
        <aside style="float: left; width: 200px;">
            <div class="web-sidebar-options">
                <div class="web-filter-sidebar-panel">
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAccount"
                        type="ACCOUNT">
                        <span>By Account</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastDay"
                        type="LASTDAY">
                        <span>Today</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastWeek"
                        type="LASTWEEK">
                        <span>Last Week</span>
                    </div>
                    <div class="optionItem"
                        dojoAttachEvent="onclick:_searchByFavourites" type="FAVOURITES">
                        <span>Favourites</span>
                    </div>
                    <div class="optionItem"
                        dojoAttachEvent="onclick:_searchByScheduled" type="SCHEDULED">
                        <span>Scheduled</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>See All</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Un-Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Completed</span>
                    </div>
                </div>
                <div dojoAttachPoint="_folder"></div>
            </div>
        </aside>
        <article style="margin-left: 200px;">
            <div class="web-list-tweet">
                <nav>
                    <a href="#">Search</a> | <a href="#">Filter Options</a>
                    | <a href="#">Order Options</a> | <a href="#">Social
                        Network Options </a> | <a href="#">Votes Options</a>
                </nav>
                <div dojoAttachPoint="_items" class="web-list-rows"></div>
                <div dojoAttachPoint="_item" class="web-row-detail"></div>
            </div>
        </article>
    </div>
</div>