<div id="web-poll-navigate">
    <div id="tweetListContent" class="tweetListContent">
        <aside style="float: left; width: 200px; border: 1px solid #E6E6E6;">
            <div class="web-sidebar-options">
                <div id="strapline">ssssssssssssssssss</div>
                <div class="web-filter-sidebar-panel">
                    <div class="folder-title default-background-dark-color default-sidebar-menu">Filters</div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAccount"
                        type="ACCOUNT">
                        <span>By Account</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastDay"
                        type="LASTDAY">
                        <span>Today</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByLastWeek"
                        type="LASTWEEK">
                        <span>Last Week</span>
                    </div>
                    <div class="optionItem"
                        dojoAttachEvent="onclick:_searchByFavourites" type="FAVOURITES">
                        <span>Favourites</span>
                    </div>
                    <div class="optionItem"
                        dojoAttachEvent="onclick:_searchByScheduled" type="SCHEDULED">
                        <span>Scheduled</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>See All</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Un-Published</span>
                    </div>
                    <div class="optionItem" dojoAttachEvent="onclick:_searchByAll"
                        type="ALL">
                        <span>All Completed</span>
                    </div>
                </div>
                <div dojoAttachPoint="_folder"></div>
            </div>
        </aside>
        <article style="margin-left: 202px;">
            <div class="web-list-tweet">
                <div style="padding: 10px; color: rgb(255, 255, 255);
                     font-size: 16px;
                     background-color: #595959;
                     text-shadow: 2px 3px 1px rgba(6, 5, 5, 0.9);
                     overflow: auto;">
                    POLL
                    <div style="float: right;">
                        <div dojoType="encuestame.org.core.shared.utils.DropDownMenuSelect" defaultText="Poll Actions.."></div>
                    </div>
                </div>
                <article dojoAttachPoint="_items" class="web-list-rows"></article>
                <div dojoAttachPoint="_more" class="web-list-more"></div>
                <div dojoAttachPoint="_item" class="web-row-detail"></div>

            </div>
        </article>
    </div>
</div>