<div class="web-poll-item-detail">
    <div class="web-poll-info">
        <div class="web-poll-char-detail">
            <div id="${id}_chart"></div>
        </div>

        <!-- Options detail -->
        <div class="web-poll-options-answer">
            <h2>Answers</h2>
            <div dojoAttachPoint="_detailAnswers" class="web-poll-answer-container"></div>
        </div>
        <!-- Answer detail -->
        <div class="web-poll-options">
            <h2>${label}</h2>
            <div dojoAttachPoint="_detailItems"></div>
        </div>
    </div>
    <div class="web-poll-detail-bttm-bar">

    </div>
</div>