<iframe src="${domain_config}/display/iframe/${itemId}/${embedded_type}" 
        scrolling="no" 
        frameborder="0" 
        style="border:none; overflow:hidden; width:450px; height:80px;" 
        allowTransparency="true">
</iframe>