@import url("reset.css");
@import url("layout.css");
@import url("common.css");
@import url("web/admon.css");
@import url("web/button.css");
@import url("web/default.css");
@import url("web/menu.css");
@import url("web/public.css");
@import url("web/question.css");
@import url("web/section.css");
@import url("web/suggest.css");
@import url("web/table.css");
@import url("web/user.css");
@import url("web/components/front-aside.css");
@import url("web/components/front.css");
@import url("web/components/front-end-items.css");
@import url("web/components/rated-comments.css");
@import url("web/components/hashtag.css");
@import url("web/components/header.css");
@import url("web/components/poll.css");
@import url("web/components/search.css");
@import url("web/components/social-links.css");
@import url("web/components/tags.css");
@import url("web/components/tweetpoll.css");
@import url("web/components/rated_profile.css");

/* 

* social links references *
div.web-social-links {
	overflow: auto;
}

.web-social-links h2 {
	color: #CBCBCB;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 15px;
}

.web-social-links .links .item {
	font-size: 15px;
	padding: 10px 20px;
	position: relative;
	cursor: pointer;
}

.web-social-links .item .link a {
	text-decoration: none;
}

.web-social-links .item {
	font-size: 14px;
	overflow: auto;
	padding: 11px 7px 5px 20px;
	cursor: pointer;
}

.web-social-links .item:hover {
	background-color: #E8E8E8;
	box-shadow : 0 1px 2px #CCC;	
	-webkit-box-shadow : 0 1px 2px #CCC;
	-ms-box-shadow  : 0 1px 2px #ccc;
	-moz-box-shadow : 0 1px 2px #ccc;
	
}

.web-social-links .item .img {
	float: left;
	overflow: hidden;
}

.web-social-links .item .link {
	float: left;
	margin-left: 16px;
	width: 400px;
}

.web-social-links .item .social-date {
	float: right;
	margin-right: 10px;
	font-size: 10px;
} */