html,body {
    height: 100%;
}

body {
	height: 100%;
 	word-wrap: break-word;
	margin: 0;
	padding: 0;
	background-color: #EAEAEA;
}

/** header **/
header#header {
  margin: 0 auto;
  width: 970px;
  z-index: 4;
}

.header {
    background-color: #FFF;
    border: 0px solid #000;
    margin-bottom: 0px;
    width: 100%;
    height: 41px;
}

.header span.logo {
    background-image: url(../../images/logos/encuestame_header.gif);
    background-repeat: no-repeat;
    min-height: 20px;
    display: inline-block;
    width: 125px;
}

#header div.search {
    width: 100px;
}

.heading-title {
    width: 100%;
    margin-top: 40px;
    overflow: auto;
}

.heading-title H1 {
    color: #C53436;
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 8px;
}

div.web-header {
  font-size: 13px;
  font-weight: normal;
  height: 40px;
}

.web-header-options .suggest .dijitTextBox {
  border-radius: 4px 4px 4px 4px;
  padding: 2px;
}

.web-header-options .suggest .dijitTextBox .dijitInputContainer {
  border-radius: 14px 14px 14px 14px;
  padding: 1px;
}

.web-header-options .suggest .dijitTextBox .dijitInputInner {
  color: #A6A6A6;
  font-size: 13px !important;
}

.web-header-options .suggest .dijitTextBox .dijitPlaceHolder {
  color: #DDDDDC;
  font-size: 13px !important;
  line-height: 15px;
  padding-left: 8px;
}

div.web-header-options {
    float: right;
}

div.web-header div.logo {
    width: 128px;
    float: left;
}

div.web-header div.logoEncuestame {
    background-image: url(../../images/logos/encuestame_logoalone.png);
    background-repeat: no-repeat;
    background-color: #EBE9E9;
}

div.web-header div.web-header-wrapper {
  background-color: #EBE9E9;
  padding: 4px;
}

div.web-header span {
    display: inline-block;
}

div.web-header span.link {
  margin: 4px 4px 3px 0;
  padding-left: 5px;
}

div.web-header span.link a {
  color: #444444;
  font-size: 100%;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

div.web-header span.link a:hover {
    text-decoration: none;
}

div.web-header span.search {

}

#mainWrapper {
    margin: 0 auto;
}

#content-container {
    min-height: 450px;
}

#content-container #enme-content {
    
}

footer {

}

#footer {
  color: #848282;
}

.text-color {
    color: #39609D;
}

#footer .powered {
    float: right;
}

#footer .footer {
    font-size: 0.9em;
    height: 20px;
    overflow: hidden;
    padding: 10px;
    text-align: right;
    white-space: nowrap;
}