<div id="footer" style=" background-color: #F2F2F2; min-height: 27px; padding:5px;">
        <div style="margin-bottom: 2px; margin-top:2px; color:#BDBDBD; font-size: 11px;">If you have any questions or comments, please let us know!<a href="#"> click here. </a> or feel free to contact us anytime at <span style="color:#0101DF;font-size:11px;">support@encuestame.org</span></div>
  <div style= "color:#BDBDBD; font-size:12px; ">The Encuestame Team
     <span style="color:#0101DF;font-size:11px;"><a href="#"> http://www.encuestame.org</a></span>
    </div>
</div>