<html>
<body>
    <h3>Hi ${user.username}, welcome to Encuestame!</h3>
    <div>
      Has changed your Encuestame password recently. As a precaution and security. This notification has been sent to you
    </div>
    <div> If you did not change the password, it is possible that your account has been defrauded .
    Please follow this link to regain control of your account.</div>
     <div>
        Login <a href="#">here !!</a>
    </div>
</body>
</html>