<html>
<body>
    <h3>Hi ${user.username}, we send your new passowrd!</h3>
    <div>
       Your new password  is <b>${user.password}</b>
    </div>
    <div>
        Login <a href="#">here !!</a>
    </div>
</body>
</html>