<div class="web-pattern single-response input-d">
     <div class="single-response-handle" dojoAttachPoint="_handle">
          <div data-dojo-type="me/web/wdidget/pictures/Icon" src="enme-move.png"> </div>
     </div>
     <div class="single-response-input">
         <input type="text" dojoAttachPoint="_single" data-dojo-type="dijit/form/TextBox"
                 maxLength="${max_length}"
                 placeHolder= "${i18nMessage.pattern_question_single}"
                 trim="${trim}"
                 class="littleInputClass"></input>
     </div>
</div>