<div class="web-pup-item-detail-wrapper">
     <div class="web-pup-item-image">
         <a data-dojo-type="me/web/widget/pictures/AccountPicture"
            picture_width="48"
            picture_height="48"
            username=${username}></a>
     </div>
     <div class="web-pup-item-content">
         <div class="web-pup-item-row web-pup-item-title ">
                <h2>
                    ${title}
                </h2>
          </div>
          <div class="web-pup-item-row web-pup-item-title-detail">

          </div>
          <div class="web-pup-item-row hashtags">
             <div data-dojo-attach-point="_tags"></div>
          </div>
          <div class="web-pup-item-row web-pup-item-bottom">
            <div>
                <a href="#">${added} ${relativeTime}</a>
            </div>
          </div>
      </div>
      <div class="web-pup-item-content-custom">
           <div data-dojo-attach-point="_custom"></div>
      </div>
</div>