<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="encuestame">
       <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/encuestame_core</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.default_catalog">encuestame_core</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="org.encuestame.core.persistence.domain.CatState"/>
        <mapping class="org.encuestame.core.persistence.domain.Project"/>
        <mapping class="org.encuestame.core.persistence.domain.CatLocation"/>
        <mapping class="org.encuestame.core.persistence.domain.CatLocationFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.CatLocationType"/>
        <mapping class="org.encuestame.core.persistence.domain.Client"/>
        <mapping class="org.encuestame.core.persistence.domain.HashTag"/>
        <mapping class="org.encuestame.core.persistence.domain.SecGroup"/>
        <mapping class="org.encuestame.core.persistence.domain.SecPermission"/>
        <mapping class="org.encuestame.core.persistence.domain.SecUser"/>
        <mapping class="org.encuestame.core.persistence.domain.SecUserSecondary"/>
        <mapping class="org.encuestame.core.persistence.domain.SecUserTwitterAccounts"/>
        <mapping class="org.encuestame.core.persistence.domain.Poll"/>
        <mapping class="org.encuestame.core.persistence.domain.PollResult"/>
        <mapping class="org.encuestame.core.persistence.domain.QuestionColettion"/>
        <mapping class="org.encuestame.core.persistence.domain.Question"/>
        <mapping class="org.encuestame.core.persistence.domain.QuestionsAnswers"/>
        <mapping class="org.encuestame.core.persistence.domain.QuestionPattern"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveyFormat"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveyGroup"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveyResult"/>
        <mapping class="org.encuestame.core.persistence.domain.Surveys"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveySection"/>
        <mapping class="org.encuestame.core.persistence.domain.TweetPollSwitch"/>
        <mapping class="org.encuestame.core.persistence.domain.TweetPoll"/>
        <mapping class="org.encuestame.core.persistence.domain.TweetPollResult"/>
        <mapping class="org.encuestame.core.persistence.domain.TweetPollSavedPublishedStatus"/>
        <mapping class="org.encuestame.core.persistence.domain.CatEmails"/>
        <mapping class="org.encuestame.core.persistence.domain.CatEmailLists"/>
        <mapping class="org.encuestame.core.persistence.domain.CatSubscribeEmails"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveyPagination"/>
        <mapping class="org.encuestame.core.persistence.domain.SurveyFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.TweetPollFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.PollFolder"/>
        <mapping class="org.encuestame.core.persistence.domain.QuestionDependencies"/>
        <mapping class="org.encuestame.core.persistence.domain.QuestionDependenceSurvey"/>
        <mapping class="org.encuestame.core.persistence.domain.notifications.Notification"/>
        <mapping class="org.encuestame.core.persistence.domain.CatQuestionCategory"/>
    </session-factory>
</hibernate-configuration>
