
 .web-detail-answer-wrapper {

    > header {
      background-color: #8E8E8E;
      overflow: hidden;
    }

    > header .answer-label {
      display: inline-block;
      padding-left: 30px;
    }

    > header > div {
      background-color: #8E8E8E;
      box-shadow: 0 1px 0 0 #919191 inset;
      color: #444444;
      font-size: 1.2em;
      line-height: 20px;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    }

    > header .answer-percent {
      padding-right: 15px;
    }

    .answer-wrapper {
      overflow: auto;
      height: 250px;
    }
}

/*** web-generic-result **/

.web-generic-result {
       font-size: 14px;
       overflow: auto;
       padding: 6px;

      .color {
        float: left;
        padding: 3px;
        text-align: center;
        width: 60px;
      }

      .color span {
        @include border-radius(20px);
        display: inline-block;
        height: 20px;
        width: 30px;
      }

      .votes {
          padding: 0;
      }
}