/**
    publications
**/
.web-pup-wrapper {
    //box-shadow: 0 1px 1px 0 #C8C8C8 inset;
    //@extend .df-border;
}

.web-pup-wrapper h2 {
    color: $gray_normal;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 15px;
}

.web-pup-wrapper .web-pup-item {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px dotted #EEEBEB;
    clear: both;
    overflow: auto;
    padding: 15px;
}

.web-pup-wrapper .web-pup-item:last-child {
    border-bottom: 0;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper {
    overflow: auto;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-image {
    float: left;
    margin-top: 3px;
    overflow: hidden;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content {
    float: left;
    margin-left: 16px;
    min-height: 48px;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content-custom {
    margin-left: 480px;
    min-height: 48px;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper  .web-pup-item-bottom
    {
    font-size: 10px;
    color: #EFEFEF;
    margin-top: 2px;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content .web-pup-item-row
    {
    display: block;
    line-height: 15px;
    position: relative;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content .web-pup-item-title {
    font-size: 16px;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.web-pup-wrapper .web-pub-hashtag {
    padding: 5px 0;
}

.web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content .web-pup-item-title h2 {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    padding: 0;
    color: #444444;
}