<div class="login-dialog">
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="_dialog"
		 title="Your session has been expired"
		 style="width:450px;"
		 draggable="false"
		 closable="false">
		<div class="dijitDialogPaneContentArea">
			<form>
				<div class="alert alert-error hidden" data-dojo-attach-point="_alert">
	            <strong>Login failed </strong> please try again.!
	        </div>
				<fieldset>
					<label>
						Your user
					</label>
                    <div>
    					<input data-dojo-type="dijit/form/TextBox"  focused="true" data-dojo-attach-point="_username" name="j_username" >
                    </div>
					<label>
						Password
					</label>
                    <div>
                        <input data-dojo-type="dijit/form/TextBox"
                                data-dojo-attach-point="_password"
                                name="j_password"
                                type="password">
                    </div>
                    <!--<div>-->
                        <!--<input type="checkbox">-->
                        <!--<label class="checkbox">-->
                            <!--Remember me-->
                        <!--</label>-->
                    <!--</div>-->
				</fieldset>
			</form>
		</div>
		<div class="dijitDialogPaneActionBar">
			<div data-dojo-attach-point="_button"></div>
		</div>
</div>