<div class="web-tweetPoll-info-detail">
   <div class="info">
        <div class="picture">
            <a dojoType="encuestame.org.core.shared.utils.AccountPicture" username=${owner}></a>
        </div>
        <div class="data">
            <ul>
                <li>
                    <label>Started: </label>
                    ${date}
                </li>
                <li>
                    <label>Hits: </label>
                    1465
                </li>
            </ul>
        </div>
   </div>
   <div class="data">
        <div id="status_${id}" class="status" dojoType="encuestame.org.core.shared.utils.SurveyStatus" ></div>
        <div id=countdown_${id} class="countdown" dojoType="encuestame.org.core.shared.utils.CountDown" ></div>
    </div>
</div>