<div class="web-tweetPoll-info-detail">
   <div class="defaultSectionTitle gradient-gray" style="overflow: hidden; padding: 0px; margin: 0px;">
        <!-- left info -->
        <div class="left-info">
            <div class="votes-tweetpoll-detail gradient-black">
                <div class="votes-detail-high" dojoAttachPoint="_votes">0</div>
                <div class="hits-detail-small" dojoAttachPoint="_hits_small">
                    <span dojoAttachPoint="_hits">${hits}</span> <span class="votes-detail-small-title">Hits</span>
                </div>
            </div>
            <div class="picture">
                <a dojoType="encuestame.org.core.shared.utils.AccountPicture"
                    picture_width="54" picture_height="54" username=${owner}></a>
            </div>
        </div>
        <div class="question-info ">

        </div>
    </div>
</div>