<div class="web-tweetPoll-info-detail">
   <div class="defaultSectionTitle" style="overflow: hidden; padding: 0px; margin: 0px;">
        <div class="left-info">
            <div class="votes-tweetpoll-detail">
                <div class="votes-detail-high" dojoAttachPoint="_votes">34.4K</div>
                <div class="hits-detail-small" dojoAttachPoint="_hits_small">
                    <span>2343</span> <span class="votes-detail-small-title">Hits</span>
                </div>
            </div>
            <div class="picture">
                <a dojoType="encuestame.org.core.shared.utils.AccountPicture"
                    picture_width="54" picture_height="54" username=${owner}></a>
            </div>
        </div>
        <div class="question-info ">
            <span class="question" dojoAttachPoint="_question_title"></span>
        </div>
    </div>
   <div>
       <div class="info">
            <div class="data">
    <!--             <ul> -->
    <!--                 <li> -->
    <!--                     <label>Started: </label> -->
    <!--                     <span>${date}</span> -->
    <!--                 </li> -->
    <!--             </ul> -->
            </div>
       </div>
       <div class="data">
            <div id="status_${id}" class="status" dojoType="encuestame.org.core.shared.utils.SurveyStatus" status=${completed}></div>
            <div id="countdown_${id}" class="countdown" ></div>
        </div>
    </div>
</div>