<div>
    <div class="answer-right answer-poll">
        <div id="poll-result-0"
             class="color-code"
             style="background-color: ${color}"></div>
             ${label}
        </div>
    <div class="answer-data-strong data-aling-right" >
        <a href="${url}" target="_blank" dojoAttachPoint="_url">${url}</a>
    </div>
    <div class="answer-data-strong data-aling-right" dojoAttachPoint="_votes"></div>
    <div class="data-bold data-aling-right" dojoAttachPoint="_percent"></div>
    <div class="data-aling-right"></div>
</div>
