<div class="repeated-votes">
    <div class="section">
        <input id="check_widget_${id}" name="check_widget_${id}" dojoType="dijit.form.CheckBox"> <label
            for="check_widget_${id}"> ${label} </label>
    </div>
    <div class="section defaultDisplayHide" dojoAttachPoint="_repeatedNumbers">
                    <div dojoType="dijit.form.NumberSpinner" intermediateChanges="true" id="spinner_${id}"
                        constraints="${constraints}" value="${options.items}">
                    </div>
    </div>
</div>