/* Colors */

$tan-light: #f2e9e0;
$tan: #dbb89c;

$blue: #738ABA;
$blue-dark: #2C4987;

$green: #12b312;
$green-dark: #060;

$plus_bk: #252525;
$plus_bk-dark: #252525;

$white: #f7f7f7;
$black: #222;

$bg: mix($white, $tan-light);
$bg-light: lighten(mix($white,$bg),2%);
$main: $blue;

$text-color: #555;
$text-color-light: mix($text-color,$tan-light);
$text-color-lightest: mix($text-color-light,$tan-light);
$text-color-medium: mix($text-color,$text-color-light);
$link-color: $blue;

/* Length Measurements */

$vertical-space: 1.2em;
$vertical-space-small: $vertical-space/2;
$vertical-space-large: $vertical-space*2;
$vertical-space-xl: $vertical-space*3;

$horizontal-space: 2.5%;
$horizontal-space-large: $horizontal-space*2;
$horizontal-space-xl: $horizontal-space*3;

/* Type Styles */

$font-museo: "museo-sans", "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin type-default {
	font-family: $font-museo;
	font-weight: 300;
}

@mixin type-medium {
	@include type-default;
	font-weight: 700;
}

@mixin type-heavy {
	@include type-default;
	font-weight: 900;
}

@mixin type-heading {
	@include type-heavy;
	line-height: 1.25em;
}

@mixin type-body {
	@include type-default;
	line-height: 1.75em;
	color: $text-color;
}

@mixin type-pre {
	font-family: Consolas, "inconsolata", Menlo, Monaco, monospace;;
	color: $text-color;
}

@mixin type-icon {
	font-family: 'SSStandard';
	font-weight: normal;
}