<div class="web-layout-select">
    <h2 class="web-layout-select-title">Edit Layout</h2>
    <div class="web-layout-select-body">
        <p>
            <strong>Choose dashboard layout</strong>
        </p>
        <ul>
            <li><a dojoAttachPoint="layout-a" href="#"><strong>A</strong>
            </a>
            </li>
            <li><a dojoAttachPoint="layout-aa" href="#"><strong>AA</strong>
            </a>
            </li>
            <li><a dojoAttachPoint="layout-ba" href="#"><strong>BA</strong>
            </a>
            </li>
            <li><a dojoAttachPoint="layout-ab" href="#"><strong>AB</strong>
            </a>
            </li>
            <li><a dojoAttachPoint="layout-aaa" href="#"><strong>AAA</strong>
            </a>
            </li>
        </ul>
    </div>
</div>