<div class="web-response-single-response">
        <div class="web-response-single-response-group">
            <div class="web-response-single-response-group-input">
                <fieldset>
                    <label class="${type_input}" for="${id}_response" data-dojo-attach-point="_label">
                        <input
                                data-dojo-attach-point="_input"
                                type="${type_input}"
                                name="${name}"
                                value="${itemId}"
                                id="${id}_response">
                        ${label}
                    </label>
                </fieldset>
            </div>
        </div>
</div>