.nav-home-menu {
    overflow: hidden;
    margin-top: 20px;
}

.g-nav {
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;

  .nav {
    float: left;
    margin: 0;
  }

   .main-nav .nav-link {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 7px;
  }

   .nav .nav-item {
    float: left;
    line-height: 13px;
    position: relative;
  }

   .main-nav .nav > li > a:hover, .nav > li > a:focus {
      color: #FFF;
      background-color: rgba(0, 0, 0, 0);
  }

   .nav .nav-link {
    padding-top: 13px;
    cursor: pointer;
    display: block;
  }

   .nav a {
    color: #999999;
    text-decoration: none;
  }

   .nav a:visited, #footer a:visited {
    color: #999999;
  }

   .nav .nav-item {
    float: left;
    line-height: 13px;
    position: relative;
  }

}

.main-nav {
  background-color: #1A1A1A;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#1A1A1A),color-stop(100%,#303030));
  background-image: -webkit-linear-gradient(top,#1A1A1A 0%,#303030 100%);
  background-image: -moz-linear-gradient(top,#1A1A1A 0%,#303030 100%);
  background-image: -o-linear-gradient(top,#1A1A1A 0%,#303030 100%);
  background-image: linear-gradient(top,#1A1A1A 0%,#303030 100%);
  z-index: 1;
}

.main-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.main-nav .main-nav .nav-item:first-child {
  margin-left: 0px;
  margin-right: 20px;
}

.main-nav .right-nav {
  float: right;
}
