 <div>
    <section style="padding: 30px;">
        <div class="web-layout-select">
            <div class="web-layout-select-body">
                <ul>
                    <li>
                        <a id="layout-a" data-dojo-attach-point="layouta" href="#">

                        </a>
                        <h4>
                            One column
                        </h4>
                    </li>
                    <li>
                        <a id="layout-aa" data-dojo-attach-point="layoutaa" href="#">

                        </a>
                        <h4>
                            Two columns, both equals 50%
                        </h4>
                    </li>
                    <li>
                        <a id="layout-ba" data-dojo-attach-point="layoutba" href="#">

                        </a>
                        <h4>
                            Two columns, right 30%, left 60%
                        </h4>
                    </li>
                    <li>
                        <a id="layout-ab" data-dojo-attach-point="layoutab" href="#">

                        </a>
                        <h4>
                            Two columns, left 30%, right 60%
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" type="button"  data-dojo-attach-point="_request_button"
        class="info"
        data-dojo-attach-event="onClick:_close">
                Close
        </button>
    </div>
</div>



