@CHARSET "ISO-8859-1";

@IMPORT url("login.css");

body {
	background: #f5f6ee none repeat scroll 0 0;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

img {
	border: 0px;
}

#header {
	height: 25px;
	background-color: #FFF;
	border: 1px solid #000;
	margin-bottom: 0px;
	padding: 10px;
}

#mainWrapper {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	/*background-color: #FFF;
	width: 98%;
	min-height: 400px;
	border: 1px solid #000;*/
	width: 98%;
	min-height: 400px;
}

.menuLabel {
	color: #FFF;
	text-decoration: none;
}

#menu {
	height: 30px;
	background-color: #DCD7D7;
}

#RootMenu {
	
}

/*.dr-toolbar-ext{
	background-color: #vvv;
	padding: 2px;
	}
	*/ /*css for menu table root*/
#menu td.dr-toolbar-int {
	padding: 4px;
}

#menu .rich-toolbar {
	padding: 4px;
	height: 30px;
	background: url("../images/ms1.png");
	background-repeat: repeat-x;
	color: #FFFFFF;
}

/*label item*/
#menu .rich-menu-item-label {
	padding: 8px;
}

#menu a.rich-menu-item-label {
	color: red;
}

#menu td.rich-toolbar-item {
	padding: 2px;
	cursor: pointer;
}

/*
 * Menu Items
 */
#menu .rich-menu-item-label {
	-x-system-font: none;
	font-family: verdana;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	/*line-height: 2.1;*/
	padding: 1px 10px;
	font-size: 100%;
	color: #000;
}

#menu a.rich-menu-item-label:hover {
	color: red;
	font-weight: bold;
}

/* hide icon menu item image */
#menu  .iconMenu {
	display: none;
}

.dr-menu-item {
	
}

.dr-menu-item-enabled {
	
}

.rich-menu-item {
	
}

.rich-menu-item-enabled {
	
}

/***
* Tool Bar
**/
.item-toolbar {
	padding: 5px;
	background: #EEE;
	font-size: 110%;
	
	
}

/*
textarea, textarea[type="textarea"], input[type="text"], input[type="password"], select {
    background-color:#FFFFFF;
    background-image: none;
    border-color: silver;
} */