@CHARSET "ISO-8859-1";

@import url("question.css");
@import url ("section.css");

.textBox {
	font-size: 14px;
	padding: 7px;
	font-weight: bold;
}

.wrapperNewSurvey {
	margin-top: 30px;
}

.fontBackgroundColor {
	background-color: #ff7e00;
}

.titleSurvey {
	font-size: 14px;
	font-weight: bold;
	padding: 2px;
}

input[type=button] {
	font-style: 14px;
}

.surveySuggestItem {
	padding: 10px;
	width: 100%;
	border-bottom: #ddd 1px solid;
}

.surveySuggestItemTitle {
	font-size: 16px;
	color: #bdbfbf;
}

#surveyBuildBar {
	text-align: right;
	padding: 3px;
}

#surveyBuildBar .testButton {
	font-size: 12px;
	font-weight: bold;
	background-color: #eee;
	padding: 4px;
}
