<section class="item">
    <div class="content">
        <div class="tags" data-dojo-attach-point="_tags"></div>
        <div class="title">
            <a href="${contextPath}/${item.item_type}/${item.id}/${slugName}">
                <h2 class="enme">
                    ${questionName}
                </h2>
            </a>
        </div>

        <div class="bottom user-info">
            <div class="options">
                <div class="submited">
                    ${submiteddByMessage}
                    <a data-dojo-attach-point="_profile_link" href="${contextPath}/profile/${owner}">${owner}</a>
                    <span>,</span>
                    <span>${addedMessage}</span>
                    ${item.relative_time} |
                    <a href="${contextPath}/${item.item_type}/${item.id}/${slugName}#comments">
                        ${item.total_comments} ${totalCommentMessage}
                    </a>
                </div>
            </div>
        </div>
        <div class="vote-item">
            <!-- vote page -->
            <div class="item-vote-block left">
                <div data-dojo-type="me/web/widget/home/votes/ItemVote"
                     voteMessage="${votesMessage}"
                     viewMessage="${viewMessage}"
                     votes="${item.total_votes}"
                     hits="${item.hits}"
                     voteUp="${item.vote_up}"
                     commentsTotal="${item.total_comments}"
                     itemType="${item.item_type}"
                     itemId="${item.id}">
                </div>
            </div>
        </div>
</section>