<section class="item">
    <div class="img">
        <!--
            TODO: votes == relevance???
          -->
        <div data-dojo-attach-point="_item_vote"></div>
        <div data-dojo-type="me/web/widget/home/votes/ItemVote"
             voteMessage="${votesMessage}"
             viewMessage="${viewMessage}"
             votes="${item.total_votes}"
             hits="${item.hits}"
             itemType="${item.item_type}"
             itemId="${item.id}"
        ></div>
    </div>
    <div class="content">
        <div class="title" data-dojo-attach-point="_title">
            <a href="${contextPath}/${item.item_type}/${item.id}/${slugName}">
                <h1>
                    ${questionName}
                </h1>
            </a>
        </div>
        <!-- general information -->
        <div class="bottom">
            <div class="options">
                <div class="image" data-dojo-attach-point="_picture">
                </div>
                <div class="submited">
                    ${submiteddByMessage}
                    <strong>
                        <a data-dojo-attach-point="_profile_link" href="${contextPath}/profile/${owner}">${owner}</a>
                    </strong>
                    ${addedMessage}
                    <strong> ${item.relative_time} |
                     <a data-dojo-attach-point="_comments_link" href="${contextPath}/${item.item_type}/${item.id}/${slugName}#comments">
                            ${item.total_comments}
                            ${totalCommentMessage}
                     </a> </strong>
                </div>
            </div>
            <!-- List of Hashtags -->
            <div class="tags" data-dojo-attach-point="_tags">

            </div>
        </div>
    </div>
</section>