@media all {
  /* menu title */
  /* line 19, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vtitle {
    padding-left: 0px;
    padding-right: 10%;
  }

  /* line 24, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist {
    text-align: right;
    /* Level 1 */
    /* Level 2 */
    /* Level 3 */
    /* Level 4 */
  }
  /* line 27, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist li {
    float: right;
  }
  /* line 32, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist li a,
  .ym-vlist li strong,
  .ym-vlist li span {
    padding-left: 0px;
    padding-right: 10%;
  }
  /* line 40, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist li ul li a,
  .ym-vlist li ul li strong,
  .ym-vlist li ul li span {
    padding-left: 0px;
    padding-right: 20%;
  }
  /* line 48, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li strong,
  .ym-vlist li ul li ul li span {
    padding-left: 0px;
    padding-right: 30%;
  }
  /* line 56, ../../../../../../../../css/resource/sass/yaml/add-ons/rtl-support/navigation/vlist-rtl.scss */
  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li strong,
  .ym-vlist li ul li ul li ul li span {
    padding-left: 0px;
    padding-right: 40%;
  }
}
