/** drop down menu **/
/* line 8, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title {
  background: none repeat scroll 0 0 #6C6D6F;
  border-radius: 13px 13px 13px 13px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 15px 2px;
  text-shadow: #002537 0 1px 1px;
  cursor: pointer; }

/* line 20, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title:hover .sub-menu {
  display: inline-block;
  position: absolute; }

/* line 25, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title .sub-menu {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  display: none;
  margin-left: -15px;
  margin-top: 0;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 36, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title .sub-menu li {
  display: block;
  height: 22px;
  list-style-type: none;
  padding: 5px 0px 0px 10px;
  width: 110px;
  font-size: 90%; }

/* line 45, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title .sub-menu li img {
  margin-right: .5em; }

/* line 49, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title .sub-menu li:hover {
  background-color: #8C8C8C; }

/* line 53, ../../../sass/web/components/dropdown-menu.scss */
.drop-down-menu-select-title .sub-menu li:hover a {
  color: white !important;
  text-decoration: none; }
