/* line 3, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper {
  border-right: 1px solid #DCDCDC;
  box-shadow: 1px 0 6px 0 #393838 inset;
  float: right;
  width: 309px; }

/* line 10, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section {
  border-left: 1px solid #E3E2E0;
  min-height: 150px; }

/* line 15, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section .tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  color: white;
  text-shadow: 0 1px 0 rgba(40, 39, 39, 0.5); }

/* line 23, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section .web-aside-section {
  min-height: 130px; }

/* line 27, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section .cloudItems {
  padding: 10px; }

/* line 31, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section div.link {
  margin-bottom: 4px;
  margin-top: 6px;
  padding: 1px 8px 1px 1px;
  text-align: right;
  font-size: 0.9em; }

/* line 39, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section div.link a {
  color: white; }

/* line 43, ../../../sass/web/components/front-aside.scss */
.home-header-color, #web-main-public-line .web-left-wrapper .section .sectionTitle, #web-main-public-line .categoryMenu {
  background-color: #333333; }

/* line 47, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .web-left-wrapper .section .sectionTitle {
  border-bottom: 1px solid #717171;
  box-shadow: 0 0 0 1px #555555 inset;
  color: #FFFFFF;
  padding: 10px 0 10px 10px;
  width: auto; }

/* line 56, ../../../sass/web/components/front-aside.scss */
#web-main-public-line .categoryMenu {
  border-bottom: 1px solid #BBBBBB; }
