/** HASHTAGS */
/* line 4, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper { background-color: white; }

/* line 9, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtagName { color: black; font-size: 150%; }

/* line 15, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtagName h2 { color: white; margin: 0 10px; width: 500px; }

/* line 21, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-rated-profile-item .web-rated-profile-item-detail a { color: #888888; }

/* line 29, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-detail .emne-box { background-color: white !important; }

/* line 33, ../../../sass/web/components/hashtag.scss */
.web-hashtag-header .web-hashtag-options { float: right; margin-right: 15px; }

/* line 38, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-detail-wrapper { width: 75%; float: left; }

/* line 43, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-wrapper-top { border: 0 none !important; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; margin-left: 75%; overflow: hidden; }

/* line 50, ../../../sass/web/components/hashtag.scss */
.web-hashtag-wrapper .web-ht-wrapper-mainline { float: left; width: 650px; max-width: 655px; }

/* line 56, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper { border-radius: 5px 0 0 5px; overflow: auto; }

/* line 61, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper .web-ht-graph { float: left; height: 308px; margin-left: 10px; max-height: 308px; overflow: hidden; width: 650px; }

/* line 70, ../../../sass/web/components/hashtag.scss */
.web-ht-graph-wrapper .web-ht-button-wrapper { float: right; width: 243px; }

/* line 75, ../../../sass/web/components/hashtag.scss */
.web-ht-button-wrapper .web-ht-button-item { border-bottom: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5; min-height: 55px; color: #676767; }
