/* line 3, ../../../sass/web/components/list_filters.scss */
.web-filters-options nav {
  line-height: 20px; }

/* line 8, ../../../sass/web/components/list_filters.scss */
.web-filters-options nav a.selected, .web-filters-options nav a:hover {
  background-color: #e5e5e5;
  color: #222222;
  text-decoration: none; }

/* line 14, ../../../sass/web/components/list_filters.scss */
.web-filters-options nav a, .web-filters-options nav a:link, .web-filters-options nav a:visited {
  margin: 3px;
  padding: 3px;
  color: white; }

/**
    web-filters-wrapper
**/
/* line 24, ../../../sass/web/components/list_filters.scss */
.web-filters-wrapper {
  margin: 10px 2px;
  min-height: 105px;
  padding: 13px 17px 10px;
  color: black;
  -webkit-box-shadow: #666666 1px 0px 4px 2px inset;
  -moz-box-shadow: #666666 1px 0px 4px 2px inset;
  box-shadow: #666666 1px 0px 4px 2px inset;
  background-color: #918f8f; }

/* line 34, ../../../sass/web/components/list_filters.scss */
.web-filters-wrapper label {
  color: white;
  margin-bottom: 3px; }

/* line 38, ../../../sass/web/components/list_filters.scss */
.web-filters-wrapper .dijitRuleLabel {
  color: white !important; }

/* line 42, ../../../sass/web/components/list_filters.scss */
.web-filters-wrapper .dijitSliderH {
  margin-top: 5px; }

/* line 46, ../../../sass/web/components/list_filters.scss */
.web-filters-wrapper .dijitRuleMark {
  border: 1px solid white; }

/* line 54, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-input {
  padding-bottom: 10px; }

/* line 59, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-multi {
  padding: 5px;
  width: 200px; }

/* line 65, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-multi > select {
  margin-top: 4px;
  min-width: 200px; }

/* line 70, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-check {
  margin-left: 25px;
  margin-top: 22px;
  width: 180px; }

/* line 77, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-check > div {
  margin-top: 5px; }

/* line 81, ../../../sass/web/components/list_filters.scss */
.web-filters-search .web-filters-search-button {
  margin-top: 4px;
  padding: 1px;
  text-align: right; }

/* line 88, ../../../sass/web/components/list_filters.scss */
.web-social-filter > div {
  margin-top: 2px; }

/* line 98, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items {
  height: 130px; }

/* line 103, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items .web-social-filter-item {
  padding: 1px;
  width: 80%;
  margin-top: 5px;
  position: relative; }

/* line 113, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items .web-social-filter-item .web-social-icon-image {
  position: absolute;
  top: 5px;
  right: 25px; }

/* line 119, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items .selected {
  background-color: #cdcdcd;
  color: black !important;
  margin-top: 5px; }

/* line 126, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items .web-social-filter-item .web-social-filter-image {
  margin-right: 15px;
  padding: 2px 2px 0; }

/* line 132, ../../../sass/web/components/list_filters.scss */
.web-social-filter-items .web-social-filter-item .web-social-filter-name {
  line-height: 20px;
  margin-left: 31px; }
