/** option-menu */
/* line 10, ../../../sass/web/components/option-menu.scss */
.option-menu .icon {
  background-color: #B4B4B2;
  border: 1px solid #9A9A9A;
  border-radius: 4px 4px 4px 4px;
  padding: 1px;
  text-align: center;
  width: 12px; }

/* line 19, ../../../sass/web/components/option-menu.scss */
.option-menu .hidden {
  display: none; }

/* line 23, ../../../sass/web/components/option-menu.scss */
.option-menu .menu-items {
  background: none repeat scroll 0 0 #E3E3E3;
  border: 1px solid #969696;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  padding: 5px;
  position: absolute;
  width: 100px;
  color: #747474; }

/* line 34, ../../../sass/web/components/option-menu.scss */
.option-menu .menu-items:hover {
  background: none repeat scroll 0 0 #919191;
  color: white !important; }

/* line 43, ../../../sass/web/components/option-menu.scss */
.option-menu .menu-items .menu-item-wrap:hover {
  color: white; }
