/** profile view **/
/* line 4, ../../../sass/web/components/profile.scss */
.web-profile-wrapper { margin: 0; }

/* line 14, ../../../sass/web/components/profile.scss */
.web-profile-wrapper > header { font-size: 1.5em; margin-left: 3px; margin-top: 20px; font-weight: bold; }

/* line 21, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .emne-box > header > span { padding-left: 5px; }

/* line 25, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-content-wrapper { background: none repeat scroll 0 0 white; overflow: auto; }

/* line 30, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-left { max-width: 300px; }

/* line 35, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-right { margin-left: 255px; overflow: hidden; }

/* line 40, ../../../sass/web/components/profile.scss */
.web-profile-wrapper div.profile-name { padding: 15px; margin-bottom: 0px; }

/* line 49, ../../../sass/web/components/profile.scss */
.web-profile-wrapper ul { padding: 0px !important; margin: 0px !important; }

/* line 54, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-left .rss li img { margin-right: 10px; margin-top: 3px; }

/* line 60, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-left .rss li { border-bottom: 1px solid #F1F1F1; display: block; line-height: 24px; padding: 6px; vertical-align: middle; }

/* line 68, ../../../sass/web/components/profile.scss */
.web-profile-wrapper .profile-left .rss li a, .web-profile-wrapper .profile-left .rss li a:link, .web-profile-wrapper .profile-left .rss li a:visited, .web-profile-wrapper .profile-left .rss li a:active { color: #A7A7A7; }
