/**
    sign ip
 **/
/* line 5, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  color: white;
  padding: 30px;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: -o-linear-gradient(#ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(#ffffff 0%, #dddddd 100%);
  border-left: solid 1px #c4c4c4;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #b7b7b7; }

/** login **/
/* line 21, ../../../sass/web/components/signup.scss */
#web-form-wrapper h1 {
  font-size: 24px;
  font-weight: 200;
  color: #444;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-top: 0;
  text-shadow: 1px 0 0 white; }

/* line 31, ../../../sass/web/components/signup.scss */
#web-form-wrapper .error {
  color: #FFFFFF;
  font-weight: normal;
  margin: 5px;
  padding: 5px;
  width: auto; }

/* line 40, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper, #page-container {
  width: 60%; }

/* line 44, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.leftMessage {
  left: 20px;
  position: absolute;
  top: 10px;
  width: 250px; }

/* line 55, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.field {
  padding: 17px; }

/* line 59, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.field div.label {
  color: #000;
  float: left;
  font-size: 133%;
  padding-top: 6px;
  width: 90px; }

/* line 67, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper h3 {
  color: #444444;
  font-weight: 200;
  margin: 5px 3px;
  text-shadow: white 1px 0 0; }

/* line 75, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .sign-in-form {
  width: 69%; }

/* line 80, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.sidetip {
  position: absolute;
  top: 38px;
  word-wrap: break-word; }

/* line 88, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.sidetip p {
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 13px;
  margin: 2px; }

/* line 96, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .validator-wrapper .shadow-input-message {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline; }

/* line 101, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .validator-wrapper .shadow-input-message {
  color: #dddddd;
  line-height: 37px;
  padding-left: 1px;
  font-size: 150%; }

/* line 108, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .section {
  margin-bottom: 15px;
  padding: 5px;
  position: relative;
  width: 93%; }

/* line 115, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .web-section-option {
  height: 15px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  width: 80%; }

/* line 123, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .textbox .web-section-button {
  margin-bottom: 15px;
  margin-right: 90px; }

/* line 130, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .shadow-input-message {
  -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
  cursor: text;
  left: 150px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 0; }

/* line 141, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper input, textarea, select {
  padding: 10px; }

/* line 146, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.submit {
  padding: 3px;
  width: 37em; }

/* line 152, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D2D2D2;
  color: #717171;
  font-size: 13px;
  margin: 25px auto 0;
  overflow: auto;
  padding: 5px 10px 10px;
  width: 376px; }

/* line 165, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
  display: inline;
  line-height: 26px; }

/* line 170, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
  list-style: disc outside none; }

/* line 174, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions li {
  background-color: #444444;
  border: 1px solid #929292;
  color: #FFFFFF;
  cursor: pointer;
  display: -moz-box;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  padding: 2px; }

/** sign up */
/* line 190, ../../../sass/web/components/signup.scss */
#web-user-actions-form-wrapper .sign-un-form {
  width: 60%; }

/** social sign in **/
/* line 197, ../../../sass/web/components/signup.scss */
.web-social-signin {
  margin: 25px 0; }

/* line 201, ../../../sass/web/components/signup.scss */
.web-social-signin h3 {
  margin: 10px 0 !important; }

/** confirm message **/
/* line 207, ../../../sass/web/components/signup.scss */
.web-user-confirm-message {
  padding: 20px; }

/* line 212, ../../../sass/web/components/signup.scss */
.web-user-confirm-message h2 {
  color: #222222;
  font-size: 18px; }

/* line 217, ../../../sass/web/components/signup.scss */
.web-user-confirm-message span {
  color: #222222;
  font-size: 18px; }

/* line 222, ../../../sass/web/components/signup.scss */
.web-user-confirm-message span a {
  color: #E7A441 !important; }

/* line 226, ../../../sass/web/components/signup.scss */
.web-user-confirm-message div {
  margin-top: 10px; }

/** web-message-forgor-link **/
/* line 232, ../../../sass/web/components/signup.scss */
.web-message-forgor-link {
  margin-top: 20px; }

/* line 236, ../../../sass/web/components/signup.scss */
.web-message-forgor-link a {
  color: #E7A441 !important; }

/** error message **/
/* line 242, ../../../sass/web/components/signup.scss */
.error-page .web-user-confirm-message {
  padding: 0; }

/* line 250, ../../../sass/web/components/signup.scss */
.web-user-confirm-message .extra {
  color: #888888;
  height: 300px;
  overflow: auto; }
