/** Publish Tweet Poll **/
/* line 4, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishContent {
  margin: 35px 35px 35px 0px; }

/* line 8, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper {
  float: left;
  width: 460px;
  margin-right: 23px;
  padding: 10px;
  background-color: #BCBCBC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* line 19, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper .rich-table {
  background-color: #EEEEEE;
  width: 100%; }

/* line 24, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper table {
  background-color: #EEEEEE; }

/*
div.publishWrapper tr:hover{
    padding: 10px;
    background-color: #CACACA;
}
*/
/* line 34, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper td {
  padding: 10px; }

/* line 38, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper div.socialItem {
  font-size: 1.1em;
  color: #777777;
  font-weight: bold; }

/* line 44, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper .rich-table-row {
  padding: 10px;
  background-color: #EEEEEE;
  margin: 2px; }

/* line 54, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper div.publishTwitterTitle {
  padding: 10px;
  font-size: 12px;
  color: #FFF;
  font-weight: bold; }

/* line 61, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper div.itemPublish {
  padding: 5px 4px 0px;
  background-color: #1277C9;
  color: #FFF;
  font-size: 12px;
  width: 450px;
  font-weight: bold; }

/* line 70, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper div.itemPublish .check {
  display: inline-block;
  width: 50px;
  padding-top: 3px;
  float: left; }

/* line 77, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishWrapper div.itemPublish .account {
  display: inline-block;
  width: 200px;
  background-repeat: no-repeat;
  padding-left: 44px;
  width: 200px;
  font-size: 12px;
  height: 30px;
  padding-top: 5px; }

/* line 88, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions {
  background-color: #BCBCBC;
  padding: 19px;
  width: 54%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* line 97, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions .paddingLeft {
  padding: 10px; }

/* line 101, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions .paddingRigth {
  padding: 10px; }

/* line 105, ../../../sass/web/components/tweetpoll-publish.scss */
div.optionTitle {
  padding: 7px;
  font-size: 12px;
  color: #FFF;
  font-weight: bold; }

/* line 112, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions table {
  width: 80%;
  background-color: #D7D2D2;
  color: #777777; }

/* line 118, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions tr {
  font-weight: bold; }

/* line 122, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions tr .label {
  padding-left: 10px; }

/* line 130, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions div.publishTableOptionWrapper .itemOption {
  padding: 6px; }

/* line 134, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions div.publishTableOptionWrapper .itemOption .itemLeft {
  float: left;
  margin-right: 20px; }

/* line 139, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions div.publishTableOptionWrapper .itemOption .label {
  font-size: 1.1em;
  color: #777777;
  font-weight: bold; }

/* line 145, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishOptions div.publishTableOptionWrapper .extra {
  padding-left: 10px;
  background-color: #EEEEEE; }

/* line 150, ../../../sass/web/components/tweetpoll-publish.scss */
div.publishButtons {
  float: right;
  margin-right: 15px;
  margin-top: 30px; }

/** tweetPollPublishDialog **/
/* line 157, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog {
  padding: 10px; }

/* line 161, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.info {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  margin: 10px;
  padding: 10px; }

/* line 169, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items {
  max-height: 200px;
  overflow: auto;
  padding: 5px; }

/* line 175, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item {
  border-bottom: 1px solid #E1DFDF;
  clear: both;
  font-weight: bold;
  min-height: 36px;
  padding: 3px;
  overflow: auto; }

/* line 184, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.image {
  float: left;
  margin-right: 5px;
  padding: 3px;
  width: 20px; }

/* line 191, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail {
  float: left;
  padding: 4px;
  width: 80%; }

/* line 197, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.icon {
  float: right;
  padding: 5px;
  width: 50px; }

/* line 203, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail {
  padding: 4px; }

/* line 208, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail .success-message {
  padding: 3px;
  max-width: 50%;
  padding: 4px;
  color: #26A526;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  float: left; }

/* line 220, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail .success-url {
  color: #444444;
  font-weight: normal;
  line-height: 25px;
  padding: 4px;
  text-decoration: underline; }

/* line 229, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail .success-url a:hover {
  text-decoration: underline; }

/* line 234, ../../../sass/web/components/tweetpoll-publish.scss */
div.tweetPollPublishDialog div.items div.item div.detail .failure-message {
  background-color: #EB2C2C;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  margin-right: 10px;
  max-width: 50%;
  padding: 4px;
  float: left; }
