<div class="web-rated-comment-item">
    <div class="web-rated-comment-picture">
        <a dojoType="encuestame.org.core.shared.utils.AccountPicture"
           username="${data.commented_username}"
           picture_width="24"
           picture_height="24"></a>
    </div>
    <div class="web-rated-comment-item-detail">
         <div dojoType="encuestame.org.core.shared.utils.ToggleText"
         limit="150" text="${data.comment}"></div>
         <div class="by">
             <span class="strong">by</span>
             <a href="${contextDefaultPath}/profile/${data.commented_username}">${data.commented_username}</a>
         </div>
    </div>
    <div class="web-rated-comment-item-sub">
        <nav>
             <span class="date">${data.created_at}</span>
             <span> Like  ${data.likeVote}</span>
             <span> Dislike  ${data.dislike_vote}</span>
        </nav>
    </div>
</div>