<div class="comments-options">
    <input type="radio" dojoType="dijit.form.RadioButton" name="comments" id="comments_1_${id}"
        value="allow_comments" />
        <label for="radioTwo">
            Allow Comments
        </label>
        <br />
    <input type="radio" dojoType="dijit.form.RadioButton" name="comments" id="comments_2_${id}"
        value=moderated />
        <label for="radioTwo">
            Moderated Comments
        </label>
        <br />
    <input type="radio" dojoType="dijit.form.RadioButton" name="comments" id="comments_3_${id}"
        value="no_comments" />
        <label for="radioTwo">
            No comments
        </label>
</div>