<div class="notificationWrapper unselectable" data-dojo-attach-point="_parent_wrapper">
    <div class="livePanel" data-dojo-attach-point="_panel">
        <div data-dojo-attach-point="_not" class="panelItems"></div>
        <div class="final">
            <a href="#" data-dojo-attach-event="onclick:_viewAll">
                ${i18nMessage.not_view_all}
            </a>
        </div>
    </div>
    <div data-dojo-attach-point="_count" class="counter" data-dojo-attach-event="onclick:open">0</div>
</div>
