/* line 3, ../../sass/mobile/default.scss */
.mobile .enme-mobile-main-message {
  padding: 30px;
  font-size: 14px;
  color: #888; }

/* line 9, ../../sass/mobile/default.scss */
.mobile .enme-mobile-main-message a {
  font-size: 12px;
  text-decoration: underline; }

/* line 14, ../../sass/mobile/default.scss */
.mobile .tags a.tag {
  position: relative;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px transparent;
  padding: 1px 4px 2px 4px;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  color: #666;
  background-color: #F0F0F0;
  border-bottom: 1px solid #CCC; }

/* line 31, ../../sass/mobile/default.scss */
.mobile a, .mobile a:link {
  color: #444444; }

/* line 35, ../../sass/mobile/default.scss */
div.mobile-enme-content {
  width: 100%; }

/* line 39, ../../sass/mobile/default.scss */
.mobile .emne-box {
  margin: 0; }

/* line 43, ../../sass/mobile/default.scss */
.mobile .emne-box header {
  padding: 15px;
  color: white; }

/*** FRONTEND ****/
/*** MENU ***/
/* line 53, ../../sass/mobile/default.scss */
div.mobile-categoryMenu {
  font-size: 130%;
  min-height: 60px;
  padding-bottom: 2px;
  color: #FFF; }

/* line 60, ../../sass/mobile/default.scss */
div.menu-options {
  margin-top: 0.4em;
  max-width: 100%;
  background-color: #275296;
  text-align: center; }

/* line 67, ../../sass/mobile/default.scss */
div.mobile-MenuHotTags {
  font-size: 75%;
  text-align: center;
  padding-top: 0.5em;
  padding-top: 0.5em;
  color: #000000; }

/* line 75, ../../sass/mobile/default.scss */
div.mobile-MenuHotTags span.optionTags {
  display: inline-block;
  padding: 2px 2px 2px 2px;
  text-align: center;
  width: 60px; }

/* line 86, ../../sass/mobile/default.scss */
div.mobile-footer div.mobile-HashTags span.mobile-optionTag a:link {
  color: #022994; }

/* line 91, ../../sass/mobile/default.scss */
div.mobile-tweetpolls {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #0F0E0E;
  padding: 5px 5px 5px 5px;
  margin: 4px; }

/** menu **/
/* line 100, ../../sass/mobile/default.scss */
div.mobile-menu-wrapper {
  background-color: #858181;
  font-size: 110%;
  font-weight: bold;
  max-width: 100%;
  min-height: 40px;
  padding: 3px; }

/* line 109, ../../sass/mobile/default.scss */
div.mobile-menu-wrapper a {
  color: #FFF; }

/* line 113, ../../sass/mobile/default.scss */
div.mobile-menu-wrapper span {
  float: left;
  min-height: 20%;
  padding: 5px;
  max-width: 36px; }
