<div class="web-poll-wrapper web-pattern enme-text enme-dnd">
    <div class="web-poll-question">
        <div class="web-poll-section web-tweetpoll-section help-q1">
            <div class="web-poll-section-title ">
                ${i18nMessage.poll_create_question_title}
            </div>
            <div class="space" style="padding-bottom: 0;">
                <div id="question" data-dojo-attach-point="_question" class="question web-poll-question"></div>
                <div data-dojo-attach-point="_folder" class="web-poll-question-folder"></div>
            </div>
            <div class="question-options section-botton-wrapper">
                <div id="isHidden" data-dojo-type="me/web/widget/options/CheckSingleOption"
                     value="" class="sub-option"
                     label="${i18nMessage.poll_is_hidden}"></div>
                <div id="passwordProtection" data-dojo-type="me/web/widget/options/CheckSingleOption"
                     value="" class="sub-option"
                     label="${i18nMessage.poll_password}"></div>
            </div>
        </div>

        <div class="web-poll-section web-tweetpoll-section help-q2">
            <div class="web-poll-section-title ">
                ${i18nMessage.poll_create_build_answers}
            </div>
            <div class="space">
                <ul class="web-poll-answers"  data-dojo-attach-point="_source">
                </ul>
                <div class="section-botton-wrapper" data-dojo-attach-point="_addNew">
                    <a id="add-new-answer-link" href="#">
                        ${i18nMessage.poll_create_add_new_answer}
                    </a>
                </div>
            </div>
            <div class="section-botton-wrapper hidden">
                <!--//FIXME: ENCUESTAME-673 -->
                <div id="multiple" data-dojo-type="me/web/widget/options/CheckSingleOption"
                     value="multiples" class="sub-option"
                     label="${i18nMessage.poll_create_allow_multiple_selection}"></div>
                <!--<div id="allow-add" data-dojo-type="me/web/widget/options/CheckSingleOption"-->
                <!--value="add"  class="sub-option"-->
                <!--label="${i18nMessage.poll_create_allow_new_responses}"></div>-->
            </div>
        </div>
        <div class="web-poll-section web-tweetpoll-section help-q3">
            <div class="web-poll-section-title ">
                ${i18nMessage.hashtag}
            </div>
            <div class="space">
                <div data-dojo-attach-point="_hashtag_widget" data-dojo-type="me/web/widget/tweetpoll/HashTags"
                     class="hashtags"></div>


            </div>
            <div class="section-botton-wrapper">

            </div>
        </div>

        <div class="web-poll-section web-tweetpoll-section help-q4">
            <div class="web-poll-section-title ">
                ${i18nMessage.poll_create_poll_options}
            </div>
            <div class="space">
                <div class="section-option-wrapper">
                    <div class="section-default help-q5">
                        <h2 class="default-dark-color">
                            ${i18nMessage.poll_create_limits}
                        </h2>
                        <div id="repeated"  data-dojo-type="me/web/widget/options/RepeatedVotes" class=""></div>
                        <div id="limit" data-dojo-type="me/web/widget/options/LimitVotes" class=""></div>
                        <div id="close" data-dojo-attach-point="_date_to_close" class=""></div>
                    </div>
                    <div class="section-default help-q6">
                        <h2 class="default-dark-color">
                            ${i18nMessage.poll_create_comments}
                        </h2>
                        <div id="comments" data-dojo-type="me/web/widget/options/CommentsOptions" class="space"></div>
                    </div>
                    <div class="section-default help-q7">
                        <h2 class="default-dark-color">
                            ${i18nMessage.poll_create_results}
                        </h2>
                        <div id="results" data-dojo-type="me/web/widget/options/ResultsOptions" class="space"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="poll-buttons-container" style="text-align: right;">
            <button id="poll-cancel-button" class="btn btn-danger" data-dojo-attach-point="_cancel">
                ${i18nMessage.commons_cancel}
            </button>
            <button id="poll-create-button" data-dojo-attach-point="_publish"
                    data-dojo-type="dijit/form/Button"
                    type="button"
                    name="submitButtonTwo"
                    value="Submit">
                ${i18nMessage.poll_create_button_create}
            </button>
        </div>
    </div>
</div>