<div class="web-poll-item-detail">
    <div class="web-poll-info">
        <div class="web-poll-switch">
            <ul>
                <li class="selected" data-dojo-attach-event="onclick:_displayAnswers">
                    ${i18nMessage.poll_admon_poll_answers}
               </li>
               <li data-dojo-attach-event="onclick:_displayOptions">
                   ${label}
               </li>
            </ul>
        </div>
        <div class="web-poll-char-detail">
            <div id="${id}_chart"></div>
        </div>

        <!-- Answers detail -->
        <div class="web-poll-options-answer" data-dojo-attach-point="_detailWrapperAnswers">
            <div data-dojo-attach-point="_detailAnswers" class="web-poll-answer-container"></div>
        </div>
        <!-- Options detail -->
        <div class="web-poll-options hidden" data-dojo-attach-point="_detailWrapperItems">
            <div data-dojo-attach-point="_detailItems"></div>
        </div>

    </div>

    <div class="web-poll-detail-bttm-bar">
        <div class="web-poll-detail-info" data-dojo-attach-point="_detail_info">

        </div>
        <div class="web-poll-detail-remove">
                <button data-dojo-attach-point="_remove"
                       data-dojo-type="dijit/form/Button"
                       type="button"
                       name="submitButtonTwo"
                       value="Submit">
                        ${i18nMessage.commons_remove}
               </button>
        </div>
    </div>
</div>