<div class="tp-help" data-dojo-attach-point="_help">
  <div id="help-option-switch" class="help-option" data-dojo-attach-point="_help_switch">
      Hide
  </div>
  <div class="hidden small-help" data-dojo-attach-point="_help_small">
      Text with is small
  </div>
  <div data-dojo-attach-point="_help_content" class="hidden">
    <div class="help-title">
      <div class="help"></div>
      <h1>${title}</h1>
    </div>
    <div>
      <ul data-dojo-attach-point="_help_item"></ul>
    </div>
  </div>
  <div>