/** tweetpoll vote options **/
.web-tweetpoll-vote-options {
  margin: 0 auto;
  padding-top: 60px;
  width: 1000px; }

.web-tweetpoll-vote-options h1 {
  color: #565656;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4); }

.web-tweetpoll-vote-options h3 {
  font-size: 15px;
  font-weight: normal;
  margin: 10px 0 0 0; }

.web-tweetpoll-vote-options h3 b {
  color: #565656;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4); }

.web-tweetpoll-vote-options .web-permatlink {
  background-color: #ADE195;
  border: 1px solid #e3e3e3;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 6px rgba(72, 72, 72, 0.46);
  color: white;
  margin: 0 auto;
  min-height: 180px;
  padding: 20px;
  width: 50%; }

.web-tweetpoll-vote-options .yellow {
  background-color: #EEE78B; }

.web-tweetpoll-vote-options .red {
  background-color: #F58165; }

.web-tweetpoll-vote-options .gradient-red h1 {
  color: #FFF;
  margin: 55px; }

.web-tweetpoll-vote-options .web-permatlink .captcha {
  margin: 2px; }

.web-tweetpoll-vote-options .web-permatlink .captcha .recaptcha {
  margin-bottom: 10px;
  margin-left: 10px; }

.web-tweetpoll-vote-options .web-tweetpoll-info {
  font-size: 14px;
  font-weight: bold;
  margin-top: 25%;
  text-align: right; }

.web-tweetpoll-vote-options .web-tweetpoll-info a {
  color: #444444; }
