/*
     tweetpoll detail answers
*/
 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
  background-color: #F7F7F7;
  box-shadow: 3px 1px 3px 0 #CBCBCB inset;
  float: right;
  min-height: 315px;
  width: 510px;
}

.web-tweetpoll-answer-answer > header {
  background-color: #8E8E8E;
  overflow: hidden;
}

.web-tweetpoll-answer-answer > header .answer-label {
  display: inline-block;
  float: left;
  padding-left: 30px;
  width: 260px;
}

.web-tweetpoll-answer-answer > header > div {

}

.web-tweetpoll-answer-answer > header > div {
  background-color: #8E8E8E;
  box-shadow: 0 1px 0 0 #919191 inset;
  color: #444444;
  font-size: 1.2em;
     line-height: 20px;
     padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.web-tweetpoll-answer-answer > header .answer-votes {
  float: left;
  width: 89px;
}

.web-tweetpoll-answer-answer > header .answer-percent {
  float: right;
  padding-right: 15px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer {
  clear: both;
  font-size: 1.2em;
  overflow: auto;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  width: auto;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  color: #4E4E4E;
  float: left;
  font-size: 1em;
  line-height: 20px;
  padding: 10px;
  width: 300px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > div {
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  float: left;
  height: 20px;
  margin-right: 10px;
  opacity: 0.8;
  width: 20px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
  float: left;
  line-height: 20px;
  max-width: 80px;
  padding: 10px;
  width: 80px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
  margin-left: 5px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:link,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:visited,  .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a {
  color: #539FC8;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  float: right;
  line-height: 20px;
  max-width: 50px;
  padding: 10px;
  width: 50px;
}

 .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .web-tweetpoll-answers {
    padding: 10px;
}