<div class="hashTagWrapper">
    <div>
        <div id="hashTagSuggest_${id}" data-dojo-attach-point="_suggest">
        </div>
    </div>
    <div class="wrapperHashTagItems">
        <div data-dojo-attach-point="_items"></div>
    </div>
    <div data-dojo-type="dijit/Dialog" id="option_${id}" title="Options" style="width: 400px;">
             <div class="web-generic-dialog-content">
                 <span>
                   <h3>
                      Are you sure?
                   </h3>
               </span>
                 <div class="button">
                       <span class="optionItem">
                           <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_removeItem">
                               Remove
                           </button>
                       </span>
                 </div>
             </div>
     </div>
</div>