.enme-web-context button.vote {
	background-color: #E0E0E0;
	background-image: -moz-linear-gradient(center top, #FAFAFA 0px, #DCDCDC 100%);
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	box-shadow: 0 0 1px #FFFFFF inset;
	text-shadow: 0 1px 0 #FFFFFF;
}

.enme-web-context button:hover {
	text-decoration: none;
}

.enme-ui-button {
  -moz-user-select: none;
  background: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%) repeat scroll 0 0 transparent !important;
  border: 1px solid #ADADAD !important;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 2px 1px 0 #D5D5D5;
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  -moz-user-select: none;  
  height: 27px;
  outline: 0 none;
  padding: 0 0.2em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
  word-wrap: normal;
}

.button-red {
	background: -moz-linear-gradient(center top , #F1ADAD 0px, #9F6161 100%) repeat scroll 0 0 transparent !important;
	color: white;
}

/** override dijit buttons **/

/** default button */

.dijitButton .dijitButtonNode{
    font-size: 12px !important;
    border: 1px solid #ADADAD !important;
    padding: 5px 13px !important;
    font-weight: bold;
    color: black;
    background-image: none !important;
    background: -moz-linear-gradient(center top , #FAFAFA 0px, #DCDCDC 100%) repeat scroll 0 0 transparent !important;
    border-radius: 4px !important;        
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;    
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;     
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* .dijitButton .dijitButtonNode:hover {
	background: -moz-linear-gradient(center top , #F1ADAD 0px, #9F6161 100%) repeat scroll 0 0 transparent !important;
} */

/* .dijitButton .dijitButtonNode {
  background-image: none !important;
  border: 1px solid #6D8000 !important;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4);
  font-size: 110% !important;
  font-weight: normal;
  padding: 5px 13px !important;
} */

/** hover color need to be fixed, it's blue **/

.enme-web-context .dijitButtonHover{
  color: #FFFFFF !important;
  background-color: #A1D988 !important;
}

.enme-web-context .dijitTextBoxHover, .enme-web-context .dijitTextBoxHover .dijitButtonNode {
    -moz-transition-duration: 0.25s;
    border-color: #A1D988;
}

.enme-web-context .dijitTextBoxHover, .enme-web-context .dijitTextBoxHover .dijitButtonNode {
  border-color: #769dc0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.enme-web-context .dijitTextBoxHover {
  background-color: #e9f4fe;
  background-image: none !important;
  background-repeat: repeat-x;
}

.enme-web-context .dijitSelect {
	
}

.enme-web-context .dijitSelect .dijitButtonText {
	min-width: 110px;
    padding: 5px !important;
    text-align: left;
}

.enme-web-context  .dijitMenuActive .dijitMenuItemHover, .enme-web-context .dijitMenuActive .dijitMenuItemSelected {
	background-color: none !important;
}