/** Hash Tags **/
div.hashTagWrapper {
    max-width: 90%;
}

.wrapperHashTagItems {
    overflow: auto;
    padding: 10px 0 5px;
}

div.wrapperHashTagItems div.addNewHashTag {
    font-size: 12px;
    color: #FFF;
    float: left;
    width: 100%;
    min-height: 262px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.hashTagWrapper .suggestBox {
    max-width: 56%;
    width: 56%;
    position: absolute;
    border: 1px solid #E0D6D6;
}

div.wrapperHashTagItems div.addNewHashTag .label {
    min-width: 100px;
    margin: 10px;
    color: #000;
    font-weight: bold;
}

div.wrapperHashTagItems div.addNewHashTag .inputClass {
    padding: 5px;
    border: 1px solid #BCBCBC;
    color: #808080;
    font-size: 12px;
    width: 60%;
}

div.wrapperHashTagItems div.addNewHashTag .addButton {
    margin-left: 8px;
    border: 1px solid #BCBCBC;
    min-width: 100px;
    padding: 4px;
}

div.wrapperHashTagItems .hashTagItem {
    column-count: 2;
    column-gap: 30px;
    display: inline-block;
    text-align: center;
    min-width: 30px;
    cursor: pointer;
}

div.wrapperHashTagItems div.addNewHashTag .hashTagItem a {
    text-decoration: none;
    color: #FFF;
}

div.wrapperHashTagItems div.addNewHashTag .hashTagItem a:hover {
    color: #FFF;
    text-decoration: none;
}
