/** HASHTAGS */
.web-hashtag-wrapper {
  margin: 30px;
  overflow: auto;
}

.web-hashtag-header {

}

.web-hashtag-header .web-hashtagName {
    float: left;
    color: #000;
    font-size: 150%;
}

.web-hashtag-header .web-hashtagName h2 {
  color: white;
  margin: 0 10px;
  width: 500px;
}

.web-hashtag-header .web-hashtag-options {
  float: right;
  margin-right: 5px;
}

.web-hashtag-wrapper .web-ht-detail-wrapper {
  margin-top: 10px;
}

.web-hashtag-wrapper .web-ht-detail-wrapper .emne-box {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 1px 1px #D2CFCF;
  margin-left: 4px;
  margin-right: 3px;
  margin-top: 10px;
}

.web-hashtag-wrapper .web-ht-detail-wrapper .emne-box header {
  border-color: #C8C8C8 grey;
  border-radius: 5px 5px 0 0;
  color: black;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  padding: 7px;
}

.web-hashtag-wrapper .web-ht-detail-wrapper .web-ht-wrapper-top {
    float: right;
}

.web-hashtag-wrapper .web-ht-detail-wrapper .web-ht-wrapper-mainline {
    float: left;
    width: 650px;
    max-width: 655px;
}

.web-ht-graph-wrapper {
  border-radius: 5px 0 0 5px;
  overflow: auto;
}

.web-ht-graph-wrapper .web-ht-graph {
  float: left;
  height: 308px;
  margin-left: 10px;
  max-height: 308px;
  overflow: hidden;
  width: 650px;
}

.web-ht-graph-wrapper .web-ht-button-wrapper {
    float: right;
    width: 243px;
}

.web-ht-button-wrapper .web-ht-button-item {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    min-height: 55px;
    color: #676767;
}