#web-poll-wrapper {
	border: 1px solid #D7D7D7;
	min-height: 500px;
	overflow: auto;
	margin-top: 20px;
}

/**
 * expand zone of detail of list POLL
 **/
.web-item-row .web-list-more .web-poll-item-detail {
	border: 1px solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
	min-height: 340px;
	padding: 10px;
	overflow: auto;
	background-color: white;
	box-shadow: inset 0px 0px 4px #E0E0E0;
	-moz-box-shadow: -inset 0px 0px 4px #E0E0E0;
	-webkit-box-shadow: inset 0px 0px 4px #E0E0E0;
}

.web-item-row .web-list-more .web-poll-info {
	clear: both;
	overflow: auto;
	position: relative;
}

.web-item-row .web-list-more .web-poll-info .web-poll-char-detail {
	float: left;
	min-width: 280px;
	margin: 0 5px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options {
	margin-left: 545px;
	padding: 6px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer {
	float: left;
	padding: 6px;
	width: 400px;
	margin-top: 40px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer>div
	{
	max-height: 265px;
	overflow: auto;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer .web-poll-answer-no-results
	{
	border: 1px solid #EBEBEB;
	border-radius: 6px 6px 6px 6px;
	color: #E6E5E3;
	font-size: 15px;
	line-height: 159px;
	min-height: 160px;
	padding: 7px;
	text-align: center;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer .web-poll-answer-row
	{
	border-bottom: 1px dotted #DED8D8;
	overflow: auto;
	padding: 4px;
}

.web-items-no-results {
	border: 4px solid #F2F2F2;
	border-radius: 10px 10px 10px 10px;
	color: #D6D6D6;
	font-size: 24px;
	margin: 18px;
	min-height: 40px;
	padding: 120px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-color
	{
	border-radius: 11px 11px 11px 11px;
	float: left;
	margin-bottom: 1px;
	margin-right: 10px;
	margin-top: 1px;
	padding: 1px;
	width: 20px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-label
	{
	color: #9C9B99;
	float: left;
	font-weight: bold;
	line-height: 15px;
	width: 165px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options-answer .web-poll-answer-row .web-poll-answer-row-percent
	{
	color: #70706F;
	font-weight: bold;
	margin-left: 100px;
}

.web-item-row .web-list-more .web-poll-info h2 {
	border-bottom: 1px solid #AEACA3;
	margin: 0 0 10px 5px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options .rownDetail {
	border-bottom: 1px dotted #E0E0E0;
	padding: 5px;
}

.web-item-row .web-poll-switch {
  background-color: #EDEDED;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  right: 0;
  top: 15px;
  width: 422px;
}

.web-item-row .web-poll-switch ul{
	
}

.web-item-row .web-poll-switch li {
  float: left;
  list-style: none outside none;
  margin: 0 5px;
  min-width: 50px;
  padding: 3px 6px;
}

.web-item-row .web-poll-switch li.selected {
  background-color: #6D6B6B;
  color: white !important;
  font-weight: bold;
}

.web-item-row .web-poll-switch li a {
  color: #545454;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.web-item-row .web-list-more .web-poll-info .web-poll-options .rownDetail .label
	{
	float: left;
	font-weight: bold;
	width: 215px;
}

.web-item-row .web-list-more .web-poll-info .web-poll-options .rownDetail .data
	{
	margin-left: 140px;
	overflow: auto;
}

.web-item-row .web-list-more .web-poll-detail-bttm-bar {
	background-color: #E6E6E6;
	border: 1px solid #D6D6D6;
	border-radius: 3px 3px 3px 3px;
	margin: 4px;
	min-height: 27px;
	padding: 4px;
}

.web-item-row .web-list-more .web-poll-detail-bttm-bar .web-poll-detail-info
	{
	float: left;
}

.web-item-row .web-list-more .web-poll-detail-bttm-bar .web-poll-detail-info>div
	{
	
}

.web-item-row .web-list-more .web-poll-detail-bttm-bar .web-poll-detail-remove {
	text-align: right;
}