.web-rated-comments {
	
}

.web-rated-comments .web-rated-comments-items {
	padding: 10px;
}

.web-rated-comments .web-rated-comment-item {
    background-image: linear-gradient(bottom, rgb(115,115,115) 47%, rgb(140,139,139) 74%);
	background-image: -o-linear-gradient(bottom, rgb(115,115,115) 47%, rgb(140,139,139) 74%);
	background-image: -moz-linear-gradient(bottom, rgb(115,115,115) 47%, rgb(140,139,139) 74%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,115,115) 47%, rgb(140,139,139) 74%);
	background-image: -ms-linear-gradient(bottom, rgb(115,115,115) 47%, rgb(140,139,139) 74%);
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.47, rgb(115,115,115)),
	    color-stop(0.74, rgb(140,139,139))
	);
    border-bottom: 1px solid #EFEFEF;
    clear: both;
    min-width: 20px;
    padding: 8px 8px 15px;
}

.web-rated-comments .web-rated-comment-item:last-child {
	border-bottom: none;
}

.web-rated-comments .web-rated-comment-item a {
  color: #373737;
  font-weight: bold;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-picture {
	float: left;
	margin: 0px 10px 0px 2px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-detail {
  color: #FFFEFE;
  font-size: 12px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-detail .strong
	{
	font-weight: bold;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub {
	font-size: 11px;
	color: #444;
	padding: 6px 0 1px;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub a {
    	
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub section>span
	{
	display: inline-block;
}

.web-rated-comments .web-rated-comment-item .web-rated-comment-item-sub .date
	{
	font-weight: bold;
}