
/** sign up **/
#web-user-actions-form-wrapper {
  margin: 0 auto;
  width: 800px;
  z-index: 1;
}

#web-user-actions-form-wrapper .web-form-singup-container {
    width: 300px;
}

#web-user-actions-form-wrapper h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

#web-user-actions-form-wrapper,#page-container {

}

#web-user-actions-form-wrapper div.leftMessage {
    left: 20px;
    position: absolute;
    top: 10px;
    width: 250px;
}

div.web-form-wrapper form{
    left: 400px;
    margin: 20px 0 0 -200px;
    position: relative;
    width: 700px;
}

#web-user-actions-form-wrapper div.field {
    padding: 17px;
}

#web-user-actions-form-wrapper div.field div.label {
    color: #000;
    float: left;
    font-size: 133%;
    padding-top: 6px;
    width: 90px;
}

#web-user-actions-form-wrapper .section-signup {
    margin-top: 20px;
}

#web-user-actions-form-wrapper h3 {
    color: #919090;
    margin: 0;
    margin-bottom: 5px;
}

#web-user-actions-form-wrapper div.web-form-wrapper {

}

#web-user-actions-form-wrapper .textbox div.sidetip {
    margin-top: 0px;
}

#web-user-actions-form-wrapper div.sidetip {
    left: 310px;
    position: absolute;
    width: 100%;
}

#web-user-actions-form-wrapper .section div.tooltip {
    border: 1px solid #000000;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 2px #888888;
    -webkit-box-shadow: 0 1px 2px #888888;
    box-shadow: 0 1px 2px #888888;
    left: -269px;
    padding: 10px;
    position: absolute;
    top: -2px;
    width: 237px;
    opacity: 0;
    display: none;
    color: #FFF;
    background-color: #39568C;
    z-index: 10;
}

#web-user-actions-form-wrapper div.sidetip p {
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 13px;
    margin: 2px;
}

#web-user-actions-form-wrapper  .textbox .validator-wrapper .shadow-input-message {
    -moz-user-select: none;
    display: inline;
}

#web-user-actions-form-wrapper  .textbox .validator-wrapper .shadow-input-message {
    color: #DDDDDD;
    line-height: 37px;
    padding-left: 1px;
    font-size: 150%;
}

#web-user-actions-form-wrapper .textbox .section {
    margin-bottom: 15px;
}

#web-user-actions-form-wrapper form .validator-wrapper {
    overflow: visible;
    position: relative;
}

#web-user-actions-form-wrapper .textbox input,.textbox button,.textbox .shadow-input-message
    {

}

#web-user-actions-form-wrapper  .shadow-input-message {
    -moz-transition: opacity 0.1s ease 0s, font-size 0.1s ease 0s;
    cursor: text;
    left: 150px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 0;
    white-space: nowrap;
    z-index: 1;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.submit {
    margin: 0 auto;
    padding: 3px;
    width: 37em;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    color: gray;
    font-size: 13px;
    margin-top: 1px;
    overflow: auto;
    padding: 5px 10px 10px;
    width: 376px;
    margin: 0 auto;
    text-align: left;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
    display: inline;
    line-height: 26px;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions ul {
    list-style: disc outside none;
}

#web-user-actions-form-wrapper div.web-form-wrapper div.suggestions li {
    border: 1px solid #929292;
    border-radius: 3px 3px 3px 3px;
    color: #259912;
    cursor: pointer;
    display: -moz-box;
    font-size: 90%;
    margin: 2px 2px 2px 0;
    padding: 2px;
    white-space: nowrap;
}

