/* class tag global */
.tag {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: -moz-linear-gradient(center top , #E0DFDF 0pt, #DAD9D9 100%);
  border-color: #C9C8C8 #BEBABA #888888;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 90%;
  margin: 2px 2px 2px 0;
  padding: 3px 4px;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

a.tag:link, a.tag:visited, a.tag:active{
    color: #12122D;
}

.tag:hover {
    color: #F7FBFF;
    background-color: #3E6D8E;
    text-decoration: none;
}