/** tweetpoll detail **/
.web-tweetpoll-detail {
	
}

.web-tweetpoll-detail div.question {
	margin: 0px;
}

div.web-tweetpoll-detail .web-tweetpoll-info {
	background-color: #EDEDED;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail {
	color: white;
	float: left;
	min-height: 48px;
	min-width: 45px;
	padding: 3px;
	text-align: center;
	width: 75px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-high {
	font-size: 20px;
	font-weight: bold;
	padding: 4px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-small-title
	{
	color: #BABABA;
	font-size: 10px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .hits-detail-small
	{
	font-size: 13px;
	line-height: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper {
	min-height: 330px;
}

.web-tweetpoll-detail .chart-tweetpoll-wrapper {
	min-height: 300px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-chart
	{
	float: left;
	min-height: 180px;
	width: 400px;
}

/* tweetpoll detail answers */
.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer
	{
	float: left;
	min-height: 100px;
	width: 400px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .web-tweetpoll-answers
	{
	padding: 10px;
}

.web-tweetpoll-answer-answer .web-tweetpoll-answer-table {
	border: 1px none;
	width: 590px;
}

.web-tweetpoll-answer-answer thead {
	
}

.web-tweetpoll-answer-answer thead tr {
	padding: 10px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer
	{
	margin-top: 45px;
	min-height: 100px;
	padding: 10px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer h2
	{
	margin: 0;
}

.web-tweetpoll-answer-table th {
	border-bottom: 1px solid #3E6D8E;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	text-transform: lowercase;
}

.web-tweetpoll-answer-table td {
	border-bottom: 1px solid #BBC2C6;
	line-height: 25px;
	padding: 8px 15px;
}

.web-tweetpoll-answer-table  .answer-poll {
	font-weight: normal;
	text-align: left;
	width: 100px;
}

.web-tweetpoll-answer-table .color-code {
	float: left;
	height: 11px;
	margin: 5px 10px 0 0;
	width: 11px;
}

.web-tweetpoll-answer-table .data-aling-right {
	border-right: 0 none;
	text-align: right;
}

.web-tweetpoll-answer-table .answer-data-strong,.web-tweetpoll-detail .web-tweetpoll-answer-table .answer-data-strong-r
	{
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.web-tweetpoll-answer-table .answer-right {
	border-right: 1px solid #CCCCCC;
}

.web-tweetpoll-answer-table .data-bold {
	color: #333333;
}

.web-tweetpoll-detail .section-block {
	background-color: blue;
}

.web-tweetpoll-detail .web-tweetpoll-social-links {
	padding: 0px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links {
	padding: 0px;
}

.web-tweetpoll-detail .titleTweetPollSection {
	background-color: #3E6D8E;
	color: #FFFFFF;
	font-size: 110%;
	font-weight: bold;
	padding: 5px;
}

.web-tweetpoll-detail .extraMargin {
	margin-bottom: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .title {
	font-size: 120%;
	border-bottom: 2px solid #000;
	margin-bottom: 5px;
	font-weight: bold;
	padding-bottom: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item {
	overflow: auto;
	padding: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links h2 {
	font-weight: normal;
	margin-top: 1em;
	font-size: 100%;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .img {
	float: left;
	min-width: 27px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .link {
	float: left;
}

.web-tweetpoll-detail .web-tweetpoll-hashtags {
	overflow: auto;
	padding: 10px;
}

.web-tweetpoll-detail  .web-tweetpoll-comments {
	margin-bottom: 15px;
}

/* tweetpoll info detail */
.web-tweetpoll-detail .web-tweetPoll-info-detail {
	overflow: auto;
	width: 100%;
}

div.web-tweetpoll-detail .web-tweetPoll-info-detail .question-info {
	float: left;
	padding-top: 15px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .left-info {
	float: left;
	width: 150px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info {
	float: left;
	max-height: 65px;
	overflow: hidden;
	width: 700px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .picture {
	float: left;
	max-height: 54px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data {
	float: left;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data label {
	font-weight: bold;
	margin-left: 3px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail div.info div.data ul {
	margin: 0px !important;
	padding: 0px !important;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data li {
	display: block;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.data {
	float: right;
	width: 240px;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.tweetPollChart {
	border: 1px dotted #000;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.onLive {
	background-color: #ED9C9C;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 12px;
	padding: 2px 2px 2px 15px;
	width: 260px;
}