/** tweetpoll detail **/
.web-tweetpoll-detail {
	
}

.web-tweetpoll-detail div.question {
	margin: 0px;
}

.web-tweetpoll-detail .web-tweetpoll-info {
	background-color: #EDEDED;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail {
	color: white;
	float: left;
	min-height: 48px;
	min-width: 45px;
	padding: 3px;
	text-align: center;
	width: 75px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-high
	{
	font-size: 20px;
	font-weight: bold;
	padding: 4px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .votes-detail-small-title
	{
	color: #BABABA;
	font-size: 10px;
}

.web-tweetpoll-detail .web-tweetpoll-info .votes-tweetpoll-detail .hits-detail-small
	{
	font-size: 13px;
	line-height: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper {
  background-color: white;
  min-height: 300px;
  overflow: hidden;
}

.web-tweetpoll-detail .chart-tweetpoll-wrapper {
	min-height: 300px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-chart {
	float: left;
	min-height: 180px;
	width: 395px;
}

/*
     tweetpoll detail answers 
*/
.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer {
  background-color: #F7F7F7;
  box-shadow: 3px 1px 3px 0 #CBCBCB inset;
  float: right;
  min-height: 315px;
  width: 510px;
}

.web-tweetpoll-answer-answer > header {
  overflow: hidden;
}

.web-tweetpoll-answer-answer > header .answer-label {
  display: inline-block;
  float: left;
  padding-left: 30px;
  width: 260px;
}

.web-tweetpoll-answer-answer > header > div {

}

.web-tweetpoll-answer-answer > header > div {
  background-color: #8E8E8E;
  box-shadow: 0 1px 0 0 #919191 inset;
  color: #444444;
  font-size: 1.2em;
     line-height: 20px;
     padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.web-tweetpoll-answer-answer > header .answer-votes {
  float: left;
  width: 89px;
}

.web-tweetpoll-answer-answer > header .answer-percent {
  float: right;
  padding-right: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer {
  clear: both;
  font-size: 1.2em;
  overflow: auto;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  width: auto;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color {
  color: #4E4E4E;
  float: left;
  font-size: 1em;
  line-height: 20px;
  padding: 10px;
  width: 300px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > div {
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  float: left;
  height: 20px;
  margin-right: 10px;
  opacity: 0.8;
  width: 20px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-votes {
  float: left;
  line-height: 20px;
  max-width: 80px;
  padding: 10px;
  width: 80px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span {
  margin-left: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:link, .web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a:visited, .web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-color > span a {
  color: #539FC8;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .answer .answer-percent {
  float: right;
  line-height: 20px;
  max-width: 50px;
  padding: 10px;
  width: 50px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer .web-tweetpoll-answers {
	padding: 10px;
}

/**
 * TweetPoll Detail.
 */
div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper
    {
    margin: 15px 10px 10px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper .tab
    {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    background-color: #EFEFEF;
    border-left: 1px solid #CFCACA;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #CFCACA;
    border-top: 1px solid #CFCACA;
    color: #303030;
    display: inline-block;
    min-width: 50px;
    padding: 4px 15px;
    text-align: center;
    width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper .tab:hover
    {
    background-color: #000;
    color: #FFF;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-title
    {
    font-size: 130%;
    font-weight: bold;
    max-height: 30px;
    min-height: 18px;
    max-height: 235px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-detail
    {
    min-height: 185px;
    padding: 0 0 0 10px;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid #DCDCDC;
    background-color: #FFFFFF;
    overflow: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.web-tweetpoll-list-detail-detail .detail
    {
    float: left;
    width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.subMenu
    {
    color: rgb(39, 82, 150);
    font-weight: bold;
    font-style: italic;
    padding: 0pt 0px 10px 0pt;
    font-size: 119%;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail
    {
    border-bottom: 1px dotted #EEEEEE;
    clear: both;
    line-height: 20px;
    min-height: 20px;
    padding: 4px 1px;
    width: auto;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail:last-child
    {
    border-bottom: 0;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail div.label
    {
    float: left;
    font-weight: bold;
    width: 185px;
}

div.web-tweetpoll-wrapper div.tweetListContent div.web-tweetpoll-list-detail-wrapper div.rownDetail div.data
    {
    margin-left: 200px;
    padding: 2px;
    width: 150px;
}

.web-tweetpoll-list-detail-detail .extra {   
    float: right;
    box-shadow: 1px -1px 4px 1px #969696;
    float: right;
    min-height: 210px;
}
 
/** tweetpoll table */

.web-tweetpoll-answer-table {
	border: 1px none;
}

.web-tweetpoll-answer-table > div > span:first-child {
  width: 150px;
}

.web-tweetpoll-answer-table > div > span {
  background-color: #474747;
  color: #FFFFFF;
  float: left;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 5px 5px 3px;
  text-align: center;
  width: 98px;
}

.web-tweetpoll-answer-table > div:first-child {

}

.web-tweetpoll-answer-table > div.content {
  padding: 0 0 5px;
  float: right;
}

.web-tweetpoll-list-item .web-tweetpoll-answer-table > div > div {
  background: none repeat scroll 0 0 #F7F7F7;
  border-bottom: 1px dotted #E7E6E6;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
}

.web-tweetpoll-list-item .web-tweetpoll-answer-table > div > div > div {
  float: left;
  line-height: 20px;
}

.web-tweetpoll-answer-table > div > div .answer-color {
  margin-left: 10px;
  width: 155px;
}

.web-tweetpoll-answer-table > div > div .answer-color > div {
  border-radius: 5px 5px 5px 5px;
  float: left;
  height: 20px;
  width: 20px;
}

.web-tweetpoll-answer-table > div > div .answer-color > span {
  float: left;
  margin-left: 10px;
}

.web-tweetpoll-answer-table > div > div .answer-color > span a {
  text-decoration: none;
}

.web-tweetpoll-answer-table > div > div .answer-votes {
  text-align: center;
  width: 100px;
}

.web-tweetpoll-answer-table > div > div .answer-percent {
  text-align: center;
  width: 110px;
}

.web-tweetpoll-detail .web-tweetpoll-answer-wrapper .web-tweetpoll-answer-answer h2 {
	margin: 0;
}

.web-tweetpoll-detail .section-block {
	background-color: blue;
}

.web-tweetpoll-detail .web-tweetpoll-social-links {
	padding: 0px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links {
	padding: 0px;
}

.web-tweetpoll-detail .titleTweetPollSection {
	background-color: #3E6D8E;
	color: #FFFFFF;
	font-size: 110%;
	font-weight: bold;
	padding: 5px;
}

.web-tweetpoll-detail .extraMargin {
	margin-bottom: 15px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .title {
	font-size: 120%;
	border-bottom: 2px solid #000;
	margin-bottom: 5px;
	font-weight: bold;
	padding-bottom: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item {
	overflow: auto;
	padding: 5px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links h2 {
	font-weight: normal;
	margin-top: 1em;
	font-size: 100%;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .img {
	float: left;
	min-width: 27px;
}

.web-tweetpoll-detail .web-tweetpoll-social-links .links .item .link {
	float: left;
}

/*
 * TweetPoll Hashtag
 */

.web-tweetpoll-detail .web-tweetpoll-hashtags {
  padding: 20px;
}

.web-tweetpoll-detail .web-tweetpoll-hashtags .tag {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #808080;
  font-size: 1.4em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.web-tweetpoll-detail  .web-tweetpoll-comments {
	margin-bottom: 15px;
}

/* tweetpoll info detail */
.web-tweetpoll-detail .web-tweetPoll-info-detail {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 -1px 1px white inset;
    overflow: auto;
    width: 100%;
}

div.web-tweetpoll-detail .web-tweetPoll-info-detail .question-info {
	float: left;
	padding-top: 15px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .left-info {
	float: left;
	width: 150px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info {
	float: left;
	max-height: 65px;
	overflow: hidden;
	width: 700px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .picture {
	float: left;
	max-height: 54px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data {
	float: left;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail .info .data label {
	font-weight: bold;
	margin-left: 3px;
}

.web-tweetpoll-detail .web-tweetPoll-info-detail div.info div.data ul {
	margin: 0px !important;
	padding: 0px !important;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.info div.data li
	{
	display: block;
}

div.web-tweetpoll-detail div.web-tweetPoll-info-detail div.data {
	float: right;
	width: 240px;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.tweetPollChart
	{
	border: 1px dotted #000;
}

div.web-tweetpoll-detail div.chart-tweetpoll-wrapper div.onLive {
	background-color: #ED9C9C;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 12px;
	padding: 2px 2px 2px 15px;
	width: 260px;
}