.mobile-hashtag-wrapper .web-rated-position {
  padding: 5px; }

.mobile-hashtag-wrapper .graph-missing {
  padding: 20px;
  color: #888;
  font-size: 14px;
  text-shadow: 0px 1px 0px #444444; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper {
  overflow: hidden; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item {
  font-size: 12px !important;
  padding: 5px; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-image {
  float: left;
  width: 20%;
  padding-left: 5px;
  text-align: center; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content {
  float: left;
  width: 70%; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pub-hashtag {
  margin: 0px 10px 0 0; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-content .web-pup-item-title h2 {
  margin: 0;
  font-size: 12px;
  margin-bottom: 10px; }

.mobile-hashtag-wrapper .web-pup-wrapper .web-pup-item .web-pup-item-detail-wrapper .web-pup-item-bottom a {
  font-weight: bold;
  color: #888; }
