/** mobile profile **/
.mobile .web-profile-wrapper .picture {
  text-align: center; }

.mobile .web-profile-wrapper ul.rss {
  margin: 0; }

.mobile .web-profile-wrapper ul.rss li {
  list-style: none;
  padding: 10px;
  font-size: 14px;
  background-color: #edeaeb;
  border-bottom: 1px solid #888888; }

.mobile .web-profile-wrapper .mobile-hashtag-wrapper .category_color {
  overflow: auto; }

.mobile .web-profile-wrapper .mobile-hashtag-wrapper .category_color > span {
  float: left; }

.mobile .web-profile-wrapper .mobile-hashtag-wrapper .category_color > div.rss {
  float: left;
  margin-left: 10px; }

.mobile .web-profile-wrapper .mobile-hashtag-wrapper .no-results {
  padding: 40px;
  color: #888;
  background-color: #edeaeb;
  text-shadow: 1px 1px 1px white; }
