/*** SEARCH ***/
div.mobile-search {
  padding: 0px; }

div.mobile-search input {
  /* margin: 2em , 0.5em ,1em ,1em;*/
  margin-left: 2px;
  margin-right: 1px;
  border: 1.5px solid #dfdfdf;
  width: 98%;
  height: 30px;
  font-size: 15px; }
