<div class="${type}WrapperRow socialWrapperRow">
    <div data-dojo-type="dijit/form/Form" class="socialNewForm">
        <div class="sub-title-account" data-dojo-attach-event="onclick:_showHideSecrets">
               <div class="image">
                    <img src="${account.profile_thumbnail_picture}" height="28" width="28">
               </div>
               <div class="title">${account.account}</div>
        </div>
        <div class="tokensWrapper defaultDisplayHide" data-dojo-attach-point="_secretView">
            <div class="tokenHideOptions">
                <table>
                    <tr>
                        <td>
                            <label>
                                ${i18nMessage.settings_config_profile_email}
                            </label>
                        </td>
                         <td>
                            ${account.email}
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label>
                                ${i18nMessage.settings_config_profile_complete_name}
                            </label>
                        </td>
                         <td>
                            ${account.real_name}
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <label>
                                ${i18nMessage.settings_social_profile_url}
                            </label>
                        </td>
                        <td>
                            <a href="${account.url}" target="_blank">${account.url}</a>
                        </td>
                     </tr>
                                          <tr>
                        <td>
                            <label>
                                ${i18nMessage.settings_social_tp_published_whith_this_account}:
                            </label>
                        </td>
                        <td>
                            ${account.tweetpoll_stats}
                        </td>
                     </tr>
                                          <tr>
                        <td>
                            <label>
                                ${i18nMessage.settings_social_su_published_whith_this_account}:
                            </label>
                        </td>
                        <td>
                             ${account.survey_stats}
                        </td>
                     </tr>
                      <tr>
                        <td>
                            <label>
                                ${i18nMessage.settings_social_pll_published_whith_this_account}:
                            </label>
                        </td>
                        <td>
                            ${account.poll_stats}
                        </td>
                     </tr>

               </table>
               <div class="option-button">
                   <button id="${id}_remove" data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="_removeButton">
                            ${i18nMessage.button_remove}
                   </button>
<!--                    <button id="${id}_statusAccount" data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-event="onClick:_changeStatusAccount">
                            Disable
                   </button> -->
                   <button id="${id}_default" data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:_changeStatusAccount">
                            ${i18nMessage.settings_social_set_default}
                   </button>
               </div>
            </div>
         </div>
    </div>
</div>
