/* line 9, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-dialog {
  width: 550px;
  margin-left: -275px;
  background: #FFF;
  border: 10px solid #333;
  border: 10px solid rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 20, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-dialog-inner {
  padding: 25px;
}

/* line 23, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-inner {
  text-align: center;
}

/* line 26, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
}

/* line 31, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button {
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image:         linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

/* line 41, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button:hover,
.alertify-button:focus {
  outline: none;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
  background-image:         linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
}

/* line 46, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button:focus {
  box-shadow: 0 0 10px #2B72D5;
}

/* line 49, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button:active {
  position: relative;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 53, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: #fe1a00;
  border: 1px solid #cb1500;
}

/* line 59, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
  background-color: #5cb811;
  border: 1px solid #45890d;
}

@media only screen and (max-width: 680px) {
  /* line 67, ../../../../../css/resource/sass/alertify/_dialog.default.scss */
  .alertify-dialog {
    width: 90%;
    left: 5%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 7, ../../../../../css/resource/sass/alertify/_log.default.scss */
.alertify-logs {
  position: fixed;
  z-index: 9999;
  bottom: 8px;
  right: 8px;
  width: 300px;
}

/* line 13, ../../../../../css/resource/sass/alertify/_log.default.scss */
.alertify-log {
  margin-top: 8px;
  right: -300px;
  padding: 16px 16px;
  border-radius: 4px;
}

/* line 19, ../../../../../css/resource/sass/alertify/_log.default.scss */
.alertify-log-info {
  background: #1F1F1F;
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 25, ../../../../../css/resource/sass/alertify/_log.default.scss */
.alertify-log-error {
  color: #FFF;
  background: #FE1A00;
  background: rgba(254, 26, 0, 0.9);
}

/* line 30, ../../../../../css/resource/sass/alertify/_log.default.scss */
.alertify-log-success {
  color: #FFF;
  background: #5CB811;
  background: rgba(92, 184, 17, 0.9);
}

/* line 37, ../../../../../css/resource/sass/alertify/_log.default.scss */
.is-alertify-log-showing {
  right: 0;
}

/* line 40, ../../../../../css/resource/sass/alertify/_log.default.scss */
.is-alertify-log-hidden {
  right: -300px;
}
